[2020-04-07 21:16] tjhei commented on #3335
SUPG correctly uses the adiabatic density. Maybe negative densities are enough to cause nonsensical velocities from the buoyancy term.

[2020-04-07 21:19] maxrudolph commented on #3335
That makes sense.

On Tue, Apr 7, 2020 at 2:16 PM Timo Heister <notifications@github.com>
wrote:

[2020-04-07 22:20] naliboff commented on #2413
Last relevant item checked off the list with #3439

[2020-04-07 22:20] #2413 closed

[2020-04-08 03:14] Shangxin-Liu commented on #3335
I use "function" to set adiabatic conditions in my prm file, which prescribes the reference density in energy equation to 1.0, so this should not be a problem. The negative density may appear in the momentum equation due to the temperature overshoot from the energy equation, and then further cause the non-physical velocity solution, which goes into energy equation again. Anyway, the crash of the a

[2020-04-08 14:31] tjhei opened #3448 "convert ASPECT to a library that can be included in other programs"
As discussed with @bangerth, it would be useful to be able to run ASPECT as a shared library and convert the current code into a small binary that calls into ASPECT. This would make the code more modular and allow for cool new things (running ASPECT inside an outer optimization loop for example).

[2020-04-08 22:07] gassmoeller commented on #3448
I principally agree. What would be necessary steps to do this?

[2020-04-08 22:29] naliboff commented on #3012
I've been thinking about how best to implement the method from `diffusion_dislocation.cc` for composite viscosity into `visco_plastic.cc`. There is a fair amount of code in diffusion_dislocation.cc and we should definitely not port it directly into` visco_plastic.cc`.

While we could make a rheology module for composite viscous creep, it unfortunately needs many of the member variables in `diffusi

[2020-04-08 23:12] gassmoeller commented on #3012
I had to think about exactly this issue yesterday (I am currently working on porting the grain size rheology to a rheology module, which also uses a composite rheology). I was planning on having member variables `diffusion_rheology` and `dislocation_rheology` inside of the new rheology module. In which lines does `diffusion_dislocation.cc` access internal member variables? Lines 127-143 should be

[2020-04-09 00:46] tjhei commented on #3448
1. CMake logic to turn it into a shared lib, create a small binary (basically main.cc) and link it.
2. Make sure shared lib loading of plugins and signals work.
3. Figure out a way to pass information back and forth. Maybe some functions to run an individual time step? Alternatively, provide more signals.
4. Write some tests that test the library aspect of ASPECT.

[2020-04-09 20:27] naliboff commented on #3012
I think your approach of `diffusion_rheology` and `dislocation_rheology` inside of the new rheology module makes sense. As long as there are new functions in `diffusion_creep.cc` and `dislocation_creep.cc` to retrieve all the relevant values, I don't see any roadblocks. As long as the strain rate invariant (`edot_ii`) is passed over to the  main function for computing the isostrain viscosity, I th

[2020-04-09 22:11] naliboff opened #3451 "Post-2.2 cleanups"
ToDo items post 2.2 release:
- [ ] Deprecate the `Thermal diffusivities` input parameter from `visco_plastic`  (see #3366)
- [ ] Rename `visco_plastic` to `viscoelastic_plastic`?

[2020-04-10 14:36] anne-glerum commented on #2347
I changed the line you mentioned in `update_prm_files.sh`, but get the same error. The error complains about the underlying file `update_scripts/prm_files/update_prm_files_to_2.0.0_model_settings.sed`.

[2020-04-10 21:40] tjhei commented on #2347
ah, got it. Can you please try to change
[code]
to
[code]
(``i text`` is a GNU extension that doesn't work under osx): https://www.gnu.org/software/sed/manual/sed.html#Other-Commands

[2020-04-12 06:28] UfrancoU opened #3452 "Effects of prescribing an initial tpography"
Hi all,

    I wish everyone happy healthy days during these complicated times.

    I am using ASPECT 2.1.0, for a 3D model. I am trying to load an initial topography (x,y, z(x,y)), expecting among other things see its effects underneath..

    On the manual, I read that among the requirements for loading an initial topography and expect ASPECT to do something physical, the topography needs to be

[2020-04-13 14:39] tjhei commented on #3335
It turns out that this problem has nothing to do with negative densities. Instead, the iterative advection solver seems to struggle in certain situations with SUPG (maybe with large viscosity jumps). The PR #3453 work around the problem for me.

[2020-04-13 17:05] naliboff commented on #3452
Hi Felipe,

Yes, ASPECT does calculate a variable lithostatic pressure due to imposed topography. Are you running a model that does not give an expected result? If not, perhaps we can close this issue and move the discussion over the forum?

Thanks!
John

[2020-04-14 06:19] UfrancoU commented on #3452
Thanks John Naliboff !

   That is what I needed to know.

   Now I have a problem when trying to load topography, but I will open that in a dedicated issue.

many thanks many,
Felipe

[2020-04-14 06:19] #3452 closed

[2020-04-14 06:33] UfrancoU commented on #3402
Hi all,

 I am using ASPECT 2.1.0, for a 3D model. I am trying to load an initial topography, but I am unable to succeed.

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

   Loading Ascii data boundary file ./MyIniTopo.txt.

   Loading new data file did not succeed.
   Assuming constant boundary conditions for rest of model run.

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

In my .prm file, m

[2020-04-14 15:49] anne-glerum commented on #2347
mmm, there is no error any more, but there are too many `end`s inserted now, see the attached diff and snapshot.
![Screenshot 2020-04-14 at 17 43 15](https://user-images.githubusercontent.com/7631624/79244660-73f70d00-7e77-11ea-8245-cb93a401c831.png)
[diff_resume_free_surface.txt](https://github.com/geodynamics/aspect/files/4476296/diff_resume_free_surface.txt)

Sorry that I don't really have time

[2020-04-14 17:07] naliboff commented on #3402
@UfrancoU - Would you mind posting these questions on the ASPECT forum? This appears to be in issue with the input file or topography file, rather than a code issue. Thanks!

[2020-04-15 04:16] UfrancoU opened #3454 "problem loading initial topography"
Hi all,

 I am using ASPECT 2.1.0, for a 3D model. I am trying to load an initial topography, but I am unable to succeed.

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

   Loading Ascii data boundary file ./MyIniTopo.txt.

   Loading new data file did not succeed.
   Assuming constant boundary conditions for rest of model run.

&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

In my .prm file, m

[2020-04-15 04:22] UfrancoU commented on #3402
@naliboff
               Sure !
 it is now on:
 problem loading initial topography #3454

[2020-04-15 15:51] naliboff commented on #3454
@UfrancoU - sorry, I should have been more specific. Can you post the question on the CIG forum within the ASPECT forum?: https://community.geodynamics.org/c/aspect/13

Thanks!
John

[2020-04-15 15:51] #3454 closed

[2020-04-16 14:25] tjhei commented on #2347
same here and I don't have access to my OSX machine right now.

@gassmoeller do you have a way to test this right now?

[2020-04-16 17:12] gassmoeller commented on #2347
Will take a look later today, but I do not have access to OSX as well. @anne-glerum: Do you need the updates in the update_to_2.0 script? Or could you just remove that script and keep the later ones for 2.1 that are written in perl?
I also just noticed that we merged a few other changes that will not work with the 2.0 update anymore (though that is in the update script for source files, not input

[2020-04-16 18:16] maxrudolph commented on #3335
@tjhei I tried to build #3453 this morning but had errors compiling `stokes_matrix_free.cc`. Do I need to update my deal.ii for this to work?

[code]

[2020-04-16 18:56] tjhei commented on #3335
I assume you are using an older development version of deal.II? The error would go away if you a) update deal.II to the most recent master or b) comment out the call to ``estimate_eigenvalues``
in ``/home/rudolph/sw/candi/aspect-tjhei/source/simulator/stokes_matrix_free.cc:1552``. It doesn't have any negative effect.

[2020-04-16 19:00] maxrudolph commented on #3335
Thanks. I think that my development deal.ii was a couple of months stale.

[2020-04-17 16:28] gassmoeller commented on #2347
Sorry, took a bit longer. Have not found the error yet, but Anne can you try the following to install a GNU sed - the one provided on linux - on your Mac, and see if the scripts work afterwards? If you do not have homebrew maybe there are alternative ways to install gnu-sed on Mac. This would at least confirm that the difference is in the sed versions.

https://daoyuan.li/a-normal-sed-on-mac/

[2020-04-17 16:52] gassmoeller commented on #2347
Not sure this fixes it, but I found one more GNU extension that was used in the script (see #3458), can you give the version in the PR a try?

[2020-04-17 16:53] maxrudolph commented on #3335
Unfortunately, #3453 does not fix the failure to converge that I've encountered.

[2020-04-17 17:37] gassmoeller commented on #3335
Should we do some more tests to exclude iterative solver stability as the reason for the crashes?
Some suggestions (open for opinions about what makes sense and what not):
- Increasing the GMRES restart length (setting the "Solver parameters/Advection solver parameters/GMRES solver restart length to 200 instead of 50)? This was a problem for the Stokes GMRES solver in some cases, and at least Shan

[2020-04-17 17:50] tjhei commented on #3335
That makes sense, yes. If I have a prm that breaks with #3453 I can continue to investigate.

Good idea, I haven't tried this.

I thought about that before as well and I am happy to try if I have an example where things break.

[2020-04-19 03:14] UfrancoU commented on #3454
Hi John, Julianne, Wolfgang,

    Thanks for replying. I hope you guys are doing well.

    I haven’t been able to succeed in loading the topography.

    I modified my file for it to have the exact format as the one of the example (I had to program strings to build a format like that). Btw, the example format seems a bit peculiar (variable spacing, no decimal digits..):

  ‘x._y._ _ z.’  that is:

[2020-04-19 03:16] UfrancoU commented on #3454
# POINTS: 501 51
# Columns: x z Topography[m]
0. 0.  2000.
800. 0.  2000.
1600. 0.  2000.
2400. 0.  2000.
3200. 0.  2000.
4000. 0.  2000.
4800. 0.  2000.
..

[2020-04-20 12:22] EstherHeck opened #3463 "resume computation fails with particles"
I get the error described here https://github.com/geodynamics/aspect/issues/3253
when I want to restart a model that uses _particles_ in the _list of postprocessors_.

The first run where the snapshot is created works fine, but when restarting the model, the error message is: "Cannot open snapshot mesh file or read the triangulation stored there."
When I outcomment the _particles_ in the _list of

[2020-04-20 17:28] gassmoeller commented on #3463
Hi Esther,
Thanks for reporting, i will have look as soon as possible. In the meantime, could you check if the problem exists with deal.II 9.0, and with a recent development version of deal.II? We have tests for the particle restart functionality for deal.II 9.0 and they pass, so hopefully it is only broken for certain deal.II versions.

[2020-04-21 14:04] anne-glerum commented on #3463
This combination restarts fine with the prm provided above:

-- This is ASPECT, the Advanced Solver for Problems in Earth's ConvecTion.
--     . version 2.2.0-pre (test_restart, 70e84287d)
--     . using deal.II 9.0.1
--     .       with 32 bit indices and vectorization level 1 (128 bits)
--     . using Trilinos 12.14.1
--     . using p4est 2.2.0
--     . running in DEBUG mode
--     . running wit

[2020-04-21 19:56] gassmoeller commented on #3463
Thanks for checking, I tested with a recent deal.II (1cb414ed69) and it does not work there either. Deal.II changed serialization of the particles between 9.0. and 9.1, I will try to figure out what happened.

[2020-04-21 20:23] gassmoeller commented on #3463
It was a problem with renaming the checkpoint data files. ASPECT initially writes the checkpoint data as restart.mesh.new to keep the working old file and then rename the file after writing has succeeded, but we forgot to rename the particle data (which is stored in a separate file since deal.II 9.1). Can you check if #3468 fixes the problem for you (it worked for me with deal.II-dev and the file

[2020-04-22 08:53] EstherHeck commented on #3463
I tried several models that restart with particles and they all worked fine. Thanks for taking care of it!

[2020-04-22 14:00] anne-glerum commented on #2347
GNU sed produces a correctly updated file!

I saw that Timo gave it a try, so I assume that's covered.

[2020-04-22 15:37] #3463 closed

[2020-04-23 00:20] gassmoeller commented on #2347
I think I found a way to test this (GNU sed has the --posix option which disables all GNU extensions), but I would need a test .prm file (all files inside ASPECT are already converted). @anne-glerum can you send me a file to test?

[2020-04-24 08:23] anne-glerum commented on #2982
@bangerth Out of curiosity, have you given this any more thought?

[2020-04-24 13:48] anne-glerum commented on #2347
Just in case you want to actually run the prm, I don't attach the ones I was actually trying to update, which have custom plugins. The same problem occurred for files that I got through:
`git show tags/v1.5.0:tests/adiabatic_conditions.prm > test_update_prm.txt`
[test_update_prm.txt](https://github.com/geodynamics/aspect/files/4529206/test_update_prm.txt)

[2020-04-24 15:31] anne-glerum opened #3479 "Compiler warnings dangling else"
Hi @MFraters, I ran into some compiler warnings that might be nice to fix:

    [303/355] Building CXX object CMakeFiles/aspect.dir/contrib/world_builder/source/features./continental_plate_models/temperature/uniform.cc.o
    /Applications/ASPECT/180719/aspect/contrib/world_builder/source/features/continental_plate_models/temperature/uniform.cc:101:13: warning: add explicit braces to avoid dangling

[2020-04-24 15:34] tjhei commented on #3479
yes, I noticed those as well the other day. Those warnings are new in clang 10.

[2020-04-24 16:59] UfrancoU opened #3481 "Numerical breakdown regarding pressure BCs"
Hi all,

    I have a 3D model Cartesian box for which I want to prescribe traction boundary conditions of the kind of pressure on two of the side walls (left and right) and also at the bottom.

    I tried using ‘initial lithostatic pressure’, but it didn’t work, it complained about my initial topography (which is a loaded data). We could discuss that eventually.
    After getting tired of not un

[2020-04-24 20:24] naliboff commented on #3481
@UfrancoU - similar to the previous question regarding initial topography, this is really a question for the forum (https://community.geodynamics.org/c/aspect/13) as it does not involve a specific issue with the code, but rather model design questions.

Please re-post this question to the forum and also include a link to a folder (google drive, dropbox, etc) that contains the parameter file and lo

[2020-04-24 20:24] #3481 closed

[2020-04-27 12:14] tjhei commented on #3335
For the record: I tried the file from Shangxin from March 23 with
[code]
and I still need #3453 in step 75, 76, 77, 78, 115, etc..  I stopped at 819 and here are the results (overlay is Shangxin's solution until crash):
![supg-flux-top](https://user-images.githubusercontent.com/1531285/80370933-11324800-885f-11ea-891a-aeaac4ac25cc.png)

[2020-05-04 14:08] XieJChris opened #3494 "Expected template-name before "<" token..."
I want to write another new .cc code like /aspect/cookbooks/inner_core_convection/inner_core_convection.cc, and I took the same syntax like template<int dim> class EnergyChange:public Interface<dim>{} used in the code mentioned above, but after compiling, problems arises, it keeps telling me the error that 'expected template-name before"<"token class EnergyChange:public Interface<dim>, and the lef

[2020-05-04 15:28] tjhei commented on #3494
Does the original ``inner_core_convection.cc`` compile for you? If yes, then what you are doing in your  code is the problem. Without seeing what you do, it is hard to know what is going wrong.

[2020-05-15 00:15] marcfehling commented on #3354
We overhauled the data transfer algorithm with deal.II version 9.1. In its process, we introduced an overstrict assertion while sending variable size data: Every cell was expected to receive variable size data once a corresponding pack/unpack callback has been registered. The logic in the whole send/receive apparatus should be okay though -- it was just this assertion. I guess your problem would v

[2020-05-15 05:12] MFraters commented on #3354
Thanks for letting us know!

[2020-05-26 15:23] anne-glerum opened #3511 "Mesh deformation function plugin misses conversion to m/yr"
When prescribing a mesh deformation rate through the `function` plugin, the velocity always has to be given in m/s, even if `Use years in output instead of seconds = true`. The function variable time will however be interpreted as years.

Fix suggested by Rene:

[2020-05-26 16:48] tcclevenger opened #3512 "No normal flux GMG parallel issues"
I have found a bug  using no normal flux boundary conditions with spherical shell mesh and block GMG Stokes solver in parallel. If we take the test `tests/shell_3d_gmg.prm`, using 1 processor, we have the computation on 28K DoFs requires 36 iterations (compared to 113 for AMG). But switching to 2 processors requires 106 iterations (112 for AMG) and switching to 4 processors requires 100 iterations

[2020-05-27 22:38] tcclevenger commented on #3512
Simple fix (see https://github.com/geodynamics/aspect/pull/3514).

[2020-05-28 14:44] gassmoeller commented on #3512
Fixed in #3514

[2020-05-28 14:44] #3512 closed

[2020-06-02 23:16] ljhwang opened #3517 "Add new ASPECT Publication"
Add new publication to ASPECT website.

@article{doi:10.1146/annurev-earth-082517-010225,
author = {Mitrovica, J.X. and Austermann, J. and Coulson, S. and Creveling, J.R. and Hoggard, M.J. and Jarvis, G.T. and Richards, F.D.},
title = {Dynamic Topography and Ice Age Paleoclimate},
journal = {Annual Review of Earth and Planetary Sciences},
volume = {48},
number = {1},
pages = {585-621},
year = {202

[2020-06-03 14:30] tjhei opened #3518 "Release 2.2.0 planning"
Let's start talking about the planned 2.2.0 release.

TODO list:
- [x] go through milestone https://github.com/geodynamics/aspect/milestone/7
- [x] test on newest gcc and clang for warnings
- [x] test on  Intel
- [x] test with deal.II 9.0.0, 9.1.1, 9.2.0, master
- [x] follow doc/release-tasklist
- [ ] post-release: #3451 , bump deal.II version

[2020-06-03 15:40] gassmoeller commented on #3354
This was fixed in deal.II 9.2.0. deal.II 9.1.0 unfortunately will keep this bug.

[2020-06-03 15:40] #3354 closed

[2020-06-03 16:10] #2682 closed

[2020-06-03 16:38] gassmoeller commented on #3518
I went through the milestone issues and postponed a bunch of them (documentation issues or enhancements that are not likely to be done soon and not critical). I think the remaining issues are worth a closer look.

[2020-06-03 18:13] tjhei commented on #3479
@MFraters can you take a look, please?

[2020-06-03 19:47] tjhei commented on #3418
The ``contrib/opendap/aspect_url_test.prm`` now runs, but it still doesn't use the opendap data file.

If I change it to
[code]
I get
[code]

[2020-06-04 22:16] MFraters commented on #3479
ah, sorry. I somehow completely missed this issue. I will see if I can reproduce and fix it.

[2020-06-04 23:56] #3517 closed

[2020-06-05 06:21] MFraters commented on #3479
It has been fixed in the master branch of the world builder. I havn't done everything I wanted for the next world builder release, but most of those things can be shifted to 0.4. So I see no problem with doing a 0.3 release just before the aspect release, so that it contains the fixes. When is the aspect release planned?

[2020-06-05 14:34] tjhei commented on #3479
Maybe in 2 weeks? It would be good to have the updated world builder in a week or so, because we want to check compilation with various configurations.

[2020-06-05 14:57] tjhei opened #3521 "various plugins that write files do so on each rank"
Several plugins write to a file and currently do so from each MPI rank. This is redundant and will lead to bad performance and possibly corrupted data. Offenders I could find:
- [x] point value
- [ ] gravity point value

[2020-06-05 16:35] MFraters commented on #3479
Ok, I am mostly done teaching now, so I think it is feasible to me to finish a few more things in the world builder and to do a release in a week or so.

[2020-06-12 21:01] tjhei commented on #3518
I am working on testing the cookbooks and benchmarks right now. Lots of small fixes incoming...

[2020-06-13 13:23] XieJChris opened #3526 "Could not successfully load shared library <> : No such file or directory"
Recently I wrote a .cc file and compile it successfully, but there was a problem when I ran the .prm file, and then I tried to run other files in other folders (like, /aspect/cookbooks/finite_strain/finite_strain.prm), but I still got the same problem as before, so guys, any suggestions?

[2020-06-13 16:37] naliboff commented on #3526
@XieJChris - Can you post the error message obtained when running the finite strain benchmark? Likewise, please post the line in the parameter file that points to the finite strain plugin? Thanks!

[2020-06-13 18:39] tjhei commented on #3526
Can you also please post your "detailed.log" that you can find in your ASPECT build directory?

[2020-06-14 02:00] XieJChris commented on #3526
@naliboff @tjhei
![1](https://user-images.githubusercontent.com/31496552/84582929-1a826e80-ae25-11ea-8496-8c24d250611c.jpg)
![2](https://user-images.githubusercontent.com/31496552/84582932-1d7d5f00-ae25-11ea-865d-7210fb94b3ca.jpg)
![3](https://user-images.githubusercontent.com/31496552/84582935-240bd680-ae25-11ea-8c71-b2dc2cf86a50.jpg)
![4](https://user-images.githubusercontent.com/31496552/845829

[2020-06-15 14:37] tjhei commented on #3526
can you please post your detailed.log from your build directory?

[2020-06-16 01:32] SuoAng opened #3533 "Testing error"
I recently installed ASPECT on my Mac (Catalina), the installation went smoothly but there was a problem when I got ready to 'make test', the system throws an error: dyld: malformed mach-o: load commands size (38712) > 32768, here's the shootscreen
![1](https://user-images.githubusercontent.com/66980166/84721517-77139400-afb3-11ea-8daa-d78ee0032122.jpg)
after that, I tried another approach, which

[2020-06-16 01:42] naliboff commented on #3533
@SuoAng - I just ran into a similar (likely the same) issue a few days ago and had intended to post a message to the ASPECT forum.

If you are using dealII 9.2.0, this is related to constraints with the OSX dynamic linker package: https://github.com/dealii/dealii/issues/10330

I reverted back to the deal.II 9.1.1 dmg and was able to run things without issue. Let me know if this does not work.

Thi

[2020-06-16 12:20] tjhei opened #3534 "incomplete viscosity-grooves benchmark"
viscosity-grooves introduced in #3077 by @cedrict is missing the plugin required by the prm.

@cedrict can you take a look please?

[2020-06-16 12:47] tjhei opened #3535 "incomplete benchmarks/newton_solver_benchmark_set/spiegelman_et_al_2016"
I am struggling to run the benchmark benchmarks/newton_solver_benchmark_set/spiegelman_et_al_2016

It seems that I need a file called input.prm that is not part of the repository.

@MFraters can you please take a look?

[2020-06-16 19:16] gassmoeller commented on #3526
And does it work if you run the model while you are in the folder of the shared library? So probably your command would need to look like this (assuming you are inside `aspect/cookbooks/finite_strain`:
[code]
or alternatively (because ASPECT creates a symbolic link in a plugin directory when you compile it):
[code]

The path to the shared library is given as a relative path inside `finite_strain.p

[2020-06-17 16:07] tjhei commented on #3479
any update on the situation, Menno?

[2020-06-17 16:53] MFraters commented on #3479
It took me a bit longer than expected, but I just merged one of the last big things I wanted to to before the release. I could make the new release now, but I would like to to one more small thing, which I hope can be done before the end of the day. So if that is fine with you, I can do the release of the world builder by the end of the day or beginning of tomorrow and make the pull request direct

[2020-06-17 18:22] #3521 closed

[2020-06-19 23:01] MFraters commented on #3535
this should to be fixed as soon as #3183 is done

[2020-06-22 09:13] anne-glerum opened #3549 "More control on timestepping logic"
As discussed in the biweekly ASPECT meeting, it would be great to have a plugin structure for timestepping control. An example would be @tjhei 's implementation to redo a timestep if the mesh resolution in the shear bands is not the same throughout the bands. Another application would be to assess the solution for a specific timestep size and recompute the timestep for a smaller timestep size if a

[2020-06-22 14:28] tjhei commented on #3549
Thanks for the reminder Anne.
I put things on hold to work on the release for now, but I should put my ideas down before I forget:

- related is #2744 (redo timestep if nonlinear solver fails)
- scenario: if a check determines that refinement is needed (run every time step?), refine and redo timestep
- scenario: if the solution (for example stresses exceed threshold) redo using smaller time step

[2020-06-24 12:06] tjhei commented on #3518
I recompiled 9bee701b268fb using clang 10, gcc 10.1, intel 19.0.5 with various deal.II versions and things all look good.

[2020-06-24 12:07] tjhei commented on #3479
we merged #3546 and I no longer see the warning.

[2020-06-24 12:07] #3479 closed

[2020-06-25 16:52] tjhei commented on #3518
well, I forgot clang-tidy: #3518

[2020-06-26 15:24] gassmoeller commented on #2587
Since the worldbuilder is now part of contrib this is no longer relevant, yes?

[2020-06-26 15:24] #2587 closed

[2020-06-27 19:21] gassmoeller opened #3558 "Add a test for benchmarks/newton_solver_benchmark_set/spiegelman_et_al_2016"
This benchmark is missing a test. See #3183.

[2020-06-27 19:53] gassmoeller opened #3560 "Check data file for contrib/opendap"
In #3552 we had to remove one data column from the input files in contrib/opendap/input_files to keep the example model working. The adiabatic boundary plugin now expects exactly one column for the lithosphere thickness, but the data file has two. However the model did not document which column it used and it is unclear which one was used in the past. We need confirmation from @kneumiller or @njin

[2020-06-27 19:55] #3418 closed

[2020-06-27 19:56] gassmoeller commented on #3535
This seems to be fixed for me. Closing.

[2020-06-27 19:56] #3535 closed

[2020-06-27 20:16] gassmoeller commented on #3534
I just sent an email to Cedric, lets see how easy this is to fix. If it does not make it in time I dont think we should delay the release because of this.

[2020-06-27 20:43] tjhei commented on #3534
agreed. But he also got an email from me a couple of days ago. :-)

[2020-06-28 15:39] tjhei commented on #3518
I created the release branch: https://github.com/geodynamics/aspect/tree/aspect-2.2

[2020-06-29 11:59] cedrict commented on #3534
Hi guys sorry it took so long to answer ... I went digging and found the .cc file.

[2020-06-29 12:04] cedrict commented on #3534
ok, just made a new CMakeLists.txt , compiled and ran it with up-to-date Aspect . What do you want me to do next ?

[2020-06-29 12:50] tjhei commented on #3534
share the .cc and the CMakeLists.txt file with us? :-) If you can create a pull request, that would be awesome.

[2020-06-29 20:07] tjhei commented on #3534
closed by #3568

[2020-06-29 20:07] #3534 closed

[2020-06-30 21:12] tjhei opened #3577 "spack instructions don't work"
I tried to follow the instructions in .``/contrib/spack`` to install, but this doesn't work:
1. spack now wants you to specify ``./spack.yaml`` instead of just running ``spack install``
2. Even then I get ``==> Error: 'spec'`` as the error mesage.

I have no idea and no time to look at it right now. @gassmoeller do you have an idea?

[2020-06-30 22:25] gassmoeller commented on #3577
I will take a look.

[2020-06-30 23:02] tjhei commented on #3577
I have the spack PR for the new release ready. Just wanted to test first...

[2020-07-02 09:54] LudovicJnnt opened #3580 "Add PREM density"
I remain confuse to how actually implement this feature (PREM density) into ASPECT.
There was a discussion with @gassmoeller (closed PR #3401) about the ways to do it:

Rene: `"I would suggest to instead make a new benchmark directory and create a material model in there that returns the PREM density. Alternatively, we could also think about a utility function that returns the PREM density (so ess

[2020-07-02 15:19] tjhei opened #3582 "deal.II version bump to 9.2"
We decided yesterday that we want to move from deal.II 9.0.0 to 9.2.0 as the minimum version. We don't want to require 9.2 immediately, but we should make the switch before August. Here is what we need to do:

- [x] update testers to run 9.2.0
- [ ] update docker images in ./docker/
- [ ] check manual / installation instructions if they are up to date (OSX, versions)  [STARTER PROJECT]
- [x] set r

[2020-07-03 12:38] tjhei commented on #3518
I am closing this now as the release is done and we have other issues that track the follow-up.

[2020-07-03 12:38] #3518 closed

[2020-07-03 13:07] tjhei opened #3585 "modernize unity builds"
The current way to do unity builds using COTIRE is only supported for cmake version 3.8 and older. This makes the feature a lot less useful and more difficult to test (the 9.2 tester has a newer cmake version, see #3583 ).
I would suggest:
a) remove cotire
b) investigate cmake unity builds [1], [2]

[1] https://cmake.org/cmake/help/v3.18/prop_tgt/UNITY_BUILD.html
[2] https://onqtam.com/programming

[2020-07-03 18:55] mitchellmcm27 opened #3586 "Continental geotherm should support new syntax for Densities from visco plastic material model"
The visco plastic material model now supports multiple phases using a key-value syntax, e.g., `set Densities = background:3000, lithosphere:3000|3300`.
The continental geotherm plugin reads the densities from the visco plastic model, but does not support this new syntax. It throws from dealii with `"Can't convert <"background:3000"> to a double."`

A quick github search for `prm.get("Densities")`

[2020-07-03 19:19] gassmoeller commented on #3585
I agree that we need to replace cotire (it has reached end of support anyway, https://github.com/sakra/cotire#cotire). Ideally replacing by native cmake precompile headers and unity build sounds best, but it has this some limitations (https://cmake.org/cmake/help/v3.16/prop_tgt/UNITY_BUILD.html):

[code]
As far as I can tell we use these a lot for our files (maybe I misunderstand how we use them v

[2020-07-03 20:40] tjhei commented on #3585
Ah, interesting. I did not see that limitation.

Yes, I think that would make sense to do. Do you want me to take a look?

[2020-07-03 21:31] gassmoeller commented on #3585
Yes that would be great.

[2020-07-03 21:48] gassmoeller commented on #3586
Hi @mitchellmcm27, thanks for letting us know this is indeed not supported at the moment and we should provide a clearer message about that. Just to clarify: if the densities for the visco plastic model are provided using the old syntax (a list of numbers) the continental geotherm plugin still works as expected, is this correct?

In order to support the new syntax the continental geotherm plugin w

[2020-07-04 00:19] mitchellmcm27 commented on #3586
Thanks for the quick response @gassmoeller. AFAIK the plugin works correctly using the old syntax. I didn't test it rigorously, but my model runs for several time steps after I make the change.

I'd thought about doing a PR but realized I didn't know the best way to handle the phase calculations. I just wanted to make sure the team was aware of the incompatibility.

From my perspective, one soluti

[2020-07-05 18:45] tjhei commented on #3585
this is what I get with ``cmake -G Ninja -DCMAKE_UNITY_BUILD=ON -D CMAKE_UNITY_BUILD_BATCH_SIZE=10 ..`` (without precompiled headers):
[code]
Wow.

[2020-07-05 23:08] naliboff commented on #3586
@mitchellmcm27 - Thanks for catching this and posting the issue. The plugin should be working correctly with the old syntax, as there is a currently a [test](https://github.com/geodynamics/aspect/blob/master/tests/continental_extension.prm) that uses the `continental geotherm` plugin.

However, that still leaves the question about how to deal with cases where there are phase changes. The densities

[2020-07-05 23:37] mitchellmcm27 commented on #3586
@naliboff that sounds like a great solution. I was aware of the switch to thermal conductivity, but didn't connect the dots to the continental geotherm plugin. For now, I was able to successfully patch the plugin to use its own Densities parameter. Thanks!

[2020-07-05 23:41] naliboff commented on #3586
@mitchellmcm27 - Great, we'll go ahead with that solution unless a better idea surfaces.

Just to be sure, the patch is only required if one has multiple phases? If the patch is required for the case with no phases (i.e., prior syntax) then we should a fix.

[2020-07-06 01:43] mitchellmcm27 commented on #3586
Correct, only required for multiple phases using the new key:value syntax.

[2020-07-06 15:07] gassmoeller commented on #3585
Wow indeed :smile:. With all the changes unity builds may be better even for standard installations. If the unity builds turn out to be stable across systems I am not opposed to discussing making them new default. For frequently recompiling a single source file precompiled headers may still be better though.

[2020-07-06 15:35] tjhei commented on #3585
It requires more memory (I haven't checked the maximum, but it is at least 2-3GB). That could be problematic.

Even small changes seem quite fast. I am not sure if it makes sense to combine precompiled headers with unity builds.

[2020-07-06 19:31] gassmoeller commented on #3585
I did some testing with #3587 and unity builds, and on my system as soon as you have more unity build targets than available jobs, precompiling the headers is worth it. If you have exactly as many targets as available jobs then precompiling the headers costs you a few (<10) seconds.

The biggest gain I saw from precompiling was for the default batch size of 8 source files per unity target and 12 j

[2020-07-06 20:02] gassmoeller commented on #3585
About memory consumption (all with precompiled headers, but without world builder for now, measured with /usr/bin/time --verbose, field `Maximum resident set size (kbytes)`). Not sure if this is maximum consumption of one build job, or sum of all jobs:

single unity build target: ~6.6 GB
12 concurrently compiled targets: 3.3 GB
default batch size of 8 (38 targets, 12 concurrently): 2.5 GB
without

[2020-07-06 21:52] tjhei commented on #3585
I tested resident size by compiling with ``-j 1`` and I get:
unity (batch size 10): 3.3GB
no unity: 2.7GB
So this is not bad at all.

[2020-07-06 22:12] tjhei commented on #3585
I just realized that testing is a bit problematic: we require cmake 3.15, but ubuntu 18.04 that I am using in #3583 bundles cmake 3.10 only. Manually install a newer version?

[2020-07-06 23:06] tjhei commented on #3585
this is now what I do in #3583

[2020-07-09 18:47] GEuen commented on #3335
Hi all. I’ve been trying to run a 3D model with depth dependent viscosity and #3453 (which appears to have fixed the original crashing problem for me). Somehow though, the model will start, step forward once as I would expect, then each subsequent time step is at the exact same time as the first. Many output values are quite high as well. I’ve messed with several parameters and can’t seem to find

[2020-07-09 20:48] gassmoeller commented on #3335
Hi Grant,
I cant tell you the underlying reason, but here are some clues (you may have seen that already, but you did not explicitly state it above): Your model does a single time step, after which it develops enormously large velocities (>1e5 m/yr), and all subsequent timesteps are extremely short as shown in the statistics file (4e-3 yrs per timestep), this is why it looks like time does not pro

[2020-07-10 20:59] GEuen commented on #3335
Here are two cases more recent cases. The only difference between them is one uses only the simple material model, the other uses depth dependent as before. The simple version has a convergence error very quickly. Depth dependent looks like the previous example. I'll try them both in debug mode as well.

Simple version:
[error_file.txt](https://github.com/geodynamics/aspect/files/4905334/error_fil

[2020-07-10 21:36] tjhei commented on #3585
anything left to do here, @gassmoeller ?

[2020-07-13 18:05] gassmoeller opened #3599 "Improve GPlates parameter documentation"
'Point one' and 'Point two' parameters are not used in 3D models, but this is not documented, I will open a PR to fix this.

[2020-07-13 19:31] gassmoeller commented on #3335
In the simple version your viscosity is 1 Pas and your Rayleigh number is 1e27, this will break your model quite easily. The depth dependent model is the interesting case because it breaks at higher viscosities, but I could guess that it maybe uses the correct viscosity, but uses an incorrect reference viscosity (i.e. the 1 Pas from the simple model)? We use the reference viscosity and a length sc

[2020-07-13 19:34] gassmoeller commented on #3585
I think we can close this. I was playing with the thought of setting unity build on by default if cmake supports it (because most users will not use it otherwise). What do you think?

[2020-07-13 19:39] gassmoeller commented on #3262
@djneu: Please check if #3595 solved the problem and close this issue if it did.

[2020-07-14 15:28] tjhei commented on #3585
I don't feel strongly about it but I also haven't experimented with it to know if it has other consequences for IDEs, warnings/errors while developing, potentially missing headers, etc..
If you want we can go and enable it and see if we run into issues.

[2020-07-14 15:57] gassmoeller commented on #3585
Lets give it a try. If we encounter too many problems during the hackathon or afterwards we can disable it again for the next release.

[2020-07-15 21:36] gassmoeller commented on #3577
"Fixed" by #3588.

[2020-07-15 21:36] #3577 closed

[2020-07-16 03:14] bangerth commented on #3380
I should have left a reference to GeoTess (https://www.sandia.gov/geotess/) here already when we talked about it. But it's never too late.

[2020-07-16 14:31] Djneu commented on #3262
From a quick test with the prm file included in this discussion and a larger model I've had the same problem with, the issue seems to be resolved. Thank you!

[2020-07-16 16:08] tjhei opened #3604 "periodic adaptive refinement can cause infinite loop in deal.II 9.2.0"
observed in deal.II 9.2.0 and ASPECT 2.2 and current master (also see #3583).

To reproduce, run ``tests/periodic_box2.prm`` (even with 1 processor) and observe that we hang in time step 10 (when adaptive refinement happens). The test passes with older deal.II versions.

It looks like we end up in an infinite loop in the following code section:
https://github.com/dealii/dealii/blob/f29b68a2829ecdc

[2020-07-16 16:14] tjhei opened #3605 "CI: test timeout not respected"
discovered in #3583.
We are prebuiilding and running tests using ``ninja -k 0 tests || true`` but this will ignore the ctest timeout options of 600s for each test. The whole thing will abort after 2.5 hours, but this way you can not tell which test is broken.
We should fix that somehow. Maybe have a shorter timeout for the prebuild so we at least see the hanging tests when we go to the second phas

[2020-07-16 16:34] tjhei commented on #3604
simplified file:
[hang.prm.txt](https://github.com/geodynamics/aspect/files/4932815/hang.prm.txt)

[2020-07-17 20:45] gassmoeller commented on #3604
Uh oh, not good. Do you think we need a known issues page, or think about a point release? Do you know if it happens to all periodic boundaries or just sometimes?

[2020-07-17 20:46] gassmoeller commented on #3604
Oh I just realized, if this is in deal.II 9.2. is there even anything we can do on the ASPECT side?

[2020-07-17 20:48] tjhei commented on #3604
The only possible change that likely works is to turn off mesh smoothing (or some of it) like in https://github.com/geodynamics/aspect/pull/3556

[2020-07-19 15:22] tjhei commented on #3604
I can confirm that this hang does not happen without mesh smoothing as in #3556.

[2020-07-19 20:59] tjhei commented on #3604
I have a work-around in deal.II: https://github.com/dealii/dealii/pull/10723

[2020-07-22 14:19] #3604 closed

[2020-07-24 18:22] tjhei commented on #3526
I assume that we fixed your problem and that this is not an issue with ASPECT itself. Closing. If you still have an issue, please write in the forum and we will try to help.

[2020-07-24 18:22] #3526 closed

[2020-07-24 18:22] tjhei commented on #3494
I assume that I was able to help you. If not, please open a thread on the ASPECT forums. Closing this issue, as this is not a bug as far as I can tell.

[2020-07-24 18:22] #3494 closed

[2020-07-24 18:23] tjhei commented on #3585
I guess we are done with this now. Great work, thanks! :partying_face:

[2020-07-24 18:23] #3585 closed

[2020-07-26 19:37] tjhei commented on #3585
With both enabled, I just received this on one of my branches (even with -j1):
[code]
I don't quite understand what is happening, but it goes away if I disable precompiled headers. I will see if this appears again.

[2020-07-28 18:46] gassmoeller commented on #3605
I see some timeouts in our reference tests at the moment, likely related to #3583. We should make fixing this a priority to have reliable tests during the hackathon (also it slows down our testing at the moment). I will try to take a look tomorrow.

[2020-07-28 21:34] tjhei commented on #3605
Is this on branches created before #3607 by any chance? I know that this fixes the deadlocks.

I have an idea on how to address this to have it respect the timeout in the "precompile tests". Do you want to take a look at which of the tests are problematic?

[2020-07-29 16:01] tjhei commented on #3605
Hm, this is not explained by #3618, I think. Maybe the new image is slower with over-subscription of MPI ranks? How many cores do the machines have?

[2020-07-29 20:00] gassmoeller commented on #3605
Yes I confirmed that the oversubscription is the problem. We have two tests that allocate 7 and 9 MPI ranks respectively, and exceeding the local ranks triggers the timeout inside the test docker image (I increased them to 13 for my 6core/12 threads system). The 9 rank test (vof_mpi_amr_no_dof.prm) is a problem for all CIG testers, the 7 rank test (parallel_refine_crash.prm) only for the older 2co

[2020-07-29 20:26] tjhei commented on #3605
mpich requires a compile option:
https://wiki.mpich.org/mpich/index.php/Frequently_Asked_Questions#Q:_Why_does_my_MPI_program_run_much_slower_when_I_use_more_processes.3F
This means I would have to build a new docker image from scratch. :-(

Alternatively, switch back to OpenMPI but I switched to mpich because of several issues (running as root, BTL warnings, other weirdness). Again, rebuilding im

[2020-07-29 20:30] tjhei commented on #3605
Another option would be to switch to the official deal.II docker image temporarily to see if that works. I think we are using OpenMPI there. Worth a try?

[2020-07-29 21:03] gassmoeller commented on #3605
Just for reference I just found #2919, last year we decided to run the tests on less MPI ranks. I think OpenMPI had the problem that we need to modify the CMake file for the tests to include the `--oversubscribe` option, but that one is specific to OpenMPI (therefore breaking the testsuite for systems with MPICH).

[2020-07-30 17:33] tjhei opened #3628 "Need to speed up slow tests"
We have two sequential tests:
[code]
that seem to take a very, very long time since we switched to deal.II 9.2 (``statistics_output`` takes 45min+ for me).

I am not sure what is going on here...

[2020-07-30 18:48] tjhei commented on #3628
rising_melt_blob_freezing:
[code]

[2020-07-30 19:17] #3605 closed

[2020-07-30 19:18] tjhei commented on #3628
this should be fixed with #3618

[2020-07-30 19:19] tjhei opened #3630 "slow CI since switching to deal.II 9.2"
It looks like our testing time increased substantially with the switch to the newer docker image.
For example in #3425
![image](https://user-images.githubusercontent.com/1531285/88964293-34fa9500-d277-11ea-9668-d2a40ab0087c.png)
We go from 16 to 70 minutes

This might be related to:
- [ ] MPI oversubscription and tests using too many cores, but this should have been a problem beforehand or not?
-

[2020-07-30 20:21] tjhei commented on #3628
new times with #3618:
[code]
So they are much better but still likely responsible in the order of 8% of the total test time (assuming 13 minutes of real time with 12 cores).

[2020-07-30 20:22] tjhei commented on #3628
new statistics_output timing:
[code]

[2020-07-30 23:40] tjhei commented on #3628
Other slow tests (prebuild timed out probably due to parallel load), see https://jenkins.geodynamics.org/blue/organizations/jenkins/aspect/detail/PR-3631/1/pipeline
Run sequentially in phase 2 they take:
[code]
Together, they add up to slowing down a test run by 27 minutes.

[2020-07-31 13:50] tjhei opened #3633 "clang compile errors with unity builds"
As reported on the mailing list, we have errors with clang9 and clang10 with enabled unity builds like:
[code]
and
[code]

I am also seeing some warnings that I will tackle:
[code]

[2020-07-31 18:27] gassmoeller opened #3635 "Enable tests that were disabled in #3624"
We disabled some tests in #3624 to avoid oversubscribing MPI ranks on the testers. We need to find a solution for the oversubscribing issue and then revert #3624, because at the moment the tests do not fulfil their original purpose.

[2020-08-01 02:03] gassmoeller commented on #3630
I had another idea for why tests under 9.2 are so much slower. Between 9.0 and 9.1 deal.II disabled -Og for gcc and fell back to -O0 for debug mode (dealii/dealii#7207). I liked the change because I often debug under gcc and often had to set -O0 manually to debug, but this may cause the tester to be slower (there is even a discussion there that the same happened to the deal.II testers). Should we

[2020-08-01 02:06] tjhei commented on #3630
Wow. I totally forgot about that. This is worth looking into and explains the slower assembly. Thank you!

[2020-08-01 03:57] bangerth commented on #3633
I believe this is now fixed -- can we close it?

[2020-08-01 14:56] tjhei commented on #3633
No, I see several other errors and warnings:
[code]

[2020-08-01 15:02] tjhei commented on #3628
closed by #3639

[2020-08-01 15:02] #3628 closed

[2020-08-02 01:51] tjhei commented on #3630
update: we are now down to 35min (that still includes 6min for the no-unity build, that will be gone).

[2020-08-02 02:29] bangerth commented on #3630
We don't actually care about debugging symbols and similar on the CI machines. Why not use `-O3` and similar flags even for debug mode? All that's necessary is to run in debug mode, but that doesn't mean that we have to use flags that actually make debugging possible.

[2020-08-02 15:44] gassmoeller commented on #3630
Either are very good options. I was not aware that the asserts depend on the build type and not on the flags, although it makes sense of course. Learned something here :-). @tjhei do you have time to create a docker image with faster flags? If not I can give it a try.

[2020-08-02 15:48] gassmoeller commented on #3630
Oh, I only saw #3643 after my previous post. But #3643 will only compile ASPECT with different option. I would guess the expensive part is actually happening inside deal.II?

[2020-08-02 16:07] tjhei commented on #3630
I am not sure how much of a difference it makes to only optimize ASPECT, but I assume it makes some difference regarding inlining (everything that can be inlined from the deal.II headers will be inlined even if deal.II is compiled with -O0). So I wanted to try that first.

I was planning on doing that as well. One step at a time. :-)

[2020-08-03 01:43] tjhei commented on #2655
I am closing this because this has been with an older version of deal.II that we no longer support. I hope 9.2 works better in this regard. If not, MacOS users need to manually install.

[2020-08-03 01:43] #2655 closed

[2020-08-03 02:13] tjhei opened #3651 "class instantiations with implementations in different .ccs?"
We have various issues with unity builds because we have implementations and instantiations split into separate files (#3637, #3650, ...). I don't like that solution and we have this also in core.cc, assembly.cc, helper_functions.cc, etc..
Questions:
1. Is this even correct what we do without unity builds? We list function instantiations at the bottom for file that do not instantiate the main clas

[2020-08-03 03:55] bangerth commented on #3651
It's legal to do what we do if you split things up into different .cc files, but it's going to lead to different results (specifically: errors) if you combine things.

If it's a relatively small number of affected files, then I'd just remove them from the unity builds -- these are presumably all large files that were created specifically because we didn't want to put everything into one file. The

[2020-08-03 13:47] bangerth opened #3652 "Move documentation generation to cmake"
It has bothered me for many years now (I'd say for (n-1) of the n years that we've used cmake) that the documentation generation is driven by `doc/Makefile` and not part of the cmake machinery. What do people think about fixing this wart?

Upsides:
* More systematic
* Keeping the source tree free of the artifacts of running latex, doxygen, etc
* We can actually install the documentation

Downsides

[2020-08-03 14:10] tjhei commented on #3651
I go a similar route in #3653. Just moving the files instantiating the class to the end of the list makes sure that these errors can not appear.

[2020-08-03 16:59] #3651 closed

[2020-08-03 18:03] alarshi commented on #3599
I will work on it and implement it in the documentation.

[2020-08-03 18:09] tjhei opened #3656 "GMG and Newton solver"
We should implement the Newton terms for the GMG formulation.

@MFraters can you post a formula for the matrix terms that need to be added?

[2020-08-03 18:20] tjhei commented on #3652
That makes sense to me. Would it make sense to do the markdown conversion first?

[2020-08-03 18:24] tjhei opened #3657 "Move cookbooks and their documentation into folders"
- Like done in #3422, move each cookbook into a folder under ``cookbooks/`` like ``convection-box``
- Move the latex including pictures/etc. from the manual into a doc/ folder
- Also pay attention to use underscores instead of dashes #3255

[2020-08-03 19:21] MFraters commented on #3656
So I think the equation you are looking in paper https://doi.org/10.1093/gji/ggz183, section 2.3, equation 14, 15 and 16, where J^{uu} is replaced by the equation in the top of section 2.5, where H is replaced by H^{spd} (H == H^{spd} when alpha=1.

[2020-08-04 08:51] bobmyhill commented on #3046
Happy to attack this in brain-downtime unless anyone else has a burning desire :)

[2020-08-04 13:59] bangerth commented on #3046
That would be outstanding! Can also be done in small increments :-)

[2020-08-04 23:05] bobmyhill commented on #3046
Only just saw this. Ooops :D

[2020-08-05 07:49] UfrancoU opened #3685 "Problem reading Aspect output particles in Paraview"
Hi all,

    I hope you guys are fine.

    I am using ASPECT, in particular the following:

-- This is ASPECT, the Advanced Solver for Problems in Earth's ConvecTion.
--     . version 2.1.0
--     . using deal.II 9.1.1
--     .       with 32 bit indices and vectorization level 1 (128 bits)
--     . using Trilinos 12.10.1
--     . using p4est 2.2.0
--     . running in DEBUG mode
--     . running w

[2020-08-05 15:11] #2929 closed

[2020-08-05 15:42] bangerth commented on #3685
The answer to these sorts of questions is always the same: Create a minimal test case that shows the problem and send us the input file that re-creates the problem.

[2020-08-05 16:13] bangerth commented on #3046
Fixed by @bobmyhill 's monster patch!

[2020-08-05 16:13] #3046 closed

[2020-08-05 21:34] ljhwang opened #3695 "Update 'in preparation' References in manual.bib"
@bangerth
In reviewing the manual.bib file, I came across 2 references: BAK08 and ABK08 with you as first and second author in which year is indicated as '2008, in preparation'.  Can you update?

[2020-08-05 21:37] ljhwang opened #3696 "Correct 'Casey and Wesnousky' in manual references."
In manual.bib, the following entry is woefully incomplete.

  @Article{CW97,
    author =       {\textbf{???} Casey and Wesnousky, S. G.},
    title =        {\textbf{???}},
    journal =      {\textbf{???}},
    year =         1997,
    volume =       {\textbf{???}},
    pages =        {\textbf{???}}

[2020-08-05 22:31] bangerth commented on #3695
I bet there are lots of zombies like those in this file. I believe that we imported manual.bib from the one used for the first aspect paper, which was in turn imported from one I had been using for my publications (in other fields) before and so it contains a lot of entries that have nothing to do with geophysics.

None of these should actually be cited in the manual. Regardless, I'm removing them

[2020-08-05 22:33] bangerth commented on #3696
I don't find a use for this -- just remove it.

[2020-08-05 23:09] ljhwang commented on #3695
Thanks. That actually explains the wide-range of topics that the references contain.

[2020-08-05 23:09] #3695 closed

[2020-08-06 19:14] lhy11009 opened #3714 "zero_matrix 'screen-output'"
There seems to be a bug in the zero_matrix test. It seems that this test should fail but it actually passed. I simply alter the screen-output for now. But I will wait to see if this is what you want.

[2020-08-06 19:41] bangerth commented on #3714
Can you explain why you think that it should fail?

[2020-08-06 19:47] lhy11009 commented on #3714
While, by judging from the screen-output file that is there. That file contains an error message

[2020-08-06 19:49] lhy11009 commented on #3714
Which doesn't much the output when I run it on the 'master' branch in docker as the run terminated without giving any error. And I think it is not likely due to something that I did cause I just did it on the 'master' branch.

[2020-08-06 20:03] gassmoeller opened #3717 "Improve free surface advection scheme"
The free surface is currently advected using a forward euler scheme in https://github.com/geodynamics/aspect/blob/95a4d4567e4dc8f5eb3faf856d260bd752cfd9f6/source/mesh_deformation/interface.cc#L582

We should investigate if we can use better time-stepping schemes like Crank-Nicholson. We already store the old Stokes solution, but we may also need to store old mesh velocities.

[2020-08-06 20:17] gassmoeller opened #3718 "Test mesh deformation algorithm inside nonlinear solvers"
Currently in models with mesh deformation the mesh is deformed outside of the nonlinear solver loop, which therefore solves for a fixed mesh (source/simulator/core.cc:1864). We could at least try doing this inside a nonlinear solver loop and test its impact on stability of the free surface and convergence behavior of the nonlinear solver.

[2020-08-06 20:19] tjhei commented on #3714
How are you running it, @lhy11009 ?
The test prm contains the magic text ``# EXPECT FAILURE``, which means that when you run it with ``ctest`` ASPECT will crash as expected and ctest will make the test "pass".

[2020-08-06 20:21] gassmoeller opened #3719 "Use the same finite element for mesh deformation and stokes velocity"
The mesh deformation is (most often) caused by the Stokes velocity inside the domain, but we currently project the Stokes velocity into a Q1 space to compute mesh deformations. We should test using the same element as for the Stokes velocities. This will require changing the mapping that is currently used with mesh deformation from a linear MappingQ1Eulerian to a higher order MappingQEulerian.

[2020-08-06 20:24] gassmoeller opened #3720 "[Meta] Free surface improvements"
This is a list of issues about improving the mesh deformation implementation:

- [ ] initial topography and mesh deformation:
  - [ ] #3402
  - [ ] #3403
  - [ ] #3399
- [ ] particles and mesh deformation:
  - [ ] #3016
- [ ] Improving the free surface solver:
  - [ ] #2969
  - [ ] #3110
 - [ ] Use a better surface advection scheme:
   - [ ] #3717
 - [ ] Advect free surface inside nonlinear solver

[2020-08-06 20:26] gassmoeller commented on #2067
I think this was solved by #2964 and most of the issues in your last post have either been solved, or are now part of #3720. Can we close this issue?

[2020-08-06 20:34] bangerth commented on #3717
Specifically, the way we currently see the mesh deformation is as the time integral of the mesh velocity, and we compute updates to the deformation via the box rule as `timestep * velocity` in the code above. We should compute this integral with a better scheme, for example the trapezoidal rule (=Crank-Nicolson) or using a 3-point interpolation (similar to the BDF-2 scheme).

[2020-08-06 20:42] ricitron commented on #3402
I also have an issue with the topography defined after refinement. In the example image below I define a surface topography and also a crust-mantle interface topography. The code initially refines along the density gradient of the crust mantle interface, but when topography is inserted after refinement it pushes the refined cells below the crust mantle interface and unrefines the interface. Near t

[2020-08-06 20:46] bangerth commented on #3402
I've deleted the unrelated comments, and will delete me own comment here in a minute as well.

[2020-08-06 21:30] lhy11009 commented on #3714
I run it the way you mentioned. In order to be sure, I just checkout my master branch and pulled from the main branch. Then I compile and make the tests. At last, I run with 'ctest -R zero_matrix' and the test failed.

[2020-08-06 21:33] lhy11009 commented on #3714
And by the way, I did all these in the docker. I am bewildered by this test when I see it failed.

[2020-08-06 21:42] alarshi commented on #3657
I will work on this if noone else has already started it.

[2020-08-06 22:05] gassmoeller commented on #3714
I think this is related to how you build ASPECT inside the docker container. The following command lets the test fail:
[code]
while this one is the one we use for the tester and it passes the test:
[code]

I have excluded the compile flags (ASPECT_ADDITIONAL_CXX_FLAGS) as the reason for the difference, so I think it is a difference between letting `make` and `ninja` handle the tests. @tjhei do you

[2020-08-06 23:09] tjhei commented on #3714
It would be helpful to see the output of ``ctest -V`. Maybe the error message in the output is different when you enable inlining? Note that I fixed this test a few days ago (https://github.com/geodynamics/aspect/pull/3640) because it only worked if you compiled in a specific directory.
The test has been quite annoying in the past, so we might consider deleting it...

[2020-08-06 23:09] tjhei commented on #3714
Thinking about it, I think I saw it fail on one of my machines with a floating point exception. Maybe this can also happen (and depends on your machine)?

[2020-08-06 23:12] tjhei commented on #3657
Sure, please start with a single .prm and get it reviewed. After that, it also make sense to work in smaller batches to make it easier to review.

[2020-08-06 23:18] tjhei commented on #3714
Yes, on my computer it fails with
[code]
 instead of  https://github.com/tjhei/aspect/blob/898c3aad6a6c914de1a09e168bcbf466ece532ec/tests/zero_matrix/screen-output#L35

[2020-08-06 23:45] gassmoeller commented on #3714
That makes sense, I think for ninja we disable floating point exceptions (that is why it passes on the tester).

Here is my output with `make` (output with `ctest -V` is the same except the floating point exception line is missing):
[code]

[2020-08-07 12:09] anne-glerum commented on #3720
The `topography` post processor has an option to write the surface topography to file for x,y surface coordinates. Would that be sufficient?

[2020-08-07 12:11] anne-glerum commented on #2067
Yes this can be closed. I checked of the resolved issues.

[2020-08-07 13:05] tjhei opened #3728 "potential compile error with unity build and deal.II 9.2.0"
When changing the number of batched files with unity build, I am running into a deal.II bug that has been fixed after 9.2:
[code]
see https://github.com/dealii/dealii/commit/1e5d09f19a26eb85cbf3a360586592283e358c90#diff-cababb69c891317230d592c968e1c64f for the bugfix.
We will compile cleanly as long as no header that includes qiterated.h is batched together with core.cc. This is not the case with

[2020-08-07 20:19] egpuckett commented on #3186
@bangerth The VOF cookbook #3425 has been reviewed by @naliboff  He and @class4kayaker are ready to merge. I asked that they wait until I double check what changes John Naliboff made to the cookbook in the ASPECT Manual, since I wrote the final edit of the cookbook and want to see what is different.  (John says he only made minor edits, like commas and that sort of thing.)  I'm part way through an

[2020-08-09 17:37] #2067 closed

[2020-08-09 17:45] gassmoeller commented on #3402
We had a discussion about this on Friday (after @ricitron's comments) and documented our thoughts in #3720. In short we would like to convert initial topography into a mesh deformation plugin, which would hopefully automatically solve this issue. We will revisit this issue once the conversion is done.

[2020-08-09 18:04] ricitron commented on #3403
I noticed this problem as well in 2d and 3d spherical chunk geometry with initial topography. The hole is hard to see in the image below but it is just to the right of the xyz orientation axis where the refinement gets coarser.

Is this a real hole or an issue with the plotting? I am using set Interpolate output = false.

The hole occurs where the change in slope of the surface topography intersec

[2020-08-10 03:40] bangerth commented on #3403
I think that @tjhei 's hunch is probably right, but it's also possible that the mesh movement uses a way of moving nodes individually without respecting that the positions of hanging nodes cannot be chosen independently of their surrounding node locations.

[2020-08-10 14:18] bangerth commented on #3728
Can you show the complete error message?

I think we have two options:
* Right after including `quadrature.h`, also include `qprojector.h` to pick up the missing declaration (guarded by a check for DEAL_II_VERSION <= 9.2)
* Just write the missing declaration into our own files.

If you show me the complete error message, I can add the fix.

[2020-08-10 14:32] tjhei commented on #3728
This is the complete error message
[code]

It is not a "missing" declaration, but a nonsensical specialization, so I don't see how this can work. One would need to include qprojector.h before quadrature.h. I will prepare a patch.

[2020-08-10 15:35] bangerth commented on #3728
No, it's the declaration (announcing the existence) of a specialization, if you look at @peterrum's patch you link to. The declaration is correct, it's just in the wrong file. The work-around is to either include the file where it is erroneously placed, or to duplicate the declaration of the specialization.

Is there a way to find out what `unity_2_cxx.cxx` contains in your case, to narrow down ho

[2020-08-10 15:39] #3728 closed

[2020-08-10 15:42] peterrum commented on #3728
If I understand it correctly this is (accidentally) fixed in deal.II!?

[2020-08-10 17:01] bangerth commented on #3728
@peterrum Yes, we needed a workaround for the unfixed version on which ASPECT currently relies. But we got it covered, no worries!

[2020-08-10 18:32] #3341 closed

[2020-08-10 18:32] #3696 closed

[2020-08-10 20:03] ricitron opened #3747 "Mesh deformation boundaries not set properly when no Stokes"
When the nonlinear solver scheme is set to no Stokes the mesh deformation boundaries are not set properly. This is because mesh deformation is not prescribed by default, and with no Stokes it is not possible to set velocity boundary indicators.

The attached test file shows the issue. A 1x1 box is given a top velocity boundary of 1 and and simulation proceeds for 0.5 seconds, so the top boundary s

[2020-08-11 03:39] bangerth opened #3752 "Make some member variables use plurals"
I would have fixed this right away, but don't want to step on @tjhei's #3686: In `ASCIIDataLookup`, we have this:
[code]
Note how all of these variables are plural, with the exception of `maximum_component_value` and `grid_extent`, even though they too are arrays over dimensions and columns. We should fix this.

This might make for a nice starter project if someone was looking for one.

[2020-08-11 14:04] tjhei commented on #3752
I also find ``table_points`` to be a non-descriptive name.

[2020-08-11 14:48] bangerth commented on #3752
Yes, that class has problems...

[2020-08-11 21:02] alarshi opened #3762 "Unusual floating point exception in frank-kamenetskii viscosities."
I noticed a very strange behavior while working on the diffusion strain rates. The new viscosities in the visco_plastic.cc computed for frank_kamenetskii cases throws a floating-point exception because it computes the term ''temperature/reference_temperature" and by default the reference temperature = this->get_adiabatic_surface_temperature(), is zero. All the existing tests throw the same error.

[2020-08-11 21:23] naliboff commented on #3762
I'm confused about this as well. The lines in question from frank_kamenetskii.cc are:
[code]
By default, the adiabatic surface temperature is set to 0, which should have thrown multiple errors for all the default visco_plastic tests.

[2020-08-11 21:46] tjhei commented on #3762
Well, it looks like the current tester does not have floating point exceptions enabled:
[code]
I can look into that, but that explains why the official tester is not complaining. It depends on the machine/compiler/etc. if we have support for this check.

That said, we should avoid the division by zero.

[2020-08-11 21:54] tjhei commented on #3633
This seems to be fixed for now...

[2020-08-11 21:54] #3633 closed

[2020-08-11 22:00] gassmoeller commented on #3762
I think there are separate problems here:
- The FK viscosity should not be computed if it is not needed (I did not notice that when reviewing #3698), this is a simple fix.
- The FK should have an `AssertThrow` that makes sure the reference temperature is not 0, since FK divides by the reference temperature there is no way around it, to use FK the adiabatic surface temperature (=reference temperatu

[2020-08-11 22:04] naliboff commented on #3762
[code]
Agree with the above. I'll work on a fix.

[2020-08-11 23:18] naliboff commented on #3762
See proposed fix in #3766.

[2020-08-12 16:01] UfrancoU commented on #3685
Hi Wolfgang, or to whom it ay concern,

  I downgraded my prm file to try to catch the error on particle generation.. The error of not producing good particles persisted !

  In the end I decided to download the convection_box_3D example from the Aspect hub to play with the basics. I run it, it runs well. Then I added the particles

set List of postprocessors = velocity statistics, temperature sta

[2020-08-12 18:39] bangerth opened #3774 "C++11: Use range-based for loops"
We have a lot of places of the form
[code]
But using C++11 features, we can more easily write this as
[code]

Similarly, there are plenty of places of the form (or in many variations -- searching for `for... ::const_iterator` will yield many)
[code]
that could now be written as
[code]

All of these might make the code simpler to read.

[2020-08-12 21:50] jdannberg commented on #3657
There's one more thing I noticed: We also have to update the section in the manual that describes how to contribute a cookbook. It should explain the new directory structure, and how to create the symbolic link in the doc/manual/cookbooks folder.

- [ ] update section in the manual

[2020-08-13 17:58] lhy11009 opened #3785 "An issue about phase transition."
Right now, our phase transition implementation could breaks when we have a phase transition in a material that starts from the surface of the model. We may only want one phase transitions in that material but the visual result will be we have two phase transitions.
Here is a test case. We want at phase transition at 80 km depth here, but we ended up also having the phase transition when we go to t

[2020-08-13 17:59] lhy11009 commented on #3785
Two missing links:
[https://lhy11009.github.io/LearnAspect/phase_transition_issue/summary/](url)
[https://lhy11009.github.io/LearnAspect/phase_transition_issue/case.prm](url)

[2020-08-13 23:23] lhy11009 opened #3788 "Isosurface: now only takes care of temperature and composition fields"
Hi everyone
Menno and I implement the isosurface plugin basically as an analogy to the minimum refinement function. What is different is that we use field value as conditions to tell the plugin whether to refine. We plan to include fields like viscosity, background composition, etc. But for now, we only included the temperature and composition fields. The reason for that is other stuff requires an

[2020-08-13 23:35] #2314 closed

[2020-08-14 02:50] gassmoeller commented on #3785
I think I do not quite understand all of your description, it seems you are describing two separate problems?
Let me start with the second one: Yes, if one has a phase transition that is defined in a shallow depth and with a steep clapeyron slope it might intersect with the surface, because of the large temperature jump there. This is a problem with the way we (and most everyone else) defines thes

[2020-08-14 02:58] gassmoeller commented on #3685
Hey @UfrancoU,
these are two separate issues. With the default particle generator ASPECT will sometimes not generate exactly the number of particles you prescribed, because the problem of how to distribute them between different processes and cells is actually not trivial. I think this is fixed in ASPECT version 2.2 and newer, but it should now affect your output (you will simple have slightly mor

[2020-08-14 02:58] gassmoeller commented on #3762
Fixed in #3766.

[2020-08-14 02:58] #3762 closed

[2020-08-14 03:01] gassmoeller commented on #3747
Just to add: The assignment of mesh deformation boundaries needs an overhaul in general. It should not be based upon any information from the Stokes velocity boundaries, but should be set explicitly by the user as `Zero mesh deformation boundaries`, `Tangential mesh deformation boundaries`, and `Prescribed mesh deformation boundaries`. Currently it tries to guess the correct condition based on a c

[2020-08-14 03:44] lhy11009 commented on #3785
"it seems that the viscosity correctly shows only one jump."

For sure, because one phase's viscosity is dependent on temperature while another is not. I take from Magali's setting. I guess I just did too much copy and paste. I'll change that a little and let's see again.

[2020-08-14 14:25] UfrancoU commented on #3685
 

 Hi Wolfgang,

 

   Thanks for replying.

 

    Following your advice on investigating, I commented (invalidated) the line for set particle properties (and Aspect 210 has no default for that).

 

    The corresponding output for solution is all good, but the particles' output makes Paraview 5.7.0 to crash, in the same way.

 

 

   Well, maybe it is as you say, a glitch on combinations of v

[2020-08-14 15:36] bobmyhill opened #3796 "The ConstantViscosity rheology doesn't accept multiple compositions"
Currently in ASPECT, there are two ConstantViscosity rheologies.
The first, ConstantViscosity, only works for single compositional fields.
The second, ConstantViscosityPrefactors, works for multiple compositional fields but is not a standard rheology (it takes viscosity as input to compute_viscosity(), for example).

For compositing purposes, it would be really useful to have a ConstantViscosity r

[2020-08-14 16:44] bobmyhill commented on #3796
So, after discussion with @gassmoeller, I now understand the purpose of these two rheology models better. I hadn't considered that they could be joined to form a multicomponent rheology model.

Thanks @gassmoeller :)

[2020-08-14 16:44] #3796 closed

[2020-08-14 18:56] Geoniette commented on #2904
I'll be doing this unless it be done by someone else already

[2020-08-14 19:11] lhy11009 commented on #3785
I have altered the dependence of viscosity on temperature. Now it looks more clear. And it is very near to what happens in Magali's model with Oceanic crust where she wants to apply a phase transition to eclogite but it turns out the transition also happens at a shallower depth, leaving the basaltic material only presented in the slab but not actually in the Oceanic seafloor.
https://lhy11009.gith

[2020-08-17 17:23] egpuckett commented on #3630
@tjhei Why does a link to this issue show up in our PR #3425 for the VOF Benchmark Cookbook?  Do we need to edit something in the Cookbook / PR?

[2020-08-17 18:08] tjhei commented on #3630
Nothing to do for you. Sorry for the confusion. I just used this PR to rerun the tester a couple of times.

[2020-08-17 23:58] gassmoeller commented on #3630
But since we are active again on this issue: @tjhei could you still look into compiling a version of the `tjhei/dealii:v9.2.0-full-v9.2.0-r1-gcc5` docker container with -O1 or -O3 but in debug mode? Currently I have most of the CIG testers disabled, because they would timeout. Alternatively I can also compile an image myself, or increase the time limits in the Jenkinsfile.

[2020-08-18 13:35] tjhei commented on #3630
Yes, I am working on it. Sadly, we do not compile cleanly with O1: https://github.com/dealii/dealii/pull/10786

The other question you and I need to discuss is the mpich vs openmpi question. Should we ignore that for now?

[2020-08-22 16:42] lhy11009 opened #3822 "Negative values of field when modeling subducting slab"
Hi all

An issue about the DG method on composition fields.
I see that the compositional field for the subducting slab in my model has negative values outside of the slab.
I have already included:

    set Use discontinuous composition discretization = true
    subsection Stabilization parameters
        set Use limiter for discontinuous composition solution = true
        set Global composition m

[2020-08-25 20:08] gassmoeller commented on #3785
Hey, got sidetracked. So here are two options of solving this:
1. Introduce two new parameters to the `PhaseFunction` class in material_model/utilities.cc named `Phase transition minimum pressures`, and `Phase transition minimum depths` and let the phase function and derivative always be zero below this pressure / depth. You will need to check if this fixes the problem (easiest if you use a simple

[2020-08-26 18:41] lhy11009 commented on #3785
_**Introduce two new parameters to the PhaseFunction class in material_model/utilities.cc named Phase transition minimum pressures, and Phase transition minimum depths**_
Yes, that seems plausible. I am not going to do it right away though and I'll probably try to fix it right away, but probably very soon.
**_Alternatively you could look into using the functionality that @bobmyhill introduced in #

[2020-08-26 21:27] mibillen commented on #3822
@lhy11009  the DG-BP method can only return the exact limits [0 1] if AMR is not used. However, when AMR is used the coarsening operation does not preserve the cell average and this introduces an error, which is itself element size dependent.  This is specifically discussed in the paper by He et al., PEPI 2017 (http://dx.doi.org/10.1016/j.pepi.2016.12.001). See section 3.4.2 and 4.0, and Table 2.

[2020-08-26 22:51] lhy11009 commented on #3822
**_The way to minimize this error is to define the AMR parameters so that the compositional boundaries stay at a refined level, and do not get coarsened and then refined again, repeatedly._**
Let's try that first.
**_Specifically does it effect the rheology in anyway?_**
I checked and I found that the viscosity structure is not refined well in the computation, let's check that in a later case.

[2020-08-28 17:39] bobmyhill opened #3827 "Multicomponent averaging"
In opening PR #3826, it became clear that several plugins assume that the composition fields correspond to volume fractions of components. Volume is not locally-conserved, and @gassmoeller and @dannberg tell me that we should really use mass fractions instead. Any models that allow >1 composition should also be checked to make sure that they average things in a consistent way (i.e mass fraction av

[2020-09-01 20:18] gassmoeller commented on #3822
Just adding a third way to solve this with brute-force: You could also limit the input values inside the material model, e.g. instead of `in.composition[q][i]` you could use `std::max(in.composition[q][i], 0.0)`. This is ok as long as you know that negative values are only produced by numerical over/undershoots and should not influence the solution. Of course you need to make sure that the oscilla

[2020-09-01 21:27] mibillen commented on #3822
Thanks Rene,
This is what we decided to do.
-Magali

____________________
Professor of Geophysics
Chair, Geology Graduate Program
Geophysics Minor Advisor

Department of Earth and Planetary Sciences
Univ. of California, Davis
Davis, CA 95616
2129 Earth & Physical Sciences Bldg.
Office Phone: (530) 752-4169
https://magalibillen.faculty.ucdavis.edu/

Pronouns: She/her/hers
First Generation College S

[2020-09-04 12:10] bobmyhill opened #3838 "Add documentation for rheologies and equations of state"
The source files for material models, rheologies and equations of state include sections for explicit instantiation.

For the material models, this involves registration of each model class, which provides a name and a detailed docstring describing the material model.

Rheologies and equations of state are not presently registered, and contain no equivalent description. As a result, it falls on th

[2020-09-04 14:08] bobmyhill opened #3839 "Add phases to MulticomponentCompressible"
Modify MulticomponentCompressible to allow phase transitions within each component (similar to how it is done in MulticomponentInCompressible).

[2020-09-04 14:10] bobmyhill opened #3840 "Add phases to Peierls creep"
Implement phases in the Peierls creep rheology module (similar to how it is done in diffusion_creep and dislocation_creep).

[2020-09-09 13:23] EstherHeck opened #3843 "Add assert when 'fixed elastic time step' is smaller than 'max computational time step'"
As it does not make sense to use a 'fixed elastic time step' that is smaller than 'max computational time step' and also produces unrealistic model results (velocities go crazy), aspect should warn users, when they accidentally try to do this

[2020-09-09 13:38] anne-glerum commented on #3843
Thanks for the suggestion! Do you mean `Maximum time step`? Its default is 5.69e+300, so when users don't set it to something different, this will fail. Also, should the `Fixed elastic time step` be larger than the `Maximum time step` or than the actual current timestep?

[2020-09-09 13:40] EstherHeck commented on #3843
yes I mean 'Maximum time step'. I think it can be equal as well. Models don't fail in this case, they just oscillate.

[2020-09-14 15:22] gassmoeller commented on #3630
Fixed by #3848.

[2020-09-14 15:22] #3630 closed

[2020-09-17 14:14] undeadfast opened #3849 "A problem on Prescribed internal velocity"
Hello! I'm new in aspect. In a subduction model I want to constrain the velocity inside the model, and I falsed.

![question](https://user-images.githubusercontent.com/66828932/93483298-4422c880-f933-11ea-8357-b44370cd64b1.png)

With out the prescribed velocity partion the model runs correctly and I don't know how to set the internal velocity constrains correctly. This is my aspect input file.

se

[2020-09-25 18:30] gassmoeller opened #3854 "Add option to remove surface net rotation"
We already have the option to remove the net rotation of the whole spherical domain (subsection Nullspace removal). For the comparison to no net rotation surface velocity models we would need to do the same, but compute the net rotation only on the surface instead of the whole domain.

[2020-09-25 18:49] gassmoeller commented on #3849
Hi @undeadfast,
This is a somewhat complex model, so it is hard to guess what is going wrong, but here are some observations and questions that may help you along: Since the model is crashing while assembling the Stokes matrix (as seen in the stacktrace you sent), and with the error message that something is not finite that should be, a reasonable guess is that something goes wrong with the materi

[2020-10-13 12:33] kchotalia opened #3867 "New Xcode 12.0.1 incompatibility on mac OS"
Recent update to xcode (12.0.1) on macOS Catalina prevents compiling of aspect, resulting in the error below. @tjhei @gassmoeller - let me know if more information would be useful.

[2020-10-13 13:00] tjhei commented on #3867
Can you please delete your build directory and start over? If things are still broken, post your detailed.log

[2020-10-13 13:33] #3867 closed

[2020-10-20 02:03] MFraters opened #3869 "Solve problem with Newton solver with heat flux boundaries"
This is a follow up issue to pull request #3868 (see that pull request for an initial discussion). The same needs to be fixed for the Newton solver, but it would make sense to do this in a way which is a bit more sustainable for future changes to the assembly.

I don't think it should be too much work to just separate the stokes part and then for the normal and Newton assembles we can then just ca

[2020-10-21 17:56] tjhei commented on #3869
As discussed today, it might be easier to just factor out the identical code into a common function that is called in all places.

[2020-10-22 21:05] #3869 closed

[2020-10-24 02:30] XieJChris opened #3873 "Possible causes of triggering 'Assemblers Stokes Incompressible Terms' error?"
Hey guys, I encountered an error like this:
<img width="1526" alt="Screen Shot 2020-10-24 at 10 15 12 AM" src="https://user-images.githubusercontent.com/31496552/97065801-c2355780-15e2-11eb-8969-8601384d42c0.png">
It seems to be related to 'Assemblers' ? Can anyone offer me some suggestions to solve this problem? Appreciate.

[2020-10-24 05:06] MFraters commented on #3873
Hey @XieJChris,
Thanks for reporting this problem! From what you are showing I can't directly see what the problem is, besides that it is a floating point error, which are in my experience usually caused by a division by zero somewhere in the code. You are correct that it seems to happen in the assemblers, but to investigate the problem it would be helpful to have a bit more information.

There ar

[2020-10-26 02:44] #3873 closed

[2020-10-26 05:18] XieJChris commented on #3873
@MFraters Thanks for replying, I think I've found the cause, I ported the code to another code that had ran successfully before, and it worked, well, it does seem to be a floating point exception but caused by numeric bounds that used to limit the range of the results (e.g., std::max(max_visc, computed_viscosity)), which is pretty weird.

[2020-10-26 19:56] gassmoeller commented on #3840
Closed by #3841.

[2020-10-26 19:56] #3840 closed

[2020-10-28 00:42] XieJChris opened #3875 "Iterate error code -2: numerical breakdown"
Hi all,

It looks like that I've got a strange error, as you can see, the ASPECT seems to have successfully loaded the code and stared running, but soon the error occurs, the additional information is:
<img width="1526" alt="Screen Shot 2020-10-28 at 8 41 39 AM" src="https://user-images.githubusercontent.com/31496552/97376859-7394ff80-18f9-11eb-9428-adf7a5edcce9.png">

The iterative (bottom right)

[2020-10-28 00:43] ricitron commented on #3403
This should be resolved now with merged pull request [3864](https://github.com/geodynamics/aspect/pull/3864)

[2020-10-28 12:41] tjhei commented on #3875
The information for you to take from this error is that the linear Stokes solver did not converge. This can happen if your problem is difficult to solve (large viscosity contrasts), under-resolved (mesh is too coarse), or ill-defined (inconsistent boundary conditions like forced inflow for an incompressible problem).

Without knowing more about the problem you are trying to solve, it is hard to he

[2020-10-30 02:10] XieJChris commented on #3875
@tjhei Thanks for replying. Listing possible causes is helpful for me. The problem has been solved, and it was indeed caused by an ill-defined boundary condition :)

[2020-11-05 05:20] #3875 closed

[2020-11-13 22:27] MFraters opened #3885 "Tracking issue for adding CPO/LPO tracking and development to aspect"
Lattice/Crystal Preferred Orientation (LPO/CPO, they are different names for the same) is a useful tool to be able to compare against seismic anisotropy data, and can give us a more direct link to mantle flow. It could also be used in the future to make anisotropic viscosities.

It has been a bit of a process of getting this into aspect, but I think it is final near the level to start making pull

[2020-11-14 15:35] bobmyhill opened #3887 "Possible factor 2 error in elasticity.cc"
On line 378 of rheology/elasticity.cc (in function calculate_viscoelastic_strain_rate), should the line
`const SymmetricTensor<2,dim> edot = 2. * (deviator(strain_rate)) + stress / (shear_modulus * elastic_timestep());`
instead read
`const SymmetricTensor<2,dim> edot = deviator(strain_rate) + 0.5 * stress / (shear_modulus * elastic_timestep());`
?

[2020-11-14 16:20] bobmyhill commented on #3887
At the moment this function is only used in visco_plastic.cc, which corrects the factor two error on line 319.

[2020-11-15 16:42] bobmyhill commented on #3885
Wow, this is ambitious! Looking forward to seeing this move forwards!

[2020-11-17 00:55] lhy11009 opened #3894 "Issue with the Block GMG with tangential boundary conditions"
Previously I was discussing with John and Magali and we run into this problem of using Block GMG. So Magali suggests me to bring it up on the forum.

I have a problem running the Block GMG method inside the Newton solver. I created a very simple test from the slab detachment benchmark, which is basically a 2d model with non-linear rheology in the ViscoPlastic material model. The problem happens wh

[2020-11-17 00:57] lhy11009 commented on #3894
@tjhei Sorry for the slow follow-up to your answer on the forum. I haven't checked the forum for days.

[2020-11-17 15:46] tjhei commented on #3894
When I run case_err_simple.prm in debug mode I get
[code]

Is that what you have as well?

I think I understand what is going wrong. I will try to fix in the next few days.

[2020-11-17 21:09] lhy11009 commented on #3894
Oh, yes. That's exactly what I have. I think I didn't attach the error
file. Thank you for looking into it. If there is anything I can do, let me
know.

On Tue, Nov 17, 2020 at 7:46 AM Timo Heister <notifications@github.com>
wrote:

--

Ph.D student of Geophysics
Earth & Planetary Sciences Dept., UC Davis
Davis, CA 95616

[2020-11-18 03:47] naliboff commented on #3887
@bobmyhill - sorry, just saw this. For some reason I've recently only been getting selected GitHub notifications via email.

Short answer - @dansand and I had multiple discussions about how this should be defined a while, but off the top of my head I can't think of a reason to support one formulation over the other. While your proposed method is indeed consistent with how the strain rate is define

[2020-11-18 18:58] tjhei commented on #3894
The problem is that the GMG currently has hard-coded implementation for "box constraints" and "shell constraints" and nothing else. I will need to think about how to design it to get the proper normal direction information for any geometry into the solver.
This means: for now, you can only use tangential boundary conditions for the top and bottom boundary, not for the sides. I will update this iss

[2020-11-19 11:08] bobmyhill commented on #3887
Resolved by #3888 (now merged).

[2020-11-19 11:08] #3887 closed

[2020-11-19 17:38] lhy11009 commented on #3894
Sure. Then I'll first use the other method in my model and we'll wait to see if we can solve that problem in the future.

[2020-11-24 16:58] anne-glerum opened #3904 "Update scripts in /doc"
About 4 months ago, the update scripts were moved from /doc to /contrib/utilities. However, there is the script `update_all_files.sh` left in /doc that now no longer works as it calls the files now in /contrib/utilities.

[2020-11-25 20:24] gassmoeller commented on #3403
Since this seems resolved I will close the issue for now. Feel free to reopen if the problem persists.

[2020-11-25 20:24] #3403 closed

[2020-11-26 01:32] tjhei commented on #3904
Oh, good point. See #3905.

[2020-12-02 03:31] tjhei commented on #3894
Note to self until I have time to fix this:
The current implementation of ``compute_no_normal_flux_constraints_shell`` happens to do the right thing even for side boundaries of a chunk despite its name because it just asks the Manifold for the normal vector and uses that:
https://github.com/geodynamics/aspect/blob/cc7c24619eef6554c35777b32a5f9df0ae457b1f/source/simulator/stokes_matrix_free.cc#L224

[2020-12-02 03:57] lhy11009 commented on #3894
Hi Timmo

That's definitely helpful to know. This is out of my area but It looks like you have a solid plan to do this. If there is anything you want me to do(e.g. Do some tests. I think I can at least do that), please let me know.
It would be very helpful in the future to test this method and compare it to the Newton solver we are running now. Anyway, let me know when you have any updates.

[2020-12-04 14:30] anne-glerum opened #3913 "Material average fails when viscosity is not required"
In the test `nonlinear_channel_flow_velocities_Newton_Stokes_GMG.prm`, harmonic material averaging is used. Geometric averaging will fail, because the custom material model is also evaluated with  `in.requests_property(MaterialProperties::viscosity)` set to false. In this case the viscosity returned is NaN, which the geometric averaging checks for and thus fails. Harmonic averaging does not check

[2020-12-08 20:42] #3904 closed

[2020-12-08 22:56] bangerth opened #3921 "Is checkpointing a significant time sink?"
I'm listening to the annual reviews of the Exascale Computing Project and learned about the VeloC project (https://www.anl.gov/mcs/veloc-very-low-overhead-transparent-multilevel-checkpointrestart) that provides checkpointing services that, for example, do the actual I/O in the background.

For those of you who have run computations on 10,000 or more processors, is checkpointing a concern on large

[2020-12-09 04:45] bangerth commented on #3921
Follow-up: The good people from VeloC have spent a good amount of time measuring efficiency of various serialization libraries. As these things go, the one we're using (BOOST) came out at the bottom: it's about 10x slower than the best libraries:
* bitsery
* zpp
If it turns out that serialization is ever a bottleneck, that's where we ought to look.

[2020-12-09 04:47] bangerth commented on #3921
See also the table here: https://github.com/fraillt/bitsery

[2020-12-17 02:57] lhy11009 commented on #3785
Hi Rene
How is it going lately?
It has been a few months after our last message on this issue. I am distracted in the process of setting up and testing my model. Now I come to the point to make some changes to the phase function and I am ready to submit a pull request to fix this issue. The approach follows your first point:
**introduce two new parameters to the PhaseFunction class in material_mod

[2020-12-17 14:06] MFraters opened #3930 "Why is space not allowed in compositional field names"
I had a space in my compositional name, which worked fine until it turned on the debug mode. I am fixing that problem now in #3929, but I am wondering why the space character is not allowed, since it seemed to work fine. Is there a specific part of the code, dependencies or post-processing software which can not handle spaces in the names of compositional fields?

[2020-12-17 15:00] tjhei commented on #3930
Not sure, but could this be related to VTU/xdmf field names?

[2020-12-18 08:57] MFraters commented on #3930
I have not encountered any issues with it in Paraview, and although I am not really familiar with xdmf it seems to be a xml type which should be able to handle spaces in names. Would you be opposed to adding a space to the allowed characters?

[2020-12-18 15:13] anne-glerum opened #3933 "get_entropy_viscosity: Why is material model called with the average solution of the previous 2 timesteps instead of the current linearization point?"
As we couldn't get to a conclusion on this question during the user meeting, here a description of my question for further investigation:

Before the solving of each advection equation, the material model is called first from `get_artificial_viscosity` function and second from the assembly.
The MaterialModelInput in both cases is different: in the `get_artificial_viscosity` function it is set to t

[2020-12-18 15:24] tjhei commented on #3933
you are referring to the following, right?
https://github.com/geodynamics/aspect/blob/fed300b4b4ea048f73418f26e37b6f72373261d9/source/simulator/entropy_viscosity.cc#L509-L517

This is not an extrapolation but an interpolation, which is weird. I do not remember why we do this, but maybe this is explained in the first ASPECT paper...

[2020-12-18 15:27] anne-glerum commented on #3933
Yes, that's what I mean. (I didn't know about linking to specific lines, very handy!) I'll have a look in the paper.

[2020-12-18 15:28] tjhei commented on #3933
Indeed:
"Since we do not want the artificial viscosity to introduce
a non-linear dependence on the current temperature T n , we make it
explicit by approximating the time derivative from the two previous
time levels in the BDF-2 time stepping, ∂E(T h )/∂t ≈ (E(T n−1 ) −
E(T n−2 ))/k n−1 , **and evaluating all other occurrences of the tempera-
ture at the midpoint** as (T n−1 + T n−2 )/2, including

[2020-12-18 17:50] tjhei commented on #3933
Maybe @bangerth remembers, but I would think this doesn't make much sense and is from the time where we made advection explicit.

[2020-12-25 01:21] lhy11009 commented on #3785
Hi
I found another issue in Material/utilities.cc. Now we use a "use_depth_instead_of_pressure" parameter to determine the way to define phase functions. This is from the "Define transition by depth instead of pressure" in the prm file.
However, a default value is not give in the code so that this is always 1 (true). This is a little bit confusing.
I could create a pull request to deal with this.

[2021-01-02 01:05] lhy11009 commented on #3785
Hi
How is it going lately?
I think in terms of the phase transition minimum and maximum, we can also define a minimum temperature and a maximum temperature. Tell me what you think of it and when you have time to do a review?
@gassmoeller

[2021-01-05 22:15] gassmoeller opened #3941 "Missing test for special case of initial mesh deformation"
#3936 showed we are missing a test for initial topography for spherical geometries using the new initial mesh deformation interface. We need to create one.

[2021-01-05 22:28] gassmoeller opened #3942 "Bending beam benchmark breaks towards the end when reaching steady-state"
As reported by @egpuckett:

My guess is that we are missing a safeguard against vanishingly small strain-rate (maybe viscosity becomes infinite somewhere). We should check if this is specific to the benchmark case, or also a problem in other models.

[2021-01-05 22:33] tjhei commented on #3942
Or, as pointed out by Cedric, dt->infinity as there is no velocity when the beam comes to rest.

[2021-01-14 13:21] XieJChris opened #3952 "A self-adaptive boundary velocity plugin ?"
Hey guys,

In my current work, we assume a domain driven by left/right boundary, but the (horizontal) boundary velocity  is required to change with this process to ensure a constant background strain rate, things like the opposite case of cookbooks/continental_extension. However, I am still quite new to ASPECT, so I refer to a few benchmarks (e.g., benchmarks/burstedde) and try to write such a plu

[2021-01-18 19:55] gassmoeller commented on #3854
This should be addressed by #3954.

[2021-01-18 19:57] gassmoeller commented on #3849
Since there has been no activity on this for a while, I am closing the issue. Feel free to reopen if the problem persists.

[2021-01-18 19:57] #3849 closed

[2021-01-18 20:07] gassmoeller commented on #3785
Hi Haoyuan, replies to your individual points below:

Feel free to open a PR about this. Someone will take a look as soon as possible.

This is not correct as far as I can see, the default value is given in this line: https://github.com/geodynamics/aspect/blob/d254afa1d96f8c63036cdc9a1c87be022a9f336e/source/material_model/utilities.cc#L1053 as "true". As long as the parameters of the phase functio

[2021-01-18 20:29] gassmoeller commented on #3952
Hi Chris, your current description is missing some details that I would need to understand your problem better. In particular: What would you expect the velocity field to look like, and what does it do instead (what do you mean by `weird`)? Also you refer to the upper boundary in your message, but you do not prescribe any velocities at the upper boundary in the parameter file. What velocities do y

[2021-01-19 03:37] XieJChris commented on #3952
Hi Rene,

Sorry for the missing details.  My expected velocity filed is that the velocity at the left and right boundary is horizontal (the y-component is zero), the purpose of this is to create a compressed domain, and with the horizontal shortening, the velocity must be variable in order to make the  background strain rate constant (see below).
![model](https://user-images.githubusercontent.com/

[2021-01-19 18:11] lhy11009 commented on #3785
Yeah, that's good advice. So I have already done that in my own branch, I
would submit a new pull request shortly after I finish this stage of model
setting. Thanks for your reply. I'll tell you when I do that.

Best

On Mon, Jan 18, 2021 at 12:07 PM Rene Gassmoeller <notifications@github.com>
wrote:

--

Ph.D student of Geophysics
Earth & Planetary Sciences Dept., UC Davis
Davis, CA 95616

[2021-01-25 21:24] elodie-kendall opened #3957 "no more solutions and no error messages in debug mode"
Hi again,

I attach two .prm's- one with just diffusion creep and another with composite rheology where when the plume reaches the surface no more solutions are computed even in debug mode and no errors given.

[code]
set Additional shared libraries                 = /home/acglerum/shared_libs/plugin_composition_reaction_aspect2.2/build_release/liblibcomposition_reaction_v2_2.so
####  Global param

[2021-01-25 21:31] mibillen opened #3958 "additional named outputs for visco-plastic module"
When using the  visco-plastic module the viscosity that is output as part of the normal outputs is the effective viscosity, which depends on a visco-plastic viscosity and an elastic-viscosity.  In order to calculate the viscous dissipation in the slab and the stored elastic energy it is necessary to have the visco-plastic viscosity, and the total stress  tensor (from these I can then get the visco

[2021-01-25 21:50] mibillen opened #3959 "model hangs or floating point exception error in visco-plastic module"
I came across an error while creating my visco-elasto-plastic subduction models. In optimized mode the model just hangs. In debug mode I get some kind of floating point exception error (SIGFPE) sometimes with no information about where this error is occurring. In changing to debug mode and trying to reduce the convergence paramters to reproduce the error more quickly,  I then got this error messag

[2021-01-25 23:40] jdannberg commented on #3957
Hi Elodie,
could you provide a bit more information? Do both of these files cause the same problem? What exactly do you mean by no more solutions are computed? Can you attach the log file of one of these computations so that we can see where exactly the problem occurs? Are these models fast enough that one of us could quickly try to reproduce the issue (it looks like they have a refinement level o

[2021-01-26 01:28] bangerth commented on #3959
Good detective work! I think adding such an assertion would make good sense. Would you like to give such a patch a try?

[2021-01-26 01:30] bangerth commented on #3959
Separately, I think it would be useful to compare against something like `std::log10(std::numeric_limits<double>::max() / 2` instead of 300. This makes it clear to the reader that you're not trying to check against an arbitrary threshold, but that you're concerned about overflow.

[2021-01-26 05:35] mibillen commented on #3959
Thanks Wolfgang,
I figured there was a better way to check this, but I would not have known what it is.
Incidentally, I kind of new to look for this because I needed the same kind of check in CItcom … back in the day ;-),
but that was when we were just using floats, so the low temperatures in the viscosity laws (even when not an overshoot)
would exceed the largest float.

I’ll give the patch a try

[2021-01-26 11:23] elodie-kendall commented on #3959
Thanks a lot for this Magali! I look forward to hearing if your fix works.
Elodie

[2021-01-27 00:58] mibillen commented on #3959
Hi Becky and Trey,

We are going to be using the terminal a lot on peloton. So here is a 50 minute intro tutorial to the linux/unix terminal,
https://ubuntu.com/tutorials/command-line-for-beginners#3-opening-a-terminal <https://ubuntu.com/tutorials/command-line-for-beginners#3-opening-a-terminal>

If you’ve used a terminal before it might just be a refresher with some handy hints. Otherwise, it st

[2021-01-27 13:17] bobmyhill commented on #3827
In PR #3826, the function compute_volume_fractions was renamed to compute_fractions_from_compositional_fields.
However, these fractions are still implicitly volume fractions unless the following lines convert from mass fraction to volume fraction.

[2021-01-28 15:47] gassmoeller commented on #3957
@elodie-kendall: Could you remind me if we agreed this issue may be related to #3959? If so we could see if resolving that one fixes your model as well. Otherwise we need to investigate this one, too.

[2021-01-30 07:24] #3952 closed

[2021-02-01 08:30] elodie-kendall commented on #3957
Hi Rene,

I'm going to add a print statement for T and viscosity too, but I'm
pretty sure this is the same issue.

Hoping Magali can try a patch in the next few days, if not I can have a go.

Best.

E

On 28/01/2021 16:48, Rene Gassmoeller wrote:

*--------------------------------------------------------------------------
Elodie Kendall
Geodynamic Modelling
GFZ Potsdam
Albert-Einstein-Straße 42-46

[2021-02-04 13:02] elodie-kendall commented on #3959
Any luck Magali? I'm trying myself but I'm new to ASPECT so it's taking a bit of time. Thanks :)

[2021-02-08 10:37] anne-glerum opened #3969 "Chunk geometry model gives different results when not centered around zero meridian"
While working on #978, I noticed that for both the `Chunk` and the `TwoMergedChunks` the velocity solution becomes several OOM bigger when the chunk is no longer centered around the (0,0) coordinate. E.g. my reference model runs from -20 to +20 for both latitude and longitude, and the other models change the longitude from [-80,-40], [-40,0], [0,40], [40,80].
The velocity becomes really high (e.g.

[2021-02-10 04:59] mibillen commented on #3959
I’m sorry, but I wont’ have time to try this for several weeks due to administration and limited work time
wtih children home during the pandemic.

____________________
Professor of Geophysics
Chair, Geology Graduate Program
Geophysics Minor Advisor

Department of Earth and Planetary Sciences
Univ. of California, Davis
Davis, CA 95616
2129 Earth & Physical Sciences Bldg.
Office Phone: (530) 752-41

[2021-02-10 16:06] alarshi opened #3970 "Adiabatic boundary get_data_component() function assert gives an error"
I am working on a model in which adiabatic conditions are computed based on the material model and an input ascii profile (```reference_profile.cc```). The material model, (```equiliblirum_grain_size.cc```), calls the ```get_data_component()``` function in AdiabaticBoundary class defined in ```utilities.cc``` file. However, to initialize the adiabatic conditions, the material model  ```equilibliru

[2021-02-12 18:18] mibillen commented on #3969
I don't know if this is the issue, but when moving the chunk model off the equator, do the east and west sides of the box follow meridian lines? If they do, then a 1 deg x 1deg box at the north end of the box is a smaller than a 1 deg x 1deg box at the south end of the model. Therefore the force from a given density anomaly in an element at the south end will be bigger than the same density anomal

[2021-02-15 11:16] anne-glerum commented on #3969
Hi @mibillen , the east and west boundaries do indeed follow meridian lines. I'm only moving the chunk along the equator though, it's still centered around zero latitude with the northern part being the mirror image of the southern part. So I wouldn't think the location along the equator matters.

[2021-02-16 13:16] elodie-kendall commented on #3957
Hi again @bobmyhill and @naliboff,

Thanks for your replies. I'm answering here to not clog the PR.
-To turn off plasticity I increase the cohesion to be 10^20, so the viscous stress never exceeds the yield stress
-with no plasticity my slabs are very strong and there's not subduction, the model runs fine and T's don't go below 273K
-I tried tests with a reference T of 1600K and the models still h

[2021-02-16 17:01] bangerth opened #3972 "Bug in advection boundary conditions with free surfaces"
For compositional fields (and the temperature, for that matter), one can only impose Dirichlet conditions if we are at a point where there is *inflow*. We determine this here:
https://github.com/geodynamics/aspect/blob/master/source/simulator/assemblers/advection.cc#L608
https://github.com/geodynamics/aspect/blob/master/source/simulator/assemblers/advection.cc#L916
https://github.com/geodynamics/a

[2021-02-16 19:43] bobmyhill opened #3973 "Improve documentation for multicomponent compressible"
The doc string for the multicomponent compressible EOS doesn't include a derivation.
This wouldn't need to be very long, but it would help users to understand all the terms.

[2021-02-18 00:25] paddywball opened #3976 "Best way to read in temperature grids"
Hi Team,

I have a file of regularly spaced (Longitude, Latitude, Depth, Temperature) points which I would like to use within Aspect as a temperature field for a global-scale model. There is a function in structured_data.h/structured_data.cc to do this task already (StructuredDataLookup). However, this function reads ascii files with a specific header, and my data is in xml files. It would be triv

[2021-02-18 15:18] gassmoeller commented on #3976
Hi Paddy, I think having the ability to read in xml files in addition to the ascii files would be really nice to have. The `StructuredDataLookup` class was renamed (from AsciiDataLookup) a while ago to make it more general for other file formats. Do you think your application could essentially reuse much of that class and maybe add the functionality to read .xml to the `load_file` function? One qu

[2021-02-19 04:14] paddywball commented on #3976
Hi Rene, Glad you think adding this functionality would be worthwhile, and I agree it should be as general as possible. At the moment my file is structured as shown below, which is essentially x, y, z, value:

<item>
  <field name="Lon">-180.0</field>
  <field name="Lat">-90.0</field>
  <field name="Depth(km)">50.0</field>
  <field name="T(K)">1774.13901143</field>
</item>
<item>
  <field name="Lo

[2021-02-19 04:18] paddywball commented on #3976
Sorry copy pasting code didn't work.... Here is the first two items in the xml file
`<item>
  <field name="Lat">-90.0</field>
  <field name="Lon">-180.0</field>
  <field name="Depth(km)">50.0</field>
  <field name="T(K)">1774.13901143</field>
</item>
<item>
  <field name="Lat">-89.0</field>
  <field name="Lon">-180.0</field>
  <field name="Depth(km)">50.0</field>
  <field name="T(K)">1817.12912177

[2021-02-19 08:38] elodie-kendall commented on #3957
Would really appreciate any other suggestions when you get a minute please? Maybe I should try this timestepping that cuts back if the timestep gets too large. Not sure why the slab has such a low viscosity and there's plastic yielding in the lower mantle. Thanks a lot for your help so far!

[2021-02-19 12:41] bobmyhill commented on #3957
I'll mostly leave this for @naliboff, as I haven't played around with visco_plastic in production models. I might be able to help more if this were a prm I could run on my laptop, but this is a huge model!

One suggestion: Have you tried setting the cohesion in the lower mantle to 10^20? I notice it's only 10^9 at the moment. I still think there's another underlying problem, but that might at leas

[2021-02-19 16:23] gassmoeller commented on #3957
This is probably not what you would like in the final model. I can not immediately see why it is happening from the input file, but a good advice in such cases is to make the model incremementally simpler (one step at a time) to figure out which setting causes this. One suspicion I have here is the strain weakening. You may set your cohesion to large values, but if strain weakening is active it mi

[2021-02-19 16:50] tjhei opened #3978 "Allow some compositions to be DG fields"
Currently, all compositional fields are either CG or DG depending on the flag
``set Use discontinuous composition discretization = true|false``
Instead, do the following:
- [ ] update Introspection to give information about each individual composition
- [ ] allow the user to specify which field should be a DG field
- [ ] test that all combinations of CG/DG work correctly (including more than one f

[2021-02-19 16:50] tjhei commented on #3978
related : #3975

[2021-02-22 21:34] bangerth commented on #3976
I think in the end the exact format of how the data is presented is not all that important as long as it is documented so that others can put their data in the same format and the function can read it. I will note that you are using a very verbose format because every single entry has much XML around it. It might be useful to think about organizing around different principles, for example presenti

[2021-02-23 02:39] bangerth commented on #3969
@mibillen made an interesting observation about the size of the cells. If you plot the volume of each cell (Visit can do this), what do you see for cells at the same depth?

[2021-02-24 14:00] anne-glerum commented on #3970
It could be that `this->get_time()` is not set yet, see lines 834-837 (https://github.com/geodynamics/aspect/blob/f62dedc6d3feee5680d10f756bc37f6dec18294a/source/structured_data.cc#L834), where I had to add a specific case to circumvent this.

[2021-02-26 03:53] paddywball commented on #3976
I have reformatted the files as you suggested Wolfgang, but I might just make the file a HDF5 file, since yesterday's email exchanges indicated Timo was looking to use that format for the tomographic models? It makes sense to use that same format for the tomographic models and the temperature models derived from tomographic models.

[2021-03-04 17:40] anne-glerum opened #3987 "Number of nonlinear iterations in statistics not correct when timestep is repeated"
When a timestep is repeated, the number of nonlinear iterations reported in the statistics file is not correct, it is the sum of all the nonlinear iterations of the repeated timesteps. See example prm file where max 2 nonlinear iterations are allowed, but 3 are reported. The iteration number in the log file is correct, the issue is due to the way the iteration number is retrieved in `global_statis

[2021-03-05 08:32] elodie-kendall commented on #3957
Thanks for your suggestions. I think the problem is that with viscoplastic and phases you are only allowed to inout one value for cohesion and friction, respectively. Could you allow us to add a value for the plasticity parameters for different phases please? I'm trying a test with friction on such that cohesion is still low in the upper parts but high in the lower mantle and therefore disactivati

[2021-03-05 10:30] anne-glerum opened #3989 "Number of Stokes iterations not correct in statistics file"
The `Iterations for Stokes solver` reported in the statistics file are one less than reported in the log file. When 0+0 cheap + expensive iterations are done according to the log file, the statistics therefore report the largest possible unsigned int. See attached simple test with log and statistics file.

[log.txt](https://github.com/geodynamics/aspect/files/6089837/log.txt)
[statistics.txt](http

[2021-03-05 16:15] naliboff commented on #3957
@elodie-kendall - yes, we can certainly implement plasticity parameters for different phases. Before starting on that, is there a simple 2D test you have in mind to test this functionality? I can think of a number of cases, but if you have a specific case in mind for your problem at hand that would be helpful!

[2021-03-05 16:29] naliboff commented on #3957
@elodie-kendall - Yes, I think reducing the CFL value and/or maximum time step during a restart is a good idea. Another option would be to try the repeat time stepping method, which according to @EstherHeck has helped significantly in stabilizing problems with rate state friction and other simpler problems.

Here is an example from the test suite using this functionality: https://github.com/geodyn

[2021-03-10 10:20] elodie-kendall commented on #3957
Hi John, using the repeat time stepping method didn't help in this case but thanks for the link. I attach a .prm for which I would like to set a different cohesion for the UM/LM. I reduced it to a 1/4 of a shell and simplified the problem as much as I can. I look forward to trying this new functionality- thanks again for your help :)
[code]

[2021-03-14 19:54] bangerth opened #3991 "Not all particle properties are initialized correctly"
We initialize particle properties based on fields at the very beginning of the simulation via
[code]
and the signal is triggered here:
[code]

The issue is that at that time, not all fields are already initialized. Specifically, we don't have a pressure field that makes sense unless the `compute_initial_pressure_field()` function computes anything sensible.

What does this matter? If one initializ

[2021-03-16 16:15] anne-glerum opened #3996 "Check for duplication of visualization output variable names"
Compositional fields can be named by the user. Currently, when a field name is identical to an already existing visualization output name, the output will be overwritten in release mode. In debug mode, an exception is thrown. It would be good if there is always a check for duplication and potentially the field names get a pre/post fix to avoid problems.

[2021-03-17 15:07] MFraters opened #4003 "Finite strain invariant in particles"
Looking at the implementation of `integrated strain` particle property, it looks like it is actually computed the integrated deformation tensor. This was a bit confusing to me when I looked at the output and saw that it wasn't symmetric.

Would it be a good idea to rename the plugin to `integrated deformation` and make a `integrated strain` plugin which would use that to compute the strain tensor

[2021-03-29 17:20] bangerth commented on #3110
A shorter-term solution might be to use the hp approach to the DoFHandler the free surface uses: we could mark all interior cells with `FE_Nothing` so that at least the problem becomes vastly smaller.

[2021-04-03 15:53] tjhei commented on #3976
I am working on a pull request that allows the user to read netcdf files into the StructuredData class as an alternative to the ASCII format. I am not opposed to other formats (for example hdf5 directly without going through netcdf), but I am not a big fan of an xml based format, especially if it is something you invented by yourself.

[2021-04-13 15:35] jdannberg opened #4016 "Run postprocessors when solver is not converging"
For debugging, it can be useful to generate graphical output or other statistics even when the solver does not converge, since this makes it easier to figure out what caused the solver to fail. It would be useful to have the option to run the postporcessors after the solver failed to converge (which at the moment causes the model run to abort immediately).

[2021-04-19 12:22] anne-glerum opened #4018 "Particles not generated when 'Skip setup initial conditions on initial refinement' == true"
With `Skip setup initial conditions on initial refinement`, initial conditions are only set up when the highest level of initial mesh refinement has been reached. However, when particles are used and this parameter is set to true, no particles are generated. Other particle actions are performed according to the wall time summary (see below, left: false, right: true). This behaviour is unexpected a

[2021-04-19 12:32] anne-glerum opened #4019 "ParticleHandler is backed up twice"
The ParticleHandler is backed up in start_timestep(), but when an iterative Advection scheme is used, they are again backed up at the start of the iterations, to be restored after each Advection solve. This second backup can be removed.

[2021-04-19 12:45] anne-glerum commented on #3972
This might be related to something we've seen in free surface rift models. We fix the temperature/composition on the top, but would get unexpected other values on the top boundary. By setting 'Allow fixed composition on outflow boundaries' this could be remedied.

[2021-04-21 16:06] anne-glerum commented on #3972
The places listed by Wolfgang above do actually include the mesh velocity. I found this other place where it should probably be updated:
https://github.com/geodynamics/aspect/blob/bb46d1cd3a9ca65006008be5af4227c9c9758ba5/source/simulator/helper_functions.cc#L1974

[2021-04-26 19:56] maxrudolph opened #4021 "Errors with restart from checkpoint for current deal.ii development version"
I'm trying to write and resume from a checkpoint with the current development versions of deal.ii and aspect. I have verified that I can do this successfully using deal.ii-9.2 and aspect from February, but that this functionality is broken. The model setup in question has prescribed surface velocity boundary conditions.

I suspect that the error is associated with a recent change in deal.ii. I do

[2021-04-27 18:19] gassmoeller commented on #4021
Thanks for reporting! I opened a PR with a fix in #4022. Do you want to give that branch a try? I am pretty sure it fixes your issue (I could reproduce it with a simple test model).

[2021-04-28 00:05] #4021 closed

[2021-04-28 15:46] anne-glerum opened #4023 "Particles + mesh deformation hits artificial cell assert"
When running a model with particles and mesh deformation in parallel and in debug mode (assert is not triggered in release), the following error is triggered:
[code]

This seems very similar to #2050.

[2021-04-29 16:55] gassmoeller commented on #4023
Hi Anne, Yes it is a similar issue. In essence the particle handler tries to find the new cell for a particle among the neighbor cells. When it does not succeed it tries to search all cells, and if that fails as well it deletes the particle. It expects (and catches) a certain type of exception if the particle is outside of the domain to determine when to delete the particle. The problem seems to a

[2021-04-30 00:53] #3996 closed

[2021-05-02 20:16] anne-glerum commented on #4023
Hi Rene, this doesn't fix the issue, this particular catch is not caught actually. I could look into it more later.

[2021-05-02 23:30] tjhei commented on #4023
This might be an Assert and not an AssertThrow, which means there is no way to catch it. 😢
This might need a Bugfix in deal.Ii...

[2021-05-03 21:46] gassmoeller commented on #4023
Hi Anne, I have tried a number of approaches to reproduce your issue, but could not trigger it. Do you have a simple test case?
Also could you try if this still happens with the current deal.II development version? There have been a number of changes in the deal.II functions, and I find it hard to see which issue could cause this, and if it is still present.

[2021-05-04 08:05] anne-glerum commented on #4023
Hi Rene, thank you for looking into it! I'll try with the deal.II dev version first, and then try to abstract a simpler test case if necessary.

[2021-05-04 15:34] anne-glerum commented on #4023
Hi Rene, an ASPECT dev install against deal.II dev fails at the moment because ParticleHandler function `n_locally_owned_particles()` has changed name (`n_locally_owned_particles_ids()`). I'll make a PR to fix it.

[2021-05-04 18:26] gassmoeller commented on #4023
Thanks, I think that was caused by dealii/dealii#12119

[2021-05-04 18:46] gassmoeller commented on #4023
@anne-glerum: Better wait with the PR, deal.II will revert that change (it was included in another change accidentally). You could also take a deal.II version that is just a week old or so (before PR 12119 was merged).

[2021-05-04 18:55] peterrum commented on #4023
@anne-glerum @gassmoeller Sorry for the unintended change. I hope the patch should be merged in the next hours.

[2021-05-05 15:10] anne-glerum commented on #4023
@peterrum Thanks for the quick fix!

@gassmoeller With the patched deal.II, it seems runs using more than 1 node crash with this error:
[code]
I'm running a small model now to see how the second restart goes. Also, I will check with deal.II 9.2 whether I can still use multiple nodes or whether there is something else wrong.

[2021-05-05 16:45] gassmoeller commented on #4023
Hmm, that is a weird error. Are you sure you recompiled aspect and any plugins that you use against the recent deal.II?

I looked through the history of the relevant function in deal.II, and I am reasonably sure that https://github.com/dealii/dealii/pull/10540/ fixed this error, so it should already be included in deal.II 9.3.0.

[2021-05-05 21:21] anne-glerum commented on #4023
Yes I recompiled aspect and the shared libs. For 2 procs this is the header:
[code]
so that's deal.II from this morning. For 384 procs, I just get the system_error, not even the header is outputted. The same model with deal.II 9.2.0 and 384 procs runs.

[2021-05-07 02:37] sac-bsa opened #4028 "Bug in particle parallelization"
@egpuckett and I were working on creating a new particle interpolator, and ran into this error. The error also occurs with the cell average interpolator (although at a diffent timestep), which makes me think that either this vector is not getting safely operated on or that my parameter file is problematic. So far at least we have only encountered this error in 3D.
[The .prm used](https://drive.goo

[2021-05-07 14:56] gassmoeller commented on #4028
Thanks for reporting! Can you attach a full log file of the run that produced the error? In particular: Does this happen with a recent development version?

[2021-05-07 16:30] #4019 closed

[2021-05-10 06:42] sac-bsa commented on #4028
[screen output.txt](https://github.com/geodynamics/aspect/files/6449984/screen.output.txt)

[2021-05-10 19:47] gassmoeller commented on #4028
I am currently looking into a different issue, but also encountered this one. I think it is related to having too few particles in a cell. In theory it should trigger other asserts instead of this one, but it seems it is running into this anyway. Could you check if making sure there are enough particles per cell fixes the issue? I will look into it more separately.

[2021-05-11 11:57] elodie-kendall opened #4029 "seg fault on 2D shell restart with different velocity boundary condition"
Hi,

I'm struggling to get my models to converge with a free surface and it would take to long to go to the small time steps needed for convergence and so I would like to run my 2D viscoplastic shell models with free slip and then restart with a free surface when equilibrium is reached. I can restart a model with free slip or restart a model with a free surface however I cannot switch from free sl

[2021-05-11 15:36] anne-glerum commented on #4023
I've made a completely fresh install of deal.II master and aspect (master from May 3). Running a cookbook model with 48 procs crashes with std::system_error, with 4 procs doesn't. main{} is not reached before the crash; the parallel debugger also doesn't tell me anything (same error). I guess there is something wrong with my setup, or has anybody encountered the same error?

[2021-05-11 23:09] VictorEijkhout opened #4031 "cmake documentation?"
I'm finding installation instructions using `candi` which I gather installs all sorts of stuff I already have. Is there documentation of the cmake installation directly?

[2021-05-12 01:33] tjhei commented on #4031
Did you see https://github.com/geodynamics/aspect#installation-instructions ?
If you have all dependencies you just need ``cmake . && make install``

[2021-05-12 03:59] VictorEijkhout commented on #4031
On , 2021May11, at 20:33, Timo Heister ***@***.******@***.***>> wrote:

If you have all dependencies you just need cmake . && make install

If I have multiple trilinos installations and such I’d like to specify which one to load.

Also: what other dependencies are there? I’ve seen mention of p4est. Dealii? Other?

Victor.

[2021-05-12 06:26] tjhei commented on #4031
The only dependency is deal.II specified using DEAL_II_DIR. Trilinos etc is found through that.

[2021-05-12 23:34] gassmoeller commented on #4029
Hi Elodie,
While switching many parameters during a restart will work, it is not something we support in general for all parameters, and some changes are impossible and will not be supported for the foreseeable future (such as changing the number of compositional fields). Your case is somewhere in between. While switching to a free surface looks simple from the parameter file, internally a lot wor

[2021-05-12 23:48] gassmoeller commented on #4028
see #4033.

[2021-05-13 18:02] elodie-kendall commented on #4029
Hi Rene,

Thanks a lot for your reply.
In debug mode I get the following error in deal.II:
<img width="2437" alt="Screen Shot 2021-05-13 at 16 42 48" src="https://user-images.githubusercontent.com/75854106/118166761-2ce69d00-b426-11eb-99da-f43610e473ab.png">

I tried with your suggestion of mesh deformation with a 0 boundary function and then switching to the free surface, then it doesn't like the

[2021-05-14 00:00] egpuckett commented on #4028
Hey @gassmoeller! It works in 3D!  And looks pretty good as well ...

Thanks!

[2021-05-14 19:01] gassmoeller opened #4035 "Improve particle generation in boundary cells with few particles"
In boundary cells with few particles new particles are generate in random parts of the cell. However, if there is flow through the boundary, the correct approach would be to only generate new particles in the part of the cell that entered the domain through the boundary. This requires some tricky modification inside `Particles::Property::Manager<dim>::initialize_late_particle`.
See #3981 for a dis

[2021-05-15 03:28] wanyingw opened #4037 "Intel MPI MPI_ISSEND invalid tag when writing large vtu files"
I installed ASPECT on Frontera and was hoping to run 3d spherical models with global refinement >=6. I got errors from the MPI_ISSEND suggesting invalid tag. Please see below for the complete error message.
I checked the MPI tag with a script (from https://community.intel.com/t5/Intel-oneAPI-HPC-Toolkit/Bug-Report-MPI-IRECV-invalid-tag-problem/td-p/1014681), and MPI_TAG_UB is set to be 1681915906,

[2021-05-16 00:22] tjhei commented on #4037
Which filesystem are you using for the graphical output? Is this vtu or hdf5 output?

[2021-05-16 00:47] wanyingw commented on #4037
I'm using vtu.

[2021-05-16 03:16] tjhei commented on #4037
What value for grouping works and what value fails? Do you know how big the sum of all files for the timestep in MB is?

[2021-05-17 14:06] gassmoeller commented on #4037
grouping in 1 file fails, grouping in 16 files works (as far as I know). I dont know the file size, but the model has 800 million dofs. @wanyingw can you clarify how large the files are?

[2021-05-17 17:21] wanyingw commented on #4037
The total size of the vtu outputs is ~15 to 18G, and right now I split the output to 30 files. I haven't try other output file numbers yet.

[2021-05-19 13:05] anne-glerum opened #4040 "std::system_error for deal.II_9.3.0-pre and certain nr of processes"
With current master versions of deal.II and ASPECT, models crash immediately for a certain number of processes on the HRLN cluster (CentOS Linux). E.g. for 10 procs, the crustal_extension_3D.prm with increased refinement runs fine, with 30 procs it crashes right away (no output in log file). Reported error:
`terminate called after throwing an instance of 'std::system_error'`
`what():  Resource tem

[2021-05-19 13:53] tjhei commented on #4040
Finally, an easy check would be to run step-40 from deal.II to see if this is broken as well.

[2021-05-19 15:11] anne-glerum commented on #4040
96 cores per node, so yes, still on one node when model crashes.

I'll recompile deal.II with the steps so that I can check step-40, good idea.

[2021-05-19 17:28] tjhei commented on #4040
You can just download the step-40.cc and the CMakeLists.txt and configure it like you configure ASPECT. No need to recompile deal.II.

[2021-05-19 17:29] tjhei commented on #4040
This might be a configuration problem, where the number of processes or threads is limited on the cluster. If thread creation fails, one would get this error message. That is why I asked for "ulimit -a".

[2021-05-19 18:57] anne-glerum commented on #4040
Step-40 shows the same error for 30 ranks, and runs for 10.

"ulimit -a" on the compute node gives:

[code]

[2021-05-20 00:23] tjhei commented on #4040
Can you adjusting ulimit -u before running? If you are not allowed to raise it, you can lower and see if it fails earlier.

Sorry, I don't have better ideas right now.

[2021-05-20 09:23] anne-glerum commented on #4040
Indeed, I'm not allowed to raise ulimit -u, but I can lower it, and then ASPECT also crashes for 10 procs. Why wouldn't this have happened with deal.II 9.2 though?

[2021-05-20 18:47] naliboff commented on #4031
@VictorEijkhout - Is this for installation on Stampede2? I've tried building deal.II using the Intel compilers and existing Trilinos compilers multiple times with no success.

We have had consistent success using the gcc compilers:

[2021-05-20 18:54] VictorEijkhout commented on #4031
This is for both stampede2 and frontera.

Victor.

On , 2021May20, at 13:48, naliboff ***@***.******@***.***>> wrote:

@VictorEijkhout<https://github.com/VictorEijkhout> - Is this for installation on Stampede2? I've tried building deal.II using the Intel compilers and existing Trilinos compilers multiple times with no success.

We have had consistent success using the gcc compilers:

—
You are rec

[2021-05-21 15:11] anne-glerum commented on #4040
Running on the login node with gdb shows 40 threads being created. OMP_NUM_THREADS is already 1 and setting DEALII_NUM_THREADS=1 still has 40 threads created.

I did not deliberately do something different regarding blas/lapack. Looking at the detailed.logs, I see one difference:
master:
`LAPACK_LIBRARIES = /usr/lib64/liblapack.so;/usr/lib64/libblas.so`
v9.2.0:
`LAPACK_LIBRARIES = /usr/lib64/libla

[2021-05-22 19:32] tjhei commented on #4040
I have to admit that I am slowly running out of ideas. We should not be creating these threads on startup. I assume that this is the issue though. I am not sure why 30*40 threads is a problem. Not particularly useful, but also very confusing.
Can you try mpirun --bind-to core -n 40 ./step-40
to see if that makes a difference?
Otherwise, can the admins increase the ulimit?

[2021-05-23 22:03] naliboff commented on #4031
@VictorEijkhout - Great, good to know. Please let us know if you have success with intel on Stampede2, it would be great to have that option. I know @tjhei has compiled and tested quite a bit with intel on Frontera.

[2021-05-25 15:31] tjhei commented on #4040
@bangerth Any idea what could be happening here? It seems we (or something else) are creating many threads for no reason.

[2021-05-25 15:32] tjhei commented on #4040
@anne-glerum can you try the deal.ii release candidate for 9.3? We made some changes to threading.

[2021-05-25 19:31] tjhei commented on #4037
Thank you for the information. My current best guess is that MPI IO fails for large (>4GB ?) files. I will try to reproduce.

[2021-05-27 22:41] tjhei commented on #4037
I can confirm that this problem does not occur on a different machine with GCC+openmpi.

[2021-05-28 05:06] dansand opened #4046 "ASPECT hangs right after checkpoint when using >1 node"
Issue occurs on NCI "GADI",  CentOS 8, Intel Cascade Lake processors,  lustre filesystem, 48 procs per node

Right after a check-pointing step, models hang when run on more than one node.

- Problem occurs (variably) on first or second or third checkpoint step (i.e. models can successfully checkpoint 1 or 2 times)
- It seems that checkpoint step completes (i.e. the restart.* files get written), af

[2021-05-28 15:14] tjhei commented on #4046
Can you start with an empty output directory and post the output of ``ls -al`` please? I want to make sure the output looks sensible.
Also, can you resume from this checkpoint? It looks like the checkpointing completed successfully.

[2021-05-28 15:57] anne-glerum commented on #4040
Installing now, will let you know!

[2021-05-28 18:28] tjhei commented on #4040
Oh, it is also DEAL_II_NUM_THREADS (I had a typo above).

[2021-05-28 19:54] wanyingw commented on #4037
So looks like it's a problem with my compilation, it's weird since I compiled it the same way as Rene did in the Frontera instruction, and Rene's models don't have the same problem.

[2021-05-28 20:47] tjhei commented on #4037
Thanks foe letting me know. I have been digging around and tried to reproduce...

[2021-05-28 20:50] tjhei commented on #4037
@zjiaqi2018 It looks like there is nothing for you to do here.

[2021-05-31 05:42] dansand commented on #4046
Thanks Timo, the computer is undergoing maintenance currently, I'll update you when it comes back on line.

[2021-05-31 08:45] anne-glerum commented on #4040
The release candidate works for 30, 96 and 192 (so 2 nodes) cores, wonderful, thanks!

[2021-05-31 16:32] tjhei commented on #4040
Okay, I thought so. Thanks for testing this!
This is because we introduced the taskflow library that will ultimately replace TBB inside deal.II. We removed it for the 9.3 release (but it is still in the 9.4 development version). It seems that it creates too many threads for your setup.

[2021-06-01 16:26] #4031 closed

[2021-06-02 03:09] dansand commented on #4046
Output of `ls -al`

[code]

[2021-06-02 14:13] bangerth commented on #4040
It might be useful to find out where that `std::system_error` is thrown. The way you'd do that is to load the program in gdb and before running it, type `catch throw`. This puts a breakpoint on all places that throw an exception. Then `run` the program and wait where it stops.

[2021-06-02 15:06] tjhei commented on #4046
Indeed, it looks like the checkpointing completes correctly. Are you saying this problem only occurs when checkpointing is enabled, though? Tricky problem. I have to admit that I have no idea what the problem could be. Maybe the file system is doing something unexpected?

The easiest next step would probably to run in debug mode, wait until you hang and then get a call stack by sshing into one of

[2021-06-02 15:09] gassmoeller commented on #4037
I never tried writing a single file larger than 4 GB on Frontera. So at the moment I would think this is a problem with Frontera's MPI-IO (impi/19.0.9) or the file system (Lustre). I do not think writing a single file of that size would be very useful anyway, because visualization will likely take forever. I am not sure how we could prevent this though.

[2021-06-02 15:30] tjhei commented on #4037
Okay, that could be. @zjiaqi2018 tried it out on our local cluster with intel + intel MPI (right, Jiaqi?) and there was no issue in writing 10+ GB output files.

[2021-06-02 15:37] zjiaqi2018 commented on #4037
Correct, intel/19.1  +  intelmpi/21.1.1 outputs a single file larger than 16GB without any issue.

[2021-06-02 16:32] gassmoeller commented on #4037
Do you have a simple example file for that? I could easily try running that on Frontera.

[2021-06-02 16:38] wanyingw commented on #4037
Yes, I'll send you a simple case.

On Wed, Jun 2, 2021 at 11:32 AM Rene Gassmoeller ***@***.***>
wrote:

[2021-06-03 18:52] anne-glerum commented on #4040
With v9.3.0-pre, gdb breaks with the following:
[code]
So I think I have to install that debuginfo first.

[2021-06-03 20:13] tjhei commented on #4040
What happens if you ask for "backtrace" now?

[2021-06-03 20:13] bangerth commented on #4040
Ha, Timo beat me to it :-)

[2021-06-07 09:31] anne-glerum opened #4056 "Surface stress postprocessor gives different results in 3d"
For #4054 I added a 3D test with also the surface stress visualization postprocessor, and the stress on some sides of the cube differs in pattern, not just value. It also happens away from the edges of he sides, so it's not some boundary effect. I've attached an input file.

<img width="1440" alt="Screenshot 2021-06-07 at 11 02 46" src="https://user-images.githubusercontent.com/7631624/120993157-9

[2021-06-07 09:53] anne-glerum commented on #4040
[code]

[2021-06-13 13:20] gassmoeller commented on #4056
I looked through the code paths for surface and volume visualization and did not see an immediate candidate for why this would be happening. Could you check if this happens also for a property that is not a derivative of the solution? E.g. velocity or temperature itself? The reason I am asking is that derivatives of the solution on the boundaries of the domain are significantly less accurate than

[2021-06-14 10:49] anne-glerum commented on #4056
There doesn't seem to be a difference for velocity and pressure, so your idea could be correct. The stress is smaller, the velocity is the same:
<img width="1440" alt="Screenshot 2021-06-14 at 12 44 56" src="https://user-images.githubusercontent.com/7631624/121880878-d1524c80-cd0e-11eb-9413-f333c45d59b6.png">
<img width="1440" alt="Screenshot 2021-06-14 at 12 46 14" src="https://user-images.github

[2021-06-14 10:55] anne-glerum commented on #4056
Diagonal stress components:
<img width="1440" alt="Screenshot 2021-06-14 at 12 54 45" src="https://user-images.githubusercontent.com/7631624/121881565-bd5b1a80-cd0f-11eb-8693-60a57e79f6a4.png">

[2021-06-15 02:02] dansand commented on #4046
Switching from OpenMpi 4.0.1 to 4.1.0 has fixed this problem. Thanks for the assistance.

[2021-06-15 02:02] #4046 closed

[2021-06-15 15:22] tjhei commented on #4046
Thanks for letting us know! :+1:

[2021-06-17 18:59] bangerth opened #4064 "Averaging material properties for graphical output"
On the call on Tuesday, we discovered that the graphical output shows material properties as they are computed pointwise, whereas the internals of ASPECT may use them after averaging. We concluded that we should show material properties as they are used, i.e., we should add the averaging there as well.

This is not too hard to add, except for the Q1 projection. There, we compute a projection matri

[2021-06-18 00:35] tjhei commented on #4064
What stops us from always using a QGauss(veldegree+1) or whatever we use in the assembly?

At first I thought that it is important to use exactly that quadrature because it is not the exact projection otherwise, but now I am thinking that it really doesn't matter what quadrature we choose (as long as we are consistent) because it is just an approximation of the continuous projection.

[2021-06-19 13:25] tjhei opened #4067 "particle crash viscoelastic_bending_beam_particles.prm"
with latest deal.ii master:
[code]

[2021-06-19 13:30] tjhei opened #4068 "matrix-free deprecation warnings"
with latest deal.ii master:
[code]

[2021-06-19 13:36] tjhei opened #4069 "release 2.3.0"
- [x] send out an email about problems or outstanding patches
- [ ] go through the list of TODOs in the source code and see what can be done
- [ ] make sure the description of the interfaces that need to be updated are up to date in the manual
- [x] update the used deal.II version for the Docker container in docker/Dockerfile and in the manual
- [x] check that README.md and https://aspect.geodynam

[2021-06-19 16:41] tjhei commented on #4067
also viscoelastic_stress_build-up_particles.prm

[2021-06-20 14:59] gassmoeller commented on #4068
Fixed by #4074

[2021-06-20 14:59] #4068 closed

[2021-06-20 16:45] gassmoeller commented on #4067
Both of those should be hopefully fixed by #4063. I have not checked yet, but can do tomorrow.

[2021-06-21 23:37] gassmoeller commented on #4067
I think there are at least two issues, one in aspect, one in deal.II. I have preliminary fixes for them, but will need to do more testing tomorrow.

[2021-06-22 09:55] anne-glerum commented on #4023
With the fix in #4040, and deal.II 9.3 I no longer run into this issue.

[2021-06-22 09:55] #4023 closed

[2021-06-22 15:11] #2297 closed

[2021-06-22 19:50] bangerth commented on #4064
Yes, something like this is on my mind.

[2021-06-22 22:39] bangerth opened #4081 "Interpretation of "Exclude output properties""
Following #4080, the logic for omitting certain particle properties looks like this (and it was this way before #4080, the code was just differently organized):
[code]
That means that the list `exclude_output_properties` contains entries so that *if a particle property's name contains that entry*, the property is skipped. So we're not matching particle names but are ok if a *substring* matches. In

[2021-06-23 08:00] bangerth commented on #4064
Actually, having read through the code more carefully (and improved the documentation), we are not free to choose the quadrature formula because @egpuckett and colleagues chose the definition of what it means to do a Q1 projection tied to a specific quadrature formula. In essence, the way it is implemented right now is that values at specific points on the real cell are given (conceptually, at lea

[2021-06-23 13:27] anne-glerum opened #4088 "Different advection system after restart"
Looking into an issue where after a restart the number of iterations for a Stokes solve differs greatly, I noticed that the rhs and the matrix of the advection solves also differ between a restarted timestep and the corresponding timestep of the original run.

For example, with the test `mass_reaction_term.prm` at higher resolution and tolerance, the norm of the rhs of the advection system differs

[2021-06-23 19:44] gassmoeller commented on #4081
@MFraters will know best, but if I remember correctly he has hundreds of properties of the type `grain_X_orientation_Y` and he wants to filter output based on patterns, so yes matching a substring is intentional. I agree it could happen that someone unintentionally filters something but at the time we did not see a better solution.

[2021-06-23 19:48] gassmoeller commented on #4088
This looks like it could be a bug. Could you post a full log.txt to document versions and serial vs parallel?

This would be a place to start, check if the differences happen without melting and/or operator splitting. Maybe we forget to serialize something necessary for the melt handler? Are the magnitudes comparable again at a later timestep?

[2021-06-25 14:27] anne-glerum commented on #4088
[code]

[2021-06-25 16:02] anne-glerum commented on #4088
Low res models (1 proc):
- On one proc with a smaller problem size, the norm of the rhs still differs ~1 OOM.
- When melt transport is turned off, both the rhs and the matrix differ, by 17 and 2 OOM, resp.
- Similar differences when operator splitting is turned off

High res models (96 procs):
- The number of Stokes iterations after restart differs, and then the timestep size differs.
- In the sec

[2021-06-25 16:04] tjhei commented on #4088
Did you test if a very simple problem like convection box is also broken? Otherwise try to simplify as much as you can. I can then try to take a look.

[2021-06-26 20:35] anne-glerum commented on #4088
For the convection box, both the matrix and rhs are different after restart, but in the second timestep after restart, they have recovered. For the mass_reaction_term test, only the rhs is different after restart in the first iteration. See details below.

For the convection-box cookbook at Initial global refinement 6 and 1 proc and the T solve:
* original timestep 4:
   Norm advection system matr

[2021-06-26 21:44] #4067 closed

[2021-06-27 00:09] tjhei commented on #4069
I just created https://github.com/geodynamics/aspect/tree/aspect-2.3

@geodynamics/aspect-developers
1. Please test if everything works.
2. Bring to my attention if there is anything else that is important to have in the release.

[2021-06-27 12:56] gassmoeller commented on #4040
@anne-glerum can you summarize what works and what does not at the moment? It seems like the deal.II 9.3 release should work, but 9.4.0.pre probably not? And it looks like a problem in deal.II rather than ASPECT? If yes to both questions, we do not need to include a fix for this in the ASPECT release.

[2021-06-27 12:57] gassmoeller commented on #4069
Awesome, thanks! I went through the list of open issues and PRs.
I would like #4033 to be part of the release, as it fixes error messages for several particle related crashes. And we should try to figure out #4088 as it looks like a genuine bug in the checkpointing system, I can take a look today. Everything else is probably post 2.3 as far as I can see.

[2021-06-27 13:18] zjiaqi2018 commented on #4069
No errors or warnings  were found in both debug and release modes for the following combinations:
dealii-9.2 + aspect-2.3.0-rc1 + Intel 19.1
dealii-9.3 + aspect-2.3.0-rc1 + Clang 10.0.0
dealii-9.3 + aspect-2.3.0-rc1 + gcc (GCC) 8.3.1

[2021-06-27 13:18] gassmoeller commented on #4088
@anne-glerum I was trying to reproduce this, but all results are identical for me. I did not check the norm of the rhs an matrix though, because I do not know where and how you computed that (could you post it?).

I attach the lightly modified convection-box cookbook I used, and the log.txt file that I got as a result. I diff'ed the statistics files before and after restart and they are identical

[2021-06-27 15:21] #4028 closed

[2021-06-27 17:07] naliboff commented on #4069
No errors on Mac OS X Catalina (10.15) with the deal.II 9.3.0 Mac dmg (clang), but two warnings:
1. warning: unknown warning option '-Wno-psabi' [-Wunknown-warning-option]
2. ld: warning: dylib (inter specific library) was built for newer macOS version (11.0) than being linked (10.15)

The second warning is related to me not using OS X 11 (Big Sur), which the deal.II dmg was built with. I assume t

[2021-06-27 17:54] naliboff commented on #4069
No errors or warnings on Stampede2 for:
dealii-9.3 + aspect-2.3 + gcc 7.1.0

[2021-06-27 20:19] tjhei commented on #4088
Rene, are the linear solver iterations the same?
Anne, is this with 9.2 and 9.3?

[2021-06-27 21:43] gassmoeller commented on #4088
Everything incl. linear solver iterations are the same, but I have not tested in parallel (but Anne saw differences in serial as well). Anne tested with 9.3.0-rc1 I tested with 9.3.0.

[2021-06-27 21:47] tjhei commented on #4088
Hm, rc1 should not matter. Maybe debug vs release?

[2021-06-28 09:41] anne-glerum commented on #4088
I don't see differences in linear iterations for the convection-box model either, only in the norms.

With the test mass_reaction_term on 1 proc in debug, the nonlinear residuals of the first nonlinear iteration differ and the number of linear iterations of the second porosity solve. It would be good if you could confirm that Rene, I've attached the prm. For this test, I used the old restart files

[2021-06-28 09:48] anne-glerum commented on #4040
deal.II release 9.3 works without any changes.

9.3.0-pre works when DEAL_II_NUM_THREADS=1 is set.

I haven't tried 9.4.0-pre, but based on Timo's comment that the taskflow library is in the 9.4 dev version, I think it will only work by setting DEAL_II_NUM_THREADS=1 before starting a run.

[2021-06-28 14:02] gassmoeller commented on #4040
Ok, so that means we wont have to delay aspect 2.3 because of this, but we need to find a fix inside deal.II at some point. Thanks!

[2021-06-28 16:23] #3582 closed

[2021-06-28 16:24] tjhei commented on #3451
@naliboff is this done?

[2021-06-28 16:26] tjhei commented on #3396
We have currently no plans to make checkpointing work without MPI IO.

[2021-06-28 16:26] #3396 closed

[2021-06-28 16:26] tjhei commented on #3338
Should we remove petsc support? I think that makes sense at this point.

[2021-06-28 16:27] tjhei commented on #3338
@gassmoeller starter project?

[2021-06-28 18:39] gassmoeller commented on #4088
#4096 should fix this. Take care that there are two independent issues here:
1. The difference in the norm of the rhs and matrix that you see is expected and not a bug. You compute the norm of the whole matrix and the whole rhs vector (not just the current field), and so before the restart some other blocks of the matrix and rhs may still contain information from the last timesteps that is overwri

[2021-06-28 22:05] gassmoeller commented on #3338
Yes, good idea.

[2021-06-29 08:27] anne-glerum commented on #4069
Same warning for the dealii-9.3 image on Mac OS Big Sur (Clang 12.0.0.12000032 on platform Darwin x86_64), otherwise smooth sailing:
`warning: unknown warning option '-Wno-psabi' [-Wunknown-warning-option]`

[2021-06-29 11:40] tjhei commented on #4069
What is the compiler info in detailed.log from ASPECT? This warning is a bit weird.

[2021-06-29 11:47] tjhei commented on #4069
This looks like the ASPECT compiler is different than the deal ii one...

[2021-06-29 12:35] anne-glerum commented on #4069
ASPECT detailed log:
[code]
deal.II detailed log:
[code]
So different clang versions reported, but from same

[2021-06-29 15:56] anne-glerum commented on #4088
Thanks @gassmoeller !
1. That makes sense, sorry for the side track.
2. I still see some differences after a restart with a custom melt model.
    1. The nr of iterations for the field molar_Fe_in_melt is 18 instead of 17
    2. The norm of the Stokes matrix (your implementation) is 1.68268e+27 instead of 1.68267e+27
    3. The molar_Fe_in_melt residual is 1.79765e-16 instead of 1.76258e-16
    4.

[2021-06-29 16:05] anne-glerum commented on #4088
I'll rebase my custom branch to master (and keep the linearization point fix) and try again.

[2021-06-29 18:23] gassmoeller commented on #4088
Can you try replacing the fix `initialize_current_linearization_point();` with `current_linearization_point = solution;` and check if that fixes the remaining issues? Otherwise I am at a loss what is happening at the moment. However, the differences seem tiny, so maybe we can investigate further after the release.

[2021-06-29 19:51] gassmoeller opened #4098 "Do we unnecessarily serialize one solution vector?"
Stumbled upon this while looking into #4088. At the moment we serialize `solution`, `old_solution`, and `old_old_solution` into the checkpoint files. However, at the time of writing the checkpoint `solution` and `old_solution` should always be the same (we just advanced the time and copied one into the other). Therefore it should be enough to serialize `old_solution` and `old_old_solution` inside

[2021-06-29 22:06] tjhei commented on #4098
yes, makes sense to me.

[2021-06-29 22:41] gassmoeller commented on #4098
I will look into this when I have some time, but it would also make a nice small project for someone during the hackathon.

[2021-06-30 20:59] anne-glerum commented on #4088
Using `current_linearization_point = solution;` gives identical timesteps before and after restart for both master and the rebased custom branch for the `mass_reaction_term.prm`. However, the custom melt model & prm with the custom branch lead to Stokes iteration nr differences of 99 vs 34. Apparently, the custom branch contains another issue.

Current master, mass_reaction_term.prm on 1 proc, sec

[2021-07-01 08:31] anne-glerum commented on #4069
I've updated XCode to 12.5.1, Apple clang version 12.0.5 (clang-1205.0.22.11), and now ASPECT installs without warnings.

[2021-07-01 11:05] tjhei commented on #4069
Thank you, Anne. This is what I expected.

I had a conversation with Luca offline and everything is working as intended.

[2021-07-01 14:55] tjhei commented on #4069
``cd cookbooks; make -f check.mk BUILD=$BUILDDIR crustal_deformation/`` fails with
[code]

[2021-07-01 14:56] tjhei commented on #4069
``cd benchmarks; make -f check.mk BUILD=$BUILDDIR advection/`` fails with
[code]

[2021-07-01 20:27] bangerth opened #4115 "Questions about restarting a time step"
I haven't followed the re-do time step stuff, and am only now looking at it in `core.cc`. The code is in essence this:
[code]
Questions:

1. Shouldn't it be ` time = time - time_step;` instead of ` time = time - time_step + new_time_step_size;`? I thought that we want to go back to the point where we started the current step and only want to adjust the time step length.
2. What happens if the mesh

[2021-07-01 21:53] tjhei opened #4116 "advection/drop_ev.prm fails"
``cd benchmarks; make -f check.mk BUILD=$BUILDDIR advection/`` fails with
[code]

_Originally posted by @tjhei in https://github.com/geodynamics/aspect/issues/4069#issuecomment-872316216_

[2021-07-01 21:54] tjhei commented on #4116
@gassmoeller This is the new fuctionality to compute pressure scaling. What do we do?

[2021-07-01 21:55] tjhei opened #4117 "crustal_deformation/crustal_model_2D.prm fails"
``cd cookbooks; make -f check.mk BUILD=$BUILDDIR crustal_deformation/`` fails with
[code]

_Originally posted by @tjhei in https://github.com/geodynamics/aspect/issues/4069#issuecomment-872315319_

[2021-07-01 21:56] tjhei commented on #4117
@naliboff can you take a look please? You can just run crustal_model_2D.prm to see the problem.

[2021-07-02 20:24] #4116 closed

[2021-07-02 20:30] #4117 closed

[2021-07-04 01:51] bangerth commented on #4098
I tried to understand the code, but it's at the very least not easy to see that we set `old_solution=solution` right before the checkpoint is created. If you make this change, it might be a nice idea to add an assert to the code to verify that the two vectors really are the same.

[2021-07-06 13:09] anne-glerum opened #4123 "Changing particle logic for iterated advection schemes?"
There are potentially 2 locations where I think the logic regarding particles should be updated now that they can also be used with iterative Advection schemes and are advected at the beginning of the timestep.

1. In solver_schemes.cc assemble_and_solve_composition: Do we need to advance the timestep at all, or only interpolate to the composition fields during the first timestep? The behavior now

[2021-07-06 13:49] jaustermann commented on #795
@gassmoeller and @bangerth - I'd be happy to give this a try. I looked at visualization/stress.cc and it doesn't seem addressed yet but wanted to check just in case given this is an old issue. If this issue is superseded by other work let me know, otherwise, I'd be happy to work on changing the viscosity from being extracted at each quadrature point to using the cell average.

[2021-07-06 19:00] gassmoeller commented on #795
Yes that would be a nice project. Take a look at https://github.com/geodynamics/aspect/pull/4076 where Wolfgang implemented this for the material properties postprocessor, there is a slight catch for project_to_Q1 averaging, but everything else should be pretty straightforward.

[2021-07-07 15:06] ahollyday opened #4128 "Including units within pvtu metadata output"
I'm trying to specify field units in the outputted pvtu (and other outputted file formats) metadata.  This will make reading in ASPECT output easier with the Yt-project and will prevent confusion related to future changes in units.  Any help/ direction would be awesome!

[2021-07-07 15:35] bangerth commented on #4128
The first step would be to find out how this would be represented in the .pvtu file format. If you look at one of the .pvtu files produced by ASPECT, you'll see that it's clear text XML. You might have to look up online what kind of information can appear in this file, or check the kind of files other programs produce that contain this information.

If you know how this is supposed to look like, I

[2021-07-07 17:37] erinheilman opened #4129 "shell_simple_3d cookbook error with opening angle 90"
When running the shell_simple_3d cookbook and adding an opening angle of 90 degrees, the model reaches the first timestep before failing to converge on the temperature residual. The cookbook runs as it should when not using the opening angle, so it may be a geometry issue.
<img width="1320" alt="Screen Shot 2021-07-07 at 12 27 42 PM" src="https://user-images.githubusercontent.com/69014916/12480415

[2021-07-07 18:56] anne-glerum commented on #4129
Could it be that the model now needs Boundary velocity conditions for the radial boundaries? The cookbook is a full shell right? There are no conditions specified for left and right, which means zero stress, so flow out of the model probably occurs.

[2021-07-07 19:29] erinheilman commented on #4129
You're right, I just added the radial boundaries to the tangential boundary velocity conditions and it got past that error.

[2021-07-07 19:29] #4129 closed

[2021-07-07 19:52] erinheilman opened #4131 "Temperature solution issues with 3D spherical geometry"
I've been seeing issues while running 3d spherical shell with 90 degree opening models. In a purely isoviscous case where the boundary temperatures are prescribed as 273 on the top and 2000 on the bottom, the temperature solution runs out of control to numbers way out of bounds. I'm not sure if it is a solver issue or a geometry issue, this model runs in debug mode with no errors as well. I have a

[2021-07-08 03:51] bangerth opened #4141 "Better coverage statistics"
#2978 added coverage information to our tests. Among the obstacles to make this meaningful is that coverage considers all `Assert` statements as never executed, and consequently reports artificially low coverage numbers.

We could avoid this by adding a configuration flag for ASPECT that replaces the deal.II-inherited `Assert` statement by something that actually does execute something, every time

[2021-07-08 05:54] MFraters commented on #4141
Interesting idea. Technically you could also create tests to trigger each assert, but I would agree that has very little value for realy a lot of work and added code. So I would be in favor.

I think the main that the main obstacle at this moment is actually that it simply doesn't function. It only seems to able to process the first run made for each pull request. And even if I try to look at that

[2021-07-08 14:47] bobmyhill commented on #4131
A ?related problem... when I change the Boundary temperature model in @erinheilman's input file to "Constant" and assign values to the top and bottom boundaries like so:

`subsection Boundary temperature model`
`  set List of model names = constant`
`  subsection Constant`
`    set Boundary indicator to temperature mappings = bottom:2000, top:273`
`  end`
end`

ASPECT doesn't fix the temperature a

[2021-07-08 14:50] erinheilman commented on #4131
I've also had this happen in a 3D chunk geometry model, so it may just be a 3D spherical issue

[2021-07-08 16:22] anne-glerum commented on #4131
Does it still happen when you prescribe boundary velocity conditions on the radial boundaries?

[2021-07-08 16:28] bobmyhill commented on #4131
Yes, it does. I've been playing with this for a few hours, and am stumped.

[2021-07-08 16:34] tjhei commented on #4131
I have an idea. It looks like the boundary ids are not assigned correctly. I will check.

[2021-07-08 16:52] bangerth opened #4151 "Document how to install astyle"
The deal.II dmg packages for Mac no longer bundle astyle, and so ASPECT users have to install the package by hand. We ought to document this somewhere.

Here are the instructions to download and install with gcc:
[code]

[2021-07-08 17:17] tjhei commented on #4131
I can not reproduce this on my machine with deal.II 9.2. Trying 9.3 next...

[2021-07-08 17:19] erinheilman commented on #4131
I have deal.II 9.3.0 on my computer when I ran the model

[2021-07-08 17:54] tjhei commented on #4151
I prefer ``./candi.sh --packages=astyle`` :-)

[2021-07-08 17:55] tjhei commented on #4131
Do you also see the problem with "global refinement = 2" ?

@zjiaqi2018 can you try to reproduce the problem on your system?

[2021-07-08 18:01] bobmyhill commented on #4131
I see the problem with global refinement = 1 or 2.

[2021-07-08 18:03] erinheilman commented on #4131
I've tried running models with higher mesh refinement in both AMR and finite mesh and that will reduce the magnitude of the over/undershoots but the temperature will still go out of bounds

[2021-07-08 18:06] tjhei commented on #4131
Is this visible in the first output at time 0?

[2021-07-08 18:09] erinheilman commented on #4131
Typically no, it will take a few timesteps for the temperature to go out of bounds

[2021-07-08 18:10] bobmyhill commented on #4131
At global refinement = 1, it takes ~20 time steps to reach steady state.

[2021-07-08 18:14] tjhei commented on #4131
ohhh, ok

[2021-07-08 18:19] elodie-kendall commented on #4151
Thanks. @bangerth this option doesn't work for me as I need sudo access, which I don't have on the cluster. @tjhei this command did re-install it but still "astyle --version" gives me "astyle: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by astyle)" after re-sourcing

[2021-07-08 18:35] bangerth commented on #4128
@chrishavlin Let's take @ahollyday 's discussion about metadata in VTK here -- that brings everyone who knows where that needs to be implemented into one place.

From our perspective, we can do whatever is easiest for you. Encoding stuff in variable names is easy but seems silly. Let's write this into metadata in the same way as we already do with time step ("cycle") and time variables. For exampl

[2021-07-08 18:37] bangerth commented on #4056
As just discussed, switch off the averaging and see whether that still yields a difference.

[2021-07-08 18:40] bangerth commented on #4151
Instead of `sudo make install`, you can also just copy the `astyle` executable from the build directory to any place under your home directory and then set `PATH` to include that directory. For example, on all of my machines, I have a directory `$HOME/bin/bin` in which I collect this kind of executable, and then do
[code]
in my `.bashrc` file so that whenever I say `astyle` it also looks into `$HO

[2021-07-08 18:44] bangerth commented on #4141
What do others think about `AspectAssert` and `AspectAssertThrow`?

[2021-07-08 18:47] tjhei commented on #3656
https://github.com/geodynamics/aspect/blob/ea1c999bf29823752efd4c594a9d6fbbe9d8e174/source/simulator/assemblers/newton_stokes.cc#L428-L431

[2021-07-08 18:48] bangerth commented on #4141
@MFraters We've got 500+ places with asserts, I don't think it's realistic to create tests for all of them :-) But separately, not all of them are actually reachable -- some may just check an internal state of an algorithm somewhere in the middle of a function. So I think it's not useful to make *testing* assertions a goal -- I just want to make sure they don't count as unexecuted lines in these p

[2021-07-08 18:51] bangerth commented on #4131
Is this a case where the model just develops a temperature boundary layer and the mesh is simply too coarse to resolve it and then you end up with numerical oscillations that manifest as over/undershoots? It would be interesting to visualize on a finer mesh than the computational mesh, just to get a better idea of how the solution really looks. Are you setting "Interpolate output" to "true" in you

[2021-07-08 19:04] anne-glerum commented on #4123
After discussion with Rene:
1. The particles are advected with a time step length of 0 during the zeroth time step during advance_timestep, so this advection has no result. However, advance_timestep also includes the updating of the particle properties, which is a necessary step. So no change needed.
2. old_solution and old_old_solution should indeed only be set during the first nonlinear iteratio

[2021-07-08 19:09] bobmyhill opened #4157 "Ignored boundary temperature model in ASPECT"
Currently, if the user does not set "Fixed temperature boundary indicators" in their "Boundary temperature model", ASPECT ignores the model completely. This is implicit in the description of the "Fixed temperature boundary indicators" parameter the manual, but isn't obvious from looking through the tests.

Doing a quick grep reveals that there are 733 tests that include a "Boundary temperature mod

[2021-07-08 19:13] tjhei commented on #4131
Yes, I can see over/undershoots with refine=2, but they are not on the boundary itself but one cell inside.

[2021-07-08 19:50] gassmoeller commented on #4151
We had to do this for @ahollyday, because Macos seems to disable the root user by default, and `sudo make install` can fail even if you have administrator privileges.

[2021-07-08 20:24] chrishavlin commented on #4128
Great! Thanks for the ping!

From my perspective it doesn't matter too much where the metadata sits. I'm using a generic xml parser to read in the pvtu files so I can easily pull the info from anywhere. I'm with you on on the "I'm not entirely sure what else VTU allows in the FieldData tag" but the most natural place IMO would be within each `DataArray` delcaration, e.g.:

[code]

So as long as th

[2021-07-08 21:51] chrishavlin commented on #4128
A very brief update, paraview at least does not seem to mind if there are metadata tags that it doesn't recognize. I didn't get any errors or warnings upon loading when manually adding a `Unit` attribute to an already generated pvtu, so it thankfully seems that Paraview will simply ignore attributes that it's not looking for. Not sure if there's further tests that should be done? For reference, th

[2021-07-08 21:58] bangerth commented on #4128
Ha, you had the same idea as me, and I tried the same thing using Visit and it works there as well :-) In fact, I looked at the individual VTU file and did this:
[code]
We could attach the data to both places.
So yes, let's go with that then and attach units right with the field declaration!

[2021-07-08 21:59] bangerth commented on #4128
@ahollyday -- let's talk about this tomorrow morning if that's ok with you!

[2021-07-08 22:10] ahollyday commented on #4128
@bangerth sounds great!

[2021-07-08 22:34] tjhei commented on #3656
I think we need to store
[code]
and the same on each level (basically a MGLevelObject< ....> each)

[2021-07-08 22:42] MFraters commented on #4151
I am not saying we should not document it elsewhere as well, but there is already some documentation in the wiki: https://github.com/geodynamics/aspect/wiki/Indenting-code-and-installing-the-correct-version-of-astyle

[2021-07-08 23:01] MFraters commented on #4141
I am not disagreeing with you there :)

even that theory of what is going on seem to be optimistic. For example for #4155, #4154 and #4153 the coverage doesn't show up, but it does for #4150.

In short how the coverage tester works is by compiling the code with a special flag. When running the code it generates the coverage files which are post-processed and uploaded to codecov. To do this we just

[2021-07-09 00:03] gassmoeller commented on #4157
My first reaction was: I would like to be able to set a boundary model but not actually have any prescribed boundaries, because it allows to quickly switch the boundary model on/off by only adding the indicator. But then I had to think about how often that is a use case (and how much effort it is to comment one additional parameter) vs. how often users set a boundary temperature model, but dont sp

[2021-07-09 09:31] anne-glerum commented on #4151
`export HOME=$HOME/bin/bin:$PATH`
should be
  `export PATH=$HOME/bin/bin:$PATH`
right?

[2021-07-09 09:48] bobmyhill commented on #4157
Hi @gassmoeller, great, thank you for your thoughts, I'm glad you agree.
I'll make these changes now.

[2021-07-09 14:01] bobmyhill commented on #4157
Addressed by #4162

[2021-07-09 14:01] jaustermann commented on #795
I wanted to set up an easy test case to recreate this in order to check that adjusting the code actually fixes it. Below is a rising sphere in a box with viscosity contrasts and the shear stress does have these spikes at the viscosity boundary. Just double-checking - is that where the issue shows? I don't see this in the total stress magnitude though.

<img width="1500" alt="Screen Shot 2021-07-09

[2021-07-09 16:04] bangerth commented on #4151
On 7/9/21 3:32 AM, anne-glerum wrote:

Yes.

[2021-07-09 16:25] bangerth commented on #795
In your visualization, both the strain and stress are shown as piecewise constants. Are you setting `Point-wise stress and strain` to `true` in your input file? What happens if you set it to `false`?

Separately, it might be easier to understand the output if you set `Interpolate output` to `false`.

[2021-07-09 16:46] chrishavlin commented on #4128
hey @ahollyday I wrote up a (p)vtu tester that will parse a pvtu or vtu file, identify the data elements, pull out the field and units string for each and check that it works with `unyt`. To use it:

1. Download or copy `vtu_unit_test.py` from here https://gist.github.com/chrishavlin/744d7b24a91b73a495a44bf0306806bf
2. Install `xmltodict` and `unyt` (`pip install xmltodict`, `pip install unyt`). Y

[2021-07-09 16:49] elodie-kendall opened #4168 "Outputting correct "total wall time" in log file after restart"
For users wanting to compare run speed for different models over a longer time period it would be useful to output the correct "total wall time" in the log file after a restart.

[2021-07-09 19:22] gassmoeller commented on #4168
I agree, that would be a nice feature, but I think there is some functionality in deal.II missing to do this. We store all of the timing information in an object of type `ComputingTimer` which is a deal.II class (see `include/aspect/simulator.h:1879`). Unfortunately this class does not seem to support serialization using the boost serialization mechanism that we use to store other information (lik

[2021-07-09 19:30] gassmoeller commented on #4157
#4162 was merged, so I will close this.

[2021-07-09 19:30] #4157 closed

[2021-07-09 19:35] bangerth commented on #4128
The deal.II part is now here: https://github.com/dealii/dealii/pull/12556.

@chrishavlin If you want to take a look at how this is now encoded: Here is a VTU file https://github.com/dealii/dealii/pull/12556/files#diff-33e8b5d06d26955dda1ca2805b029a2a7f48ef3d8315493bf343e67906c1e178 and a corresponding PVTU file https://github.com/dealii/dealii/pull/12556/files#diff-e5412f57e6b36d9c315d1951d82cecba

[2021-07-09 20:54] chrishavlin commented on #4128
That will work perfectly!

[2021-07-09 21:10] bangerth commented on #4157
Thanks indeed -- boring work that nevertheless makes the whole project better!

[2021-07-10 01:54] gassmoeller commented on #4123
Closed by #4167

[2021-07-10 01:54] #4123 closed

[2021-07-12 13:09] jaustermann commented on #795
Hi Wolfgang. The Point-wise stress and strain was already set to false in the above runs. The polynomial degree in the velocity is the default (2). The Interpolate output was set to true but if that is changed to false, the result doesn't change too much - the strain rate looks pretty much the same, the shear stress looks like this:
<img width="677" alt="Screen Shot 2021-07-12 at 8 52 42 AM" src="

[2021-07-12 13:42] anne-glerum opened #4176 "Tensor visualization output"
The output for tensor visualization seems to have changed, and I'm not sure it's desired.
1. In gnuplot output files, all the stress tensor components have the same name `stress` instead of `stress_xx`, `stress_xy` etc
2. In paraview, for a 2d model, the stress tensor gives 9 components, named 0 to 8. Apart from components 0,1,3,4, these are set to zero. I think it would be more intuitive if only

[2021-07-12 15:03] anne-glerum opened #4177 "Two stress visualization tests are the same"
The tests
`visualization_stress.prm`
and
`visualization_stress_pointwise.prm`
are actually the same as
`set Point-wise stress and strain = true` is set in both.
Output (only gnuplot) is the same.
The first test should not output point-wise stress and strain.

[2021-07-12 15:26] anne-glerum commented on #4056
With
[code]
the differences persist for several 3d models.
Same for
[code]

[2021-07-12 15:26] bangerth commented on #4177
Did the default for that parameter change at some point?

[2021-07-12 15:31] anne-glerum commented on #4056
For example:
<img width="1440" alt="Screenshot 2021-07-12 at 17 25 37" src="https://user-images.githubusercontent.com/7631624/125314312-5e9cb700-e336-11eb-968f-1fa22eadd816.png">
where left is the full mesh and right the surface mesh.
The full mesh outputs a full tensor, while the surface mesh outputs only the independent components of a symmetric tensor. But both are computed as symmetric tensors

[2021-07-12 15:33] anne-glerum commented on #4177
I don't know, but both tests literally set
`set Point-wise stress and strain = true` in the prm

[2021-07-12 15:33] bangerth commented on #4176
VTK file format requires to write 9 components of a tensor, even in 2d. I don't think there is anything we can do about that. (That's the same for vectors: even in 2d, we have to write 3 components.)

By the way, the change that caused this is #3703.

[2021-07-12 15:35] bangerth commented on #4177
Ha, yes, this makes no sense :-)

[2021-07-12 15:43] erinheilman opened #4178 "Issue with strain values when using plastic strain"
In some models you can get unrealistic values of strain (in this case plastic strain) when using strain-weakening and strain-healing. There are very negative values and really high positive values as well. It's occurred in some large 3D models as well as simpler cylindrical models. I've included the parameter file for the simpler cylindrical case.
<img width="1425" alt="Screen Shot 2021-07-12 at 1

[2021-07-12 19:08] anne-glerum opened #4182 "Avoid specifying input values and calculating material properties for masked compositional fields"
When compositional fields are used to track parameters other than lithology, say elastic stress, they are masked in the material model. However, the user still needs to provide material parameters for them, like diffusion prefactor, density etc. For 9 elastic stresses + lithologies, this can lead to long lists of parameters. The function `parse_map_to_double_array` used to read in the lists of par

[2021-07-12 19:09] bangerth commented on #4056
The difference between the stress and surface stress viz postprocessors seems accidental. I seem to have just forgotten to convert the latter in #3703. See #4181 now.

That said, the two pictures you show are radically different :-) They can't be showing the same quantity, right?

[2021-07-12 19:09] bangerth commented on #4178
I don't know what might be wrong, but the pictures are cool!

[2021-07-12 19:19] anne-glerum commented on #4056
Yes they are very different. Perhaps my interpretation of the components is not correct. E.g. above I show stress_1 versus stress_xy, they are not the same. Some of the other stress components (e.g. stress_0 and stress_xx) are the same. I'll redo the comparison after #4181 to be sure I'm comparing apples with apples.

[2021-07-12 20:52] bangerth commented on #4056
Sounds good!

[2021-07-12 21:51] gassmoeller commented on #4056
The figure looks like one postprocessor is including the pressure, while the other is only computing shear stress. Maybe give that a check.

[2021-07-12 21:56] gassmoeller commented on #4056
Oh, and I think the unrolled components of a symmetric tensor follow the main diagonal first, so `stress = {stress_xx,stress_yy,stress_xy}` for a 2d symmetric tensor. So you want to compare stress_xy to stress_2.

[2021-07-12 22:01] bangerth commented on #4056
That makes sense -- and then the diagonal components indeed contain the pressure.

[2021-07-12 22:11] gassmoeller commented on #4178
You are right negative strain values are certainly not realistic, but we will need some more details to find the reason for this. @naliboff may have some more ideas, but here is what I would suggest:
- I dont see where the negative values occur in your pictures, can you try to zoom in on the region, and pinpoint the time they first occur? Ideally we want to know the exact conditions under which th

[2021-07-12 22:49] bangerth commented on #3685
@UfrancoU Any news on trying the newest deal.II and ASPECT versions?

[2021-07-12 23:41] bangerth commented on #4178
Regarding a limit for the strain rate: From a physical perspective, the stress has to be a continuous function and because the stress is `viscosity * strain rate`, this means that the strain rate should be a function of the sort `continuous function / viscosity`. So if the viscosity becomes very small in some region, then the strain rate can become very large there.

Of course, this is exactly wha

[2021-07-12 23:43] bangerth commented on #4178
That said, about the bottom left picture with the point of high strain rate: Given that `strain rate = continuous function / viscosity`, and given that you plot the viscosity with a log scale at the bottom right, it would make sense to show the strain rate on a log scale as well. If you do, I bet you will see an inverted pattern from the viscosity -- or at least that's what I would expect if the s

[2021-07-13 00:23] bangerth opened #4190 "Avoid shady use of probable '\0' at the end of a std::string"
We have this kind of code in a number of places in the postprocessors:
[code]
This makes the assumption that `std::string` actually stores a `\0` at the end of the string, that we can access it, and that that whole scheme makes sense. This is not useful -- we should only transport the text we know exists, not something we *believe* should be there.

Found while looking at #3713, which I suspect co

[2021-07-13 11:43] sibiaoliu opened #4193 "Error: Negative diffusion viscosity detected; but only use dislocation in VP material model"
I set " Viscous flow law = dislocation" in the material model of Visco Plastic. The model crashes with an error message:

"The violated condition was:
    viscosity_diffusion > 0.0
Additional information:
    Negative diffusion viscosity detected. This is unphysical and should
    not happen. Check for negative parameters."

I think that the diffusion calculation should not be implemented or it is

[2021-07-13 12:53] anne-glerum commented on #4193
Hi @sibiaoliu, looking at /material_model/rheology/visco_plastic.cc, the diffusion viscosity is still computed (line 150) even if it's not used later on (in the switch starting from line 161).

Did you set the diffusion creep parameters in the input file? The defaults seem ok.

[2021-07-13 13:04] sibiaoliu commented on #4193
Hi Anne, I did not set the diffusion parameters. I thought that the values of the pressure or temperature solutions may cause this error. However, When I check the output, the values look correctly. It is weird.

[2021-07-13 13:40] bobmyhill opened #4194 "config.h not found when trying to build shared library from installed version of ASPECT"
When trying to build a shared library from an installed version of ASPECT (built with `sudo make install` or `ninja install`), cmake . runs fine, but make yields the following error:

`/usr/local/include/aspect/global.h:25:10: fatal error: aspect/config.h: No such file or directory`
`25 | #include <aspect/config.h>`

This is only a problem with an installed version; there is not a problem when bui

[2021-07-13 14:03] tjhei commented on #4194
I will take a look. We probably forgot installing the file.

[2021-07-13 14:17] tjhei commented on #4194
#4195 should fix this. I can compile and use a user plugin with this change.

[2021-07-13 14:20] sibiaoliu commented on #4193
Find the reason for this issue: the temperature in a few points is negative, which should be wrong.

[2021-07-13 14:21] #4193 closed

[2021-07-13 15:14] gassmoeller commented on #4178
@bangerth: The plots and problem exist in the integrated plastic strain (i.e. the time integral of the part of the strain rate that is accomodated by plastic deformation), not necessarily in the strain rate itself, although that is of course one possibility. All of your comments still apply, but we additionally advect and integrate this property over time, which could also be part of the problem (

[2021-07-13 15:19] erinheilman commented on #4178
@gassmoeller I'm looking into this now, @naliboff agreed that it may be an issue with the long timescales the models are run for and the advection causing over/undershoots as well

[2021-07-13 16:42] tjhei opened #4199 "ASPECT on M1 ARM"
TODO list:
- [x] write wiki page
- [x] fix "unrecognized instruction int $3" in catch.hpp
- [x] fix "uniform_int_distribution: error non-constant condition"
- [x] run a few tests
- [x] make plugins work

[2021-07-13 16:43] naliboff commented on #4178
@gassmoeller @bangerth - as mentioned above, @erinheilman, @bobmyhill, @anne-glerum, and I discussed this yesterday.

We all agree a likely source for the large negative strains is overshooting during the advection solution. Small negative strains are almost observed in the models @anne-glerum and I run, but the finite deformations are simply much larger in the models here.

@erinheilman - I agree

[2021-07-13 17:13] #4194 closed

[2021-07-14 01:59] tjhei commented on #2861
@MFraters any updates? 😉

[2021-07-14 02:04] zjiaqi2018 opened #4205 "newton_solver_benchmark_set issues"
report issues on benchmarks/newton_solver_benchmark_set/nonlinear_channel_flow
input_v.prm doesn't converge:
![image](https://user-images.githubusercontent.com/36655731/125548706-e55f29d1-84f2-4ab1-8f4f-9be35042d85a.png)

input_t.prm:

--------------------------------------------------------
An error occurred in line <618> of file </home/jiaqi2/aspect/aspect/source/simulator/simulator_access.cc> i

[2021-07-14 06:03] MFraters commented on #4205
Thanks for making the issue. I have tired to reproduce the issue. I had some problems with the shared library, so I just put the file into the material model directory and compiled it. I don't think that matters for this issue.

I can reproduce the issue for input_v.prm. This seems to be very specific to a grid level of 6 and 4 mpi processes. I also tried it with 1,2,3,5 and 6 mpi processes and th

[2021-07-14 07:39] MFraters commented on #2861
hmm, I should check my assignments more often I guess, thanks for reminding me :) Luckily for me no one, including me, ever mentioned which hackaton I needed to deal with this ;)

Looking at the files I see no reason why the `benchmarks/nonlinear_channel_flow` would still need to be there, so yes, it should be removed and move to the  `benchmarks/newton_solver_benchmark_set/nonlinear_channel_flow`

[2021-07-14 13:42] zjiaqi2018 commented on #4205
For the second case, are you suggesting removing `set Stabilization preconditioner = SPD`? It doesn't work for me.

[2021-07-14 15:02] tjhei commented on #4182
Would it make sense to add additional classification for compositional fields? This information could be used consistently throughout to help here.

[2021-07-14 15:03] tjhei commented on #4131
Erin, do you agree that this is just an issue with resolution?

[2021-07-14 15:07] bangerth opened #4208 "Add Bob and Cedric to the correct sections of AUTHORS.md and README.md"
@bobmyhill @cedrict Want to propose patches that add your names to the right sections? :-)

[2021-07-14 15:11] erinheilman commented on #4131
I agree that the problem is exacerbated by having a lower resolution mesh, but I still get temperature over/undershoots when using higher resolution mesh (both with finite and amr). For example, I ran this 2D cylindrical model this week. The temps at the boundaries are set to 273 on the outer and 2973 on the inner and it has high refinement at the boundaries but the temperature still exceeds the b

[2021-07-14 15:24] MFraters commented on #4205
Ah, sorry. I should have been more precise. In  `subsection Postprocess`->`subsection Visualization`, remove from `set List of output variables = ` the value `spd factor`.

[2021-07-14 15:24] bangerth commented on #4131
Can you calculate what the expected width of the boundary layer should be for the values of the thermal conductivity, and how that compares to the mesh size? That is, in essence, what determines whether or not you have over/undershoots: whether you can resolve the boundary layer or not.

[2021-07-14 16:39] erinheilman commented on #4131
The expected width of the top thermal boundary layer in this model is ~79 km, and there are 4 mesh cells that span that distance. For reference,

<img width="385" alt="Screen Shot 2021-07-14 at 11 39 13 AM" src="https://user-images.githubusercontent.com/69014916/125659804-4c5a7b77-8861-420b-8cc5-0c099547d5e9.png">

[2021-07-14 16:46] naliboff commented on #4131
@erinheilman - can add a screenshot for this model where the temperature is exceeding the expected value? Here it appears the values are roughly correct?

[2021-07-14 17:02] erinheilman commented on #4131
Sure, this is an earlier timestep of the same model where the temperatures exceed the boundaries, and the corresponding mesh.

<img width="1230" alt="Screen Shot 2021-07-14 at 11 58 45 AM" src="https://user-images.githubusercontent.com/69014916/125662907-80833569-a7d5-4776-848b-664d39d07e1c.png">

<img width="1208" alt="Screen Shot 2021-07-14 at 12 02 06 PM" src="https://user-images.githubusercont

[2021-07-14 17:36] cedrict commented on #4208
sure, I'll do it :) which brings me to a topic I wanted to bring up: the list of names at the bottom of the manual frontpage is not up to date (eg Paul, Arushi & Agi missing), and contains names who have not contributed in >5 years (geenen, kronbichler, ...).

[2021-07-14 18:34] naliboff commented on #4131
Summary of a conversation I just had with @erinheilman:

- I think part of the issue is that these models require an iterative scheme for both the Stokes and advection systems.
- My guess is that overshoots in temperature lead to unstable/unrealistic viscosities, which then feed back into the temperature through advection.
- @erinheilman is going to send me a parameter file and I will make some su

[2021-07-14 18:36] tjhei commented on #4131
I am not working on anything related to this PR. Let me know if you want me to look at something...

[2021-07-14 19:06] ljhwang commented on #4208
This is an interesting question and one that also pertains to how the code is cited.  Is activity a measure or the fact that they have made substantial contributions at some point. With respect to the latter, I have seen removal when the project has substantially drifted from the original instantiation and or the contribution is no longer part of the code base.
So, in essence, I am arguing for the

[2021-07-14 19:19] bobmyhill commented on #4208
I'd also argue that all names should be retained.
As for the missing developers in the contributions list, we have historically added a name when a user/developer has contributed a section to the manual (rather than adding code to the code base). It was a good driver for me to add something substantial to the manual :D

[2021-07-14 19:20] ljhwang commented on #4208
But perhaps someone has contributed substantially, and has not contributed to the manual. I can think of a example.

[2021-07-14 19:34] cedrict commented on #4208
@tjhei @jdannberg @jaustermann @gassmoeller @naliboff @anne-glerum @MFraters  any thoughts on this matter?

[2021-07-14 19:58] cedrict commented on #4208
I have just surveyed the manual. 4 people are listed as (co-)authors of cookbooks/benchmarks and are not on the front page list: Robey, Rudolf, Richards and Sparks.

[2021-07-14 21:11] bangerth commented on #4208
If someone contributes to the manual, they are authors, regardless of whether that contribution was recently or further in the past. I think we should only ever add names to the list of people there. I believe that's how the PETSc manual also operates.

As for the missing people: Thanks, @cedrict, for going through the cookbooks! I think we should add them. Would someone be willing to write a patc

[2021-07-14 21:28] ljhwang commented on #4208
@bangerth - Conrad

[2021-07-15 00:08] MFraters commented on #4205
I have found the issue. The input file uses `iterated Advection and Stokes` by default instead of `iterated Advection and Newton Stokes`. The reason why this has not been an issue for me is because I always used the metabash.sh and bash.sh scripts to replace it automatically. I think I should:
1.  add an assert in this plugin which checks that a newton type solver is used
2. fix the default input

[2021-07-15 02:38] naliboff commented on #4131
@erinheilman - thanks for passing on the parameter file! Below are my suggestions for changing a wide range of parameters.

I think the place to start is with a fairly stable model (low viscosity contrasts, small time steps, conservative solver tolerances) to see if that produces realistic temperature values. If this is the case, then the next step would be to make the problem more realistic (e.g.

[2021-07-15 03:38] bangerth opened #4235 "Add 2.3 release announcement to the website"
See the right side bar here:
https://aspect.geodynamics.org/

[2021-07-15 16:23] #2861 closed

[2021-07-15 17:17] bobmyhill opened #4237 "Add brief defaults section to manual?"
@jaustermann and I were discussing whether ASPECT chooses free slip boundary conditions by default.
It doesn't look like we ever state this... should we add this to the manual somewhere? Are there other implicit things which aren't clearly defined?

[2021-07-15 17:24] cedrict commented on #4208
Should I then add these 6 ppl at the bottom of the page ? anybody else ?

[2021-07-15 17:32] tjhei commented on #4199
[code]
:-)

[2021-07-15 17:37] jaustermann commented on #795
Ping!

[2021-07-15 19:47] gassmoeller commented on #4199
GMG on vectorization level 0 may be interesting ;-)

[2021-07-15 19:56] tjhei commented on #4199
yes, vectorization is not implemented. Will get to that after the hack. Runs, though.

[2021-07-15 19:58] bangerth commented on #4237
I think you probably should look through the logic of what happens if a boundary is not listed as fixed, tangential, etc. My guess is that saying nothing means "free (no-stress) flow".

[2021-07-15 20:00] gassmoeller commented on #4199
That's the main thing. Pretty cool!

[2021-07-16 09:56] bobmyhill commented on #4237
Thanks @bangerth! My issue was not so much how to find the information in the code, but more the fact that I couldn't find it in the manual. There's always a chance I just missed it.

[2021-07-16 10:57] #4208 closed

[2021-07-16 10:58] bobmyhill commented on #4208
Closed by #4213 and #4242

[2021-07-16 12:58] bobmyhill opened #4246 "Improve field parsing"
ASPECT has "compositional" fields not only for compositions, but also other properties like grain size and stress (and soon, a lot of other fields with the updates planned by @MFraters).
Some material models require certain fields in specific (but different) orders, and different rheologies don't play nicely with the others. With the increasing modularisation of the material models, I think this m

[2021-07-16 13:06] tjhei commented on #4246
Agreed. I think we should have a conversation about this.

Related #4182

[2021-07-16 13:25] naliboff commented on #4246
Agree this needs to be discussed and that many of the proposed changes are needed, regardless of whether backwards compatibility is broken. #3927 is also related.

[2021-07-16 16:22] anne-glerum commented on #4056
I've checked again now that #4181 is merged, and with point-wise values, the output on the surface mesh and the volume mesh is the same 🥳 . I'll close this issue, but I'd like to suggest two small changes:
1. Make the the stress_vs_surface_stress test output point-wise values, so that the output is actually the same (as stated that it should be in the test description: "The two ought to agree on t

[2021-07-16 16:52] gassmoeller commented on #4056
Great to hear, and yes both changes sound very reasonable.

[2021-07-16 16:56] bangerth commented on #4056
Good news indeed! I'm in favor of both changes, though I would suggest that we *clone*, rather than *replace* the existing test and do what you suggest.

[2021-07-16 19:21] cedrict opened #4253 "spherical_velocity_components test fails with deal.II9.3.1 ?"
when I run the "viz_spherical_velocity_components" test on my aspect+deal.II9.3.1 it fails since the v_r, v_theta and v_phi values returned are zero. When I run it on aspect+deal.II9.2.0 it works fine.
(thank you Menno for the detective work)

[2021-07-16 20:16] tjhei commented on #2767
#4251 extends supported boundary conditions.
#4217 implements Newton derivatives (first Part)

[2021-07-16 20:23] tjhei commented on #4235
This is already tracked as part of #4069 and we will do this once we tag the release. I guess we can close this...

[2021-07-16 20:23] #4235 closed

[2021-07-17 17:50] maxrudolph commented on #3822
Hi all - I found this open issue when trying to use the bound preserving limiter in 3D, spherical coordinates on a DG temperature solution. It does not appear to work, and I am seeing min/max temperature values more than 1000K outside of the bounds [0,2500] that I set. I was wondering if the bound preserving limiter has been tested in curvilinear coordinates and whether there is a reason that it m

[2021-07-18 03:08] naliboff commented on #3822
@maxrudolph - thanks for bringing this up and unfortunately there was another recent example (see #4131) where the DG limiter was clearly not working in a spherical geometry.

We discussed this in the early summer and the decision was to prevent use of the limiter in spherical geometries until some benchmarks had been done. I simply forgot to make the PR after that meeting, but it is back on the t

[2021-07-18 05:05] maxrudolph commented on #3822
@naliboff - yes, the issue also occurs without the limiter. I'm not sure that anyone else has tried using DG for temperature in spherical geometry. It produces over/undershoots. I went down this path just trying to find some way to obtain a reasonably accurate solution to the energy equation in spherical geometry. SUPG seems to be plagued by oscillations in spherical geometry as well.

[2021-07-18 22:09] naliboff commented on #3822
@maxrudolph - As far as I know, it is only @erinheilman that has tried with the same issues. Do you have a strongly variable viscosity in your simulations. My recollection is that the models presented by @erinheilman showed few to no temperature overshoots as the viscosity contrast (as set by min/max viscosity) decreased. As discussed in #4131, we have some ideas for how to fix this that are curre

[2021-07-18 22:19] maxrudolph commented on #3822
I think that there may be more fundamental issues with the use of DG for the energy equation in spherical coordinates. I saw that Erin's models require an iterative solver. However, all of the models that I've set up have strongly temperature-dependent viscosity but are Newtonian. I have not tried to run an isoviscous case but this wouldn't be too hard to set up. I do not have time between now and

[2021-07-18 22:20] naliboff opened #4259 "Adding an AssertThrow for DG Limiters during parameter parsing"
As a follow-up to #3822 and #4131, I am working on a PR to add an AssertThrow when the DG limiters are used in combination with a spherical geometry.

However, this is  less straightforward than I had imagined due to the order in which parameters are parsed.

I started by adding the check into the `parse_parameters` function within `simulator/parameters.cc`, but realized there was not a way to acc

[2021-07-18 22:25] naliboff commented on #3822
Yes, there very well maybe more fundamental issues with DG in spherical geometries. @egpuckett @bangerth @tjhei - Can you comment here?

Max, when you have time I would be really interested to see the following tests:
1. If temperature overshoots of the same magnitude occur without DG
2. How limiting the viscosity affects the temperature overshoots
3. If an iterative advection scheme actually help

[2021-07-18 23:03] maxrudolph commented on #3822
@naliboff I should mention that the reason that I was experimenting with DG for temperature is that I get overshoots and eventually convergence issues with SUPG. In CitcomS, I think that this is avoided by applying the filter of Lenardic and Kaula (1993). An alternative approach here might be to implement the Lenardic filter in ASPECT. It is at line 689 of this file: `https://github.com/geodynamic

[2021-07-19 05:50] tjhei commented on #4259
Instead of a more complicated solution, I would just put it somewhere here: https://github.com/geodynamics/aspect/blob/c751ae97528536e7d4f95a4bb2f061e34f145a8e/source/simulator/core.cc#L439

[2021-07-19 19:43] naliboff commented on #4259
@tjhei - thanks! PR is located at #4262.

[2021-07-21 10:38] elodie-kendall commented on #4168
Thanks a lot for this @gassmoeller. I would still like to do this as my current wall time limit is 12 hours and I'm doing long run benchmarks against StagYY. I think other users would also appreciate knowing the total run time. I would be happy to chat with @bangerth and @tjhei when you have the time :)

[2021-07-21 11:27] tjhei commented on #4168
I agree that a generic solution as described by @gassmoeller is somewhat complicated and requires changes in deal.II. A simpler approach would be a single timer on rank 0 for the total wall time. We would store the number of seconds elapsed when checkpointing and print the sum of them.