[2016-06-23 23:31] tjhei opened #937 "Force minimum refinement level based on geometry"
You can run into a problem with the mesh becoming so coarse, that the solver fails because we basically only have boundary DoFs. Meshes like the shell/box should probably require at least 1 refinement level.

[2016-06-23 23:40] gassmoeller commented on #937
Unless somebody prescribes a lot of repetitions (i.e. coarse cells)?
Other than that, yes I agree. Everything that keeps us from crashing our models is good.

[2016-06-23 23:43] tjhei commented on #937
If the geometry model can specify a minimum level, the box could require something like level 2, unless the number of repartitions is >1.

[2016-06-23 23:54] gassmoeller opened #938 "Non-convergence of advection solver in parallel"
The attached parameter file crashes with 2 MPI processes in the 7th time step (mesh refinement happens in 5th timestep), but runs in serial.

[spherical_shell.txt](https://github.com/geodynamics/aspect/files/330989/spherical_shell.txt)

[2016-06-24 00:22] bangerth commented on #725
@spco -- interested in tackling this during the hackathon?

[2016-06-24 00:23] spco commented on #725
Sure, this definitely should be wrapped up neatly.

[2016-06-24 00:25] bangerth commented on #369
Yes, talk to me. Put it on your list.

[2016-06-24 00:32] bangerth commented on #937
Interesting problem...

I think generally requiring one level of refinement should solve this problem. We may want to always enforce that, or can we think of cases where one would want to use an unrefined mesh? (Maybe cases where meshes are read from a file?)

[2016-06-24 00:33] bangerth commented on #938
Can you show the error?

[2016-06-24 00:36] gassmoeller commented on #938
*** Timestep 7:  t=2.96465e+07 years
   Solving temperature system...

----------------------------------------------------
Exception on processing:

--------------------------------------------------------
An error occurred in line <477> of file </home/rengas/Software/Aspect-Versionen/aspect/source/simulator/solver.cc> in function
    double aspect::Simulator<dim>::solve_advection(const aspect::S

[2016-06-24 00:50] bangerth commented on #784
@tjhei !

[2016-06-24 01:05] tjhei opened #940 "move parameter section to the end in manual.pdf"

[2016-06-24 01:06] gassmoeller opened #941 "Think about creating a list of tutorials of increasing complexity"
Maybe similar to the deal.II steps.

[2016-06-24 01:08] bangerth opened #942 "Add more about particles to the cookbooks"
Section 6.2.5 has a discussion of simple particles advected along. We should add another section that talks about ways how one can add properties to particles. For example, this could just assign a scalar property to them in the same style as done in the "passive" part of 6.2.4, but we could also show the accumulated strain thingy.

[2016-06-24 01:26] tjhei opened #943 "remove deprecated functionality"

[2016-06-24 01:27] bangerth commented on #943
I think it's actually "deprecated functions". The functionality stays.

[2016-06-24 01:28] tjhei opened #944 "prefer doxygen @copydoc over duplicating documentation"
We have many duplicated lines of documentation, especially in the material models, that doesn't make a lot of sense. Example: simple.h is_compressible().

[2016-06-24 06:29] ljhwang commented on #914
@tjhei DOIs may not be used by google but they are used by most of the indexers and is something they are used to handling.  What would google scholar need? How do people use it in context of discovery and credit for code?

[2016-06-24 16:17] bangerth opened #945 "Use correct axes labels in depth average output files"
Right now, depth average output files using gnuplot format explain the columns in the output files as `<x> <y> ...`, despite the fact that the first two columns are time and depth.

This can now be changed following the merge of https://github.com/dealii/dealii/pull/2710 in deal.II.

[2016-06-24 18:06] unfelipe opened #947 "Problem: Iterative advection solver does not converge"
Hi,

[code]

cheers,

Felipe
ps: The error message I get is this:

   **\* Timestep 11:  t=626743 years
   Solving temperature system...

---

Exception on processing:

---

An error occurred in line <434> of file </root/SEISMO/usr-local-src/aspect/aspect-1.3/source/simulator/solver.cc

---

An error occurred in line <1042> of file </share/apps/deal.II/include/deal.II/lac/solver_gmres.h> in functi

[2016-06-24 18:20] jdannberg opened #948 "Melt improvements"
There are a number of things regarding the new melt implementation that should be improved:
- do not duplicate assemblers
- add new material models and cookbooks
- test improved solvers (after they are implemented, see #922)
- add cookbooks for "melt simple" and "melt global" model

[2016-06-24 18:38] yinghe616 opened #950 "ASPECT compiling issue on Mac OS"
Help needed!
The compilation failed for the most resent ASPECT git development version with both dealii-8.4.1.dmg  and dealii-8.4.0.dmg  on a Mac OS machine.

Below are the error messages
[100%] Linking CXX executable aspect
Undefined symbols for architecture x86_64:
  "std::__1::pair<dealii::parallel::distributed::Triangulation<2, 2>::active_cell_iterator, dealii::Point<2, double> > dealii::GridT

[2016-06-24 18:47] gassmoeller commented on #950
We should find a way to consistently test ASPECT and Deal.II (set up a tester for it). Unfortunately, it is not possible to run MacOS in a virtual machine, so we need a physical machine for it. Somebody volunteering to sponsor a machine?

[2016-06-24 20:35] bangerth commented on #950
@tjhei already suggested the solution (update compiler), but I'd like to add that this looks like a compiler bug (in the mangler or demangler): it complains about the function
[code]
but there is no such function in deal.II...

[2016-06-24 20:50] bangerth commented on #947
What version of ASPECT are you using? The directory name suggests 1.3. Could you try this with the current deal.II version?

[2016-06-24 21:01] gassmoeller opened #952 "Write a section about ASPECT's scaling for the manual"
I have material available, just need to write it up.

[2016-06-24 21:07] yinghe616 commented on #950
I am not sure if this is the only way to do but it does work after updating the OS to the newest one EI Capitan and updating the Xcode to the newest version 7.3.0. Thanks @tjhei

[2016-06-24 21:07] #950 closed

[2016-06-24 21:26] trajaona commented on #950
It seems working for me as well.

[2016-06-24 23:53] bjs2 commented on #923
I'll look into this.

[2016-06-25 00:22] tjhei commented on #918
This is a simplified test that triggers the bug for me:
[A1_ref2T.prm.txt](https://github.com/geodynamics/aspect/files/332800/A1_ref2T.prm.txt)

[2016-06-25 01:09] tjhei opened #958 "Make .prms like solcx run in parallel"
The benchmarks inclusion, solcx, and solkz can not compute the FEM errors in parallel and trigger an assert if you try to do so.

Fix this by stealing the MPI code from benchmarks/burstedde.cc

[2016-06-25 01:31] bangerth opened #959 "Double check geometry model in */spherical_constant.cc"
Both `boundary_temperature/spherical_constant.cc` and `initial_conditions.cc` have code like this:

[code]

This checks the name of the boundary component independent of the geometry model. If we extend this list (as done in #956), it would be possible that two geometry models use the same symbolic name for a boundary, but mean different things for this. A better code would be

[code]

[2016-06-25 04:50] tjhei opened #962 "Very slow S40RTS initial conditions"
This initial condition plugin currently recomputes the spherical harmonics in every quadrature point taking 30 minutes or longer. Fix this.

[2016-06-25 05:14] bangerth commented on #962
In particular, cache the values of the radial factor for each radial distance for which it is computed.

[2016-06-25 07:17] Shangxin-Liu commented on #918
To track Grant's errors, I'm now running the dealii step-32 3D spherical shell example with a long end time on Hokiespeed (4 initial global refinement, 0 AMR refinement), to see whether this will also crash with the similar errors. I ran three same jobs. One is running fine to tilmestep 105332 and I killed it. Two of them crashed with the same "Bus" error, however one at timestep 59639 and the oth

[2016-06-26 00:23] jrglez opened #964 "Cannot output the initial adaptive refinement"
Hello,
I am trying to run a model with 5 initial global refinements and 2 initial adaptive refinements. I am trying to visualize each step of the the initial adaptive refinement, so I have set "set Run postprocessors on initial refinement = true". However, the output files include the globally refined mesh, and the last adaptively refined mesh, but not all the adaptive refinement cycles.
I have at

[2016-06-26 04:35] jdannberg opened #967 "Entropy stabilization when shearing"
We apply standard entropy viscosity to a shear bands test and see oscillations where the velocity is small. This is because the stabilization is scaled with the maximum velocity in a cell, and does not see shearing.
@tjhei suggests to use `max(max_velocity, strain_rate*h)`.

[2016-06-26 04:45] jdannberg opened #968 "formatting of .cc files in the manual"
Some of the .cc files that are used in cookbooks in the manual (for example `Prescribed internal velocity constraints`) have very long lines that go over the margin of the page. What can we do to automatically format this better?

[2016-06-26 04:47] gassmoeller commented on #964
Hi Juan,
this is definitely a problem, and is currently already tracked as #802. I will open a pull request soon that should fix the issue.

[2016-06-26 05:02] bangerth commented on #967
This is a duplicate of #293.

[2016-06-26 05:02] #967 closed

[2016-06-26 05:05] bangerth commented on #968
I suspect that we should simply wrap these lines in the files that we include. Might also want to wrap these lines in the files the manual snippets come from.

[2016-06-26 05:33] tjhei commented on #937
- using a mesh read from a file
- using a box with repetitions >1

[2016-06-26 05:36] tjhei commented on #967
Not quite, because we have a nonzero but small velocity in every cell.

[2016-06-26 05:41] bangerth commented on #967
But aren't these both symptoms of the same underlying cause?

[2016-06-26 06:22] bangerth commented on #918
This is typically a problem with the file system on the cluster. It may be that because the job died, all machines try to more or copy their status and log files into a central location, and the file system is just overwhelmed and gives up. I've seen this on some machines as well, but it's a problem with the *administration of the machine*, not with the *program* that you are running (here, with A

[2016-06-26 06:25] Shangxin-Liu commented on #918
Yes. I'm running the jobs on a different cluster than Grant's so this is indeed a cluster problem. I'm now running the same job on Blueridge, the cluster Grant catch up the his errors.

[2016-06-26 16:01] class4kayaker opened #972 "Modularize Nonlinear solvers"

[2016-06-26 16:05] tjhei commented on #972
- move solvers into separate file
- make them plugins
- use better names for the solvers
- put parameters into subsections
- add new schemes: "Stokes once" for example
- backwards compatibility?

[2016-06-26 17:50] #802 closed

[2016-06-26 17:53] gassmoeller commented on #964
Juan can you check with a recent developer version if your problem has been solved? #969 should have solved it. If so, feel free to close the issue.

[2016-06-26 17:57] tjhei commented on #366
The recommended versions of libraries (in my opinion) should be the ones I am using for the deal-vm, the automated tester, and the ones used in candi. See here for the list:

https://github.com/tjhei/docker-files/blob/cfa37bd4b3f1904369bf7ddde423fd829a10370b/full-deps/Dockerfile#L38

[2016-06-26 18:08] tjhei commented on #972
I am sketching a solution right now...

[2016-06-26 18:17] spco opened #975 "Update MacOSX build instructions"
- Include lines in profile to point to correct compilers.
- Remove/caution link to Matsui's instructions, as these are out of date, and the cmake command causes issues.
- Add Xcode instructions.

I'll submit a PR soon.

[2016-06-26 18:17] tjhei opened #976 "Documentation update: SAVANI and S40RTS"
Documentation of parameters uses wrong spelling for "Vs to density scaling":
[code]

[2016-06-26 18:27] bjs2 commented on #976
I believe I can handle this one.

[2016-06-26 19:55] yinghe616 opened #981 "Add DG test examples in manual using higher order polynomial elements (degree > 3)"
I am thinking about running several DG test examples using higher order polynomial discretization and adding the results into the manual. Usually the DG method can have a comparable cost of total degrees of freedom as FEM when a higher order polynomial (k<3) used. Also it gives better convergence when using higher order discretization (Gauss-Lobatto quadrature). Perhaps this should be mentioned to

[2016-06-26 20:39] tjhei opened #983 "S40RTS data directory assumes "/" at end"
just add it if it is not there. @bjs2

[2016-06-26 20:39] tjhei opened #984 "S40RTS error in parallel"
If using MPI with >1 processor, error messages when data files are missing are not shown. Instead, the code hangs. Fix this.

[2016-06-26 22:22] bangerth commented on #975
Fixed by #986.

[2016-06-26 22:22] #975 closed

[2016-06-26 22:24] bangerth opened #988 "Mac OS X: Check that .dmg compiler equals the one used for ASPECT"
We've run into problems with several people who happened to have a different compiler on their system than the one used to build the .dmg. We should figure out a way to ensure that they are the same, during cmake time for aspect.

@luca-heltai -- is there a way to export the compiler version from the .dmg, so that we can test it somewhere?

[2016-06-26 22:24] bangerth commented on #988
See the discussion in #986.

[2016-06-26 22:36] tjhei opened #989 "manual: thermal expansion coefficient notation"
The thermal expansion coefficient $\alpha$ is sometimes referred to as $\beta$. Fix this.

[2016-06-26 23:10] bangerth commented on #981
Sure, any addition to the manual is welcome!

As discussed earlier, I'm not sure you get results as nice as what your text above suggests. This is particularly true for solutions with discontinuities where you don't get a higher convergence order even though you use higher polynomial degrees.

[2016-06-26 23:11] yinghe616 opened #990 "Reuse the compositional matrix if more than one compositional filed need to be solved?"
When solve the compositional advection equations for multiple compositional fields, the left hand side matrix in most of time will be the same (mass matrix+dt *advection matrix), so only the right hand sides vector will be differ. Currently the codes just reassemble the matrix for each compositional field and then solve.
Maybe we could only assemble LHS matrix once and save some assembling time fo

[2016-06-26 23:12] bangerth commented on #984
Got a little reproducer?

[2016-06-26 23:14] bangerth commented on #990
That's not true. The left hand side matrix contains the artificial viscosity term, which is dependent on the solution (i.e., the specific compositional field we solve for). At least this term has to be re-assembled for each field, and that negates almost all of the benefit of avoiding some assembly.

[2016-06-26 23:14] #990 closed

[2016-06-26 23:17] yinghe616 commented on #990
ah, I see what you meant. But for DG with upwind-flux, it's all the same...

[2016-06-26 23:21] bangerth commented on #990
I suppose so, assuming that the upwind flux only depends on the velocity field and not on the compositional field. (I.e., if the flux operator is linear.)

[2016-06-27 01:07] bjs2 commented on #923
I ran the same problem I mentioned in issue #951, and these are the results I got.

For \hat A:
`Solving Stokes system... 30+203 iterations

| Solve Stokes system             |         1 |       198s |        27% |`

For A:

`Solving Stokes system... 30+190 iterations

| Solve Stokes system             |         1 |       792s |        57% |`

Do we still want this?

[2016-06-27 01:15] spco commented on #989
There are 25 occurrences of alpha, 24 of beta. Choose your favourite?

Relatedly, the equation in line 5580 of manual.tex (Rayleigh number definition) uses $\alpha$ for the thermal diffusivity, elsewhere it's normally $\kappa$ (I think this comes direct from Wikipedia). I haven't checked whether any other occurrences are odd usages. This needs fixing.

[2016-06-27 01:54] ian-r-rose commented on #989
In the geophysical literature, $\alpha$ is much more common for thermal expansivity, and $\kappa$ is much more common for thermal diffusivity, so I would advocate for those symbols.

[2016-06-27 04:32] bangerth commented on #923
Hmm, that does not sound promising :-(

[2016-06-27 04:39] gassmoeller commented on #989
I agree with Ian on this.

[2016-06-27 04:44] spco commented on #989
So, would it be better to use LaTeX macros to help keep things uniform, and also improve readability of the .tex file? Something along the lines of

[code]
? This would require a fair bit of work, it's not a 10 minute job to extend this to all/most variables and coefficients in the manual.

[2016-06-27 04:59] gassmoeller commented on #989
I am not sure this would help, because a large part of the manual is taken over from the descriptions in the source files, and you probably do not want to change all of them as well. Also when not so experienced users will write their documentation text in the cc files they are most likely not aware of the existence of these macros, and we will always have a mixture of `\diffusivity` and `\kappa`.

[2016-06-27 05:04] yinghe616 commented on #989
There is also a parameter in the entropy stabilization section called 'alpha',  which means the exponent  in the entropy viscosity stabilization. But maybe give it a longer name specifying the functionality could be better? like entropy_viscosity_exponent?  The default value is 2, and most user doesn't worry about this, however the falling box problem only works if I set the value to be 1, which

[2016-06-27 07:28] luca-heltai commented on #988
If they installed the dmg, they also have the compiler used to build the dmg.

If the plan is to use the dmg and compile aspect afterwards, they should make sure they set the paths correctly...

[2016-06-27 17:41] yinghe616 opened #995 "Improve the advection solver (matrix allocation, assembling, solving)"
Yesterday when I run a 3d falling box test, I found that  the #dof of the advection fields increased too much as the mesh refined, although it’s an expected drawback of the DG with lower order approach. However, when I went though the solver part, I think there are some parts at least we can improve to reduce the computational cost in terms of memory and time for the advection fields.

1, matrix a

[2016-06-27 17:51] yinghe616 commented on #995
And also one way can help to improve as Sam suggested is to use DGP instead of DGQ.

[2016-06-27 18:13] spco opened #998 "DG face->measure() fails for curved elements"
[code]

[2016-06-27 18:30] bangerth commented on #988
Hm, interesting. We had at least a couple of cases where this must have happened. Next time we have one of these cases, we ought to investigate the issue with the paths then...

[2016-06-27 18:30] #988 closed

[2016-06-27 18:44] bangerth opened #999 "Use MappingQ1 when possible"

[2016-06-27 18:46] bangerth commented on #999
By way of explanation, @ian-r-rose will add code via #965 that replaces the mapping object to be a unique pointer that will be initialized in the following way or similar:
[code]
This could be done in a better way using the (cheaper) `MappingQ1` class as follows:
[code]

[2016-06-27 19:09] yinghe616 opened #1002 "Do not assemble the temperature matrix if the problem is temperature independent"
For temperature independent problem, current linear solver will skip solving the temperature system once we know that the RHS is zero. However since we only know the RHS until we assemble the system and RHS at the same time, which still costs a lot of time.

A better way will be to add some global parameter to show that it is a temperature independent problem, so the solver can totally bypass the

[2016-06-27 19:11] ian-r-rose opened #1003 "Rename freesurface.{h,cc}"
These files should be renamed `free_surface.{h,cc}` for consistency with the naming of the rest of the files.

[2016-06-27 19:13] ian-r-rose opened #1004 "Redistribute free surface DoFs using signalling mechanism"
Currently redistribution of the free surface degrees of freedom is done in the Simulator class upon mesh refinement. It would be cleaner if the `FreeSurfaceHandler` handled this itself, using the signalling mechanism.

[2016-06-27 22:42] #804 closed

[2016-06-27 22:45] class4kayaker commented on #547
Currently working on basic solution, however handling the more general case of lateral_average being overly fine when used by another plugin is beyond the planned scope.

[2016-06-27 22:54] tjhei opened #1006 "FreeSurface: use manifolds"
We currently detach the manifold after the initial refinement. I think with the new MappingQ1Eulerian we should be able to keep the manifold attached.

Can we get a test that verifies, that things work and if yes remove ``detach_manifolds()``?

@ian-r-rose ?

[2016-06-27 23:38] #925 closed

[2016-06-27 23:54] bangerth commented on #989
I don't think I can give a better explanation other than referring to other papers. I've done this in #1010.

Why it requires one particular exponent and doesn't work for another -- that is a good question. I must admit that I don't have a good answer. It may be related to #293, but I don't really know :-(

[2016-06-28 00:00] yinghe616 commented on #293
Yes, for the falling box example, the velocity is not zero, but comparable very small in the whole region...

[2016-06-28 01:12] bangerth opened #1016 "Chunk geometry should set a HyperShellBoundary object"
@anne-glerum -- want to try this out? :-)

[2016-06-28 01:18] bjs2 commented on #983
I'm actually not sure where to edit this in the code. I'm still running the preconditioner tests, so it's not really urgent.

[2016-06-28 01:18] bangerth opened #1017 "[post dealii-8.5] No longer swap manifold in/out before/after mesh refinement"
Right now, we have several geometries with curved boundaries that are described by manifold objects. They *also* attach an old-style boundary object to the triangulation.

The geometries attach the manifold (through a signal) to the triangulation just before mesh refinement and take it away after mesh refinement. This setup is necessary because deal.II would otherwise see that there is a manifold

[2016-06-28 03:53] bangerth commented on #983
The issue is in S40RTS.cc, line 161:
[code]
For this to work, `datadirectory` needs to be terminated with a slash. The default value of the corresponding parameter is in fact so terminated, but that need not be so if the user does not provide a slash at the end of a user-specified directory, because we have this code in line 363:
[code]
This just need the extra statement
[code]

Bonus points if yo

[2016-06-28 04:22] ian-r-rose commented on #1003
Addressed by #1013.

[2016-06-28 04:22] #1003 closed

[2016-06-28 17:13] ian-r-rose commented on #1006
This can be closed.

[2016-06-28 17:13] ian-r-rose commented on #369
This can be closed.

[2016-06-28 17:28] bangerth commented on #1006
Great. Can't you close things yourself?

[2016-06-28 17:28] #1006 closed

[2016-06-28 17:29] ian-r-rose commented on #1006
It wasn't my issue.

[2016-06-28 17:37] bjs2 commented on #923
Maybe this sounds more promising? One additional global refinement (and double the number of processors used) yields...

For `\hat A`:
[code]
For A:
[code]

[2016-06-28 18:16] bangerth commented on #1016
Also related to #822

[2016-06-28 18:32] bangerth commented on #923
That makes no sense. You need *more* iterations with a *more expensive* preconditioner, but you need *less* time? Is this reproducible if you run it a second time?

[2016-06-28 21:28] class4kayaker commented on #528
Implementation in progress

[2016-06-28 21:47] bangerth opened #1027 "Link cookbooks/tutorials to the examples in Turcotte/Schubert, "Geodynamics""
This would more closely track what typical geodynamics courses do. It would require someone who has gone through such a course and make the necessary connections.

[2016-06-28 21:52] bangerth opened #1028 "Create a list of tutorials"
Similarly to the deal.II tutorials: have a lot of them, arrange them in a dependency graph.

These tutorials could be the basis for in-person tutorials we teach around the world. In particular:
* Convection box with 2 rolls
* Spherical shell
* Tutorials on the different approximations (BA, EBA, ...)
* Tracers
* Adaptive refinement
* The general layout of ASPECT -- structure of the classes, plugins

[2016-06-28 21:54] bangerth opened #1029 "Create a connection graph front page for the doxygen pages"
Similarly to https://www.dealii.org/developer/doxygen/deal.II/index.html . Use a graph similar to the one @tjhei has in his slides about the structure of the code/plugins. Care to attach it here, @tjhei ?

[2016-06-28 21:55] egpuckett commented on #989
I'll take this on.

[2016-06-28 21:56] egpuckett commented on #1027
I will add one example perhaps called

  "2D Convection_Rolls.prm

This requires the BA equations.

[2016-06-28 21:57] lkellogg commented on #1027
I can help with this.

[2016-06-28 22:05] jrglez commented on #964
I was trying that on the CIG workshop virtual machine. I will not be able to check with a developer version for a while, but I will close the issue anyway.
Thanks.

[2016-06-28 22:05] #964 closed

[2016-06-28 22:49] bangerth opened #1031 "Collect a list of hard problems"
If you have something that is difficult to solve, i.e., requires a lot of linear iterations, attach .prm files here.

[2016-06-28 22:56] ian-r-rose commented on #999
I've got this one.

[2016-06-28 23:08] bjs2 commented on #923
Okay, I reran this problem, and the results this time are consistent with the first ones. I think there was an issue with the nodes I used.

For `\hat A`:
[code]
For A:
[code]

[2016-06-28 23:11] bangerth commented on #923
That makes more sense. In general, we often report the best of 3 or 5 runs, as that allows us to gloss over temporary quirks like momentarily overloaded file servers, clogged network interconnects, etc.

[2016-06-28 23:17] spco commented on #923
So for #refines=n, cheap is 4 times faster. For #refines=n+1, cheap is only 15% faster. Do we expect a crossover point around #refines=n+2?

[2016-06-28 23:34] bangerth commented on #923
Worth trying it out, isn't it!

[2016-06-28 23:44] spco opened #1033 "Clarify the description of 'box' model"
The 'box' model in the manual, for both Boundary temperature model and Boundary composition model, has the description

This is not really consistent with the reality - it sets Neumann at any boundary that is not specified in the prm. The description should be updated to clarify this.

I'd do this myself, but I'm not sure exactly where to do this - is parameters.tex auto-generated from somewhere e

[2016-06-28 23:54] gassmoeller opened #1035 "More clever way to generate particles in cell"
@bangerth knows what this is about.

[2016-06-29 00:08] bjs2 commented on #923
Sorry. The WiFi is so spotty here that I just wanted to post the first results that I got. Also, @spco, if you have 1000 spare processors lying around to handle the 90 million unknowns, be my guest!

[2016-06-29 00:21] egpuckett opened #1036 "SolKz Benchmark Error: Unknown CMake command "DEAL_II_INITIALIZE_CACHED_VARIABLES""
When one tries to run the SolKz benchmark by running cmake in

  aspect/benchmarks/solkz

cmake returns the error

   CMake Error at CMakeLists.txt:32 (DEAL_II_INITIALIZE_CACHED_VARIABLES):
   Unknown CMake command "DEAL_II_INITIALIZE_CACHED_VARIABLES".

This error message is not very helpful.

In other words,

  (master) $ cd benchmark/solkz
  (master) $ ls
  CMakeLists.txt  solkz.cc  solkz.prm

[2016-06-29 00:26] anne-glerum commented on #1016
On it!

[2016-06-29 01:22] lkellogg commented on #989
I agree with Ian; this is more standard in the geophysical literature.

[2016-06-29 01:39] jdannberg opened #1039 "Add a general section about stabilization to the manual"
We should have a section in the manual (or a cookbook) that explains what the stabilization does, what options and parameters we have, and how to choose them for certain applications. Right now there is only a section on smoothing of the entropy viscosity.

[2016-06-29 01:43] jdannberg opened #1040 "Test suite for stabilization"
We should add a suite of tests for the stabilization, where we see how the stabilization changes the accuracy and the computation time for a number of problems, so that we get an intuition for how to choose parameters for different applications, or what good default values are with all of the new options we have now.

[2016-06-29 01:44] #998 closed

[2016-06-29 01:45] anne-glerum commented on #666
All occurrences already seem replaced by a dealii utilities function #853 :
      `  data_directory = Utilities::replace_in_string(prm.get ("Data directory"),
                                                      "$ASPECT_SOURCE_DIR",
                                                      ASPECT_SOURCE_DIR);`

[2016-06-29 01:46] MFraters commented on #798
I will take a look at this.

[2016-06-29 01:53] jaustermann commented on #940
I'll do this!

[2016-06-29 01:57] jdannberg commented on #968
This was addressed by #970.

[2016-06-29 01:57] #968 closed

[2016-06-29 01:59] gassmoeller commented on #1033
parameters.tex is automatically generated from the description string that is provided in in the declare_parameters() function, or the ASPECT_REGISTER_.... macro at the bottom of the .cc file. So feel free to improve the description in the box.cc files, and it will be updated in parameters.tex the next time Timo updates it (maybe it can be included in #1024).

[2016-06-29 02:00] jdannberg commented on #935
This was addressed by #960.

[2016-06-29 02:00] #935 closed

[2016-06-29 02:01] jdannberg commented on #369
This was addressed by #1011.

[2016-06-29 02:01] #369 closed

[2016-06-29 02:02] gassmoeller commented on #1036
Gerry can you try running 'cmake -D ASPECT_DIR=your_aspect_dir .' and replace 'your_aspect_dir' by the path to your aspect.

[2016-06-29 02:03] spco commented on #1033
@tjhei - do you want this in #1024 or shall I do it separately?

[2016-06-29 02:12] gassmoeller commented on #1033
I would say prepare it separately, and we can ask @tjhei to update #1024 if it is not already merged at the time when your update is merged.

[2016-06-29 03:30] gassmoeller commented on #940
Closed by #1042

[2016-06-29 03:30] #940 closed

[2016-06-29 03:51] class4kayaker commented on #721
In progress

[2016-06-29 03:58] egpuckett commented on #1036
Hi Rene,

That's what Timo had me do and it works.  The origin of this 'Issue' is that Timo asked me to submit the issue and I think he specifically asked me to write

  "This error message is not very helpful."

(I may have put more details in the Issue than necessary,)  I think Timo wanted a record of this particular 'feature' so that he or someone else would change it.

Do you want to see the o

[2016-06-29 04:00] gassmoeller commented on #1036
No you do not need to post the output. I was just thinking you were still struggling and wanted to give advice that might solve the problem, but if you have already solved it that is great.

[2016-06-29 04:01] gassmoeller commented on #999
Closed by #1041

[2016-06-29 04:22] MFraters commented on #798
I have some idea's about what I could do with this, but I guess it is better to talk about it in relation to what we want to do with the ellipsoidal chunk geometry and the topography.

[2016-06-29 05:57] tjhei commented on #1033
We will update the parameters.tex again at some point after the hackathon. No need in trying to always keeping it in sync.

[2016-06-29 06:29] bangerth commented on #1035
When using a random distribution of particles, we first compute how many particles each cell should get. Let's say that, on each cell `K`, we find that we need to distribute `N_K` particles randomly. We then create particles randomly in the box that surrounds `K`, and take all those that are within `K`, until we have `N_K`. This works, of course, but it's inefficient because finding out whether a

[2016-06-29 06:44] bangerth commented on #666
@anne-glerum -- yes. I was more thinking of just replacing all of `Utilities::replace_in_string(prm.get ("Data directory"), "$ASPECT_SOURCE_DIR", ASPECT_SOURCE_DIR);` by one call like `Utilities::expand_ASPECT_SOURCE_DIR(prm.get("Data directory"));`

[2016-06-29 06:57] bangerth opened #1047 "Double check the Averaging::evaluate function"
Discovered in #1045: The `Averaging::evaluate()` function only does the averaging guarded by this check:
[code]
But checking the viscosities is a particularly poor choice since we document that one may suppress the computation of viscosities if the vector with input strain rates has size zero. I don't know if that means that the output vector of viscosities may also be zero, but it's definitely a

[2016-06-29 08:47] dsarahstamps opened #1048 "doi's for plugins"
Do you mind if for each plugin that is “merged” after community review there
is an automatically generated and citable doi when compiling the manual? For
example, within the manual next to the title of the plugin:

If this plugin is used for a publication or the development of another plugin
cite the appropriate ASPECT publications found in the manual and:
- Austermman (2016), Plugin: Heatflux Pos

[2016-06-29 13:31] tjhei commented on #1036
Yeah, it looks like cmake is finding an (incomplete?) version of ASPECT and then fails finding deal.II. Let me try to reproduce this.

[2016-06-29 17:23] hlokavarapu commented on #936
Looking into this*

[2016-06-29 17:23] gassmoeller opened #1051 "Make sure particle fields do not create a matrix block"
to save memory. Do this by specifying Coupling::None for the SparsityPattern

[2016-06-29 17:27] tjhei opened #1052 "Revive output_parallel_statistics and make it a plugin"
see
[code]

Turn this into a postprocessor that can be turned on instead of a variable that you have to modify by hand. Make sure it works, maybe extend it.

[2016-06-29 17:29] tjhei opened #1053 "Generate matrix statistics"
Maybe based on #1052, output for each block of the system matrix the memory consumption (or total number of entries).

[2016-06-29 17:29] tjhei commented on #1051
see #1053 to check if it really worked.

[2016-06-29 18:14] bangerth commented on #1048
Related to #1014 which contains a mock-up for how some kind of citation system may work.

[2016-06-29 19:17] bangerth commented on #1048
We had a long discussion about this in the dark last night on the porch between myself, @tjhei , @ljhwang and @lkellogg (and others). CIG has worked on ways to give appropriate credit for software contributions for a good while now, and is funded by NSF to do this. In all of the discussions we have had on this issue, the overarching goal we all (obviously!) agree upon is that we should give credit

[2016-06-29 21:18] tjhei opened #1059 "[post 1.5] remove deprecated heating parameters"
remove "Include shear heating" and "Include adiabatic heating" and "Include latent heat"

[2016-06-29 21:56] bjs2 commented on #984
After compiling the quick fix you made earlier today @tjhei, I ran the problem again with two processors. Although we already know the problem, I think the error message given when MPI aborts is still helpful:
[code]
It gives this message when I run it with just 1 processor as well, but that's because we now bypass the throw. But the message itself explains why the second processor refuses to term

[2016-06-30 04:45] gassmoeller commented on #983
Fixed by #1021

[2016-06-30 04:45] #983 closed

[2016-06-30 04:46] #999 closed

[2016-06-30 17:57] bangerth commented on #995
@yinghe616 -- instead of having this one github issue that contains lots of suggestions for individual improvements, can you open one issue for each suggestion? This makes it much simpler to track which have already been taken care of and which one are still in need of work.

If you open one issue for each item here, feel free to close this one.

[2016-06-30 18:00] bangerth commented on #1002
Can't you already achieve this by using the "Stokes only" solver option?

[2016-06-30 18:32] tjhei commented on #1048
Thanks for writing this summary, @bangerth . I agree with the points you made. I have a few more comments:

- Assigning a DOI to a module/plugin/part of a source file is technically not that trivial. It is easy to get a DOI for a git hash inside a repo (so that could be a merge-commit or some version of ASPECT), but this is not a DOI "for a plugin".
- Most contributions are not a single, self-cont

[2016-06-30 19:21] class4kayaker opened #1061 "Decouple number of depth bands for lateral averaging in steinberger from prefactor file"
In #992, it was noted that the number of depth bands for lateral averaging in the steinberger material model is defined by the number of slices in the lateral viscosity file. In order to avoid having to edit material model definition files, it would be desirable to have the number of bands be defined by a parameter instead, while maintaining correct behavior.

[2016-06-30 21:04] bangerth opened #1064 "Better advice for referencing"
In section 1.1, do a better job at recommending how to reference ASPECT.

[2016-06-30 21:04] bangerth commented on #1064
Also update the reference to the manual with the *version* of ASPECT. (Needs to go into the release task list as well.)

[2016-06-30 21:32] bangerth commented on #1064
Same text exists on the website.

[2016-06-30 21:38] jaustermann commented on #1064
The text on the website does not include the Acknowledgement section ... but it probably should?

[2016-06-30 21:39] bangerth commented on #1048
In my annual reports, I've taken to explaining in quite some detail (because my colleagues are not used to these sorts of things) what I've done. This includes listing the tutorial programs I (co-)wrote (including HTML reference), but I've also listed the number of commits and the number of pull requests that have been submitted (with an adjustment for the fraction that I probably commented on).

[2016-06-30 21:44] bangerth commented on #1064
Yes, it should.

[2016-06-30 23:29] egpuckett commented on #1048
I concur with the points made by both Wolfgang and Timo. Thank you for taking the time to write this!

[2016-06-30 23:39] bjs2 commented on #984
The alteration that we made to utilities.cc works both when a file is not found and when the file size is 0. However, in the latter case, it gives the same error message as above.

[2016-07-01 00:19] class4kayaker commented on #1061
When this is fixed, the steinberger_viscosity test removed in 9483c9f should be added again.

[2016-07-01 00:51] gassmoeller opened #1069 "Make active particles as simple to use as possible"
Main outcome of the discussion with @naliboff, @lkellogg and @cedrict.

When I implemented #1068 I also thought that maybe every particle property should be handled like a compositional field (in the sense that they use the same plugins for prescribing initial conditions, maybe even using the reaction_terms of the material model to do the update). This would make the switch between compositional f

[2016-07-01 01:07] bangerth commented on #984
I'm still in favor of letting processor 0 read the file, communicate to everyone whether that succeeded, and only then trigger the AssertThrow. The other processors would still receive whether the reading worked, and if it didn't, throw a `SilentException`.

[2016-07-01 01:17] class4kayaker commented on #666
On it

[2016-07-01 01:25] bjs2 commented on #984
I think that is what we're doing now, with some extra code to handle the case that the file exists but contains nothing. I haven't committed the changes yet because I wanted to be sure that this is the best way to go about things.
[code]

[2016-07-01 02:50] gassmoeller commented on #1033
Closed by #1043

[2016-07-01 02:50] #1033 closed

[2016-07-01 03:45] egpuckett commented on #989
OK everyone. In Iris van Zelst's benchmark entry

   4.6 The Burstedde variable viscosity benchmark

she uses \alpha in the  equation for the viscosity

   μ = exp {1 − α [x(1 − x) + y(1 − y) + z(1 − z)]}

whereas as near as I can tell Burstedde [BSA + 13], only uses

  μ = exp(1 − 4(x(1 − x) + y(1 − y) + z(1 − z))).

Does anyone want to suggest a variable other than \alpha (α) here?

[2016-07-01 04:13] bangerth commented on #984
Yes, I think this is the correct way to go. Package it up!

[2016-07-01 05:04] class4kayaker commented on #934
On it

[2016-07-01 05:29] ljhwang commented on #1064
Since you version the manual, I would suggest that you put the version number in the bibtek.  Hence, I would also make this a required reference for now in lieu of properly mentioning version in the text.

Mentioning the website is perhaps redundant as if they have the manual, should the website not already be in the manual?  What is the goal in mentioning the website?

[2016-07-01 06:18] bangerth commented on #1064
Yes, I think we ought to get rid of the reference to the website.

[2016-07-01 06:26] lkellogg commented on #1064
The library types would also recommend not referencing both the website AND the manual.

[2016-07-01 06:58] spco commented on #698
I think this is fully addressed in #1045 (tho reaction terms aren't averaged, see Wolfgang's comment there).

[2016-07-01 17:00] ljhwang commented on #1064
CLAIM: I will work on this ....

[2016-07-01 17:08] jaustermann commented on #976
I think this issue can be closed. I don't know if I'm allowed to close it ...

[2016-07-01 17:12] spco commented on #1053
I'm working on this.

[2016-07-01 17:15] gassmoeller commented on #976
Thanks. Closed.

[2016-07-01 17:15] #976 closed

[2016-07-01 17:17] egpuckett commented on #989
@lkellogg is now working on this starter project.

[2016-07-01 17:19] jaustermann commented on #1064
Regarding @lkellogg's comment: I would not put the version number in the bibtex because the version that might be used in the paper might not be the same version number in the manual. For example if someone doesn't update his/her code for a while but then checks the online manual on how to cite it. I would simply say that if Aspect is used the version number should be stated.
I agree that citing t

[2016-07-01 17:23] gassmoeller commented on #958
Fixed by #973.

[2016-07-01 17:23] #958 closed

[2016-07-01 17:29] bangerth opened #1078 "Output memory stats with less accuracy"
As a follow-up to #1062: The memory statistics postprocessor outputs things with 6 digits, so you get
[code]
This is because the code in `execute` does this:
[code]
This creates 6 digits after the decimal point. I think two digits after the decimal point would be completely fine.

Additional points for putting the units after the number, instead of the string before the colon.

@spco -- up for it

[2016-07-01 17:33] bjs2 commented on #984
Resolved by #1075

[2016-07-01 17:34] #984 closed

[2016-07-01 17:36] bangerth opened #1080 "Define doxygen group InitialTopographyModels"
#1063 adds a doxygen group `@ingroup InitialTopographyModels`. These groups need to be declared and documented in `doc/modules/groups.h`. This is still missing at this point.

@MFraters / @anne-glerum -- want to add this as a follow-up to #1063?

[2016-07-01 17:39] spco commented on #1078
Sure, will take 5 minutes when I get to it. </over-optimism>

[2016-07-01 17:41] MFraters commented on #1080
Sure, will look into this

[2016-07-01 18:01] MFraters commented on #1080
I currently have as text:

[code]

@anne-glerum, what do you think?
I can also still add it to the pull request #1063, since it isn't merged yet.

[2016-07-01 18:08] bangerth commented on #1080
Leave it for a separate PR and let's get #1063 merged. The longer we wait, the more conflicts we usually accumulate and the longer it takes to chase the tester through it over and over again.

[2016-07-01 18:09] bangerth commented on #1080
Grammar: "A module for the definition of properties initial topography of the geometry."
manange -> manage

[2016-07-01 18:39] tjhei opened #1084 "add installation instructions for astyle"

[2016-07-01 18:42] #547 closed

[2016-07-01 18:43] naliboff commented on #1069
@gassmoeller - Thanks again for your patience with the particle discussion :)!  I'm testing models now with the compositional fields advected via the normal field method vs 'tracer' method.  I'm curious as well to see about the diffusion issue as well as run time vs 'accuracy' as a function of particle density.  I will post relevant results here as they come up.  Huge thanks again for the entire p

[2016-07-01 18:51] bangerth commented on #1084
Should go to whatever place we have that discusses how to contribute patches.

[2016-07-01 18:55] bangerth commented on #995
For reference, #1037 was one attempt to address one current short coming for DG fields.

[2016-07-01 19:00] naliboff commented on #942
On it.  Spoke with @gassmoeller and I will use his particle branch, but note in the pull request that a merge will have to wait the particle pull requests are merged.

[2016-07-01 19:06] yinghe616 commented on #995
@bangerth, just noticed your comment from yesterday. Sure~, I will open individual issue about individual improvement later and close this one. And of course, I would like to keep working on fixing those issues. :)

[2016-07-01 20:06] bjs2 commented on #1084
I just installed it on my laptop.

[2016-07-01 22:08] lkaratun commented on #1047
working on it

[2016-07-01 22:14] gassmoeller opened #1090 "ASPECT 2.0"
List of Todos that should be included in 2.0:
- [x] Rename initial conditions and boundary conditions directories to identical structure:
  initial/boundary_property
- ~~[ ]~~ Rename parameter file subsection to consistently reflect the plugin name (automatically)
- [x] List of initial conditions (+ comp initial conditions)
- ~~[ ]~~ Pull apart compound initial conditions and boundary conditions
-

[2016-07-01 22:16] lkaratun commented on #1047
submitted the pull request [https://github.com/geodynamics/aspect/pull/1091](url)

[2016-07-01 22:18] bangerth commented on #1064
See #1087 and #1092. The same changes now also have to be done on the website.

[2016-07-01 22:35] ljhwang commented on #1064
Version number is now in the manual bibtek but @bangerth is there a way to automatically import from VERSION into the string? This will ensure that the bibtek stays in sync.
@jaustermann A user should download the manual with the package. I would hope most users would know to use the version of the manual they downloaded.  This does happen and vice versa. Always best to check VERSION.

[2016-07-01 22:40] ljhwang commented on #1048
Historically, projects like GMT and PyLIth have issued release notices in EOS as a short article.  These often became the citable reference as there was no paper and the implicitly also carried versioning information.

[2016-07-01 22:47] gassmoeller commented on #1080
Is this closed by #1083?

[2016-07-01 23:02] dsarahstamps commented on #1048
Such EOS release notices don't give individual credit for the contributors. The ASPECT community review process is rigorous and each plugin is a substantial contribution to the academic community. There must be a better way forward.

[2016-07-01 23:20] tjhei commented on #1064
We don't include the pdf inside the repository because it is a) big and b) changes too often.

[2016-07-01 23:26] tjhei commented on #1064
I don't think this will work. We can not put the current RC (currently 1.5.0) into the manual, because that is not released yet. Version 1.5.0 might never exist if we go to 2.0 directly. That means importing it automatically won't work anyways.

[2016-07-01 23:27] tjhei commented on #1064
Note: any change to the manual also needs to be done at http://aspect.dealii.org/publications.html

[2016-07-01 23:28] tjhei commented on #1064
Finally, didn't we want to use cite.html exclusively? (see #1014)

[2016-07-01 23:50] gassmoeller commented on #1047
closed by #1091

[2016-07-01 23:50] #1047 closed

[2016-07-01 23:52] MFraters commented on #1080
Yes, I think so.

[2016-07-02 00:07] #1080 closed

[2016-07-02 00:14] bangerth opened #1097 "Fix bibtex entries for ASPECT"
There are several bibtex entries in the tree for ASPECT. Where we say things such as "Advanced Solver for Problems in Earth ConvecTion", all capital letters have to be enclosed in braces to make sure they are also capitalized after bibtex runs.

[2016-07-02 03:47] gassmoeller commented on #1052
@spco is this issue closed by #1062 or is there something else coming?
Thanks for working on this by the way, I will definitely use this postprocessor for some of my runs :+1:

[2016-07-02 03:57] cedrict commented on #1031
I haven't run it myself, but there is the multi-sinker experiment in May et al, CMAME 290, 2015.
<img width="609" alt="screen shot 2016-07-02 at 05 52 25" src="https://cloud.githubusercontent.com/assets/7646114/16538097/2fae5252-4019-11e6-87b6-f2973d10bd93.png">
I have the C code to generate the sinkers and an input file for ASPECT (from 2nd hackathon)

[2016-07-02 04:14] cedrict commented on #915
- punch problem (von Mises & Drucker-Prager plasticity) [Thieulot et al, JGR 113, doi:10.1029/2008JB005591 , 2008]
- linear subduction problem, [Schmeling et al, pepi 171, p198, 2008]
- (regularised) lid driven cavity problem ?
- slab detachment benchmark [Thieulot et al, in prep]
- Viscoplastic thermal convection [Tosi et al, Gcubed 16, doi:10.1002/2015GC005807, 2015]. Anne has all the input file

[2016-07-02 04:39] spco commented on #1052
This can be closed - the matrix statistics I'm working on will go towards #1053.

[2016-07-02 05:27] #1052 closed

[2016-07-03 22:30] bangerth commented on #1031
I tried the multi-sinker test a while back based on the files @cedrict gave me last year. It's surprisingly hard -- I couldn't run it at reasonable resolution on my 64-core machine.

[2016-07-04 02:24] bangerth opened #1112 "Also adjust sparsity pattern for DG for nprocs>1"
#1100 fixes the sparsity pattern for the DG case when running on one processor. But we are missing the corresponding function in deal.II to also make this happen when using more than one processor. Add it.

[2016-07-04 02:27] bangerth opened #1113 "Investigate why output changes after sparsity pattern optimization"
#1100 modifies how the sparsity pattern is created for the DG case. In principle, this should only reduce the number of extra zeros in the sparse matrix (we unnecessarily allocate nonzero entries for a great number of entries that will ultimately never be set to anything). That pull request was merged, but I realize that it actually changes the number of iterations as well as the output for a numb

[2016-07-04 02:46] yinghe616 commented on #1113
@bangerth, Yes, I asked the same question to @tjhei before, and he gave me a reasonable explanation. If you looked at the output, it increased the iterations of advection fields which use continuous FEM but not the one using DG. Before applying the new DG sparse pattern, we assigned  the face couplings to every fields, so there are much larger nonzero numbers (therefore, more memory allocation). T

[2016-07-04 02:51] bangerth commented on #1113
Hm. So are you saying that because we now create smaller matrices, that the ILU preconditioner is worse and consequently we need more iterations?

[2016-07-04 02:57] yinghe616 commented on #1113
Yes, that's the only good explanation so far... but the matrix size also changes,  so I think the more iterations doesn't mean more time cost.

[2016-07-04 03:02] bangerth commented on #1113
Yes, the smaller matrix may still make it faster or at least not much slower.

@tjhei -- this allays my concerns. If you are also unconcerned, please close this issue.

[2016-07-04 03:02] bangerth commented on #1112
When fixing this, we may run into the equivalent of #1113 also for more than one processor, or for other fields.

[2016-07-04 03:06] bangerth commented on #1113
For the record, the other changes in #1100 update the `statistics` file and print the time and time step size with more precision. This is unrelated to the patch -- the high precision is due to #830 but the statistics file affected by #1100 weren't updated by #830. In other words, these changes are ok as well.

[2016-07-04 03:13] bangerth commented on #1048
@dsarahstamps -- I think we all agree that people deserve to get more credit for what they contribute, but we haven't come up with a good solution that works within the citation system we've been using for a few centuries by now :-( Unless you want to have high-energy-style publications with 500 authors for which the list of affiliations is larger than the actual paper.

[2016-07-04 10:30] tjhei commented on #1113
Yes, I think the better ILU explains the changes.

[2016-07-04 10:30] #1113 closed

[2016-07-05 14:10] #857 closed

[2016-07-06 14:04] #934 closed

[2016-07-11 14:51] spco commented on #1051
I'm just looking into this. Here's the parameter file I use:
[matrix_nonzeros_particles.txt](https://github.com/geodynamics/aspect/files/357296/matrix_nonzeros_particles.txt)

This generates output
[code]
This is using 1 composition field, so it looks like particles don't create a matrix block (this is true with both single and multiple MPI processes, but with different matrix nnz as these are tre

[2016-07-12 10:54] spco commented on #1112
@yinghe616 : Are you going to do this? I know we began an implementation of this. If not, I would be interested in doing this within the next few days.

[2016-07-12 13:36] spco opened #1117 "Indenting of test .cc file"
When calling `./doc/indent` from the main directory, this picks up the file `tests/resume_free_surface.cc` and indents that. This is a bit annoying as this gets picked up as a tracked file and a call to `git add -u`, my usual, stages this change. I'm bound to unintentionally add this to a commit at some point.

Could we tweak the .cc file to have the correct indentation, or is there a better fix/s

[2016-07-12 14:20] spco commented on #1078
Is this OK to be closed now?

[2016-07-12 14:56] bangerth commented on #1078
Yes.

@spco -- in future cases, if you put a text of the form "closes #1078" or "fixes #1078" into a pull request, then merging the pull request will automatically close the referenced issue.

[2016-07-12 14:56] #1078 closed

[2016-07-12 14:57] spco commented on #1078
@bangerth - great to know - thanks!

[2016-07-12 14:58] bangerth commented on #1117
#628 introduced this, I think.

[2016-07-12 14:59] bangerth commented on #1117
Actually, it was #1110.

[2016-07-12 21:42] yinghe616 commented on #1112
@spco , I am not working on it currently. If you are interested in fixing it, yes, please go ahead to work on it. If you need a review or discussion later, I'd like to join.

[2016-07-12 21:44] spco commented on #1112
Ok Ying. Do you have a copy of the code you worked on, that you could email
me? If not I will work from scratch again, no problem.
On 12 Jul 2016 10:42 pm, "Ying He" <notifications@github.com> wrote:

[2016-07-12 22:01] yinghe616 commented on #1112
@spco , are you planning to work inside the ASPECT? I think perhaps it's better to start the implementation from deal.ii which was also @bangerth 's suggestion I guess. But inside ASPECT, perhaps you can make a non-efficient implementation by just re-setting the continuous elements' interior and face couplings to be zero after the current make_flux_sparsity_parttern. I'll send you a copy of my ear

[2016-07-12 22:04] bangerth commented on #1112
@yinghe616 had tried to work inside ASPECT, but that required copying a lot of stuff from the deal.II files. In the end, it turned out to be impractical to do it that way, and she got stuck with these basic requirements already. I would suggest to just look at the implementation of the non-DG and DG implementations in deal.II and extend the latter for the functionality of the former. Then put the

[2016-07-13 10:35] spco commented on #1112
Ok - time to recompile Trilinos, p4est, deal.II devel from source on a Mac... Perhaps this is a good time for me to document that process properly, for up-to-date versions of Xcode, OSX etc...

Once that is done, I guess the workplan should be:
1) Get this function working in deal.II devel
2) Alter ASPECT core.cc to:

[code]

What do you think?

[2016-07-13 11:42] bangerth commented on #1112
Yes. (Though I think your `#ifdef...#endif` straddles an `if`; but general idea is correct.)

For building on Mac, you may want to use the same scripts that are used to build the dmg package.

[2016-07-13 16:44] #1117 closed

[2016-07-13 17:06] gassmoeller commented on #1051
Hi Sam,
sorry for the too brief description. This issue is currently only possible to test on the branch of #1007, because only with these changes you can designate a particular compositional field as being advected on particles and not solved as regular field. In that case (i.e. for every field that is designated as representation of the particle properties) we should not create a matrix block, b

[2016-07-13 17:24] spco commented on #1051
Ok, thanks René - I will leave this to you!

On Wed, 13 Jul 2016 18:06 Rene Gassmöller, <notifications@github.com> wrote:

[2016-07-13 23:51] jdannberg opened #1124 "Traction boundary conditions and periodic boundaries"
There is no Assert/warning if both periodic boundary and traction boundary conditions are used for the same boundary. This is confusing, as the traction boundary condition is not applied at the given boundary.

[2016-07-14 21:17] bangerth commented on #1053
I think this can be closed now.

[2016-07-14 21:17] #1053 closed

[2016-07-15 05:38] yinghe616 opened #1128 "The Raleigh number for the cookbook of a 2d-convection box"
In the cookbook of a 2d-convection box in the manual, it mentions that the  Raleigh number is calculated by setting several parameters to be one including the heat capacity C_p= 1. However, in the prm file
aspect/cookbooks/convection-box.prm
it doesn't reset the value of C_p, which means this example uses a default value C_p=1250. So which one should be right when calculating the Raleigh number us

[2016-07-15 16:11] jdannberg commented on #1128
But in aspect/cookbooks/convection-box.prm (line 125) there is a section

This sets the parameters exactly as they are described in the text (in particular, Reference specific heat = 1). Or is this not the input file you mean?

[2016-07-15 16:43] yinghe616 commented on #1128
@jdannberg , thanks. So I think I misunderstood by those names... heat capacity C_p which is first introduced at the page 11 of the manual and used almost everywhere in those equations... However, in the prm, it is replaced by the name Reference specific heat, where the notation is NON-capitalized cp. I think most first timer user naturally search heat capacity C_p, and there does has such paramet

[2016-07-15 17:11] jdannberg commented on #1128
Yes, this is a good point, the notation in the description of the material models and in the general section of the manual should be consistent, so we should probably change it to C_p everywhere.

[2016-07-15 17:19] egpuckett commented on #1128
@ yinghe616:  Some of what is written in this Cookbook 5.2.1 is simply incorrect. In particular, note that the Rayleigh number is incorrectly defined. One can see this by noting that it's not a nondimensional number; i.e., it is a dimensional quantity.  In addition, the name Rayleigh is not spelled correctly :-)

Furthermore, @jdannberg  and @tjhei have a different method for running 'nondimension

[2016-07-15 17:30] jdannberg commented on #1128
Okay, for the C_p notation I've opened a pull request here: #1129.

[2016-07-15 17:44] egpuckett commented on #1128
I agree with @jdannberg about standardizing the notation for the 'specific heat _at constant pressure_' to C_p everywhere in the manual.  However, note that

This quote is from

which seems to be a reasonable introduction to specific heat and heat capacity, except that it doesn't distinguish between specific heat _at constant pressure_', C_p, and specific heat _at constant volume_', C_v.

Wikipedi

[2016-07-15 18:15] jdannberg commented on #1128
I also opened another pull request for that fixes some things in the convection box cookbook: #1130.
@egpuckett, did you notice anything else that was incorrect?
And yes, this cookbook is based on the Blankenbach benchmark, we even compare our results to the ones from Blankenbach.

And of course it would be great if you could add the convection box example from Turcotte and Schubert! We can still

[2016-07-15 18:19] egpuckett commented on #1128
Sure!  My thinking was to have first year students who have seen the material on linearized stability analysis in 'Geodynamics' compute the same solution as the first thing they do in ASPECT. What would you think of cutting and pasting or just plain copying the material on

into this example?

[2016-07-15 19:01] jdannberg commented on #1128
Yes, that sounds like a great idea!

In principle, yes, but it is not as easy as that. All the explanations contain the input/output/visualization of that specific case, so you would have to make new files for all of these things.

@bangerth, what do you think?

[2016-07-15 19:36] bangerth commented on #1128
I'm all for more cookbooks, and I don't particularly care about the order though thought has to be given to the issue of how to best present material in order. When writing new sections, I often try to structure the text in ways that allow me to not only talk about the particular problem at hand, but also look at other parts of ASPECT readers may not have seen yet. This makes it a bit awkward to j

[2016-07-18 16:46] hlokavarapu opened #1132 "Floating point exception thrown when dealii is built with PetSc"
@egpuckett

After installing deal.ii (v8.4.1) using candi with PetSc enabled and building ASPECT with PetSc toggled off, a floating point exception is thrown during the building of Stoke's preconditioner. I have attached a bug_log.txt that contains the back trace as well as a parameter file to reproduce the bug.

[bug_log.txt](https://github.com/geodynamics/aspect/files/369588/bug_log.txt)

[solkz

[2016-07-18 17:10] gassmoeller commented on #1132
Please check if the model runs if you disable floating point exceptions while building ASPECT.
It might be that your system incorrectly triggers FPEs although there are none (also see #789 for a discussion). If the problem only occurs when adding PETSC to deal.II (without even using it), this sounds like a false alarm.

[2016-07-19 16:02] bangerth commented on #1132
I'd actually be interested in seeing where this happens. @hlokavarapu -- can you run this in a debugger and get a backtrace?

[2016-07-20 18:59] gassmoeller commented on #905
Closed by #1136. Thanks @class4kayaker!

[2016-07-20 18:59] #905 closed

[2016-07-21 19:21] bangerth opened #1139 "Initialize elements of the 'coupling' table"
As seen in #1133, we do not initialize the elements of the coupling tables in `core.cc` when building sparsity patterns for matrix and preconditioner. This, accidentally, works because the default value fo the `DoFTools::Coupling` is zero, which happens to map to `Coupling::none`. We should make this more obvious by just initializing the elements of the tables in these two instances.

@spco -- int

[2016-07-21 19:36] spco commented on #1139
Sure, can do.

[2016-07-23 22:53] bangerth opened #1140 "Write manual entry on writing tests"
Probably mention how to run the tests as well.

[2016-07-23 22:53] bangerth commented on #1140
@gassmoeller  had a nice description about this in a recent email post:

"Take one of the existing parameter files in the tests/ directory, modify it to use the new feature, check that the new feature does what it is supposed to do, and then just add the parameter file to the tests directory. You will then need to add another folder to that directory that is named like the parameter file, and add

[2016-07-25 16:27] bangerth opened #1141 "Use VectorTools::interpolate() with a mask"
With the merge of https://github.com/dealii/dealii/pull/2838, we can now select individual components of the solution to be interpolated in VectorTools::interpolate(). This may simplifiy some code introduced in #1007, as well as the place where we interpolate initial conditions.

[2016-07-25 16:28] bangerth commented on #1141
@class4kayaker -- since you wrote the code in https://github.com/dealii/dealii/pull/2838, are you interested in tackling this? It would have to be guarded by `#if DEAL_II_VERSION_GTE(...)` but would allow us to remove the old code at one point in the future.

[2016-07-25 16:58] bangerth commented on #1141
Also requires https://github.com/dealii/dealii/pull/2858

[2016-07-25 16:59] class4kayaker commented on #1141
I can get to work on this. I will need to look into how to shift the current interfaces to Deal.II functions in a reasonable manner though.

[2016-07-25 17:16] bangerth commented on #1141
You can take #1133 as an example of how to switch an existing implementation to a new interface based on `#ifdef`s.

[2016-07-25 18:17] ian-r-rose commented on #1141
This should also make it possible to remove the `interpolate_onto_velocity_field()` function in `utilities.cc`.

[2016-07-25 18:55] class4kayaker commented on #1141
The current main time sink is in writing small classes so that the initial conditions can be used as Deal.II functions in the VectorTools::interpolate call. Using VectorFunctionFromScalarFunctionObject would require a bind to a virtual member function where, if this is actually possible, the method is not obvious.

I will probably have a WIP without the composition normalization logic up soon. Onc

[2016-07-25 20:24] bangerth commented on #1141
OK, good plan. Let me know if you have questions or need help about the adaptor classes.

[2016-07-26 00:59] bangerth opened #1145 "Call compute_current_constraints only once in Simulator::set_initial_temperature_and_compositional_fields()"
#1144 shows that we currently call `compute_current_constraints` for the temperature and each compositional field during initial value imposition. That is wasteful: it should be perfectly sufficient to do this only once at the very end, right before we copy all distributed vectors into the local vectors.

All this will require is moving the call to `compute_current_constraints` down below the loop

[2016-07-26 00:59] bangerth commented on #1145
This would also reduce the code duplication introduced by #1144.

[2016-07-28 13:27] tjhei opened #1148 "consider changing the cmake package name to ASPECT"
see #1137 for a discussion

[2016-07-28 16:48] bangerth commented on #1148
I'm for it.

[2016-07-28 17:02] yinghe616 commented on #755
so I think this issue is OK to close?

[2016-07-28 17:03] bangerth commented on #755
Yes. Thank you!

[2016-07-28 17:03] #755 closed

[2016-07-29 09:30] hlokavarapu commented on #1132
@gassmoeller, @bangerth:

I am unable to reproduce this bug on my local machine and do not have access to the cluster from which me and @egpuckett originally ran into this. Once I am back in the states, I will definitely follow up on this thread.

[2016-07-31 02:02] egpuckett commented on #1148
Welcome back Timo. How's your butt feeling?

[2016-07-31 03:15] bangerth commented on #1112
This can now be addressed given that the deal.II function is in.

[2016-07-31 03:21] egpuckett opened #1151 "Getting deall.II and ASPECT to install without PETSc using CANDI"
This is related to Issue #1132. @hlokavarapu @spikebike, and I have found it VERY DIFFICULT to compile the deal.II libraries and the ASPECT binary on Ymir, which is a distributed cluster at UCD used by CIG researchers.  The basic issue is that deal.II has already been installed in a variety of places on the the machine. For example,

to list just a few of the places in the system deal.ii seems to

[2016-07-31 04:33] bangerth commented on #1151
As a general rule, if a package is installed on a system in a central location, it is almost always the wrong thing to not use it and instead build a replacement in a user directory. This is, for example, why it creates no end of trouble if people install PETSc with the `--download-mpich` flag.

In other words, I think that candi is doing the right thing choosing the PETSc that is already installe

[2016-08-01 02:32] egpuckett commented on #1151
@aaronistheman may be interested in this issue.

[2016-08-01 16:13] tjesser-ucdavis-edu commented on #1148
@egpuckett Is this comment appropriate? Please consider editing or removing it.

[2016-08-01 17:07] egpuckett commented on #1148
Hi Tyler,

I really don't know if this comment was appropriate. It's in response to something Timo wrote on his Facebook page about being concerned about his butt surviving his two week ride around the UK.

Perhaps Timo' comment on Facebook was appropriate, but it would not be on GitHub.  I don't communicate on Facebook much, which is why I wrote it on GitHub the first GitHub activity I'd seen fro

[2016-08-01 18:14] bangerth commented on #1148
The comment has nothing to do with the discussion that this particular github issue is about. I'm going to remove the whole thread. (I'll also note that the comment can be understood in many ways that would likely neither be appropriate in a public forum, nor appropriately linked with another person in public without their consent. I know that you were referring to cycling, but @tjhei's hobbies ar

[2016-08-01 18:16] bangerth commented on #1141
Fixed by #1144.

[2016-08-01 18:16] #1141 closed

[2016-08-08 20:56] bangerth opened #1162 "Update website for what to cite"
The page at http://aspect.dealii.org/publications.html confusingly lists the same information twice with `@manual`, and does not include "and others" for the manual. It also doesn't list Juliane or Rene in the list of authors.

[2016-08-08 20:57] bangerth commented on #1162
See also #1064.

[2016-08-08 23:49] #1051 closed

[2016-08-12 01:36] class4kayaker commented on #1140
Would it be useful for someone to write up a sparse skeleton entry to gather comments, or should a pull request on this issue wait until the entry is only likely to require proofreading?

[2016-08-15 16:57] bangerth commented on #1140
I think it could work either way. We could also engage in some collaborative writing. If I came up with an outline, would you like to run with it and market it into a regular section of the manual?

[2016-08-15 19:15] class4kayaker commented on #1140
I was asking because I had thought of and started throwing together a basic outline, but I felt that the current state was not anywhere near sufficient to actually be used and I am expecting to be rather busy in the near future. I will start a pull request with my current progress for collaboration then.

[2016-08-15 21:06] bangerth commented on #1140
Good plan.

[2016-08-16 17:44] gassmoeller commented on #1145
Closed by #1154.

[2016-08-16 17:44] #1145 closed

[2016-08-16 17:48] bangerth opened #1170 "Use mapping in point value postprocessor"
As pointed out in #1169, `source/postprocess/point_value.cc` contains this code:
[code]
This is wrong -- we need to use the `mapping` here.

[2016-08-17 18:03] yinghe616 opened #1178 "Periodic boundary condition implementation for the DG advection solver"
Current DG implementation doesn't support the periodic boundary condition, which I guess is due to not initialize  any constraint matrix to the DG matrix during the setup dof. The new implemented make_flux_sparsity_pattern in deal.ii seems supporting the periodic boundary which I may wrong, so @bangerth , @tjhei , @gassmoeller , @spco , does any of you have suggestions on the possible extension?

[2016-08-17 21:09] gassmoeller opened #1179 "Testsuite directories"
Since the hackathon I get occasional (seemingly random) failures of some tests with the following ctest error message:

`262: /bin/sh: 1: cannot create /home/rengas/Software/Aspect-Versionen/aspect/debug/tests/output-particle_visualization_particle_count/solution/solution-00000.0000.gnuplot.cmp.notime: Directory nonexistent`

Is it possible that ctest sometimes does not create the right directory

[2016-08-17 22:44] bangerth commented on #1179
Shouldn't ASPECT create that directory itself before starting to populate it with output files? Or do we create the `.cmp.notime` file from cmake before we even run ASPECT? In the latter case, creating the sub-directories of the `output-testname` directory needs to happen in the cmake script...

[2016-08-18 20:30] tjhei commented on #1179
yeah, I think this is a bug. This is my fault, but I am not sure how to reproduce it here. How often does this happen for you?

[2016-08-26 00:54] gassmoeller commented on #1179
It is a bit random, but one test that pretty consistently fails for me after deleting my build/tests folder and redoing cmake is `particle_visualization_particle_count`. After creating the according output-particle_visualization_particle_count/solution directory everything is fine and the test passes.
In general it does happen on maybe 5-10% of the tests for me, and I can not figure out why they a

[2016-08-26 03:21] bangerth commented on #1179
In `tests/CMakeFiles.txt`, we create the output directory in line 183. I think we probably need something along the lines (pseudocode)
[code]
right after it.

[2016-08-29 16:23] #1179 closed

[2016-08-30 15:56] #1170 closed

[2016-08-31 23:38] jperryhouts opened #1195 "late particles not initialized properly."

[2016-08-31 23:48] jperryhouts commented on #1195
Oops. This issue got submitted with no text.

I've been having a problem where fields which depend on particles will get crazy values (like huge numbers, or NaNs). I tracked the problem down to somewhere around https://github.com/geodynamics/aspect/blob/master/source/particle/property/interface.cc#L185 where the new particle does not get initialized with all of its properties.

My understanding is

[2016-09-01 00:01] gassmoeller commented on #1195
Could you post the 'Compositional fields' subsection of your input file? It is certainly possible that there is something wrong in the algorithm, but so far I had no problems, and @naliboff also ran models with several compositional fields tracked on particles, so maybe the code is just missing more rigorous tests for correct input parameters.

[2016-09-01 00:10] jperryhouts commented on #1195
[code]
is the subsection in this particular model. Nothing fancy. I haven't tried paring it down to smaller test cases. I'll try disabling anything I can think to disable to see when this goes away.

[2016-09-01 00:30] gassmoeller commented on #1195
Hm, looks fine. I am not sure what is causing the trouble. Maybe try with 2 fields for now. Also maybe I did something wrong in #1194 and the interpolation is not working correctly for some cells (it looked fine in the test I added)? Does this also happen if you increase the number of particles per cell?

[2016-09-01 01:17] jperryhouts commented on #1195
I don't know how, but at the end of the `initialize_late_particle` function, `particle properties.size() == 1`.

I attached a prm that reproduces this with only two compositional fields.

[parameters.txt](https://github.com/geodynamics/aspect/files/448568/parameters.txt)

[2016-09-01 01:34] jperryhouts commented on #1195
Oh, and yes it happens every time `initalize_late_particles` is called, so increasing the total number of particles avoids this case *if* it means that the model doesn't have to generate any late particles. Similarly, turning off `Minimum tracers per cell` also avoids this case. If I increase both `Number of tracers`, and `Minimum tracers per cell`, then I'm back to square one.

If I hard code the

[2016-09-01 01:42] bangerth commented on #1195
As an intermediate patch that just exposes the problem more clearly, could you submit a pull request that simply asserts that the size of the vector is correct? This assertion should of course succeed, but if I understand you correctly, it doesn't. I would say the assertion has independent value as a safety check.

[2016-09-01 18:16] bangerth opened #1198 "Update particle section in the manual"
There are a number of things that we ought to do to make the particle section in the manual be more representative and instructive of what aspect can do.

I have a number of text changes in the works and will submit soon, but after that, we should address these things:
- [ ]  Add an example with a non-uniform tracer density
- [ ] Show pictures of the results of these particle properties
- [ ] Revi

[2016-09-01 18:18] bangerth opened #1199 "Manual: Update output file locations in subdirectories"
#1076 moves graphical output files into subdirectories of the output directory, but this is not reflected in the manual in a number of places. For example, searching for `/solution-` yields a number of occurrences that we ought to update.

[2016-09-01 20:41] gassmoeller commented on #1195
I think I found the issue. The problem is that each property plugin can define multiple particle properties that each can have multiple components. So `property_component_list` has more entries than `property_list` but we assume it does have the same.
I created some poor wording here as well that makes a complicated issue even more bug-prone. We have 'property plugins' (one per entry in the parame

[2016-09-01 23:31] class4kayaker commented on #1199
When grepping manual.tex, I found only one actual reference to such a file, and a few references copied from example log files(log.txt and statistics).

Checking the log.txt and statistics file of a current run of simpler_box, I found that they still indicate that the file being written to is output/solution-${N}.

[2016-09-02 01:59] bangerth commented on #1199
grep for `solution-` instead and you will find quite a number of places. I think we have to rewrite at least part of the section on "Running aspect".

Are you saying that `log.txt` and `statistics` are wrong then? Or are we still writing the `solution-0000.visit` file into the output directory, but the `solution-0000.PPPP.vtu` files into the subdirectory instead?

[2016-09-02 02:55] class4kayaker commented on #1199
I see an additional output of the `ls` command, and one location where it will be necessary to modify the text to correct the directory being referred to, or adjust what the suggested methods for using Visit are entirely. I did find that I had miscounted, and there were two locations where I had found references to the full relative path. In the other cases it is much more of a judgement call as t

[2016-09-02 22:08] bangerth opened #1202 "Wrong EllipsoidalChunk::representative_point?"
I think this function is wrong:
[code]
It *may* actually work, but I think what we really want to do is *first* average the points in spherical coordinates, and *then* do the `push_forward` operation. This would guarantee that we really have the center of the domain.

What do you say, @MFraters ?

[2016-09-03 15:59] tjhei commented on #1199
You are right. Should be fixed in #1204

[2016-09-03 21:12] MFraters commented on #1202
Yes, you are right. To get the correct centre of the domain, it should be the other way around.

[2016-09-07 21:25] bangerth commented on #1202
Fixed by #1211.

[2016-09-07 21:25] #1202 closed

[2016-09-07 21:25] bangerth commented on #1195
I think this is fixed now, right?

[2016-09-07 21:27] gassmoeller commented on #1195
Yes, fixed by #1203.

[2016-09-07 21:27] #1195 closed

[2016-09-08 09:22] #929 closed

[2016-09-08 09:37] bangerth opened #1214 "Further considerations for time step lengths etc"
#1210 updates the logic for which time steps are used when, based on the observation in #929 that we seem to be using different time step lengths at different points during a time step's computations.

The change in #1210 did not adjust what is being written to the `statistics` file, primarily because this would have caused changes to essentially all tests. But it would be nice to do anyway, just

[2016-09-08 09:40] bangerth commented on #1214
That last statement would suggest that the time and postprocessed values in the statistics file are actually in sync, but that the time step size we output is in fact not the one used for the current time step, but the one for the *next one* instead. In that case, we should just output the *current* time step into the statistics file. In other words, shift the time step column down by one.

That w

[2016-09-08 17:04] tjhei commented on #1214
Agreed. Maybe also move it further up in the code to be column 3?

[2016-09-08 17:27] class4kayaker commented on #1214
When I read through the current logic, it was obvious that the time reported is actually the time at the end of the update iteration, ie t^{n+1} if we start at t^n. Since dt=0 for the first iteration t^{n+1}=t^n and the initialization is done at the correct time.

You are correct that the time step reported is used for the following update iteration.

[2016-09-08 19:07] bangerth commented on #1214
So that sounds like we all agree that the time step column should just shift down one row?

I don't care much which column it occupies. This is determined by the order in which we write into columns from within the code, and we can't actively move this around.

[2016-09-08 22:31] gassmoeller commented on #1214
Well we can pretty actively move that around, because if we output the current timestep and not the new one, we might as well move that output into the `start_timestep()` function. I do not care much where it appears, but I would not be opposed to moving it there (it further simplifies the timestep loop, and I would appreciate that).

[2016-09-10 14:06] bangerth opened #1215 "Better allocator for particle property data"
The only dynamically allocated memory in the `Particle` class is the `properties` object, which is a `std::vector<double>`. This has always bothered me, because we can have so many particles in a simulation and because each of them allocates a chunk of exactly the same length. There must be simpler ways to do this that (i) don't quite fragment memory as much, and (ii) allow for grouping this data

[2016-09-12 23:36] gassmoeller commented on #1215
I have tried to profile the cache usage and the effect of the dynamic memory allocation on a typical model setup. The test model has 2500 dofs and 10,000 particles in a 2D box geometry and tries to touch every aspect of the algorithm (including remeshing and parallel transfer between 2 processes).

It seems the dynamic allocation of particle properties takes about 50% of the time spent in the Part

[2016-09-13 00:31] bangerth commented on #1215
Yes, the question of state of the allocator is something that also stumped me. The allocator needs to keep a reference to the pool. If that can only be done with C++11, then that's a poor solution.

The allocator idea has the advantage that the changes to the codes downstream that need to get a reference to the vector would be relatively limited and only consists of adding a second template argume

[2016-09-16 16:54] gassmoeller opened #1219 "CMake 2.8.11 fails for tests"
Since #1190 we create test output subdirectories and for that use the CMAKE command: `GET_FILENAME_COMPONENT(_dir ${_output} DIRECTORY)`
unfortunately this was changed between cmake 2.8.11 and 2.8.12, and versions <= 2.8.11 only accept:
`GET_FILENAME_COMPONENT(_dir ${_output} PATH)`
Now 2.8.11 is quite old (I use it, because it is preinstalled on a cluster), and I can easily replace it with an own

[2016-09-16 17:03] bangerth commented on #1219
Since the error message doesn't actually help users unless they upgrade cmake, you may as well require a newer cmake version in the top-level `CMakeLists.txt`. On the other hand, if you do a workaround, you may as well do it unconditionally.

What is the difference between `DIRECTORY` and `PATH`? Could we extract from the latter what we get from the former?

[2016-09-19 15:41] tjhei commented on #1219
I will take a look.

[2016-09-20 23:10] bangerth commented on #1219
https://cmake.org/cmake/help/v3.4/command/get_filename_component.html says that `PATH` is simply the legacy form of `DIRECTORY`. In other words, they should be interchangeable. Patch forthcoming.

[2016-09-20 23:57] bangerth opened #1229 "Make normalize_pressure()/denormalize_pressure() more intuitive"
As mentioned at http://lists.geodynamics.org/pipermail/aspect-devel/2016-September/001407.html it isn't quite clear any more what these two functions do in the first place :-)

But we could at least make them a bit more intuitive by ensuring that `normalize_pressure()` only works on the arguments it gets, rather than secretly also storing something that will then at a later time be used again by `

[2016-09-20 23:59] bangerth commented on #1229
(...struggling with this and is rewriting the various places where these functions are being used.)

[2016-09-21 16:36] #1219 closed

[2016-09-28 18:01] naliboff opened #1234 "Non c++ scripts (python, etc) in ASPECT?"
Hi all,

Is there a set of rules/standards/policy for including non c++ scripts within ASPECT?  For example in the folder benchmark/shear_bands there are a number of python post-processing scripts.

I'm currently working on a cookbook for using CRUST1.0, which uses a pre-processing script (written in Julia) to make a compositional field initial condition ascii file from a CRUST1.0 data file.  Is t

[2016-09-28 19:02] bangerth commented on #1234
Yes, I think that's acceptable in general. For Julia in particular, you probably want to consider that it may not be available on every machine. On the other hand, it's probably not all that hard to install through package managers.

In any case, I'm not too worried. Just go ahead.

[2016-09-28 20:16] naliboff commented on #1234
Great, I will continue as planned then.  Julia installation is indeed quite easy via package managers on linux or mac (also has binary install option). Cheers.

[2016-09-29 14:44] tjhei commented on #1234
I would prefer bash and python scripts over something like Julia. I, for example, am unlikely to bother an admin to install julia on the machines they manage for me.

[2016-09-29 17:32] naliboff commented on #1234
Thanks for the second data point.  I actually have versions of the script in matlab and python, but have simply found Julia a bit more readable and intuitive than both. I like scripting in bash as well, but this may be a bit too complex for that.  I'll think this over a bit more before doing any commits.  Thanks again.

[2016-09-30 21:07] bangerth opened #1239 "Use ParameterHandler::parse_* instead of ParameterHandler::read_*"
See the changes committed as part of https://github.com/dealii/dealii/pull/3122 .

[2016-09-30 22:55] naliboff opened #1240 "Handling of time-dependent variables (integrated strain, melt, etc) in the input file."
Currently, tracking time-dependent properties like integrated strain, melt, etc require listing each component of their associated tensor as individual compositional fields in the input file.

Long-term, users may want to track melt and multiple types of integrated strain (total, viscous strain, plastic strain, elastic strain).  Given the number of tensor components for all of these properties, it

[2016-10-04 21:48] bangerth commented on #1240
Could we use the syntax
[code]
and have it automatically expand to
[code]
by some helper function? This would have the advantage that it can be done in a dimension-independent way, which you can't do by hand if you write the same list above (it would work in 3d, but not in 2d).

[2016-10-05 14:45] naliboff commented on #1240
@bangerth - thanks, this is a much simpler solution than anything I had thought about.  I will give this a shot when I start working on the viscoelastic rheology implementation.

[2016-10-05 15:56] bangerth commented on #1240
Put the expansion into a helper function. I bet this will be useful in more than just one place.

[2016-10-06 19:32] tjhei opened #1243 "pure Neumann temperature solve fails"
If you prescribe no fixed boundary for the temperature, the solver fails. We should raise an error or make the solver work (by enforcing a mean value?).

[lev_solver_prob.prm.txt](https://github.com/geodynamics/aspect/files/514646/lev_solver_prob.prm.txt)

[2016-10-07 00:02] bangerth commented on #1243
That makes no sense to me. The equation has a time derivative which gives rise to a mass matrix that should make the system positive definite *even if no boundary conditions are given*. Why is this term not sufficient?

[2016-10-07 09:35] spco commented on #1243
So I had a play with this.
Changing the `Temperature solver tolerance` parameter to 1e-9 gives some very strange behaviour. I ran it (one process, Aspect commit e516b9b8d2fccef, dealii branch from 6391774e3c10 with the periodic_neighbor_face_no fix (note this prm doesn't use dG anyway)) a number of times.

Below is the table of iterations for the temperature solve. Some complete (this prm only req

[2016-10-07 11:00] spco commented on #1243
I'm currently leaning towards the idea that this may be due to not explicitly initializing the values of `solution` and `old_solution` on the first timestep: this is then transferred into `current_linearization_point` at `core.cc:1924`, then `distributed_solution.block(block_idx)` in `solver.cc:441` which (I believe) is used for the initial guess for the temperature solve.

[2016-10-07 12:41] bangerth commented on #1243
What happens if you just initialize to zero? (But this should happen automatically, I would suppose, just by initializing the vector's size.)

[2016-10-07 12:47] spco commented on #1243
That's a good point. Makes no difference.

[2016-10-07 13:14] spco commented on #1243
Hmm yes, I've found that now. So we _do_ initialize `distributed_solution.block(block_idx)` on the first timestep, my mistake. Still no idea where the variability comes from then.

[2016-10-07 17:06] tjhei commented on #1243
Don't we start with dt=0 in the first timestep?

[2016-10-07 17:10] bangerth commented on #1243
Yes, which would mean that we have to solve *only* for the mass matrix :-)

[2016-10-10 22:54] gassmoeller commented on #756
At the same time when changing the `copy_local_to_global_..._system` function to only distribute the relevant dofs, one might also look into the `local_assemble_stokes_system/preconditioner` functions, and let them only loop over relevant dofs as well, as discussed in #1246. This is mostly a note to not forget about that.

[2016-10-11 13:04] tjhei commented on #756
The way I would go about it is something like an ``FEValuesSubset`` that takes an FEValues and a bitfield of components to select and then returns a reduced ``n_dofs`` and ``get_dof_indices``.

[2016-10-11 17:58] class4kayaker commented on #756
Looking through the code, I believe that for the advection assembly, the list of DoFs is already restricted to the FE for the current component. As such, only the stokes assembly does the assembly for all of the DoFs. I might be overlooking something however.

[2016-10-11 18:28] gassmoeller commented on #756
@class4kayaker is right. Although it is very misleading, everything looks similar for the advection and stokes case, but the local advection matrix is sized for the `advection_element.dofs_per_cell`, while the stokes case is sized for `finite_element.dofs_per_cell`. So only the Stokes case needs a change.

[2016-10-11 20:25] bangerth commented on #756
I've changed my mind thinking that one should add a parameter to `distribute_local_to_global`. We should just shrink the matrix to that sub-matrix that is actually non-zero. If we shrink the vector of global dof indices the same way, then we can continue to call `distribute_local_to_global` -- it will simply not see the zero rows and columns, and corresponding global dof indices.

We could do this

[2016-10-14 11:46] spco opened #1252 "Visualization output of error indicator is expensive"
I'm playing around with the `error indicator` visualization, and have hit a snag. I want to visualize the primary variables of the solution at every timestep, but I only refine every `n` timesteps. I'm only really interested in seeing the error indicators in play every time I refine, but the way `postprocess/visualization/error_indicator.cc` is implemented actually means I am having to *calculate*

[2016-10-14 15:16] tjhei commented on #1252
In release mode? Is the cost because of the error computation or because you are doing more IO (you could check by just outputting 0 as the values)? Does the performance really matter for such a simple problem?

No, I don't think that would work (paraview/visit would likely complain).

You really want to look at the indicators right before the refinement takes place and not after, right? That make

[2016-10-14 15:33] spco commented on #1252
It's the error computation. It's quite annoying to have it doubling my computational cost.

Sure. At least the output occurs before refinement, or I'd really be screwed ;)

I think the right thing is just to output zeroes the rest of the time. I'm happy to have that just as a tweak to my own code, and let others worry about it if they have the same issue with their indicators (if anybody else visu

[2016-10-14 15:39] gassmoeller commented on #1252
I sometimes do, but I never noticed such a dramatic slow down. Do you use an especially expensive refinement indicator?

[2016-10-14 15:44] spco commented on #1252
Fairly expensive (involves a global mass matrix inversion plus lots of `FEFaceValues.reinit`s), but I am also outputting visualization at every timestep, so the combination starts to add up. If I just calculate it at each adaptivity timestep it's only 3-4%.

[2016-10-14 17:25] gassmoeller commented on #1252
Ah, I see. I guess then it makes sense to change your visualization output to only output it every adaptivity step, and output 0 otherwise. As far as I know we currently have no such expensive refinement indicator in the master branch, so I do not think it is necessary to include this option there (unless somebody else has made the same experience with a different refinement indicator).

[2016-10-14 17:38] spco commented on #1252
Yeah, that's what I'm guessing. Thanks for the sounding board!

[2016-10-14 17:38] #1252 closed

[2016-10-14 20:48] bangerth commented on #1252
Good we talked about it ;-)

[2016-11-01 14:05] tjhei opened #1260 "emplace_hint missing in gcc 4.6"
I am getting
[code]
with gcc 4.6.3 (CXX11=true, CXX14=false).

What should we do: Add a configure test? Only enable if we have c++14? Any other suggestions?

[2016-11-01 16:03] bangerth commented on #1260
Ah, boo. @gassmoeller -- any idea?

[2016-11-01 16:44] gassmoeller commented on #1260
Yeah my reaction as well :smile: ... seems like even gcc 4.7 does not have full support for the emplace functions. I would argue to change it to C++14. This should not give a performance hit, because with C++11 we have the move constructor for particles, and that should make the two versions more or less equivalent anyway (one call to the normal constructor of Particle, one to the move constructor

[2016-11-01 19:35] tjesser-ucdavis-edu commented on #1260
Are gcc 4.6 and 4.7 versions required for compatibility somewhere? I noticed that 4.6 hasn't had a release since 2013, and 4.7 hasn't had a release since 2014. https://gcc.gnu.org/develop.html#timeline

I ask this assuming that some later version of gcc has implemented C++11 correctly.

[2016-11-01 19:49] gassmoeller commented on #1260
At least 4.8.4 is fine (I think all of the 4.8 series is complete in C++11). We should try to keep compatibility to older compilers though, since many group-managed clusters tend to use very old compilers (stable CentOS or RHEL releases, and no admins to update compilers). One of the clusters I know (and my current work desktop :smile:) use gcc 4.4.7.

[2016-11-01 20:19] gassmoeller commented on #1260
I just remembered: I think deal.II plans to require C++11 some time early next year. When that happens we can clearly follow with ASPECT, but I would want to wait until then (e.g. the first release of ASPECT after deal.II has made the first release with that requirement).

[2016-11-02 12:41] bangerth commented on #1260
@tjesser-ucdavis-edu -- for the moment, ASPECT does not require C++11, nor any particularly new version of GCC. But we have a few places where if you happen to have a newer compiler, we use more efficient code paths. There is, however, always a fall-back path in case you don't.

As @gassmoeller says, we will probably require C++11 for deal.II sometime next year. I'm sure we will make another ASPEC

[2016-11-03 14:40] bangerth opened #1268 "[Post 1.5] Convert postprocessors to take DataPostprocessorInputs arguments"
Now that https://github.com/dealii/dealii/pull/3333 has been merged, and once we require deal.II 8.5, we should convert all postprocessors to the new format that takes a structure as input.

[2016-11-07 17:14] bangerth opened #1269 "Run a static analyzer on the ASPECT code base"
@kostyfisik did a really interesting experiment on deal.II in https://github.com/dealii/dealii/issues/3342 by running a static analyzer to find all sorts of questionable constructs in the deal.II code base. It would be quite useful to repeat this for ASPECT as well.

Instructions are here: https://github.com/dealii/dealii/issues/3342#issuecomment-258896333

[2016-11-10 16:57] bangerth opened #1270 "Write a postprocessor that outputs the elevation from the dynamic topography/mesh movement scheme"
From an email by @gassmoeller to Payman Janbakhsh on the mailing list:

surprisingly (also to me) ASPECT currently does not have a postprocessor that outputs a map of the topography of a deformed mesh. The closest thing is the visualization/depth postprocessor that will output the depth of every point of the domain. However, the `depth()` function of the geometry model is bounded to (0,maximal_dep

[2016-11-10 17:05] ian-r-rose commented on #1270
This is something that used to exist (it was very similar to
heat_flux_map), but I think got left behind in the big merge of the free
surface implementation. This was mostly an oversight on my part.

The way topography is calculated in the topography postprocessor (which has
always been an unfortunate name due to confusion with dynamic_topography)
is that it references the topography to some datum

[2016-11-11 01:30] naliboff opened #1271 "Issues compiling ASPECT on stampede"
This issue follows a discussion in pull request #562 and is also directly related to issue #1260 and pull request #1263.

On stampede, I compiled Trilinos and dealii using the update instructions in #562.  dealii step-32 runs successfully.  Details of my dealii configuration (development branch, last updated commit on  Nov 8) are in the attached detailed.log file.

However, an up to date developme

[2016-11-11 05:24] bangerth commented on #1271
The interesting part of this code is this (from `bundled/boost-.../include/boost/serialization.map.h`)
[code]
The interesting question is why `BOOST_NO_CXX11_HDR_UNORDERED_MAP` is not set.

Because you are compiling with GCC 4.7.1, this block in `boost/config/stdlib/libstdcpp3.hpp` should trigger:
[code]
In other words, BOOST believes that everything more recent than GCC 4.3 has the appropriate fu

[2016-11-11 21:04] gassmoeller commented on #1270
I agree with @ian-r-rose that a merged version of topography and heat_flux_map is the easiest  way to implement this.
However, I wonder if it would be better to implement a new function for geometry models that handles the computation itself, because it is a property of the geometry model if something is below or above this datum. This way the postprocessor does not need to know all geometry model

[2016-11-11 21:10] bangerth commented on #1270
Yes, I think this ought to be done in a new geometry member function. `distance_to_surface` has the disadvantage that it "distance" is the same for depth and elevation. That would suggest `height_above_surface`. But that ignores the fact that the "surface" is, computationally, defined by the deformed domain, and we want the *original* domain. So maybe `height_above_original_surface`?

[2016-11-14 19:05] bangerth commented on #1260
I think this issue has been fixed by #1265.

[2016-11-14 19:05] #1260 closed

[2016-11-14 20:47] naliboff commented on #1271
The compiler does indeed include references to `emplace_hint` in the files `include/c++/4.7.1/profile/unordered_map`, `include/c++/4.7.1/profile/unordered_set`, equivalent files in `/include/debug` and `include/c++/4.7.1/bits/hashtable.h:`.

There are no references to  `emplace_hint` in any of the compiler `map.h` files (`include/isl/map.h`, 'include/c++/4.7.1/profile/map.h', `include/c++/4.7.1/de

[2016-11-15 00:45] bangerth commented on #1271
For me, the `emplace_hint` function compiler uses is in `include/c++/4.8.4/bits/stl_map.h`. Can you check that it really isn't there?

If that's not the case: I guess that means that the BOOST check is wrong :-( What a disaster! I suspect that the best way to approach this may be to pass `BOOST_NO_CXX11_HDR_UNORDERED_MAP` on the compile line then, but this probably needs to be done in deal.II, not

[2016-11-15 17:20] naliboff commented on #1271
Unfortunately `/opt/apps/gcc/4.7.1/include/c++/4.7.1/bits/stl_map.h ` does not have `emplace_hint`.  Within `/opt/apps/gcc/4.7.1/include/c++/4.7.1/bits/`, it is only located in `hashtable.h`.

I'll try recompiling with the modification to the deal.ii configuration. Is the exact addition  something like `-DBOOST_NO_CXX11_HDR_UNORDERED_MAP=ON `?

[2016-11-16 01:46] bangerth commented on #1271
No, you need to do something like
[code]
before calling deal.II's `cmake`. You probably want to start with a clean build directory. This should set the flag for each compile job.

Alternatively, I believe it should work if you did `make clean`, then used `ccmake` to edit the appropriate variables that pass compiler flags. But I've never done that, so I don't know how to exactly.

[2016-11-16 04:18] naliboff commented on #1271
Success compiling ASPECT, `export CXXFLAGS=-DBOOST_NO_CXX11_HDR_UNORDERED_MAP` did the trick. Thanks!

Should I open an issue on the deal.II page to report the bug?

I've also asked the Stampede folks if they can link gcc 4.9.1 with the MKL 13 libraries, which would an additional short-term workaround.

[2016-11-16 04:29] bangerth commented on #1271
Yes, please open a deal.II issue, with a link to here. Ideally, we would have a tiny test program that doesn't compile without the given `-D...` flag, but does when given. I don't know whether that's too complicated to construct, though.

[2016-11-23 15:53] tjhei opened #1277 "Adiabatic conditions: Function with separate expressions"
Change the design of the Function plugin from
[code]
to
[code]
by replacing ``ParsedFunction``. Let's do that after we merge the formulation stuff.

[2016-11-29 13:23] MFraters opened #1279 "Contract nonlinear solvers code"
Talking about nonlinear solvers in #1276, I thought I was a good idea to discuss something I am planning to do for the Newton solver. Because there is a lot of code duplication and divergence over time between the nonlinear solvers with the current approach of defining a separate iterated IMPES and iterated Stokes (and maybe also Stokes only?) I am planning to have only one case for the Newton sol

[2016-11-29 17:03] tjhei commented on #1279
I played with an idea a while ago but I stopped working on it because I know it would make your task of merging much harder.

The idea is the following:
The solver strategy is a list of plugins that are executed one after each other. The standard IMPES scheme could be written as "set strategy = extrapolate, temperature, stokes, composition". Then one can add additional solvers like "Newton Stokes"

[2016-12-01 09:14] MFraters commented on #1279
Hey Timo,
That does make sense, although I would have some questions about some details, especially for iterative methods. But to me it seems that it would indeed be better to first merge  the newton solver (the IMPES version) and after that worry about implementing this.

[2016-12-01 18:41] tjhei opened #1284 "compute_derived_quantities_vector warnings"
I am getting dozens of warnings from our postprocessors with the development version of deal.II
[code]

@bangerth This is caused by the change to deal.II where you introduced an overload to that function, see https://github.com/dealii/dealii/pull/3333

I know we can silence the warning in ASPECT by adding ``using DataPostprocessor<dim>::compute_derived_quantities_vector;`` in every class deriving

[2016-12-01 22:29] bangerth commented on #1284
Yes, I've seen this too. I'm a bit bummed that I didn't think of this.

I can change the function names -- it's only bee a couple of months or so since the names were introduced, not backward compatibility issues. What do you suggest?

[2016-12-01 22:49] tjhei commented on #1284
One can argue that it is okay because 1) it is just a warning and 2) it will go away after we remove the deprecated functions. Sadly this is going to take a while, I think.

I don't think they have been used much (if at all), so this is the cleanest solution. So I am in favor if you don't mind going back and changing that. Now the question is what name to give them...

[2016-12-01 22:51] bangerth commented on #1284
I might be able to do it, but I'm so completely jetlagged that doing intellectual work such as coming up with names is entirely out of my scope today. If someone tells me a new name, I can implement this tomorrow.

[2016-12-02 21:18] tjhei commented on #1284
I don't have a great suggestion for the name, but maybe ``compute_quantities_vector``? Or we could highlight that this is the local operation on a cell by using something like ``compute_local_quantities_vector`` or ``cellwise_quantities_vector``. Finally, I am not sure that the distinction between scalar/vector is really that helpful or if we should always work with the vector version to make the

[2016-12-03 00:13] bangerth commented on #1284
The fact that things are cellwise is actually not even exposed to these functions. They just get a bunch of points, wherever they may be. (Might be faces, or maybe batches of cells, or sub-cells.) So maybe `compute_quantities_vector` as you suggest? I could also suggest `evaluate_vector_data` and `evaluate_scalar_data`. I actually kinda like these names.

An alternative could be to just pass `-Wno

[2016-12-04 16:51] tjhei commented on #1284
But one of the reasons we did the reorganization was to be able to pass a cell iterator, I thought?

[2016-12-04 16:52] tjhei commented on #1284
I like the "evaluate" part, but "vector/scalar" is confusing because it makes it sounds like the data you evaluate is scalar or vector valued.

[2016-12-04 17:12] bangerth commented on #1284
Good point. `evaluate_to_scalar` and `evaluate_to_vector`? `transform_into_scalar` and `transform_into_vector`?

[2016-12-04 18:00] tjhei commented on #1284
The name indicates if the input is scalar or vector, so shouldn't it be ``evaluate_from_scalar`` or something?

Naming things is hard. :-(

[2016-12-04 18:20] bangerth commented on #1284
On 12/04/2016 11:00 AM, Timo Heister wrote:

Yes, you are right. I get confused about this every time, whether the
scalar/vector is inputs or outputs. So maybe `evaluate_scalar_field` and
`evaluate_vector_field`?

Yes, but that's why we discuss these things in detail these days, so that we
get it right. I wished we had put the same amount of diligence into this 10 or
15 years ago. We could have av

[2016-12-04 19:44] tjhei commented on #1284
I like it!

Oh, you don't have to go that far back. I have been committing horrible stuff that was not thought out just a few years ago. :-)

[2016-12-05 16:55] bangerth opened #1294 "Implement inflow boundary condition for particles"
In the same way as we have inflow boundary conditions for compositional fields, we need inflow boundary conditions for particles that describe (i) their properties, and (ii) their density.

The number of particles to be created is then related to that given density, the inflow velocity, and the length of the timestep.

[2016-12-07 17:12] bangerth commented on #1284
Let's call it progress then :-)

[2016-12-08 00:44] bangerth opened #1302 "Question about quadrature point particle generator"
@gassmoeller -- this is a question for you (though not necessarily for you to fix).

This particle generator has this code:
[code]
This correctly sets `starting_particle_index` to the first unused particle index. But why do we bother storing this in a member variable? Is this function ever called a second time?

[2016-12-10 21:06] bangerth commented on #1284
Fixed by https://github.com/dealii/dealii/pull/3664

[2016-12-10 21:06] #1284 closed

[2016-12-10 21:54] bangerth opened #1304 "Describe alpha in the manual"
There is an alpha in the temperature equation in the manual (eq.s 3 and 5) which corresponds to the thermal expansion coefficient -1/rho drho/dT. It should be described in section 2.2, but it isn't. Worse, in the discussion of the density rho in that section, beta appears instead of alpha.

Fix this.

[2016-12-11 00:00] bangerth commented on #1304
I recalled that the second issue (of using beta instead of alpha) is already covered by #1095. Maybe we should merge that PR without the last hunk.

[2016-12-11 00:02] bangerth commented on #1304
Also see #989.

[2016-12-11 02:14] bangerth commented on #1302
Fixed by #1306.

[2016-12-11 02:14] #1302 closed

[2016-12-11 02:15] bangerth commented on #1234
@naliboff -- did you get enough guidance? Or can we close this issue?

[2016-12-11 02:25] bangerth commented on #1215
Now in #1301.

[2016-12-11 02:28] bangerth commented on #1198
Fixed by #1289, #1290, #1291, #1292.

[2016-12-11 02:28] #1198 closed

[2016-12-11 02:31] bangerth commented on #1128
I think we have addressed the specific points raised here. The general issue of more cookbooks of course remains.

[2016-12-11 02:32] #1128 closed

[2016-12-11 05:49] #1304 closed

[2016-12-11 06:10] bangerth commented on #1162
Fixed now.

[2016-12-11 06:10] #1162 closed

[2016-12-11 06:29] gassmoeller commented on #1214
I think this was adressed by #1213 and #1218.

[2016-12-11 06:29] #1214 closed

[2016-12-11 06:31] gassmoeller commented on #1069
I think this is partly addressed, and partly this issue is too generic to be of much use. I will close this, and reopen separate specific issues when the topic arises again.

[2016-12-11 06:31] #1069 closed

[2016-12-11 17:54] bangerth opened #1314 "Explain particle output file structure"
Follow-up to #1198: We also should describe where exactly the particle output files land. This should reference section 4.1 in the manual. The right place to discuss this would be section 5.2.5.

[2016-12-12 00:11] #1199 closed

[2016-12-12 00:37] gassmoeller opened #1315 "Optimize the particle interpolation interface"
Currently, particle interpolators have to return all interpolated particle properties, although the fields are solved in a field-by-field loop, which requires only one property at a time, and we might not need all properties at all. We should provide another interface function called `property_at_points` that only interpolates a single particle property. The interface functions can be implemented

[2016-12-13 04:02] bangerth opened #1316 "Support --version"
Title says it all.

[2016-12-14 19:25] bangerth opened #1320 "Replace $$...$$ by \[...\] in the manual"
See http://tex.stackexchange.com/questions/503/why-is-preferable-to

[2016-12-15 01:09] gassmoeller opened #1321 "[Meta] Follow-up improvements related to equation formulations"
#1275 introduces the ability to solve different approximations of our equations. There are a number of follow-up projects that should be addressed over the next months. This issue serves as a collection to keep track of the changes. Everybody is welcome to address single issues, please mention here that you are working on a specific task to avoid duplicated efforts. If you want to add additional t

[2016-12-15 01:30] gassmoeller commented on #756
This was solved by #1250.

[2016-12-15 01:30] #756 closed

[2016-12-15 01:35] gassmoeller commented on #943
This issue is too generic, because we always have *some* deprecated functionality. @tjhei I hope you are fine with me closing this issue. Let's open individual issues for every deprecated function and close them when they are removed. That way we do not carry the issue around.

[2016-12-15 01:35] #943 closed

[2016-12-15 01:37] gassmoeller commented on #918
@GEuen: Is this issue resolved? If so please close it. Otherwise, any progress or questions about the issue?

[2016-12-15 06:40] gassmoeller commented on #98
Closed by #1275

[2016-12-15 06:40] #98 closed

[2016-12-15 06:43] gassmoeller commented on #653
The largest part of this issue is addressed by #1275. We might need to go over the manual one more time and look for wrong references to the Boussinesq approximation, but otherwise this should be fixed.

[2016-12-16 06:28] Shangxin-Liu commented on #918
Hi Rene,

We haven't observed these errors when we updated our ASEPCT code to the new git hub version this year, so we think this issue can be closed now. @gassmoeller

[2016-12-16 06:36] #918 closed

[2016-12-16 07:29] bangerth commented on #1132
@hlokavarapu -- can you still reproduce this? If not, maybe we should just close this. We can always re-open if we find that the problem persists.

[2016-12-16 15:33] hlokavarapu commented on #1132
Sounds good, Wolfgang. I'll attempt to reproduce this case and provide more details if issue persists.

[2016-12-16 15:33] #1132 closed

[2016-12-17 18:46] gassmoeller commented on #166
Closed by #1275. Just took 2 and a half years since opening this issue :smile:.

[2016-12-17 18:46] #166 closed

[2016-12-17 18:49] gassmoeller commented on #947
Any news on this issue? If there are no news, I am in favour of closing the issue, because it seems to affect an old version. Also in order to take another look we will need a text version of the parameter file (not a pdf).

[2016-12-17 18:51] gassmoeller commented on #938
Whatever the problem was it is gone in the current development version. Closing this issue for now.

[2016-12-17 18:51] #938 closed

[2016-12-17 19:36] bangerth commented on #166
:+1:

[2016-12-18 01:05] bangerth commented on #1320
Well, it turns that we don't have any occurrences of `$$` in the manual :-)

[2016-12-18 01:05] #1320 closed

[2016-12-20 01:24] #1314 closed

[2016-12-23 16:13] #1316 closed

[2016-12-23 18:28] bangerth opened #1335 "Unify implementations of parenthesize_if_nonempty"
There are currently two copies of this function in `source/postprocess/velocity_boundary_statistics.cc` and `source/postprocess/mass_flux_statistics.cc`. #1328 adds another copy. Unify these all in namespace `Utilities` or elsewhere.

[2016-12-28 11:44] bangerth opened #1340 "Also support --help"
As a follow-up to #1316: Also support `--help`.

[2017-01-03 09:49] #1340 closed

[2017-01-09 20:03] gassmoeller opened #1349 "Visualization postprocessor does not check for unique plugins"
When selecting the same visualization plugin more than once in release mode there is no error message, and the paraview output files are corrupted. Deal.II has an internal Assert, but since this is an issue in the input file, we should add an AssertThrow to catch it. This is mostly a reminder for me to come back to the issue.

[2017-01-10 02:39] bangerth commented on #1349
Is this an issue everywhere we use `MultipleSelection` as the pattern of parameters? Do we need to make the list unique in other places as well?

[2017-01-11 23:37] bangerth opened #1351 "Where is 'point_is_in_domain' used?"
All geometry models appear to implement the `point_is_in_domain()` function, but I can't seem to find where this function is actually used. Does anyone remember why we have this function?

[2017-01-12 14:03] tjhei commented on #1351
see #1176

[2017-01-12 17:05] gassmoeller commented on #1349
I think we have the same issue in many places, it might not always lead to crashes, but it might cause a number of bugs. I will try to add a utility function that deals with it. Something like 'check_list_items_are_unique' and throw an assertion if there is a duplication.

[2017-01-12 20:03] bangerth commented on #1271
I reported this to the good folks at BOOST here: https://svn.boost.org/trac/boost/ticket/12755

[2017-01-12 20:03] bangerth commented on #1271
I double checked that this is also an issue with boost 1.63 (the current release).

[2017-01-12 21:55] #1349 closed

[2017-01-12 21:57] gassmoeller commented on #1349
It is a bit creepy that Github now closes issues automatically when they are associated with a merged pull request. I wonder how it would decide if a PR only fixes part of an issue?

[2017-01-12 22:08] bangerth commented on #1349
Not creepy at all. If you specifically say "closes #abcd" or "fixes #abcd" in a pull request, then that automatically closes issue #abcd. It's the specific way in which you reference #abcd that makes that happen, not that you just reference it at all.

[2017-01-12 23:46] bangerth commented on #1351
Aw, I see -- it links back to #1044 which we still haven't merged :-(

[2017-01-12 23:46] #1351 closed

[2017-01-13 00:15] gassmoeller commented on #1349
I did not know. Clever :smile:.

[2017-01-13 00:34] bangerth commented on #1349
https://github.com/blog/1506-closing-issues-via-pull-requests

[2017-01-17 18:47] hlokavarapu opened #1355 "SolCx Compositional Field Benchmark jump discontinuity"
Given that the viscosity jump is defined as `(x <= 0.5 ? 1.0 : 1e6)` in a 1 by 1 box, using compositional fields is not as accurate as without compositional fields. The issue is that since the jump discontinuity lies on the cell edge, the compositional field support point for the two cells to the left and right of this edge cannot differ. For example, the viscosity of the left cell at the right ha

[2017-01-17 19:35] yinghe616 commented on #1355
@bangerth  Just want to make a few comments. In mathematics, it can be explained as follows,
without a compositional field as an intermediate step, the density/viscosity are calculated directly at those interior gauss quadrature points as evaluated at the exact function. Therefore there is no numerical error due to function evaluation.    Say, f(x_i) =f(x_i)

With the compositional field approach,

[2017-01-20 16:16] bangerth opened #1357 "Gracefullly terminate upon Ctrl-C"
Sometimes it would be nice if one could terminate a job that doesn't want to converge and still get some kind of information out of the program where it currently is. An example would be to flush the convergence history of the solver to disk, which is currently only done upon postprocessing, but if a computation doesn't get there, we will never get this on disk.

Unix doesn't offer all that much t

[2017-01-20 20:23] bangerth commented on #1355
For the SolCX benchmark, it is of course possible to just define the viscosity in the material model as a spatially variable function, without the intermediate step of the compositional field. You could probably achieve the same with a discontinuous FE field for the compositional variables if you did the interpolation slightly differently.

How exactly does your hack work, @hlokavarapu ? I find it

[2017-01-20 20:37] bangerth opened #1358 "[Post 1.5] Rename top-level dir from 'benchmark' to 'benchmarks'"
The other similar subdirectory is called `tests/`, so `benchmarks/` seems reasonable.

[2017-01-20 22:58] ian-r-rose opened #1359 "When using a free surface, should we disable pressure normalization?"
Following a discussion on #1254. cc @cedrict @tjhei, @bangerth, @naliboff , with whom I have discussed this at some point or another.

As I understand it, the reason for the `Pressure normalization` option is this: when the boundary conditions on Stokes flow are free-slip or no-slip, then the pressure is undefined up to a constant. Therefore, the pressure that comes out of a Krylov solver, will, i

[2017-01-21 02:08] naliboff commented on #1359
@ian-r-rose Thanks for following up on this and what you outlined above follows my understanding as well.

In another code I use, one can choose to add a constant to the pressure field that ensures the pressure on average is zero or lithostatic at the surface.  However, adding this constant does not guarantee negative pressures will not be present somewhere in the model.

The other option is to ad

[2017-01-23 16:34] jaustermann commented on #1357
I think this would be helpful! For some of the large viscosity variation runs the convergence is slow and it has definitely happened that runs timeout without output. If there would be an option to output the convergence history of the solver I would use it.

~ Jacky

[2017-01-23 16:52] jaustermann commented on #1357
Hi group,

Has anyone done / tried the Zhong et al. (2008) G3 benchmarks for surface and CMB topography? If this hasn’t been done and people think it’s worthwhile I’d be happy to give it a shot. This might also be a possibility to test the geoid post processors that people worked on during the last hackathon. Ian and Shangxin, if you’re willing to share I could test your geoid post processors (jus

[2017-01-24 01:23] jaustermann commented on #1357
Hi Jacky and Ian,

Last Month I found that my geoid code may still have bugs because I failed
to reproduce the geoid with the same rheology from CitcomS. I already
confirmed that my topography part has no problem (same as the output grid
topography when computed back from spherical harmonics) but the density
integral part still needs to be tested and I'm working on this now, also
including reprodu

[2017-01-24 03:42] bangerth commented on #1357
Hi Jacky & Shangxin -- would you mind having this conversation on the mailing list again (just repost your mails) instead of attaching it to this github issue? ;-))

[2017-01-24 03:43] bangerth commented on #1357
(I do think having geoid codes in ASPECT would be great!)

[2017-01-24 10:28] jaustermann commented on #1357
Ups, sorry!!

[2017-01-24 16:50] tjhei commented on #1357
I am concerned how signal handling will interact with c++ (constructors/destructors/leaks etc.) and MPI.

[2017-01-24 18:46] bangerth commented on #1357
Yes, me too. But there is *already* no graceful recovery if someone hits Ctrl-C. I'm not proposing something that would yield a graceful recovery either. All I want is to be able to call a signal that allows parts of the code to do something, knowing full well that there is no guarantee at all that the data is correct, that we are at a state where the data is consistent, or that what the function

[2017-01-25 03:55] hlokavarapu commented on #1355
Actually, Ying taught me the hack. @yinghe616 , do you think you can elaborate how this works?

Here is a diff compared against the master branch:

[code]

[2017-01-25 06:15] yinghe616 commented on #1355
The hacked code only works for the cell-wise constant value type discontinuity. Basically, just to use the value at any interior gauss point to represent the same single cell value  in order to avoid to use the value at the cell boundary points.

In theory, with a discontinuous jump viscosity, the convergence rate for L2 norm of pressure with a discontinuous pressure spatial discretization is high

[2017-02-07 17:30] #1061 closed

[2017-02-07 23:31] gassmoeller commented on #528
Fixed by #1030

[2017-02-07 23:31] #528 closed

[2017-02-07 23:34] gassmoeller commented on #622
I will close this issue for now, because we more or less settled on an approach for the code structure, and this issue seems to generic to provide further improvements. Thanks for all the input! Specific improvements for projection/averaging operations are of course always welcome.

[2017-02-07 23:34] #622 closed

[2017-02-07 23:35] gassmoeller commented on #666
Fixed by #1072.

[2017-02-07 23:35] #666 closed

[2017-02-07 23:37] gassmoeller commented on #721
Fixed by #1046

[2017-02-07 23:37] #721 closed

[2017-02-07 23:41] gassmoeller commented on #773
If there are no news about this issue I would assume it does not longer occur, and I would close it in a few days. The output seems to work stable for any given number of grouped files on the clusters I use. If there are any problems for other people please let us know.

[2017-02-07 23:42] gassmoeller commented on #774
Any news on this issue after the update of your clusters? I am currently doing some cleanup for old issues, and if there are no news, I would close this issues in a few days. Let us know if the bug reappears.

[2017-02-07 23:48] gassmoeller commented on #789
So this seems resolved for now? We did not have problems with FPEs on the mailing list for a while, and the printout does now output -MAX_DOUBLE ... MAX_DOUBLE. If nobody has a different opinion, I will close this in a few days.

[2017-02-08 21:53] gassmoeller commented on #1335
Closed by #1339

[2017-02-08 21:53] #1335 closed

[2017-02-08 21:55] gassmoeller commented on #1239
Solved by #1241

[2017-02-08 21:55] #1239 closed

[2017-02-08 21:57] gassmoeller commented on #1234
Since this discussion seems resolved for now, I close this issue. Feel free to reopen when the need arises.

[2017-02-08 21:57] #1234 closed

[2017-02-08 22:00] gassmoeller commented on #1059
For reference: First part addressed by #1285.
Todo: Remove the parameters completely after ASPECT 1.5

[2017-02-09 01:59] gassmoeller commented on #1140
Addressed by #1168.

[2017-02-09 01:59] #1140 closed

[2017-02-09 02:16] gassmoeller commented on #1036
Since there have been no comments since more than half a year I suppose this issue is fixed? Feel free to reopen if it is still an issue.

[2017-02-09 02:16] #1036 closed

[2017-02-09 02:41] gassmoeller commented on #726
Resolved by #1168.

[2017-02-09 02:41] #726 closed

[2017-02-09 02:44] gassmoeller commented on #526
It seems we agreed that the free surface implementation is mostly for modest deformation of one surface, and #537 should improve stability for those issues. Since this issue was inactive for a long time I will close it for now. Feel free to reopen when it is still pressing or new information is available.

[2017-02-09 02:44] #526 closed

[2017-02-09 18:28] gassmoeller commented on #64
Gotcha Github. "Resolve #64 in a follow-up pull request" does not mean to close this issue right away. I was so looking forward to closing this issue and now it has been taken away from me :cry:

[2017-02-09 18:32] #947 closed

[2017-02-09 19:05] bangerth commented on #64
Here, I'll reopen it for you so you can close it again!

[2017-02-09 21:18] gassmoeller commented on #64
Yay :smile:

[2017-02-09 21:18] #64 closed

[2017-02-13 16:02] #789 closed

[2017-02-13 16:03] #774 closed

[2017-02-13 16:07] #773 closed

[2017-02-13 23:15] tjhei opened #1376 "cookbooks/composition-active-tracers.prm fails"
[code]

@gassmoeller is it okay to set this to true? I wonder why you query ghost particles even without running in parallel...

[2017-02-14 01:21] gassmoeller commented on #1376
This should not happen. `source/particle/interpolator/cell_average.cc:41` can be skipped in serial computations, the code paths that need the ghost particles will never be reached in this case (there are no ghost cells). Feel free to fix that, or I will do in a bit (currently working on #1329).

[2017-02-14 01:22] gassmoeller commented on #1376
Additionally we will also need to set the input parameter. The parameter was added after the introduction of the cookbook.

[2017-02-14 15:28] tjhei commented on #1376
Can you do that please? I have a bunch of other small fixes coming.

[2017-02-14 16:51] gassmoeller commented on #1376
Sure, no problem. See #1377.

[2017-02-14 22:22] #1376 closed

[2017-02-14 23:02] jdannberg commented on #653
I had a look at the manual, and some of the wrong references to the Boussinesq approximation that are left are in the cookbooks. In these cases, do we want to modify the input files so that they use the real Boussinesq approximation? In particular for convection box, where we have this strange workaround...
On the other hand, we probably don't want to rerun all the computations and make new figure

[2017-02-14 23:13] tjhei commented on #653
My vote: make a release as is and then replace convection box to use the Boussinesq approximation.

[2017-02-14 23:29] tjhei opened #1380 "cookbooks/steinberger.prm fails"
The Stokes solver doesn't converge in timestep 0. @gassmoeller Do you have an idea what is going on here?

[2017-02-15 00:18] bangerth commented on #653
I would just replace the wording (don't say Boussinesq, just say thermal convection equations (1)-(3), or similar) where this is convenient, and otherwise leave the input files untouched.

This should work for all cases where we do not try to follow any particular benchmark or setup that others have already used. In those cases where we work around our previous limitations, it may be worthwhile tr

[2017-02-15 00:31] gassmoeller commented on #1380
I will take a look. The parameter file is a mess anyway, I will clean it up tomorrow.

[2017-02-15 17:58] gassmoeller commented on #653
Fixed by #1381. There is another issue that tracks the transition of cookbooks to other approximations (#1321)

[2017-02-15 17:58] #653 closed

[2017-02-16 19:59] #1380 closed

[2017-02-17 00:43] bangerth opened #1388 "Let face assemblers describe that they need strain rate and viscosity"
@jaustermann ran into this problem with face assemblers: In `assembly.cc`, we have this code in `local_assemble_stokes_system()`:
[code]

In other words, we only evaluate the strain rate and (and consequently) viscosity if the face assemblers are used to (re-)build the matrix. But in her case, she just wants to assemble a rhs term that happens to require the viscosity, without rebuilding the matri

[2017-02-17 17:33] tjhei opened #1389 "Improve Blankenbach convergence"
Even when starting with the final, steady-state temperature, it takes 100-1000 timesteps to see convergence. Details are discussed in #1378.

I assume this is because the entropy viscosity in timestep 1 is computed differently and causes a large deviation from the initial condition.

Is there a bug? I am unclear why we use a different formula for the entropy for the first two timesteps even though

[2017-02-17 17:34] tjhei commented on #1388
My vote would be to move away from only using signals and use the base class to query various things.

[2017-02-17 17:52] gassmoeller commented on #1388
I agree. When looking into #1385 I also noticed our current system is not optimal. `set_assemblers` is the only place that currently knows all information to set up properties for all assemblers, and it will grow over time with more and more options. This should be done inside the individual assemblers, similar to the `model_dependence` member of the material model interface.

[2017-02-19 04:54] bangerth opened #1390 "Document why the factor 1/3 is correct, even in 2d"
@MFraters asked a great question on the mailing list, namely why the compressible strain has the factor 1/3 in `eps(u)-1/3(div u)I`, even for 2d computations.

I think we ultimately all agreed that the 1/3 really is correct, because we think of 2d flow as a cross section of an infinitely long 3d domain in the z-direction. In other words, it all comes down to what exactly we *mean* when we say that

[2017-02-20 18:41] #1315 closed

[2017-02-21 00:13] bangerth commented on #1389
Yes, it's weird that you have a converged solution, and when you start with it it takes another few hundred iterations to get back to it. Are you sure it's because of the entropy viscosity? We presumably don't have the option to read in both the current and a previous solution and declare that we are already starting with the BDF2 time stepper. But I suspect that if you hacked something like that

[2017-02-21 03:05] tjhei commented on #1389
Yes, pretty sure. Timestep 1 has the correct (first five digits) statistics, but timestep 2 has about 1% error and the only big difference is the entropy viscosity that is 2x bigger.

Yeah, maybe I should try that next.

Certainly, but this is not portable and I kind of want to ship with these files to allow quick computations of the benchmark.

[2017-02-21 13:59] tjhei commented on #1389
If I turn entropy viscosity off (beta=cr=0), I am reaching a steady state more or less immediately (it takes the minimum amount of the steady state detection termination criterium to kick in). The solutions are still mesh dependent though (using the 32x32 solution for 16x16 increases the number of iterations slightly).

This also works: if I remove the special case for ``timestep_number <=1`` and

[2017-02-28 04:32] naliboff opened #1394 "Tracking material properties (viscosity, density, etc) through tracers"
Currently, there is a notable difference between the methods in most particle-in-cell "tectonics" codes (mantle convection, lithospheric deformation) and ASPECT's handling of material properties through active tracers.

In ASPECT, one can track the initial composition through active tracers, which is then mapped to quadrature points where material properties (density, viscosity, etc) are calculate

[2017-02-28 08:01] egpuckett commented on #1394
Let's talk about this tomorrow, with Julianne as well.On Feb 27, 2017 8:32 PM, naliboff <notifications@github.com> wrote:Currently, there is a notable difference between the methods in most particle-in-cell "tectonics" codes (mantle convection, lithospheric deformation) and ASPECT's handling of material properties through active tracers.
In ASPECT, one can track the initial composition through act

[2017-02-28 16:36] jdannberg commented on #1394
As @gassmoeller is the one who knows most about the tracers, I think he should be the one answering this question. I don't see a problem with tracking viscosities instead of compositional fields on the tracers, but maybe there's something I didn't think of.

[2017-02-28 16:51] naliboff commented on #1394
@jdannberg - I also don't see any underlying technical obstacle to tracking the material properties on the tracers and then interpolating these values to the quadrature points.

I think my main concern is that a material model doing this breaks from the current elegant architecture where one can switch seamlessly between tracking composition with the "standard" field method and active tracers.

Wh

[2017-02-28 17:09] gassmoeller commented on #1394
I would be fine adding a material model that requires particles to be used. However that should be made explicitly clear by adding assertions that this material model is only used with the (to be written) particle property material model.
I agree that this particle property could do a more sophisticated material property computation (e.g. computing viscosities on the particles and averaging that t

[2017-02-28 18:31] naliboff commented on #1394
Good to know that the memory cost for compositional fields advected by particles is that much lower.  I've used a mix of active tracers and  field methods for composition in 3D, but have not compared the memory usage yet.  For high particle densities (~ 100 per cell) in 3-D, I imagine handling multiple compositions with a single field would still be advantageous.

Good point about particles only u

[2017-02-28 20:22] gassmoeller commented on #1388
Closed by #1385.

[2017-02-28 20:22] #1388 closed

[2017-03-01 01:34] egpuckett commented on #1394
I'm coming into this discussion in the middle; i.e., I haven't read all of what's written above. But I read @jdannberg remark

. However, with regard

[2017-03-01 13:29] bangerth opened #1399 "Fix logo on every doxygen page"
Every doxygen page has, at the bottom, a broken link to the deal.II logo -- see the bottom left of http://aspect.dealii.org/doc/doxygen/changes_between_1_84_80_and_1_85_80.html or http://aspect.dealii.org/doc/doxygen/index.html for example.

I don't know where this comes from, but the ASPECT source tree doesn't seem to contain a reference to the `logo200.png` image. I suspect it is inherited from

[2017-03-01 13:30] bangerth commented on #1399
For reference, in deal.II, this comes in via the doxygen options file:
[code]

[2017-03-01 19:25] tjhei commented on #1399
No, the footer is replaced on the webserver after generating. I emailed Guido about it.

[2017-03-02 03:41] bangerth commented on #1399
Hm, you are right -- adding the PROJECT_LOGO line makes no difference apparently.... Let's see what Guido says about this then.

[2017-03-04 12:01] #1390 closed

[2017-03-08 19:01] gassmoeller opened #1405 "Document which geometry models can initially be deformed with topography"
As the title says. How would we do this consistently? Make notes in each geometry models description?

[2017-03-17 17:22] jdannberg commented on #1090
Regarding point 3: List of initial conditions (+ comp initial conditions)
One point that doesn't necessarily require more than 1 or 2 lines of changes in the input files could be the feature to allow using several initial conditions, and to be able to add them/take the maximum etc. This could be done similarly to the heating models, where we specify a list of models that should be used instead of

[2017-03-23 00:28] jperryhouts opened #1411 "Particle compositions don't seem to respect boundary composition model."
New particles are always generated using interpolation scheme, even when they appear because of inflow through a boundary with a fixed composition.

[2017-03-23 15:23] gassmoeller commented on #1411
You are right, but this issue is already tracked in #1294, so I will close this one. I do not have the time to fix it in the next one or two months, but let me know if you want to discuss how to address it. We can discuss it in the other issue.

[2017-03-23 15:23] #1411 closed

[2017-03-23 19:14] jperryhouts commented on #1411
Oops! I posted that mostly to document that this is the case, without even checking first whether it had been mentioned before! Sorry about that. I might work on it at some point, but I'll let you know first (in the other thread) and see how you'd like to proceed.

[2017-03-24 22:03] gassmoeller opened #1415 "Some subsections in the parameter file do not have any parameters in them"
The subsections 'Shear heating' and 'Latent heat' in the prm file do not have any parameters in them. Normally, one doesn't notice this, but it's obvious in the gui.

[2017-03-24 22:07] bangerth commented on #1415
Do the corresponding plugins open, and then immediately close this section? If so, we would just need to remove these two statements.

[2017-03-29 17:12] tjhei opened #1420 "compute code coverage"
We should look into tracking coverage of our testsuite.

Does this just involve using ``DEAL_II_SETUP_COVERAGE`` and running the testsuite with ``CTEST_COVERAGE()``?

[2017-03-29 17:50] bangerth commented on #1420
I think that is what it would be for deal.II. There is a paragraph in the description of the deal.II testsuite that may help to figure out how to do it.

[2017-03-29 18:08] tjhei commented on #1420
Yes, see https://www.dealii.org/developer/developers/testsuite.html#coverage

But this enables the compiler flags to generate coverage information (basically ``-ftest-coverage``) also for when we compile ASPECT.

[2017-03-29 18:19] ljhwang commented on #1420
Currently is it running Coverage? I do not see it as a separate section.

Best,
-Lorraine

*****************************
Lorraine Hwang, Ph.D.
Associate Director, CIG
530.752.3656

[2017-03-30 14:39] tjhei commented on #1420
I am not sure what are you asking about. There is currently no public coverage output for you to see for deal.II or ASPECT, but we have support for this in deal.II.

[2017-03-30 15:58] ljhwang commented on #1420
That answered the question!

Best,
-Lorraine

*****************************
Lorraine Hwang, Ph.D.
Associate Director, CIG
530.752.3656

[2017-04-14 23:48] gassmoeller commented on #651
It has been more than a few days since the last comment here :smile:, also I can not longer reproduce the problems with the above parameters, so I guess it has been resolved successfully. Feel free to reopen if anyone encounters the problem again.

[2017-04-14 23:48] #651 closed

[2017-04-15 19:12] #1048 closed

[2017-04-17 04:58] #1415 closed

[2017-04-17 21:27] gassmoeller opened #1441 "Copy deal.II's workflow for changes.h"
Every time a branch is merged that contains a new entry in changes.h, it creates a conflict for every other open pull request with an entry. We should copy deal.II's way of dealing with this. (see #1418 for a PR that was significantly more work than required, because of several rebases).

[2017-04-17 21:45] bangerth commented on #1441
Yes, I think that's the right thing to do. I think we ought to be able to basically copy the entire `doc/news/changes` directory from the current deal.II dev to ASPECT. (And because it's open source, we're even allowed to do that! ;-)

[2017-04-18 23:30] #1441 closed

[2017-04-23 02:25] Shangxin-Liu opened #1443 "A possible tiny bug in the temperature field initialization of the 3D spherical shell?"
Skipping the process how I detect this (accidentally), this possible tiny bug is described here:

When the 3D spherical shell geometry is used (I haven't tested this in 2D spherical shell), the temperature field at all the quadrature points along the north half polar axis is always 0. In the verification test, I fix the temperature field everywhere constantly to 0.5, including top (radius 1)/ bott

[2017-04-23 15:16] gassmoeller commented on #1443
Hi Shangxin,
the assignment of initial temperature to the solution happens in `simulator/initial_conditions.cc:98` if you use a deal.II newer than 8.4 and in `simulator/initial_conditions.cc:166` if you use deal.II 8.4 (this will be removed in the future). However, all of this is geometry independent, the mesh itself does not know if it is at a polar axis or not (it does not even know if it is a s

[2017-04-23 19:16] Shangxin-Liu commented on #1443
@gassmoeller
Hi Rene,

The attachment is the prm file I use to produce this issue. My observation is that the initial condition subsection does not matter. I've tried function, harmonic_perturbation, S40RTS, SAVANI, etc.... And as long as I use 3D spherical shell, this issue always happens. The prm file attached here uses function initial condition to set the temperature field to constant 0.5 ever

[2017-04-23 19:27] naliboff opened #1445 "One benchmark "buiter_et_al_2008" was not moved to the new "benchmarks" folder"
In renaming the benchmark folder, it looks like the newest benchmark `buiter_et_al_2008` was left behind in the original folder.

Should I open a pull request to move this folder from `benchmark` over to `benchmarks`?

[2017-04-23 20:02] tjhei commented on #1445
Yes, please.

[2017-04-23 21:19] naliboff commented on #1445
:+1:

[2017-04-23 23:35] gassmoeller commented on #1443
Hi Shangxin,
I checked your input file and could reproduce the issue. However, it is slightly different than you think. The initial condition is applied correctly to all quadrature points of the geometry, but the material model's `evaluate` function is also called for computing the reference temperature/pressure/density profile that is necessary for the boussinesq approximation (that happens from

[2017-04-23 23:37] gassmoeller commented on #1445
Closed by #1446

[2017-04-23 23:37] #1445 closed

[2017-04-23 23:38] gassmoeller commented on #1358
Done by #1438 and #1446.

[2017-04-23 23:38] #1358 closed

[2017-04-24 15:26] tjhei opened #1448 "Require deal.II 8.5.0"
We decided that we want to require 8.5.0 for ASPECT 2.0 if I remember correctly.

To make this work, I have to switch the tester images from 8.4 to 8.5, which introduces test failures (~40 or so) due to slightly different output. Should we do this before or after the hackathon?

I would have moved forward with this ASAP, but I see the issue with hackathon participants being forced to update their

[2017-04-24 15:34] bangerth commented on #1448
I would say let's do it now. Maybe we can get the email to participants out today (it's on my list) and then they still have almost two weeks. If we have a couple of people who haven't done it yet by the time the hackathon rolls around, we can deal with that.

[2017-04-24 15:34] gassmoeller commented on #1448
I would say lets do it before the hackathon, whenever is convenient for you. It will cost us a bit of time for helping people upgrade their installations, but it might be better to do it there then letting everyone run into problems when they are back home. Also it allows us to set up nice beginner projects (remove old code).

[2017-04-24 19:04] tjhei commented on #1448
Okay, I have a 8.5 testing image working. I need a few days to test and to prepare a PR to modify the test output.

One argument against enforcing 8.5. right now: The 8.5. mac osx binary bundle is not complete yet and I am stuck with it.

On additional option that just occurred to me:
We could allow for alternative test output and make the current version run with 8.4 and 8.5. Of course we are the

[2017-04-24 20:26] gassmoeller commented on #1448
Oh, yes we should definitely wait until the mac bundle is available (I remember last hackathon quite a number of people used mac for their development). In my view it is not crucial to switch before the hackathon, it is a nice to have type of thing.

[2017-04-24 20:39] gassmoeller commented on #300
Added by #1436.

[2017-04-24 20:39] #300 closed

[2017-04-24 20:44] gassmoeller commented on #798
This was already closed by #1054 and #1065.

[2017-04-24 20:44] #798 closed

[2017-04-24 21:32] Shangxin-Liu commented on #1443
Hi Rene,

Thanks for the detailed explanation. So in the simple.cc file, I noticed that after my printout lines of code, in.temperature[i] will be used to subtract the reference temperature to get the temperature anomaly. And this temperature anomaly will further go into the temperature-dependent viscosity equation and density buoyancy equation. So do you mean that although this 0 positive z-axis

[2017-04-24 23:09] naliboff commented on #1448
@tjhei - I recently downloaded what is listed as the 8.5 deal.II mac bundle (http://dealii.org/download.html) and ASPECT compiled successfully. Should we avoid this bundle for now?

[2017-04-24 23:23] bangerth commented on #1448
@gassmoeller -- but then we can't accept any patches during the hackathon that require deal.II 8.5. I do like the idea of accepting such cleanups...

[2017-04-25 02:32] tjhei commented on #1448
If it works for you then that is great. The two problems with it are:
- optimization levels cause it to fail to work on older machines (hard error when the compiler is run)
- it is currently not cryptographically signed, so you get warnings about "untrusted developer" stuff

[2017-04-25 13:58] bangerth opened #1454 "Fix a misplaced bar on the manual title page"
People like me get mightily annoyed if something doesn't quite line up. Specifically, I can't unsee the fact that on the title page of the manual (see the first page of http://www.math.clemson.edu/~heister/manual.pdf) the big black line at the top of the page is aligned with the text and the blue box, but the big black line at the bottom is not -- it is shifted to the right. This CANNOT stand!

[2017-04-25 16:07] bangerth commented on #1405
Yes, I think that is the right place for it.

[2017-04-25 16:09] bangerth commented on #1399
@tjhei -- Can you ping @guidokanschat again?

[2017-04-25 16:12] gassmoeller opened #1455 "[post-2.0] Remove deprecated input parameters"
Several input parameters were deprecated for ASPECT 2.0. Remove them after the release.

In particular there are:

- [ ] Initial temperature model / Model name
- [ ] Initial composition model / Model name

[2017-04-25 16:14] bangerth commented on #1151
Any news on this, or can we close it?

[2017-04-25 16:15] bangerth commented on #1178
I think this should not be terribly difficult to implement. We just need to (i) make sure the sparsity pattern is set up correctly including the periodicity, and (ii) we build the DG terms at the periodic boundaries.

[2017-04-25 16:17] bangerth commented on #1215
We may want to postpone this until after 2.0 when we can rely on C++11 and therefore have stateful allocators.

[2017-04-25 16:22] bangerth commented on #1271
@naliboff -- is this fixed? Can we close the issue?

[2017-04-25 17:23] gassmoeller commented on #927
Adressed by #1038 and #1447.

[2017-04-25 17:23] #927 closed

[2017-04-25 18:06] gassmoeller commented on #1443
I believe you think about the process the wrong way around. Let me try to draw a little flowchart to visualize the relationship between the objects:

1. Initialization of model (once in the beginning) -> compute adiabatic reference profile -> call material model with reference position/temperature/pressure (ignore the viscosity output, because that one is not needed in the reference profile)

2. A

[2017-04-26 20:40] gassmoeller commented on #179
Closed by #1449 and #1451.

[2017-04-26 20:40] #179 closed

[2017-04-26 20:44] gassmoeller opened #1459 "Remove doc/modules/todo.h"
This file was last touched in 2014, and many of the items (although not all) are already addressed. Someone should go through the list of items, delete those that are fixed, and convert the others into github issues. Then remove the file.

[2017-04-27 10:07] tjhei opened #1462 "cmake: remove ctest dependency to aspect target"
We currently have a dependency from each test target to ``aspect``. The motivation is that a test needs to re-run whenever the ``aspect`` binary changes (because it was rebuilt). Sadly, cmake does not add a dependency to the binary ``aspect`` but to the target to build ``aspect`` instead. This means that for every test cmake will check all dependencies recursively over and over again, which is ver

[2017-04-27 19:51] gassmoeller commented on #1462
Sounds great, 7min is much better than 21. I do know too little about make to make suggestions about how to improve the 4s, but this seems like a nice speedup already. Wouldnt the tests need to be rerun for every pull request anyway, so that the 4s case usually only applies if you work on aspect on your machine? Or does the tester keep files between different PRs?

[2017-04-27 21:15] tjhei commented on #1462
Well, most important is for normal development, but the tester currently does the following:

1. make -j $NPROC
2. ctest -j $NPROC
3. ASPECT_GENERATE_REFERENCE_OUTPUT=1 ctest -j $NPROC

Step 3 will rerun all the tests a second time. The current tester uses ninja for step 2&3, which causes it to rerun the examples in 3) (taking the additional 7 minutes or so). I can fix this by using make, but then

[2017-04-27 21:55] Shangxin-Liu commented on #1443
Hi Rene,  @gassmoeller

Thanks for a detailed workflow explanation. This wrongly reported issue makes me learn a lot:) Yes. I can surely give that a try at the hackathon. But there is a good news that I have successfully benchmarked my geoid code recently (still traditional spherical harmonic calculations but working with AMR). The numerical solution of my code is the same as the analytic solution

[2017-04-27 22:22] gassmoeller opened #1465 "ASPECT throws assertion during runtime with most recent deal.II master"
dealii/dealii#4307 removed functions from DataOut that we widely use in ASPECT's visualization postprocessors. Somehow we never got the deprecation warnings for them, but anyway we should fix this (best before the hackathon) to make sure also people with recent development version of deal.II can run ASPECT.

[2017-04-27 22:25] gassmoeller commented on #1465
This is essentially the same as #1268, only that it is more urgent now.

[2017-04-28 00:24] jperryhouts commented on #1465
Hm, bummer. Of all the days to update deal.ii I chose today. Is this an easy fix (if so I can do it right now), or should I just revert to an earlier deal.ii commit for now?

[2017-04-28 12:46] tjhei commented on #1465
Ironic that @bangerth removed them without testing ASPECT first. ;-)

I would recommend sticking with v8.5.0 for now. You can always just do ``git checkout v8.5.0`` in your source folder and compile again.

[2017-04-28 18:05] bangerth commented on #1465
Yes, let's just put into the record that that wasn't very smart of me :-( I'll see that I get to fix it this afternoon.

[2017-04-28 21:28] bangerth commented on #1462
Would there be a way to create one sub-project per test, rather than a subproject for all tests? In that case, we could use `ninja` for them again. Or does `ctest` not like this?

[2017-04-28 21:49] bangerth commented on #1268
Superseded by #1465.

[2017-04-28 21:49] #1268 closed

[2017-04-29 00:55] tjhei commented on #1462
I think Matthias would have tried that if this makes sense. I assume that we would get a really large overhead in ``setup_tests`` as a result.

[2017-04-29 21:02] bangerth commented on #1462
Yes, I suspect you're right.

[2017-04-29 23:08] #1454 closed

[2017-04-29 23:19] gassmoeller commented on #1465
Fixed by #1467

[2017-04-29 23:19] #1465 closed

[2017-04-30 13:59] bangerth commented on #1443
Great, we look forward to that!

I think this is correct.

Yes, correct.

That was computed in line 127 in the previous iteration (i=0).

The loop here walks down the reference profile, and for each depth, we only
set up a structure with a single quadrature point (namely a reference point at
the current depth).

You are confused by the fact that in.position is an array. It is an array
because it i

[2017-04-30 20:06] jdannberg commented on #1443
code integrates the reference temperature downward from the input adiabatic
 surface temperature and if it's incompressible (like our BA cases), all the
 temperature values along the reference profile will be adiabatic surface
 temperature constantly; if it's compressible, an adiabatic temperature profile
 with gradient will be computed. That's why in my BA case, the default 0
 adiabatic surface t

[2017-04-30 22:46] Shangxin-Liu commented on #1443
Hi Wolfang, Rene, and Juliane, @bangerth @gassmoeller @jdannberg

Thanks a lot for all the detailed descriptions. I've figured out the infrastructure of the code by your instruction:) Now only for the last dynamic pressure issue, I think in my last message I may not describe my concern/question clearly. Let me confirm myself again here. As Wolfgang pointed out, for ALA/TALA/BA, the densities that

[2017-05-01 14:00] tjhei commented on #1448
closed by #1456

[2017-05-01 14:00] #1448 closed

[2017-05-01 14:00] tjhei commented on #1462
done in #1466

[2017-05-01 14:00] #1462 closed

[2017-05-01 14:40] bangerth opened #1476 "Unify spelling of first names in the manual list of references"
`doc/manual/manual.bib` uses many different ways to abbreviate or not abbreviate first names of authors. Make this uniform -- typically by only using initials, terminated by a period, and separated by a space.

[2017-05-02 19:21] heronphi opened #1479 "Simple 'make test' broken"
After compiling deal.ii 8.5 and then ASPECT pre2.0, the quick mpi test 'make test' is unable to be completed.

When in aspect/build, 'make test' produces:

"make: *** No rule to make target `test'."

[2017-05-02 19:54] bangerth commented on #1479
If you say `make`, does that succeed? In other words, did compiling ASPECT succeed?

[2017-05-02 19:55] bangerth commented on #1479
I'm also not 100% sure that there really is a `test` target in ASPECT. Did I miss this somewhere? In other words, can you point out where you read about it? We may want to fix that place.

[2017-05-02 20:05] heronphi commented on #1479
Yes, ASPECT compiled correctly.

Ah, I was just going on how I tested ASPECT previously. Checking the current manual, it does not say to perform this 'make test'. With previous versions, this is how I quickly tested if my executable had been made correctly.

[2017-05-02 20:57] tjhei commented on #1479
I probably broke this in #1466.

@heronphi can you go into the ``test`` directory inside your build directory and run make test there?

[2017-05-03 10:23] heronphi commented on #1479
@tjhei - actually yes! Inside the build/tests the 'make test' runs (and passes the quick_mpi test in this instance).

[2017-05-03 12:08] #1479 closed

[2017-05-04 01:42] gassmoeller opened #1481 "Clarify docker run procedure"
Point 2. in Section 3.1.2 in the manual about running docker is not quite clear. It should mention that you can either run aspect directly, or start a shell and start aspect from there. But at least the terminal code should be clarified to be 2 separate lines, and not one wrapped line.

[2017-05-05 02:36] gassmoeller opened #1482 "Modify cookbooks to have different output directories"
It would be convenient if every cookbook would prescribe an output directory identical to its name, so that you can run them in the same directory without overwriting their respective results.

[2017-05-05 20:58] tjhei commented on #1482
I find it confusing if it is just the name of the cookbook, but something like ``output-<cookbookname>`` would be great.

[2017-05-07 14:23] bangerth commented on #1097
@egpuckett suggests that we use a style file, such as the Chicago Manual of Style.

[2017-05-07 15:07] bobmyhill commented on #96
I can take care of this little guy

[2017-05-07 15:58] hlokavarapu commented on #1482
Currently working on this enhancement.

[2017-05-07 16:17] gassmoeller opened #1489 "Clarify the number of fields in the multicomponent material model and similar plugins"
The `multicomponent` material model allows three modes of computations of material properties:
1. If the user inputs one number it is equally applied to all fields
2. If the user inputs N+1 numbers (where N is number of compositional fields), and the compositional fields add up to 1 or larger it computes N properties (and ignores the first number for the background material).
3. If the user inputs

[2017-05-07 16:24] ian-r-rose commented on #1489
How would you want to clarify this? I wanted to avoid requiring N>=2 for all cases, and so allowing for a "background" material seemed to accomplish that. This makes a number of benchmarks pretty simple.

[2017-05-07 16:32] ian-r-rose commented on #1359
@naliboff How do you want to proceed with this?

[2017-05-07 17:55] yinghe616 commented on #1112
@bangerth  Should I remove "#if DEAL_II_VERSION_GTE(8,5,0)" and all related lines now? Or keep as it is for those early deal.ii.8.4 users?

[2017-05-07 19:21] gassmoeller opened #1491 "[Poll] Does precompiling headers reduce your compile time?"
ASPECT tends to take a long time to compile from scratch. We have included two options that should reduce compile times, which might help everyone trying to develop a new feature (faster compile time -> lower turnaround time in the edit-compile-test cycle). Unfortunately, there is no guarantee that these options succeed with arbitrary C++ code. We tried to make ASPECT compatible with it, but we wo

[2017-05-07 20:13] bangerth commented on #1112
No, leave these preprocessor defines in for now. We'll take all of them out once we require 8.5.

[2017-05-07 20:15] bangerth commented on #1112
Oh, I now realize that we *already* require 8.5. So you can take them out from the existing code (in a separate pull request).

[2017-05-07 20:18] gassmoeller commented on #1491
Point 2. will only work consistently when #1487 is merged, so wait with that test for a while.

[2017-05-07 20:36] egpuckett opened #1494 "The Manual's Appendix numbers are overwriting the section titles"
For appendices numbered >= 100 the table of contents is not working correctly, at least with my LaTeX compiler on Ubuntu 16.04:

See the following PDF file:

[Manual_Appendix.pdf](https://github.com/geodynamics/aspect/files/981910/Manual_Appendix.pdf)

[2017-05-07 20:43] bangerth commented on #1494
Correct. We need to figure out how to teach `\tableofcontents` how to properly size the first column.

[2017-05-07 21:05] ian-r-rose commented on #1491
Point 1: With six processors I go from seven minutes to 3.5. Fantastic!

[2017-05-07 22:22] egpuckett commented on #1494
@bangerth I just noticed that some of the titles are simply too long; e.g.,

A.15 Parameters in section Boundary temperature model/Box . . . . . . . . . . . . . . . . . . . . 238
A.16 Parameters in section Boundary temperature model/Box with lithosphere boundary indicators238

Is it reasonable to make

a subsection of

Otherwise,  perhaps there is a way to make A 16 occupy two lines?

[2017-05-07 22:24] bangerth commented on #1494
That may be a separate problem. But we also can't do as you suggest -- these titles are automatically generated from the parameter handler object that manages input files. We will just need to find a way to teach latex to deal with this.

[2017-05-07 22:35] egpuckett commented on #1494
I'm willing to work on in when I'm too tired to do 'real' work, but I'll have to have you give me a quick overview of how the titles are automatically generated from the parameter handler object that manages input files.

[2017-05-07 22:51] bangerth commented on #1494
There's nothing to it. Just look at the file `doc/manual/parameters.tex` to see how they look. How they are generated is not actually important -- some class in deal.II does it. The only relevant thing is that given how they are, how can we trick latex into making them look nice.

[2017-05-07 23:47] bangerth commented on #1491
Standard build on my laptop:
[code]

With the flag:
[code]
That is a VERY NICE improvement!

But I also get this warning when running cmake with the precompiled header flag:
[code]
I wished the warning would tell me where this is happening :-(

[2017-05-07 23:58] alarshi commented on #1405
I looked into the geometry models and to me, it seems that only box and ellipsoidal chunk could be deformed with initial topography. In the manual, we have a line at the end in box geometry that tells the users about it.

[2017-05-08 00:40] anne-glerum commented on #1405
We only added it for the ellipsoidal chunk and the box geometry yet. I have it setup for the chunk geometry too, but I wanted to finish #1361 first.

[2017-05-08 01:32] hlokavarapu commented on #1482
This issue can be closed.

[2017-05-08 01:35] #1482 closed

[2017-05-08 01:35] bangerth commented on #1482
Thanks, @hlokavarapu !

[2017-05-08 03:05] bangerth opened #1503 "Don't use 'remap' as variable names"
We have a number of places where we use `remap` as the name of solution-type vector variables. This name is entirely unintuitive. Specifically, it is a verb, not a noun, and so really doesn't describe at all what the variable is used for. We should give these variables a better name that is, in particular, a noun.

[2017-05-08 04:36] bangerth commented on #1443
Yes, that is correct. It makes no sense to choose the adiabatic conditions in
the ALA/TALA/BA from the same material model. It really does need to be
independent.

It is independent, for example, if you do this:

Yes. If you make the surface temperature and the adiabatic surface temperature
different, then you achieve your goal. Choosing -1 is not wrong -- it's just
another value, and in at least

[2017-05-08 07:26] class4kayaker commented on #1491
Tested on my laptop (I use zsh, so the time output is slightly different, I
modified the presentation slightly for better comparison)

WITHOUT PRECOMPILED

[code]

WITH PRECOMPILED

[code]

I have the same warning as Wolfgang, and looking into the documentation the
BYPRODUCTS option was specified (added in CMAKE 3.2, warning will occur with
CMAKE 3.3). I did a search, and found that the recommende

[2017-05-08 13:07] gassmoeller commented on #1489
I think the Steinberger material model covers the three cases as follows:
[code]

[2017-05-08 13:11] ian-r-rose commented on #1489
So what if `n_compositional_fields = 2`, the number of entries in the list is two, and there is a region of the simulation with values of zero (or nearly so) for all of the compositional fields? To which value should we assign that region?

[2017-05-08 15:09] anne-glerum commented on #1124
on it

[2017-05-08 15:55] #1229 closed

[2017-05-08 16:00] anne-glerum opened #1513 "Rename prescribed traction boundary indicators"
Rename prescribed_boundary_traction_indicators parameter to prescribed_traction_boundary_indicators for consistency with prescribed_velocity_boundary_indicators.

[2017-05-08 16:02] ljhwang commented on #941
I will make a first draft for discussion. I will need help in implementing the .dot file into the documentation.

[2017-05-08 16:02] gassmoeller commented on #1513
What is the name for the boundary temperature indicators? Lets see how they look as well

[2017-05-08 16:17] bangerth commented on #1513
Nice starter project!

[2017-05-08 17:36] anne-glerum commented on #1513
Temperature and composition boundary indicators are called
fixed_temperature_boundary_indicators and
fixed_composition_boundary_indicators,
so consistent with velocity boundary indicators.

[2017-05-08 18:14] ian-r-rose commented on #1491
I  get a compiler warning with the unity build that I do not get with the normal build:

[code]

[2017-05-08 18:27] bangerth commented on #1491
Patch coming.

[2017-05-08 20:35] gassmoeller commented on #1513
Then lets use that naming convention.

[2017-05-08 23:44] class4kayaker opened #1526 "Mark meaning of composition field"
Mark compositional fields as to their meaning. This may include:
1. concentration: $0 \leq c \leq 1$
2. binary: $c \in \{0,1\}$
3. positive: $c \geq 0$
4. level set: $c \in \mathbb{R}$
5. arbitrary: $c \in \mathbb{R}$

Depending on the meaning of a field, we may want to use different
artificial viscosity approaches, compression, etc. We may also want to
project back into the feasible set when pass

[2017-05-09 00:43] jdannberg opened #1528 "think about removing solidus initial condition"
There is an initial temperature model called "solidus" that reads in a file to be used as the initial temperature and adds some spherical harmonic perturbation. Initially, it was used to generate an initial temperature model for early Mars after the freezing of the magma ocean.

In principal, we have the same functionality in other plugins, and the name of this plugin is misleading now that we hav

[2017-05-09 01:29] jdannberg opened #1529 "make separate plugins for reaction terms and viscosity"
We've now several times run into the problem that people wanted to combine a specific rheology from one material model with the rest of another material model; and the same is true for the reaction term: tracking for example the finite strain does not really have anything to do with material properties.

Hence, it would be useful to have a new plugin type for the viscosity and for the reaction ter

[2017-05-09 02:15] anne-glerum commented on #1124
This can be closed now right?

[2017-05-09 02:20] bangerth commented on #1491
Current timing with precompiled headers:
[code]
With unity build:
[code]
Really nice. I'll have to test how large the release builds are -- I bet they are also significantly smaller with unity builds as well as possibly faster (because of increased opportunities for interprocedural optimizations).

[2017-05-09 05:06] class4kayaker commented on #1491
My current timings (using my BYPRODUCTS branch, rebased to master)

PRECOMPILE

[code]

UNITY

[code]

[2017-05-09 13:07] alarshi commented on #1491
I tried it on my laptop with 4 processors. The times are :

a) Without any flags -

[code]
b) Precompiled headers (Point 1) -

[code]
c) Unity Build (Point 2) -

[code]

[2017-05-09 14:13] bangerth opened #1530 "Prepopulate aspect GUI filename when saving file"
When saving a file in the aspect GUI, it offers no default filename. Can we pre-populate the filename field with the name of the file that the GUI was opened with?

[2017-05-09 15:14] yinghe616 opened #1532 "Install Qt4.x on a Mac with Mac OS 10.12.4 through macport or home brew, and install dealii.parameter gui"
Just to share some information of installing Qt on a mac in order to use aspect paramter gui.
I tried to install Qt5.x from the Qt website, and also the early version Qt4.8.X from here
http://download.qt.io/official_releases/qt/4.8/4.8.7/
The installation of Qt5.x was successful however current dealii paramter gui doesn't support this.
The installation of Qt4.8.x was failed due to the incompatible

[2017-05-09 16:08] anne-glerum commented on #1532
For me (Mac OS 10.12.4) the parameter gui works when installing qt4-mac (4.8.7_4) through macports.

[2017-05-09 17:14] anne-glerum commented on #1491
Standard build on laptop (make -j2):
real    21m59.951s
user    40m48.810s
sys     1m59.161s

With ASPECT_PRECOMPILE_HEADERS=ON:
real    11m51.115s
user    21m19.804s
sys     1m16.123s

[2017-05-09 19:05] tjhei opened #1538 "Remove MaterialModel::InterfaceCompatibility"
This involves deriving MaterialModel's from ``MaterialModel::Interface`` instead of ``MaterialModel::InterfaceCompatibility`` and implementing ``evaluate``:
- [x] convert tests
- [x] convert benchmarks/cookbooks
- [x] remove class

[2017-05-09 19:10] gassmoeller commented on #1124
Yes, closed by #1512. Feel free to close issues yourself, if you think they are addressed (I am actually not quite sure if you can do that, or if you can only close you own issues, lets try this at some point).

[2017-05-09 19:10] #1124 closed

[2017-05-09 19:21] yinghe616 commented on #1532
Thanks Anne. Now I am able to install dealii.parameter.gui in my mac :)

For mac users with Mac OS 10.12.4 who wants to install aspect parameter gui, here are what I did:

1) intall macport if you haven't
https://guide.macports.org/chunked/installing.macports.html
2) install qt4-mac
sudo port install qt4-mac
2) download dealii parameter gui
https://github.com/dealii/parameter_gui
3) Intall dealii

[2017-05-09 20:20] anne-glerum commented on #1124
I can only close my own issues :)

[2017-05-09 20:24] bangerth opened #1542 "Support different timescales"
There is currently no way to accurately solve dynamics faster than the viscous time step. Cases where this would be useful are (i) fast reactions between compositional fields, (ii) rapid decay of quantities (that are not necessarily coupled) such as elastic stresses in a viscoelastic model, (iii) elasticity forces in a viscoelastic model.

Between @tjhei , @jdannberg , @cedrict , @naliboff , and @

[2017-05-09 21:34] ljhwang commented on #941
Attached is a strawman visualization for this project and roughly follows the same principles as the deal.ii project. Green and orange are cookbooks; blue are geophysical setups; yellow benchmarks as defined in the manual.  White are needed .prms; files prepended with "f" are .prms in the "future" folder and have not been written up in the manual. Not all benchmarks are in the manual as well.

Hex

[2017-05-09 21:43] bangerth commented on #941
Nice!

[2017-05-09 21:47] tjhei commented on #1530
Difficult. The GUI will always be opened with "temp.xml". We would need to pass additional information to the parameter gui.

[2017-05-09 21:59] gassmoeller commented on #1532
@yinghe616 would you mind adding the instructions that you posted above to a new subsection in the manual (inside of subsection "4.8.1 Installing parameter-GUI")?

[2017-05-09 22:20] bangerth opened #1549 "Mention HollowSphere benchmark in manual"
As a follow-up to #1511, @cedrict wants to write a blurb for the manual that mentions this benchmark. There is also a possibility of creating a benchmark for the dynamic topography from this, because the solution is known.

[2017-05-10 00:31] yinghe616 commented on #1532
sure. I'll do that.

[2017-05-10 13:54] cedrict opened #1556 "Burstedde benchmark code should be cleaned up"
The beta parameter is sometimes hardwired. Some variables are defined but never used, etc ....

[2017-05-10 14:02] bangerth opened #1557 "Replace uses of parameters.n_compositional_fields by introspection.n_compositional_fields"
@pmbremner implemented a neat way to query the number of compositional fields through introspection rather than the parameter object in #1505.We should use this!

[2017-05-10 14:20] bangerth opened #1558 "Use new MaterialModelInputs constructor"
In #1537, @pmbremner implemented a neat way to let a `MaterialModelInputs` initialize itself from a solution vector and a few auxiliary variables. This provides a way to remove a lot of boiler plate code in places where we have to set up these objects. We should use the new constructor wherever appropriate.

One of the issues worth investigating in this regard is whether really *all* fields that t

[2017-05-10 16:00] anne-glerum opened #1560 "Allow for specifying separate composition and temperature descriptions for each boundary"
At the moment, all `Fixed temperature boundary indicators` and `Fixed composition boundary indicators` specified use the same plugin to prescribe the fixed values. It would be useful to be able to specify a plugin for each boundary indicator separately, as is already possible for the `Prescribed velocity boundary indicators`.

[2017-05-10 18:20] jdannberg opened #1562 "Default values for seismic vp and vs"
At the moment, the vs and vp material properties (which are used for postprocessing) are initialized with a value of -1, and not with signalingNaNs, which would make more sense (if we want to output seismic velocities, we should be forced to fill them).
However, changing the default value breaks approximately 50 tests. We should have a look what's going on there and think about if we can change th

[2017-05-10 19:09] class4kayaker commented on #1557
I can get started on this.

[2017-05-10 19:27] hlokavarapu opened #1565 "Measure the computing time of particle interpolation"
At the moment, the time taken for the particle interpolation algorithm is not being measured. This piece of information will be important in better understanding the cost of different interpolation algorithms, the scaling properties, the time complexity as a function of number of particles, and etc.

[2017-05-10 19:36] hlokavarapu opened #1566 "Add postprocessor to append timing summary to the statistics file"
Write a postprocessor that will append the timing summary of a given run to the statistics file. This will be convenient in terms of running a data processing program that directly computes on top of the statistics file, as opposed to writing an external script to pull out the timing information from the screen-output (&/ log.txt).

After talking to Rene, he suggested adding an extra function to d

[2017-05-10 19:47] bangerth commented on #1566
That is one possibility. Another would be a function
[code]
that for Kind in `{total_cpu_time,total_wall_time,n_calls}` returns the requested map. I think we already have an enum like `Kind` in that class.

This has the advantage that it doesn't export the internal data structures, and would probably be good enough for the purpose you have here.

[2017-05-10 20:07] gassmoeller commented on #1530
Not very difficult. The `aspect-gui` script could rename the temp.xml output file into the name of the given parameter file, and we can prepopulate the filename field of the gui with the name of the xml file that was used to open it. The ending would be wrong, but we can also choose to modify that ending to whatever type the user selects in the "Write file..." dialog. Not perfect, but better than

[2017-05-10 20:25] hlokavarapu commented on #1565
@gassmoeller

After adding call to `computing_timer.enter_section("   Particles: Interpolate")`  in the function `void Simulator<dim>::interpolate_particle_properties (const AdvectionField &advection_field)` the timing summary is such that:

[code]

Is there a method of controlling where `Particles: Interpolate` is listed in the summary?

[2017-05-10 20:47] gassmoeller commented on #1565
I though it would be sorted in the order the `std::map<std::string,Section>` would sort the entries, which should be alphabetical. In your post above you have a space in front of the `Particles` do you add the same in the code? What happens if you remove the space?

[2017-05-10 22:22] hlokavarapu commented on #1565
Super simple, thanks Rene!

[code]

[2017-05-10 22:42] bangerth commented on #1557
Fixed by #1568.

[2017-05-10 22:42] #1557 closed

[2017-05-10 22:45] bangerth commented on #1565
Will be fixed by #1573.

[2017-05-10 23:28] class4kayaker commented on #1566
Pull request for Deal.II providing suggested function generated at dealii/dealii#4369.

[2017-05-11 00:46] gassmoeller commented on #1565
closed by #1573

[2017-05-11 00:46] #1565 closed

[2017-05-11 02:01] ljhwang commented on #941
The .dot file was renamed so this would upload.

[aspect_dot.txt](https://github.com/geodynamics/aspect/files/991670/aspect_dot.txt)

[2017-05-11 02:33] anne-glerum opened #1579 "Rename data directories in alignment with source directories"
Maybe we should rename some of the directories in `/data` to match the dirs in `/source`?
e.g.
`boundary-velocity` instead of `velocity-boundary-conditions`
and
`initial-composition` instead of `compositional-initial-conditions`

[2017-05-11 06:08] SiqiZhang commented on #1528
I agree that the current state of this plugin may not be so useful for other modelers. I have no objection of moving it to a test.
However, we could improve it to use mantle adiabatic and limit it with mantle solidus (mainly for the upper mantle) get from material model. This may make it more useful for other mantle models.

[2017-05-11 12:57] gassmoeller commented on #1579
Yes. I forgot that when renaming the sources. Anyone Feel free to go ahead, but leave a note here so that we avoid double effort. Renaming also involves changing the default values for the parameters that set the directories.

[2017-05-11 17:10] class4kayaker commented on #1503
Fixed in #1531?

[2017-05-12 12:47] bangerth commented on #1503
Yes.

[2017-05-12 12:47] #1503 closed

[2017-05-12 15:17] gassmoeller commented on #96
Fixed by #1545

[2017-05-12 15:17] #96 closed

[2017-05-12 15:22] yinghe616 commented on #1558
I'll work on this sometime today.

[2017-05-12 15:23] ian-r-rose commented on #1558
You may want to check in with @pmbremner , since I think he has some work-in-progress on this as well.

[2017-05-12 15:29] yinghe616 commented on #1558
I haven't stated yet. just wanted to work on this when changing topic :-) @pmbremner, let me know if you are working on this.

[2017-05-12 15:32] pmbremner commented on #1558
Working on it now, actually

[2017-05-12 15:32] pmbremner commented on #1558
I'm happy to collaborate :)

[2017-05-12 15:39] gassmoeller commented on #691
Duplicate of #1529

[2017-05-12 15:47] gassmoeller commented on #906
I think we have settled that the current behavior, while not mass-conserving, is exactly what we expect it to be. To prevent confusion I will close this issue (it is marked as bug). Feel free to reopen or to open pull request for improvements of this issue.

[2017-05-12 15:47] #906 closed

[2017-05-12 15:52] gassmoeller commented on #1405
Closed by #1497. We will it in the other places as soon as it is implemented.

[2017-05-12 15:52] #1405 closed

[2017-05-12 15:59] yinghe616 opened #1582 "use this->introspection().polynomial_degree.velocities instead of this->get_fe().base_element(this->introspection().base_elements.velocities).degree+2) when necessary"
In class introspection, we already defined the polynomial degree for each field, so we should
use
this->introspection().polynomial_degree.velocities
instead of
this->get_fe().base_element(this->introspection().base_elements.velocities).degree+2)
whenever necessary. For example, initialize the QGauss quadrature

[2017-05-12 16:00] bangerth commented on #1529
At the price of a small loss of efficiency, this can be done with a "compositing material model" that works in the same way as the "averaging material model": it keeps a pointer to another (or in the case discussed here, multiple) material model, and the `evaluate()` function just calls the `evaluate()` function of the other material model before modifying the output. In the current context, that

[2017-05-12 16:02] gassmoeller commented on #1579
I will go ahead with this. After all I created the mess.

[2017-05-12 16:10] bangerth commented on #1582
Yes, this seems entirely reasonable.

[2017-05-12 17:08] class4kayaker commented on #1582
Working on this

[2017-05-12 17:11] yinghe616 commented on #1582
I have been working on this... and almost done.

On Fri, May 12, 2017 at 1:08 PM Jonathan Robey <notifications@github.com>
wrote:

[2017-05-12 17:13] class4kayaker commented on #1582
Never mind then, thanks for letting me know.

[2017-05-12 17:29] class4kayaker commented on #1529
In progress

[2017-05-12 17:53] jaustermann commented on #1491
The precompiling worked on my local machine but caused problems on the cluster (see below). The same code compiles fine if I don’t set the precompile flag.

[jaustermann@rclogin05 aspect-build]$ cmake -D ASPECT_PRECOMPILE_HEADERS=ON .
-- ====================================================
-- ============ Configuring ASPECT ====================
-- ==================================================

[2017-05-12 20:18] jaustermann opened #1589 "warning with icc compiler"
I get the following warning in all files that use SphericalShell. This is with the compiler version:
icc version 15.0.0 (gcc version 4.4.7 compatibility)
[code]

[2017-05-12 20:20] bangerth commented on #1589
This would make for an easy starter project :-)

[2017-05-12 20:30] bangerth opened #1590 "New failing test: geoid/dynamic_topography.00000"
It looks like all pull requests current fail this test:

[code]

@Shangxin-Liu -- can you see if you can fix this?

[2017-05-12 20:35] Shangxin-Liu commented on #1590
Yeah, just one line comment because I submitted my pull request which uses the previous dynamic topography.cc to calculate grid dynamic topography before Jacky's new now is merged. I already committed a patch to fix this issue. @bangerth

[2017-05-12 20:35] tjhei commented on #1491
The (slow) tester says (before and after):
[code]

[2017-05-12 22:37] #1579 closed

[2017-05-13 00:12] gassmoeller commented on #1590
Fixed by #1585

[2017-05-13 00:12] #1590 closed

[2017-05-13 00:55] hlokavarapu opened #1605 "Update all SolCx and SolKz based tests"
For all SolCx based tests, modify the `#include "solcx.cc"` to `#include "../benchmarks/solcx/solcx.cc"`. Likewise, do the same for SolKz based tests.

[2017-05-13 01:21] hlokavarapu commented on #1481
Looking into clarifying the documentation on docker.

[2017-05-13 02:17] hlokavarapu commented on #1513
Neat, looks like this has already been implemented. The issue can be closed.

A recent run produced the output/parameters.prm file which contains:
`  set Prescribed traction boundary indicators = `

[2017-05-13 13:23] gassmoeller commented on #1605
Closed by #1607

[2017-05-13 13:23] #1605 closed

[2017-05-13 15:27] gassmoeller opened #1623 "Capitalize 'boussinesq approximation'"
Usually we capitalize names in our input parameters, but for some reason 'boussinesq approximation' does not follow that convention. Fix that at some point.

[2017-05-13 16:09] bangerth opened #1631 "Document Utilities::Coordinates::CoordinateSystem"
#1563 adds an enum `Utilities::Coordinates::CoordinateSystem`, and #1629 adds some documentation to a related function, but the enum itself remains undocumented. We should add documentation explaining what the enum does, and what the individual values correspond to.

@mbweller -- want to give this a shot after #1629 is merged?

[2017-05-13 16:18] bangerth opened #1632 "Introduce Utilities::Coordinates::convert_cartesian_to_other_coordinates"
#1563 and #1628 add a lot of duplicated code where we (potentially) convert from the default Cartesian coordinate system to another system, and then pass that converted point to a function evaluator. This code is repeated in a number of places.

It would be useful to have a function of the sort
[code]
in namespace `Utilities::Coordinates` that could make this tedious repetition of `if`-`else if` b

[2017-05-13 17:06] mbweller commented on #1632
I'll take a stab at it.

[2017-05-13 17:19] mbweller commented on #1631
Sure. I'll take care of it.

[2017-05-13 17:27] bangerth commented on #1631
#1629 is now merged.

[2017-05-13 19:03] bobmyhill commented on #1623
I got this.

[2017-05-13 19:06] bangerth opened #1638 "Fix prm section names in benchmark folders"
`benchmarks/include/adaptive.prm.base` still has this section:
[code]
and so do several of the other benchmark input files. These got forgotten when we renamed these section names recently and will not work any more right now.

@alarshi is taking care of the one file mentioned above, but we need to test and convert the other ones as well.

[2017-05-13 19:53] hlokavarapu commented on #1638
Looking into making the conversion of parameter subsections.

[2017-05-13 20:05] bangerth opened #1640 "Unify some code in assembly.cc"
assembly.cc has many occurrences of the following code snippet:
[code]

This could easily be hidden in a member function of the `data` variable (which is of type `internal::Assembly::CopyData::StokesSystem`), say `internal::Assembly::CopyData::StokesSystem::extract_stokes_dof_indices()`, taking as arguments the `introspection` object and `scratch.local_dof_indices`.

[2017-05-13 20:33] hlokavarapu commented on #1638
After going through the benchmarks, I found that none of the parameter files were out of date other than benchmarks/inclusion/global.prm.base and benchmarks/inclusion/adaptive.prm.base

My guess is that because these files do not end with the extension .prm, they were not updated.

[2017-05-13 21:00] yinghe616 commented on #1640
I can take a try.

[2017-05-13 21:05] hlokavarapu commented on #1589
This PR is ready to be tested.

[2017-05-13 21:09] yinghe616 commented on #1582
This issue has been addressed at #1584

[2017-05-13 21:09] #1582 closed

[2017-05-14 00:11] gassmoeller commented on #1638
Yes that was me. I did only update files ending on .prm. Thinking about it there might be other files. Working on a PR

[2017-05-14 00:14] gassmoeller commented on #1589
Closed by #1643.

[2017-05-14 00:14] #1589 closed

[2017-05-14 00:21] tjhei commented on #1542
@jdannberg is working on it.

[2017-05-14 00:23] #1443 closed

[2017-05-14 00:29] #1151 closed

[2017-05-14 02:36] bangerth opened #1652 "Allow 'make indent' also in directories where we build plugins"
It would be nice if we could run `make indent` also in directories where we built a plugin.

[2017-05-14 13:19] gassmoeller commented on #1513
I think this was closed by #1612

[2017-05-14 13:19] #1513 closed

[2017-05-14 13:52] bobmyhill commented on #945
On it!

[2017-05-14 14:56] yinghe616 commented on #1640
in melt.cc
it also has two paces with similar code like below. Should I also consider to extend internal::Assembly::CopyData::StokesSystem::extract_stokes_dof_indices() to cover the case of melting?

 127       const unsigned int p_f_component_index = introspection.variable("fluid pressure").first_component_index;
 128       const unsigned int p_c_component_index = introspection.variable("compacti

[2017-05-14 15:22] gassmoeller opened #1658 "Compute porosity initial composition from temperature IC"
Currently one needs to prescribe initial conditions for temperature and porosity, and they need to be consistent to avoid sudden jumps in the porosity in the first  timestep. There should be an initial_composition plugin for the porosity that computes the equilibrium melt fraction for the given temperature. This should make it easier to set up a consistent initial condition for melt models.

[2017-05-14 15:41] bangerth opened #1659 "'composition gradient' mesh refinement criterion is buggy for multiple components"
Looking at #1641 and comparing with the code it was copied from in `composition_gradient.cc`, the latter is clearly wrong -- it overwrites the previous composition's mesh refinement indicators:
[code]
We certainly can't do the multiplication at the end if there was already content in the vector from a previous compositional field.

[2017-05-14 15:52] anne-glerum opened #1661 "Specify boundary velocity components along spherical unit vectors"
@mbweller It would be really cool if we could not only use the spherical coordinates to specify where we want which velocity, but also specify the velocity itself in spherical coordinates. I.e. prescribe the velocity components wrt spherical unit vectors instead of cartesian unit vectors.

[2017-05-14 16:08] mbweller commented on #1661
On it

[2017-05-14 16:12] yinghe616 commented on #1659
so we can also fix this by also using a temporary indicator vector?

[2017-05-14 16:14] bangerth commented on #1659
Yes, I think it should be fixed in exactly the same way as you do in the other PR. But it should have a test associated with it that uses multiple components, just to make sure.

[2017-05-14 17:27] yinghe616 commented on #1659
I agree with you. I didn't use a multiple components test also for the other code so I didn't realize the bug until you pointed out that. :)
 I'll work on fix both code and make up a test case with two compositional fields.

[2017-05-14 22:35] bangerth commented on #1659
Great!

[2017-05-14 22:46] hlokavarapu commented on #1566
That's awesome, thanks @class4kayaker .

[2017-05-15 01:18] bangerth opened #1666 "LatentHeatMelt material model has a bug in thermal_expansion_coefficient"
Pointed out by @alarshi: This function doesn't make much sense:
[code]

The git log information is as follows:
[code]
@jdannberg , @gassmoeller -- any insight into the reasoning why the first `return` was added?

[2017-05-15 01:31] bangerth opened #1667 "Create a diagram about ASPECT's architecture"
@ljhwang asked whether there is a diagram that explains the structure of the ASPECT. There isn't, but it should not actually be very difficult to generate one.

In essence, we have the following structure:
* There is a "core", which consists of the `Simulator` class
* There is class that allows querying some information from the `Simulator` class, called `SimulatorAccess`. So there would be an arr

[2017-05-15 03:21] ljhwang commented on #1667
@bangerth I think @jdannberg has done something like this in her tutorial slides "Modularity".  Can someone review and modify as per above?
![screen shot 2017-05-14 at 8 20 15 pm](https://cloud.githubusercontent.com/assets/4493407/26041599/dffc3b48-38e2-11e7-8cff-e260a6aa9203.png)

[2017-05-15 12:43] MFraters opened #1670 "move compute volume fractions to utilities"
We currently have the function compute volume fractions in several material models. I think it would be a good idea to get it into one commom place like the utilities.

[2017-05-15 13:10] gassmoeller commented on #1016
Fixed by #1533

[2017-05-15 13:10] #1016 closed

[2017-05-15 13:32] gassmoeller opened #1671 "Residual velocities in Chunk Geometry model"
There are a number of superseded pull requests and issues that describe this problem, but since a part of it is addressed I closed the other issues and opened a new clean discussion about the remaining problem.

To summarize the problem and our findings:
Tangential velocity boundaries of the Chunk geometry model show residual velocities even without driving forces that are higher than what we expe

[2017-05-15 13:35] yinghe616 commented on #1659
@bangerth a follow-up test on the new and old composition_gradient.cc
The figure shown below is based on aspect test example refinement_composition_gradient.prm. It used two compositional fields "Alice" and "bob". I set the Compositional field scaling factors = 0.5, 0.5, so we can clearly see the differences now.The old code overwrote the first composition's error indicators, so the mesh doesn't c

[2017-05-15 14:48] bobmyhill commented on #945
Finishing this will require the next release of deal-ii, as data_out_stack.write() doesn't currently allow the use of gnuplot_flags. See [dealii/dealii#4393](https://github.com/dealii/dealii/pull/4393)

[2017-05-15 14:58] bobmyhill commented on #945
Implementation here: https://github.com/bobmyhill/aspect/tree/correct_gnuplot_labels

[2017-05-15 15:09] bangerth commented on #1659
Excellent test, @yinghe616 . I was secretly hoping that you would add such a test to make sure the behavior is correct now. Is the test you show here the one that is part of #1669?

[2017-05-15 15:12] bangerth commented on #1671
@gassmoeller and @anne-glerum : Can you attach an input file here for easy reproducibility?

[2017-05-15 15:16] hlokavarapu opened #1674 "Write out ASPECT commit ID at run time"
As the code is evolving, reproducibility of computations becomes more and more difficult. @naliboff was suggesting that one method of helping users is to record the commit id of ASPECT and write out to the log file during run time. Furthermore, if possible, recording the deal.ii commit ID linked against the ASPECT binary may be just as helpful.

[2017-05-15 15:21] yinghe616 commented on #1659
Yes, it's the same test. In the old prm, it only set the Compositional field scaling factors = 0, 1  so I guess it just ignored the effects from the first compositional field, so the overwritten of the first field's indicator doesn't matter, as it multiplies zero in every element.

[2017-05-15 15:28] bangerth commented on #1674
This turns out to be difficult. deal.II has this in the file `$BUILD/include/deal.II/base/revision.h`, which is generated from `$SOURCE/include/deal.II/base/revision.h.in` during the cmake run. You can probably get the same logic from there.

The problem is that after every commit, you need to re-run cmake to keep it up to date, and this cmake run can significantly increase the time it takes to co

[2017-05-15 17:12] gassmoeller commented on #1671
Added the file.
- Also the residual velocities do not scale with linear solver tolerence

[2017-05-15 20:36] jaustermann opened #1690 "Refine right away at first timestep"
It would be nice if we could check whether the refinement strategy depends on the solution of the first timestep and if it doesn't (e.g. boundary, topography) refine right away without calculating the solution first. This only matters for the initial refinement.

[2017-05-16 02:51] hlokavarapu opened #1702 "Add the ability to produce visualization data given a list of `end times.`"
If one is interested in producing output results at specific times, per say, `t = 0.05, 0.10, 0.15` non-dim time, the only possibility is to set off 3 sets of runs in a continuous fashion. For example, the first run will compute from `t=0` to `t=0.5`, generate a checkpoint file and visualization data, resume the computation at `t=0.5` and run out to `t=0.10`, generate a checkpoint file and produce

[2017-05-16 13:58] bangerth commented on #1667
This is not a bad graph, but there are about a dozen plugin systems that are responsible for the "Model setup" part. Some of them also require feedback from the simulator.

[2017-05-16 14:59] ljhwang commented on #1667
Julianne does have a  more complicated version of this but I think there is a middle ground of something that gives the user a general overview as well as enough detail about the “parts”

Best,
-Lorraine

*****************************
Lorraine Hwang, Ph.D.
Associate Director, CIG
530.752.3656

[2017-05-16 15:11] bangerth commented on #1667
If I have a fifteen minute break today, I may just come up with a way to create the graph from ASPECT internals. Each plugin system should be able to tell about itself what we need for this graph.

[2017-05-16 16:35] ljhwang commented on #1667
![modularity2](https://cloud.githubusercontent.com/assets/4493407/26117315/f3e5b736-3a1a-11e7-9d63-55ba90bb7d50.png)

[2017-05-16 16:38] bangerth commented on #1667
@jdannberg -- how did you make this graph? Do you still have the sources? I'd like to put something like this into the manual.

[2017-05-16 17:31] anne-glerum opened #1715 "Chunk with free surface for deal.II < version 9 crashes because it can only find a manifold"
I will add a signal to `free_surface.cc` to remove the manifold before `VectorTools::compute_no_normal_flux_constraints` is called to fix it.

[2017-05-16 18:43] MFraters opened #1718 "make test for spd factor visualisation"

[2017-05-16 18:48] bangerth commented on #1538
@alarshi -- can you list here the numbers of the pull requests you wrote that make this conversion? I see #1706, #1700, #1699. Did I miss any?

We like to keep track which pull requests address which issue. Ideally, pull requests list the issues they address so that github can keep track of these connections.

[2017-05-16 20:12] hlokavarapu commented on #1702
In order to implement this functionality, is it best to make this visible as a parameter of the termination criteria?

[2017-05-16 20:13] gassmoeller commented on #1715
Closed by #1717

[2017-05-16 20:13] #1715 closed

[2017-05-16 20:15] bangerth commented on #1702
No, I think it should go through the same code path that currently deals with the end time. Maybe have a vector of end times and always try to hit the next one we haven't been to yet?

[2017-05-16 21:25] bangerth commented on #1558
There is now also a second constructor for viz postprocessors that can be used there, see #1722 .

[2017-05-17 00:04] gassmoeller opened #1726 "Provide functionality to store and load solutions"
After a discussion with @mbweller I would like to revive some sort of discussion about storing and reading binary solution, possibly as checkpoints.
Last year @hlokavarapu started two attempts (#872,#1073) to achieve something like this, but they kind of slowed down, and got stuck, because we were missing some grander plan. It seems this functionality is useful to many users, and we should come up

[2017-05-17 00:11] gassmoeller opened #1727 "Split melt particles from solid particles"
When generating melt particles with the 'melt particle' property, it would be useful to duplicate particles, and let one of them continue as solid particle, and create a new 'melt particle' that moves with the fluid velocity.

[2017-05-17 01:03] anne-glerum opened #1730 "Warnings when compiling on Mac"
I get the following compiler warnings on my Mac:
[code]
@tjhei You helped @Shangxin-Liu to get rid of them already, right?

[2017-05-17 19:21] Shangxin-Liu opened #1742 "Compiling warning in drucker_prager material model"
There is always a warning about this material model when I compile ASPECT from git hub:

drucker_prager.cc:73:54: warning: reference cannot be bound to dereferenced
      null pointer in well-defined C++ code; comparison may be assumed to always evaluate to false [-Wtautological-undefined-compare]
              const double edot_ii_strict = (&(this->get_simulator()) == NULL
[code]

[2017-05-17 19:30] bangerth commented on #1742
The correct solution is to add a member function to `SimulatorAccess`:
[code]
and then in the Drucker Prager model replace the condition by
[code]

Want to give this a try? That should not be much more than a 5 minute project.