[2021-07-21 12:03] bangerth commented on #4168
Step 1 would indeed be to implement the missing serialization of the `TimerOutput` class in deal.II.

We currently only save information from process 0 and, on restart, distribute that to all other processes. If that means that we lose a bit of information because the `TimerOutput` objects are different on different processes, I think that's acceptable.

[2021-07-21 12:04] bangerth commented on #4259
Fixed by #4262.

[2021-07-21 12:04] #4259 closed

[2021-07-21 12:07] bangerth opened #4269 "Improve restart start-up"
The file `source/simulator/checkpoint_restart.cc` has this code:
[code]
This means that *every* process opens and reads this file, but that is unnecessary: It would be enough if *one* process reads it and then distributes the data to all other processes. In fact, we have a function for this: `read_and_distribute_file_content()`. We should be using that.

[2021-07-21 12:30] bangerth commented on #4269
Found while looking at #4168.

[2021-07-21 12:45] bangerth commented on #3822
People use DG methods on arbitrary meshes all the time, but one has to be careful in how the penalty parameters are defined in that case because it's no longer so clear what the "mesh width `h`" should actually be.

My best guess is that this was never tested when @egpuckett and @yinghe616 implemented it back in the day. I think that only @egpuckett would know for sure.

[2021-07-21 20:35] tjhei opened #4273 "drucker-prager documentation warning"
I see the following warning that I don't know how to fix as I don't understand the argument to the function:
[code]
See
https://github.com/geodynamics/aspect/blob/d73947ccb7de1cf1dc87aeca8981f90ae2235cd7/include/aspect/material_model/rheology/drucker_prager.h#L76-L84

[2021-07-24 21:40] tjhei commented on #4199
Here are the instructions: https://github.com/geodynamics/aspect/wiki/Installation-on-ARM-OSX

[2021-07-24 21:41] tjhei commented on #4199
Things are working correctly for me, so I think we can close this issue. Further optimizations in deal.II will come...

[2021-07-24 21:41] #4199 closed

[2021-07-25 15:53] maxrudolph commented on #2767
Hi @tjhei - I tried to use this most recent version for a 3D spherical geometry problem with prescribed velocity boundary conditions and got a convergence failure during the initial refinement. The same problem does converge using the block AMG solver. Do you have any guidance on this? Also, I am using the Q2Q1 element for velocity/pressure. Should I be using a DG element for pressure with this so

[2021-07-25 15:57] tjhei commented on #2767
I know things are not ideal for free slip and things work for 0 velocity. I have not tested with other prescribed velocities. Do you have an easy test prm where I can see the problem?

[2021-07-25 16:07] maxrudolph commented on #2767
I have a test .prm file. But it is not easy. After the initial refinement, this model has about 500 million degrees of freedom.

The necessary viscosity profile and initial temperature profile are here:
https://github.com/maxrudolph/aspect-energy-equation/tree/master/plates-amr
The initial plate motion stage is here:
https://github.com/maxrudolph/aspect-energy-equation/tree/master/rcf-testcase/ZZ%

[2021-07-27 14:16] tjhei commented on #4069
I need help with the following two remaining tasks:
1. update http://geodynamics.org/cig/software/aspect/:
update current release number
create entry for the new release
update the list of contributors
2. update docker image geodynamics/aspect:

@ljhwang and @gassmoeller can you help?

[2021-07-28 02:57] bangerth opened #4282 "Error in multigrid"
With current master, I get an index error in the multigrid using the input files that @alarshi sent me a while ago. The error is
[code]
and it happens here:
[code]
The problem is that `level=0` but the `MGConstrainedDoFs::boundary_indices` is an empty array.

Do you need the input files, or do you know where to poke? The input files are large, but I could see whether I can compress them and attach

[2021-07-28 10:43] tjhei commented on #4282
This should be enough to fix, thank you.

[2021-07-28 12:22] alarshi commented on #4282
@tjhei: I have also updated the prm files on the [github ](https://github.com/gassmoeller/2018-grain-size-inversion-gypsum), if you need them.

[2021-07-28 16:34] bangerth commented on #4282
Thanks for looking into it!

[2021-07-28 16:42] tjhei commented on #4282
fix incoming in a minute...

[2021-07-29 16:04] #4282 closed

[2021-07-30 15:59] elodie-kendall opened #4292 "segmentation fault with GMG solver"
Hey there,

I was hoping I could get some help with this seg fault which only appears when I switch from the AMG to GMG solver. I attach the output error file and prm.

Thanks,
Elodie
[code]
[output6115548.txt](https://github.com/geodynamics/aspect/files/6908720/output6115548.txt)

[2021-07-30 17:16] tjhei commented on #4292
Can you try updating to the latest master? #4288 might be the fix for this.

[2021-07-30 17:26] tjhei commented on #4292
Well, I am pretty sure that this is the fix. 😉

[2021-07-31 18:15] #3338 closed

[2021-08-01 16:54] #4269 closed

[2021-08-02 07:35] tyszwh opened #4297 "How to visualize all compositional field/ material field."
Hi, everyone.
I'm a new guy for using aspect code.
I have a question about the compositional field/ material field.
For now, every compositional field is separate property in output files. Is there a visualization choice for ParaView to show all compositional field/ material fields? For example, seven compositional fields are labeled 1, 2, 3, 4, 5, 6, 7 in one property and could be colored with di

[2021-08-02 15:27] bangerth commented on #4297
@tyszwh Do I understand right that you want something like this:
* If compositional field 1 has a value > 0.5, then use color 1
* If compositional field 2 has a value > 0.5, then use color 2
* ...
? What do you do if more than one compositional field has a value > 0.5?

[2021-08-02 15:54] tyszwh commented on #4297
Sorry for my confused expression.
I mean the different materials, such as upper crust, lower crust, mantle, etc., are displayed in one vis window simultaneously and could be colored with different colors. This is similar to the initial model in most articles.

[2021-08-02 16:07] bangerth commented on #4297
Right, so I think what you are asking for is what I described above. The question is: Given that there are N compositional fields, how do you want to identify from the N values of the fields at a given point whether it is mantle material, crust material, etc? ASPECT doesn't track that a point is part of the mantle; it only tracks what the values of the N compositional fields are, and you have to s

[2021-08-02 18:00] tjhei commented on #4297
In other words, what you are trying to have is currently not possible.
We might be able to do something like this in the future after we categorize compositional fields as described in #4246

[2021-08-03 01:03] tyszwh commented on #4297
Ok, Thanks for your reply.

At least, in the initial time step, we can display the material fields in Paraview like below.

![Screenshot from 2021-08-03 08-51-42](https://user-images.githubusercontent.com/8081772/127940934-0691fdb8-3044-4d72-8536-beb9c1ebbcbc.png)

But I guess the identification of different materials may not be very accurate with the running of the model.
![Screenshot from 2021-0

[2021-08-03 13:20] bobmyhill commented on #4297
Hi @tyszwh

Those images are what I would expect. In simulations where different compositions are modelled using fields, each composition fraction is continuous between 0 and 1. All the evaluation points might have compositional values in {0,1} at the first time step, but that will not be true as the material advects due to numerical diffusion.

So there are two things to think about:
- Is the dif

[2021-08-03 14:25] tyszwh commented on #4297
Hi @bobmyhill
The model above is just a simple test with single advection. As you said, I  calculate the material filed simply through (C1*1+C2*2+C3*3+.....). It may be worked at the first time step. But all the evaluation points will not be true as the material advects due to numerical diffusion and thus the values of the compositional filed varied as @bangerth's comment.
As a new user of Aspect,

[2021-08-03 14:39] bobmyhill commented on #4297
Hi @tyszwh we're always happy to help! Let us know if you have any more questions.

You are, of course, very welcome to raise issues or suggest improvements with us here on GitHub. However, if you want to ask questions about using ASPECT, I can also recommend the forum (https://community.geodynamics.org/c/aspect).

[2021-08-03 15:06] tyszwh commented on #4297
@bobmyhill
Very cool forum, thanks for it.

[2021-08-04 21:35] ljhwang commented on #4069
The database for building the attribution has just been (manually) updated. Please let me know if there is an error.

[2021-08-04 21:39] gassmoeller commented on #4069
References look correct, thanks!

So only thing left is the announcement.

[2021-08-04 21:58] anne-glerum commented on #4273
It's a list of the number of phases for each compositional field + potentially the background composition. For rheology/dislocation_creep it's documented as follows:
[code]
But it might be the number of phases, and not the number of phase transitions actually.

[2021-08-05 16:23] gassmoeller commented on #4199
Awesome, thanks!

[2021-08-05 16:30] tjhei commented on #4273
Would you mind creating a PR? Thank you.

[2021-08-05 21:50] tjhei commented on #4069
Done! :champagne:

[2021-08-06 14:29] gassmoeller commented on #4069
Awesome, thanks!

[2021-08-06 14:29] #4069 closed

[2021-08-08 12:15] tyszwh opened #4302 "Negative temperature in StickAir Layer."
Hi, everyone,

**I run into problems with stickAir layer.

A simple subduction model can run normally with or without stickAir Layer if I use a constant viscosity setting(multicomponet in Material model).
But the model is failed to converge when I add a stick_Air Layer above this model if I use viso plastic model in Material model(constant viscosity setting still work).

The main error messeages a

[2021-08-09 11:41] anne-glerum commented on #4302
Hi @tyszwh, in the attached prm, the Solver scheme is single Advection, single Stokes. Do you always use this scheme with the visco plastic material model? This material model introduces nonlinearities in the rheology that need to be iterated out, using a scheme like single Advection, iterated Stokes for example. Are the velocities at Timestep 0 realistic?
Also, a modified thermal conductivity is

[2021-08-10 05:11] tyszwh commented on #4302
Hi @anne-glerum

I have tested according to your advice.
The temperature problem still exists after I modified the thermal conductivity of air to 10 or 20 W/m/k (the other materials are 4 W/m/k) and used an iterated Stokes instead of the single stokes.
I also test different velocity boundaries but it seems that the problem is always related to solving the temperature equation.

Is this a matter of

[2021-08-10 10:14] anne-glerum commented on #4302
With the iterated Stokes solver, how many nonlinear iterations were done? Does the velocity field and the viscosity look ok? Are there very high velocities somewhere?

Looking at the prm, the maximum resolution in the model is ~24 km. The sticky-are is a layer of 100 km, where it should be ok, but the sticky-air/crust interface is probably not well resolved. And what about the compositional fields

[2021-08-10 14:36] tyszwh commented on #4302
Hi @anne-glerum

I think it is possible, as you said, that the sticky air / crust interface is not well resolved.
The C4 reprenst the Ocean Crust whose thickness is about 30km.

Now, I increase the repetitions and refinement value.

The velocity field and viscosity Field at timestep 0 is shown below(single stokes, The velocity boundary did not change)
Is it right now? The velocity in airLayer is l

[2021-08-11 03:40] tyszwh commented on #4302
Hi, @anne-glerum
It seems that it is hard to converge (set Nonlinear solver tolerance = 1e-6 and set Max nonlinear iterations = 500).
I upload the output file, so you could check the solve history log.
[LP_RO.zip](https://github.com/geodynamics/aspect/files/6965709/LP_RO.zip)

[2021-08-11 20:55] #4253 closed

[2021-08-11 21:35] #4273 closed

[2021-08-11 22:54] gassmoeller opened #4308 "Convergence problems with GMG and spherical shells and large viscosity contrasts"
@alarshi, @jdannberg and myself are experiencing convergence issues with the GMG preconditioner in spherical shell models with sharp viscosity variations at the boundary (AMG converges for the same models). I will continue to investigate, but wanted to open this issue to remind myself of our current understanding and to give @tjhei an update.

The attached model (and similar models) will sometimes

[2021-08-11 23:04] tjhei commented on #4308
Great to have a small test problem to play with!

I appreciate your initial experiments as well, @gassmoeller .

I will take a look in the next few days. I have a few ideas...

[2021-08-12 08:27] anne-glerum commented on #4302
Indeed the velocities in the sticky-air are very high.
Even though you have an open boundary on the right, the prescribed velocities on the left boundary are far from volume conservative, and that probably makes the problem a lot harder. Can you adjust the prescribed velocities in such a way that the same volume that flows in also flows out? Now there is about 200 km with inflow at 5 cm/yr and 540

[2021-08-12 09:09] tyszwh commented on #4302
Hi, @anne-glerum

I have already adjusted the prescribed velocities yesterday for finding the problem(>560,5cm/yr, <460; -1.087; the stickAir(>660) is 0cm/yr), But it seems that the problem is not in this place (Still unable to converge).
In fact, as long as the stick air layer is removed, the model with Nonlinear rheology can run continuously even with stokes.
So, perhaps the main problem is abou

[2021-08-12 10:11] anne-glerum commented on #4302
Do you get reasonable velocities in the sticky air layer when the right boundary is tangential slip instead of open?

[2021-08-12 11:45] tyszwh commented on #4302
The model can not calculate when the the bottom,top, right boundary is tangential slip. It should be a problem about mass conservation.
How can I calculate the inflow and outflow accurately in the prescribed left boundary to ensure mass conservation?

When I set all tangential boundary,The initial velocity field is abnormal and failed to compute with negative dislocation viscosity.
![image](https:

[2021-08-12 11:53] anne-glerum commented on #4302
You don't need to worry about mass conservation, just volume conservation, in this incompressible case. So it's like integrating the velocity along the boundary and the total should be 0.

[2021-08-12 16:51] tjhei commented on #4308
It converges without problems with 1,2,3, and 4 MPI ranks on the current master (a2a7ce93a) with deal.II 9.3.1 for me.

What is your deal.II version?

[2021-08-12 17:00] tjhei commented on #4308
The viscosity seems to be constant for me. Wrong file, @gassmoeller ?

[2021-08-12 21:39] gassmoeller commented on #4308
Sorry, I should have stated that you need to use the branch I have linked above. I hacked the material model to specify a viscosity (because I wanted a compressible model with a varying viscosity).

[2021-08-12 21:50] gassmoeller commented on #4308
Also: The branch has a bunch of other changes as well, but only the last two commits are relevant for this example. And I saw the same convergence problems with deal.II 9.2.0, 9.3.1, and 10.0.pre.

[2021-08-13 01:13] tjhei commented on #4308
Makes sense. I can reproduce it and I confirmed the issue: the rotational nullspace is the problem as I predicted in our video call a while ago. You can test this by doing zero velocity at the bottom.
Fixing this the right way will take a bit longer, but I have an idea for a workaround.

[2021-08-13 15:54] zjiaqi2018 opened #4312 "Compiling issues with deal.ii-master on Frontera"
Building ASPECT with deal.ii-master on Frontera gives the following errors.  @tjhei
(This is not a new issue and can be resolved by using `cmake -DASPECT_PRECOMPILE_HEADERS=OFF ../aspect`, because Frontera's Intel Compiler does not seem to like precompiling the bundled boost library inside deal.II. Therefore, disable precompiling headers. see: https://github.com/geodynamics/aspect/wiki/Installatio

[2021-08-13 16:14] tjhei commented on #4312
Thank you. Yes, I would disable precompiled headers for Intel using cmake. I don't think compile speed matters for supercomputers.

[2021-08-14 20:33] tjhei commented on #4308
matrix based:
[code]
matrix-free with my hack:
[code]
My branch is https://github.com/tjhei/aspect/tree/gmg_nullspace
I need to clean this up before I can open a PR but I can confirm that this test now works in 3d and 3d.
@alarshi do you want to test if this helps?

[2021-08-15 06:21] tyszwh commented on #4302
Hi, @anne-glerum
It seems that there is not a direct method to appoint the temperature of one compositional  ( like stcikAir) as a fixed value (or boundary), the temperature in StickAir changes intensly， which causes a  'Negative dislocation viscosity detected' problem of the model (negative parameters such as temperature and pressure) with.
Is it right? Do I need to write a plugin?

[2021-08-15 22:03] #4312 closed

[2021-08-15 22:47] tjhei commented on #4308
matrix-based with new constraint (no big difference it seems):
[code]

[2021-08-16 11:33] alarshi commented on #4308
Hi @tjhei: Thank you for working on this! I have not tested your branch on our models yet, I will try that and update you.

[2021-08-17 09:23] anne-glerum commented on #4302
No, it's not possible to prescribe the temperature for a specific field throughout a model run. @naliboff also had a suggestion, I think it was to specify the Thermal conductivity instead of the Thermal diffusivity in the visco-plastic material model. This is done by setting `Define thermal conductivities` to true, otherwise the thermal diffusivities are used to compute the thermal conductivity. I

[2021-08-17 23:37] tjhei commented on #4308
I just realized that I need to remove three rotational modes and not two in 3d. I will try that next.

[2021-08-18 10:33] tyszwh commented on #4302
Hi, @anne-glerum
That is super helpful. It is a  problem with the temperature of StickAir, whose value can not be set as a boundary condition during the model run as other codes. And as you said, the model used the thermal diffusivities are used to compute the thermal conductivity even each compositional field was appointed to a fixed value. I have not set 'Define thermal conductivities to true' i

[2021-08-18 10:33] #4302 closed

[2021-08-18 13:17] anne-glerum commented on #3262
Reopened, because we ran into this problem again with a different setup, as discussed in the user meeting. The error goes away when we undo #2780 .

[2021-08-18 13:20] anne-glerum commented on #4302
Glad to hear temperatures behave now! Happy modelling!

[2021-08-18 15:39] tjhei commented on #3262
Is there a simple setup you can share that shows the issue?
Please report back if you see other issues when switching the order.

[2021-08-22 21:59] tjhei commented on #4308
@alarshi I just pushed a new version to https://github.com/tjhei/aspect/tree/gmg_nullspace with an additional 3d constraint. Can you check if that makes a difference?

[2021-08-23 10:22] elodie-kendall commented on #4168
Thanks! so you think that the simpler approach @tjhei suggested would not work @bangerth ?

[2021-08-24 16:22] naliboff commented on #4302
@tyszwh - Sorry to chime in so late and glad to hear using thermal conductivities, rather than thermal diffusivities fixed the issue!

What I've done in both extensional and subduction systems with sticky air layers is to have a high thermal conductivity that supports an initial  small temperature gradient in the sticky air layer (e.g., 10 degrees difference between top and bottom). This is probab

[2021-08-25 12:37] tyszwh commented on #4302
Hi @naliboff

Thanks for your reply
As you said, the handling of the stickAir method is not very easier in current.
The jump of temperature, inflow velocity will make the evolution of the model deviate from our expectations.
I also use FreeSurface instead of using it for now.
However, I will do more tests on the stickAir model(It should be an option when the free surface is hard to work).
And I th

[2021-08-26 12:54] tyszwh opened #4328 "Some question about initial topography and material model"
Hi, everyone

After several days of testing, I have some remaining questions.

1 The initial lithostatic pressure boundary and Initial adaptive refinement do not work when adding the initial topography in the model.
2  how do melting (like melting simple model) work together with the viscoplastic material model, should I write a new plugin to combine them?
3 An option to select a specific flow law

[2021-09-02 20:20] naliboff opened #4339 "Remove reference viscosity parameter from material models?"
A follow-up question regarding PR #3681, which added a function to automatically compute a reference viscosity at each time step.

After discussion with @anne-glerum, we are wondering if the reference viscosity parameter should be removed from each material model. @gassmoeller - is there a motivation to keep these parameters in each material for the time being?

[2021-09-02 22:30] tjhei commented on #4339
I don't think it is used anymore, so we should remove it.

[2021-09-03 08:57] anne-glerum commented on #4328
Hi @tyszwh
These kind of overarching questions might be better to ask on the CIG ASPECT forum (https://community.geodynamics.org/c/aspect/). Here some quick comments from my side.
1. The initial lithostatic pressure boundary condition is not allowed in combination with mesh deformation/initial topography because when the surface deforms, the reference pressure profile that is computed at the start

[2021-09-03 14:27] gassmoeller commented on #4339
Agreed this can be removed. When doing this we will have to check if there are individual plugins that still use it, so the process would be:
1. Only remove it from the interface, but keep the implementation in individual plugins. This will fail for all places that still use the reference viscosity from outside the functions. I am think of composite material models or postprocessors that may still

[2021-09-03 17:21] erinheilman opened #4341 "Adding a free surface on a restart causes segmentation fault"
When adding a free surface to a 2D spherical shell model that has already computed timesteps, and then restarting I get a segmentation fault. I ran on debug to see why it was failing and got this error message.
<img width="1773" alt="Screen Shot 2021-09-03 at 12 11 08 PM" src="https://user-images.githubusercontent.com/69014916/132043528-305127ef-1a5f-4386-865c-b7d20d26a342.png">
I've included the

[2021-09-03 19:04] gassmoeller commented on #4341
This is something we do not generally support. Changing model parameters between restarts is not guaranteed to work (although it does work for many parameters). However, for free surface models to be restarted the model requires the amount of accumulated deformation for each mesh vertex which of course was not saved during the restart before. With some effort there could be hack to support this (d

[2021-09-03 19:49] erinheilman commented on #4341
Thanks Rene, I'll try it on a simple model and see if it works.

[2021-09-06 01:58] tyszwh commented on #4328
Hi, @anne-glerum
Thanks for your reply.
 Your explanation is very clear. I get the picture now.

[2021-09-06 01:58] #4328 closed

[2021-09-08 08:27] elodie-kendall commented on #4308
Hi Timo, I tested the GMG solver with my spherical shell models and it's massively helping reduce run time. However, I need to remove the null space to put back my free-slip boundaries. However, when I try to compile the branch you attach above I get the following attached errors. PS. is the GMG now also working a free surface (I saw you've been doing a PR for mesh deformation and the gmg)?
<img w

[2021-09-08 09:06] elodie-kendall commented on #4341
Hi Erin, Rene, I did already try this a few months ago- https://github.com/geodynamics/aspect/issues/4029. However, it didn't work because: "The pressure normalization method that was stored in the checkpoint file is not the same as the one you currently set in your input file. These need to be the same during restarting from a checkpoint."

[2021-09-08 13:24] erinheilman commented on #4341
Yes, I got that message too. I got it to work by setting pressure normalization to no from the beginning of the model, then when switching to free surface it is satisfied

[2021-09-08 13:27] elodie-kendall commented on #4341
Ok thanks!

[2021-09-08 16:04] tjhei commented on #4308
Elodie: the branch mentioned above is somewhat incomplete and I will prepare clean one we can merge soon (it contains other changes for @alarshi 's models).
In the mean time, you can try adding ``#include <aspect/adiabatic_conditions/interface.h>`` to the simple.cc file with the error message.

No, but this is the next step (maybe in the next few weeks). Right now we can only do other surface defo

[2021-09-09 08:05] elodie-kendall commented on #4308
Ok, great thanks, I look forward to trying them soon :)

[2021-09-10 09:51] anne-glerum opened #4349 "Restart fails for large problems and deal.II 9.3.0"
My colleague ran into the following issue:
For a run with 1500 procs (55000 DOFs/proc), a restart from a checkpointed file leads to failure when temperature is checked in the material model (it is zero) and when material averaging is applied (viscosity is negative). The same thing happens when restarting from the old restart file.

Model setup has a box geometry and includes mesh deformation, peri

[2021-09-10 17:34] tjhei commented on #4349
The Assert triggered happens during setup of the Triangulation, which is before anything with constraints is being done, so this makes sense.

Separately, or both at once?

There were implementation changes with 9.3 and how we store mesh data, so this might be the reason.

That would have been my first guess as well.

1. Can you share the prm file (or at least the geometry and mesh refinement sect

[2021-09-10 17:43] tjhei commented on #4349
One more thing: Can you show the size of all the checkpointing files (``ls -al`` in the output directory)?

[2021-09-14 15:13] tjhei commented on #4292
any update, @elodie-kendall ?

[2021-09-15 16:08] elodie-kendall commented on #4292
Yes that did fix it, thanks a lot!

[2021-09-15 17:15] tjhei commented on #4292
Great!

[2021-09-15 17:15] #4292 closed

[2021-09-16 12:46] anne-glerum commented on #4349
It could very well be that #12752 is the same issue, because:
1. restarting with deal.II 9.2.0 works all the time
2. the same issue occurs *with* periodic boundary conditions, if the model is big enough
3. the failed models have checkpoint files larger than 4GB. For varying model sizes (60 to 140 MDOF), the restart files are about 4.1 GB though.
4. the issue also occurs when restarting after just

[2021-09-16 23:05] MFraters opened #4356 "Compositions on particles incorrect when enabling free surface"
I have a very simple test model based on the `particle_property_composition` test. There are trhee compositions, each with a different value (2, 5 and 8 respectively). I output the compositions both on the mesh in paraview and on the particles. When there is no free surface, the values are the same and correct. When I turn on the free surface, the values on the mesh are still correct, but the valu

[2021-09-22 15:36] gassmoeller commented on #4356
This seems like a genuine bug, thanks for the detailed report that made debugging a lot simpler. Your "fix" of disabling the free surface disables the fast path of the particle evaluation that was introduced in #4060, so it circumvents the bug (the fast path is not supported for `MappingCartesian` which we use for box models without mesh deformation). I think the actual bug may be in the FEPointEv

[2021-09-24 13:28] EstherHeck opened #4364 "Have a function that returns different time step lengths of active plugins?"
For my rate-and-state friction project it would be helpful to have a function that returns the time step lengths computed by the different timestepping plugins together with the name of the plugin / time step criteria that returned that length. Now I wonder if that would be helpful to others too and how to properly do it. Maybe @tjhei do you have an idea, as you created the time stepping structure

[2021-09-24 14:13] mfmweerdesteijn opened #4365 "Boundary traction on spherical geometries with free surface"
When applying boundary traction to the top free surface of a 2D viscoelastic chunk or spherical shell, numerical instabilities occur. Performing the exact same case on a 2D box works very well.

Like in the free surface traction benchmark, a load of length 100 km is applied, increasing linearly from 0 to 100 years. Top boundary is free surface, left and bottom boundaries are free slip, right bound

[2021-09-24 20:15] tjhei commented on #4364
do you want to share your code? I would think allowing access to all timestepping plugins makes sense. You can then write a postprocessor that writes into the statistics file.

[2021-09-24 21:52] tjhei commented on #4365
I would start with the spherical shell as I am less sure that everything is correct for the chunk (we had many issues on the past). Can you try to create a setup for a shell and share it please?
Are you using the free surface stabilization? Does it help to increase the parameter?

[2021-09-27 07:31] EstherHeck commented on #4364
Here is how I tried to do this: https://github.com/EstherHeck/aspect/tree/Lapusta-statistics-file-edition
As this includes all my rate-and-state stuff, it is probably a bit messy to look at. The important changes for this issue are in the following files:
- simulator_access
- simulator.cc
- potsprocess/visualization/lapusta_timestep_for_statistics
- time_stepping/lapusta_time_step
However, this is

[2021-09-27 09:20] mfmweerdesteijn commented on #4365
Here is the spherical shell case. The only difference is that I did nullspace removal from the velocity with the angular momentum option, otherwise there's is no convergence. But as you can see the free surface deformation is very oscillating and the strain rates chaotic like in the chunk.

[case_shell_nr.txt](https://github.com/geodynamics/aspect/files/7235015/case_shell_nr.txt)
![shell_def](http

[2021-09-27 16:11] elodie-kendall opened #4368 "incorrect transformation of cartesian to spherical coordinates"
I was wanting to analyze spherical velocity components in my models but I realised that v_r and v_phi that are outptted for visualisation are not the same as when computed directly in paraview e.g., v_phi=((-coordsY/sqrt(coordsX^2 + coordsY^2))*velocity_X)+ ((coordsX/sqrt(coordsX^2 + coordsY^2))*velocity_Y). This is the same equation as in source/postprocess/visualization/spherical_velocity_compon

[2021-09-27 19:34] tjhei commented on #4364
I thought about this some more. We can easily add functionality to query all timestepping plugins and writing a postprocessor that writes into the statistics file (or somewhere else) is not too difficult either.
I see one problem though: imagine a timestepping plugin with internal state. If you query it for the timestep a second time, you might modify state and change the result. A silly example:

[2021-09-27 19:37] naliboff commented on #4365
@mfmweerdesteijn - are there versions of these benchmarks that only consider purely viscous cases? This would be helpful in identifying if the surface of the error is related to the viscoelasticity implementation, surface tractions, or some other feature.

[2021-09-28 06:49] EstherHeck commented on #4364
thanks for thinking this through a bit more! Yes, I totally agree with what you say.
I don't know how much it "costs" to record this information, but from my understanding that would also make the pp much faster, when it does not need to recompute all time step criteria for all points...

If you have an example function in mind that I could use as a base I am willing to try to implement this funct

[2021-09-28 09:04] mfmweerdesteijn commented on #4365
Okay ja, it's the same prm files but then with a very high elastic shear modulus. I see the same issues in the strain rates and free surface deformation as for the viscoelastic case.
![box_chunk_shell_v_deformations](https://user-images.githubusercontent.com/57097877/135057559-005847dd-e4aa-454f-bbbb-ebbb269ca3bc.png)

https://user-images.githubusercontent.com/57097877/135057665-2f103a52-e0fd-4935

[2021-09-28 12:49] anne-glerum commented on #4349
BTW, I suspect the error can be triggered with any setup. I just got the error with the `benchmarks/buiter_et_al_2016_jsg/exp_2_high_resolution.prm` benchmark by setting the `Initial global resolution = 5` (and setting the nr of nonlinear iterations to 1 and linear tolerance loose) and running with 15x96 procs.

[2021-09-28 13:25] EstherHeck commented on #4364
thanks for thinking this through a bit more! Yes, I totally agree with what you say.
I don't know how much it "costs" to record this information, but from my understanding that would also make the pp much faster, when it does not need to recompute all time step criteria for all points...

If you have an example function in mind that I could use as a base I am willing to try to implement this funct

[2021-09-28 15:51] naliboff commented on #4365
@mfmweerdesteijn - we had a chance to discuss this issue at the user meeting today, and @gassmoeller suggested that may be related to the use of linear mapping when mesh deformation is used. Models with no mesh deformation use a fourth order mapping.

In previous models using a linear mapping with spherical geometries there were pressure oscillations near the surface, which certainly could lead to

[2021-09-28 15:55] gassmoeller commented on #4365
If that is too expensive, coarsening the resolution should increase the spikes.

Good thought that will separate the effect of the mapping from the effect of the mesh deformation.

[2021-09-28 16:11] tjhei commented on #4349
Can I see the output of ls -l in the output folder? I want to make sure I understand.

[2021-09-29 10:00] mfmweerdesteijn commented on #4365
Thank you @naliboff and @gassmoeller that it was brought up in the user meeting and the suggestions here. With the last suggestion, do you mean that the mesh is only allowed to deform tangential to the outer boundary?

[2021-09-29 10:44] anne-glerum commented on #4349
[code]

[2021-09-29 15:43] mfmweerdesteijn commented on #4365
@naliboff @gassmoeller

"Another test that may give some insight is to enable mesh deformation, but rather than use the free surface on the upper boundary, have it remain fixed through time. I believe this will still produce the switch from fourth order to linear mapping. We could then see if there are pressure oscillations or other variations in the solution arising from the same time-dependent s

[2021-09-30 02:00] tjhei commented on #4365
Do we know if the pressure scaling is sensible for these models, @gassmoeller ? That can explain behavior like this.

@mfmweerdesteijn do you run a recent master that includes https://github.com/geodynamics/aspect/pull/3681 ?

[2021-09-30 07:44] mfmweerdesteijn commented on #4365
@tjhei Yes I ran it on a version of about a week ago

[2021-09-30 18:15] naliboff commented on #4365
@mfmweerdesteijn - Thanks for doing those tests! A few additional questions and associated tests to run:

1. Do the same strain rate fluctuations appear if you apply the same surface traction, but do not have mesh deformation turned on (i.e., the top boundary should still not deform)?
2. Likewise, can you perform similar tests for a cartesian geometry to see if the strain-rate fluctuations appear?

[2021-09-30 21:33] gassmoeller commented on #4365
I do not immediately see why the pressure scaling should be wrong, the viscosities should be computed correctly, and the representative length scale should not be too different from a realistic model. It's possible because of the thin shell and benchmark, but I would check the other things first.

Yes, use the mesh deformation section, but only use the 'boundary function' plugin, not the free surf

[2021-10-01 13:11] mfmweerdesteijn commented on #4365
When I do do that, the solution doesn't converge, already in the first time step.

Turning mesh deformation off in the box model, the solution does converge. Strain rate is similar to with mesh deformation. And you see a pressure increase underneath the surface loading:
prm file: [case_box_fs2.txt](https://github.com/geodynamics/aspect/files/7267267/case_box_fs2.txt)
strain rate movie: https://use

[2021-10-01 13:17] mfmweerdesteijn commented on #4365
Ja I then used the material model 'simpler model' because for the viscoelastic material model it is required than 'enable elasticity' is set to True.
prm file: [case_shell_nr_e.txt](https://github.com/geodynamics/aspect/files/7267398/case_shell_nr_e.txt)
strain rate movie: https://user-images.githubusercontent.com/57097877/135626042-66004a08-d8ae-4ffd-831c-0d903ee857e3.mp4
nonadiabatic pressure mo

[2021-10-02 17:26] naliboff commented on #4365
@mfmweerdesteijn - Thanks you for all of these tests and plots, incredibly helpful!

To make sure I have looked at all pertinent results, is this an accurate summary of the tests to date:
1. Spherical models with surface loading and mesh deformation enabled experience anomalous (unphysical) oscillations, regardless of whether the free surface is enabled or the top boundary does not move.
2. The os

[2021-10-04 10:02] mfmweerdesteijn commented on #4365
@naliboff All of the above statements are correct!

"I'm curious as to why the spherical model with the surface loading, but without mesh deformation is not converging. Was the top boundary set as a zero traction boundary? Would you mind posting the log.txt file for this failed model?"

I apply surface loading as boundary traction on the top boundary. How can I set that same boundary then as a zer

[2021-10-11 11:32] mfmweerdesteijn commented on #4365
@gassmoeller @naliboff @tjhei Thanks for the suggestion last meeting to change the mapping in interface.cc of mesh_deformation! I run into a problem that I don't understand, as I think it is quite fundamental FE related, and I was hoping you could have a look at it.

This is the branch: https://github.com/mfmweerdesteijn/aspect/tree/mapping_mesh_deformation
I changed the elements order in line 98,

[2021-10-15 03:09] tjhei commented on #4349
@anne-glerum My deal.II test with >4GB files is fixed with https://github.com/dealii/dealii/pull/12830
I know there are some other problems in the code for even larger runs, but this might be enough to fix your situation.

[2021-10-20 21:40] tjhei commented on #4349
Awesome! :smile:  Thanks for checking.

I think I can close this issue then. I am working on a few more fixes, but these are less likely to trigger (you will need more than 4B cells for example)...

[2021-10-20 21:40] #4349 closed

[2021-10-22 00:41] tjhei opened #4380 "Known Issues"
There are a few known issues with the current master version of ASPECT. If you have any questions about this, feel free to comment here or in the respective issues:
 - checkpointing/resume with large files (>4GB) fail, see #4349. Workaround: use deal.II 9.3.2 or newer
 - rand_seed() always returns the same value (#5114)
- crashes related to periodic boundaries and adaptive refinement (#3262 https:

[2021-10-26 03:42] lhy11009 opened #4382 "Temperature boudnary condition: missing Fixed temperature boundary indicators"
Hi all

I got a prm file before which I used for the affinity test. There, the temperature boundary model doesn't contain a "Fixed temperature boundary indicators" variable. I used it before and it was fine. But with the current version, it doesn't work anymore. For the usage of the affinity test, I still want to have the same parameters as before, but I couldn't figure out what was the default va

[2021-10-26 20:36] gassmoeller opened #4383 "Rename master branch to main"
Most major development platforms (github, gitlab, and bitbucket) have decided to switch their default branch name from `master` to `main` to avoid the problematic association of master/slave relationships (see https://github.com/github/renaming/, https://about.gitlab.com/blog/2021/03/10/new-git-default-branch-name/). We discussed this during a developer meeting today and agreed that such a switch

[2021-10-27 17:55] #4382 closed, assigned to nobody

[2021-10-28 21:24] rclam opened #4386 "How to randomize initial temperature"
If I want to run multiple simulations with different initial temperatures, does ASPECT support a way to generate random initial temperatures? I've read through the manual and it doesn't say anything about this.

[2021-10-29 09:10] anne-glerum opened #4387 "Option to prescribe spherical normal and tangential velocties individually"
It would be wonderful to be able to prescribe either the normal or the tangential velocity component on a boundary of a spherical domain, e.g. a chunk. For box models it is possible to prescribe e.g. the x component of velocity and leave the tangential y and z components free.

Would it be possible to use deal.II's `compute_nonzero_tangential_flux_constraints()` and `compute_normal_flux_constraint

[2021-10-29 14:16] elodie-kendall opened #4388 "Can one use the Newton solver with compositing material model?"
Hi all,

I was tackling some convergence errors when increasing the maximum viscosity in my global spherical shell models. I managed to get the residual down massively by increasing the resolution and lowering the cfl. I attach the residual with time, suggesting that the defect correction or newton solver would be useful. I'm confused why the defect correction stokes (I also reduced the linear tol

[2021-10-29 18:02] tjhei commented on #4387
Then you would need to use compute_normal_flux_constraints() instead of compute_nonormal_flux_constraints(). Shouldn't be too difficult to do the change. The hardest part is to make a plugin system.

[2021-10-29 20:57] gassmoeller commented on #4383
Awesome, thanks for the quick test! I followed the change and migrated my own local WorldBuilder clone and github fork as well to see how the process works. Unfortunately there will be some manual work for everyone with one (or many!) aspect clones involved, because commands like `git pull upstream master` will no longer work (I had hoped that github would forward this to `git pull upstream main`)

[2021-10-29 21:45] MFraters commented on #4383
Yes, that sounds like a good plan.

One more issue which was encountered by someone was that you have to make sure that you are using the correct remote name. That might sometime be origin, upstream or something else. So it will be hard to give exact instructions, unless they include them looking at `git remote -v` and letting them find the correct remote. Not impossible, but just a few extra step

[2021-10-29 21:48] bangerth commented on #4383
It always baffles me to see people use something different than `origin` and `upstream`. I think @tjhei might have been one of those people who use a different naming scheme :-)

[2021-10-29 21:49] bangerth commented on #4380
Would the wiki be a better place to document these sorts of things?

[2021-10-29 21:54] tjhei commented on #4383
I avoid the use of origin, yes.

[2021-10-29 22:02] MFraters commented on #4383
Well, I am guilty of that as well :P

The issue for me with origin is that it is the default name based on the repository you cloned it against. Usually that is the main repository, but sometimes that is my own repository. For aspect I usually change the main repository to `geodynamics` and my own repository to `menno`. For the world builder that is `gwb` and `menno`. That way it is clear to me wh

[2021-10-29 23:21] tjhei commented on #4380
I prefer this as it is much more visible.

[2021-11-01 09:17] elodie-kendall commented on #4388
Thanks for your reply Meno! I tried with Nonlinear solver scheme = iterated Advection and defect correction Stokes and the advection solver is still failing to converge- see screenshot
<img width="1603" alt="Screen Shot 2021-11-01 at 10 12 52" src="https://user-images.githubusercontent.com/75854106/139649625-2bec5906-9752-47a5-97a9-957fdd2d001d.png">

[2021-11-01 18:06] rclam commented on #4386
Thanks for the information. I will try using the rand_seed in a Function expression

[2021-11-01 18:15] rclam opened #4392 "Cookbook shell_simple_2d stops during time step 47"
After cloning the source code to both my local and remote drives, I attempted to run a trial using the shell_simple_2d.prm in cookbooks. Both times I ran the program, it terminated at time step 47 (see attached screenshot of terminal output). The output from ASPECT suggested to change the number of iterations, but I haven't tried that yet
<img width="1467" alt="Screen Shot 2021-10-31 at 6 48 35 PM

[2021-11-01 20:09] gassmoeller commented on #4392
Hi @rclam, thanks for reporting this. I just tried the cookbook on my system and it continues after step 47. Can you attach the files `log.txt` and `original.prm` from the output directory? Maybe it is a problem with the specific combination of deal.II and ASPECT version you used. It looks like you are using the deal.II .dmg package for Mac?

[2021-11-02 00:21] rclam commented on #4392
I'm attaching the original prm as a text file (it wouldn't let me upload it as a .prm file). Yes, I am using dealii for Mac.

[log.txt](https://github.com/geodynamics/aspect/files/7456862/log.txt
[original_prm.txt](https://github.com/geodynamics/aspect/files/7456869/original_prm.txt)
)

[2021-11-03 09:30] anne-glerum commented on #4388
Hi @MFraters, to clarify: with the `single Advection, iterated Stokes` solver, the model runs to completion. The same setup with `single Advection, iterated defect correction Stokes` fails in a temperature solve, and with `single Advection, iterated Newton Stokes` fails when switching from Picard to Newton for the first time.

[2021-11-03 10:21] elodie-kendall commented on #4388
Yes thanks, Anne. And for the case where "single Advection, iterated defect correction Stokes" fails velocities are only mm/yr and I don't see some issues in T either.

<img width="977" alt="Screen Shot 2021-11-03 at 11 18 20" src="https://user-images.githubusercontent.com/75854106/140043403-227dd5bb-3cc9-45b8-886d-cea24ed8080e.png">

<img width="973" alt="Screen Shot 2021-11-03 at 11 20 35" src="

[2021-11-04 21:17] rclam commented on #4392
If it helps to know, I am using a Docker Image and using the dealii library it had in it. I was following the latest user manual instructions.

[2021-11-07 21:11] MFraters commented on #4388
Ah, thanks for the clarification. This is really strange. Is there any difference in the temperature and/or velocity field when using the `single Advection, iterated Stokes` versus the `single Advection, iterated defect correction Stokes`? Also, can the issue be reproduced on a lower resolution grid?

@tjhei or @bangerth any idea's how the choice of stokes solver can cause the advection solver to

[2021-11-08 13:14] elodie-kendall commented on #4388
Hi Menno. Thanks for your reply:) Actually, I see the differences in convergence straight away- on the last iteration of Timestep 0, "iterated stokes" can converge but "iterated defect correction Stokes" can't. The T profiles look the same but the velocities are different- see attached.

<img width="1148" alt="Screen Shot 2021-11-08 at 14 12 44" src="https://user-images.githubusercontent.com/75854

[2021-11-08 19:21] rclam commented on #4392
After editing the original .prm file by adding:

[code]

The solver is able to continue past time step 47

[2021-11-08 22:26] gassmoeller commented on #4392
Thanks for following up. I havent gotten to testing this yet, but another option could be to set the following option in `Stokes solver parameters`:
[code]
This typically results in better convergence in less iterations (but each iteration is more costly). Could you report back if this helps? Maybe we should just set this option for the cookbook.

[2021-11-09 22:42] elodie-kendall commented on #4308
Any updates on using the GMG with null space removal please? Thanks so much!

[2021-11-11 12:29] elodie-kendall opened #4404 "Test: simple_shear.prm uses "Model name = finite strain" which does not exist"
Test: simple_shear.prm uses "Model name = finite strain" which does not exist.

[2021-11-11 12:30] #4404 closed

[2021-11-11 21:53] tjhei commented on #4380
updated to include #4040 and updated checkpointing workaround from 10.0 to 9.3.2.

[2021-11-11 22:24] tjhei commented on #4037
@gassmoeller @wanyingw do you have any success with reproducing this bug? I am seeing the same error on Frontera when doing large IO with intel/19.1.1.

[2021-11-12 17:08] wanyingw commented on #4037
I still have the same issue when postprocessing large models with one vtu.
But as Rene suggested dividing the output into several segments works well
for me.

On Thu, Nov 11, 2021 at 4:24 PM Timo Heister ***@***.***>
wrote:

[2021-11-15 21:44] gassmoeller commented on #4368
Fixed in #4385

[2021-11-15 21:44] #4368 closed

[2021-11-16 16:48] rclam commented on #4392
When I use only
`set Use full A block as preconditioner = true
`
in the Stokes solver parameters, the solver aborts at time step 47.

Using both:
`
   set Maximum number of expensive Stokes solver steps = 10000`
and
  `  set Use full A block as preconditioner = true`
the solver is able to continue until timestep 241

[2021-11-16 22:01] tjhei commented on #4037
I made some progress here. The workaround is the following:
[code]
with that, I can write very large vtu files with my small test application. I did not test ASPECT, though. Maybe you can try?

Background:
Intel placed limitation on the maximum number of tags starting with Intel MPI 19 and their MPI IO implementation uses too many tags by default when the file size becomes large. Intel uses this f

[2021-11-17 22:33] bangerth commented on #4037
Ah, what an unfortunate choice and unintended consequence :-(

[2021-11-18 15:54] elodie-kendall commented on #4388
Hi Menno. For the same tolerances (lin and non lin=1e-5) iterated and defect CS give different velocities. I removed complexity from this prm one at a time and only found convergence with the defect CS when I changed from compositing (viscosity and reaction term = visco plastic but all other fields = ascii ref profile) to fully viscoplastic. So there is some problem with the compressibility and th

[2021-11-19 11:44] elodie-kendall opened #4412 "Wrong assert throw for radiogenic heating"
Hello,

I get the attached assert throw for the radiogenic heat section attached. I have no compositional fields and I have specified I want radiogenic heating to be dependent on depth not composition. So this assert throw should only be evaluated if the crust is defined by compostion.

<img width="2000" alt="2" src="https://user-images.githubusercontent.com/75854106/142617286-42beea50-d5e2-4bc0-8

[2021-11-19 15:55] gassmoeller commented on #4392
Thanks for testing, I tried reproducing your crash with my version of ASPECT 2.3.0 and deal.II 9.2.0 but was unsuccessful, the model runs fine for me (logfile attached, I also tried debug mode, same result). I did not have a version with the same trilinos and p4est available, so it could be caused by one of those libraries, or it is something specific to the deal.II 9.2 MacOS image. I think your b

[2021-11-20 03:16] tjhei commented on #4392
@rclam Did you check the graphical output of the solution variables to see if you see artifacts or over/undershoots especially in the temperature right before it crashes? You might need to set ``set Time between graphical output = 0`` to get graphical output after every step.

[2021-11-21 22:17] tjhei commented on #4308
@elodie-kendall take a look at #4413

[2021-11-24 23:49] lhy11009 opened #4417 "Maximum viscosity in the visco_plastic module"
Currently, the Maximum viscosity is set as a fixed value in the visco_plastic module. As we have options for phases with lots of the other parameters, I want to make this one as well as the "Minimum viscosity" also having options for phases. One specific reason is we tend to model the shear zone in the subduction modeling by including either as a composition or a phase and setting a smaller maximu

[2021-11-25 14:08] anne-glerum commented on #4417
@lhy11009 Thanks for being willing to make a pull request for this feature. I don't fully understand the need for setting smaller maximum viscosity for the subduction channel/weak zone though. What kind of rheology do you use for the weak zone? Can't you reduce it through the other parameters, i.e. the yield stress or the prefactor?

[2021-11-25 14:22] bobmyhill commented on #4417
To add a little background to @anne-glerum's comment, parameters like minimum strain rate and maximum viscosity are typically there to improve numerical stability, rather than simulate some aspect of the material properties.

[2021-11-25 18:14] lhy11009 commented on #4417
Hi Anne and Bob

Thanks for your replies. I think for the 'rheology' question, there are many possible ways to make a weak zone, but the new feature that I asked for may while being part of it. I can give some examples:
a. In Arredondo & Billen 2017, they wrote "the crustal layer (which is tracked with particles) is defined to be a low-viscosity layer with a fixed maximum viscosity (1020 to 1021 P

[2021-11-25 20:25] elodie-kendall commented on #4308
@tjhei It compiles and now the GMG solver works with null space removal. It's so much faster, that's amazing!! Thanks so much :)

[2021-11-26 14:01] anne-glerum commented on #4417
@lhy11009 Okay, I understand the use-cases. I'd make sure to add comments to the changed max/min viscosity parameter descriptions to explain that generally the viscosity limits are used to ensure solver convergence, but they can be used to limit viscosities of specific compositions for other purposes as well, even though other parameters like prefactors, the maximum yield stress etc can be used to

[2021-11-26 14:32] bobmyhill commented on #4417
@lhy11009 thanks for explaining! I can certainly understand the motivation behind a lithology-dependent lower limit.
@anne-glerum I think that's a great idea. I will be happy to (co)review a backwards-compatible PR with such comments.

[2021-11-26 17:11] lhy11009 commented on #4417
@anne-glerum , @bobmyhill, thanks for the feedback. I'll make sure that I explain this feature in comments when I work on the pull request. In that way, I'll close this issue and start the pull request. I think I'll get this done next week and ask both of you for review.

[2021-11-26 17:11] #4417 closed

[2021-11-27 11:31] elodie-kendall commented on #4388
Is someone free to discuss this next week? Thanks!

[2021-11-29 18:34] tjhei commented on #4308
Great. I will need to do a couple more changes and I would hope you can test it again with your problem.

[2021-11-29 20:07] lhy11009 opened #4419 ""calculate_isostrain_viscosities" function in diffusion_dislocation.cc"
There is a function called "calculate_isostrain_viscosities" in the diffusion_dislocation.cc while the implementation of that looks "isostress" to me. There, the value of the nonlinear rheology is iterated for, with some sort of harmonic averaging going on.
It puzzles me this way. Moreover, in the comments of the "visco_plastic.cc" where this is called in the "evaluate" function, it says:"
`
// Cu

[2021-11-29 20:11] #4419 closed

[2021-11-30 13:48] bobmyhill commented on #4419
I assume you were able to answer your own question :)

For anyone interested, diffusion_dislocation assumes that all *compositions* see the same (total) strain rate, but within each composition, each *dislocation mechanism* (i.e. diffusion and dislocation creep) sees the same stress.

The VEP rheologies currently have a lot of potential flexibility. Several of the development team are working on o

[2021-11-30 18:20] lhy11009 commented on #4419
Hi Bob

Thanks for clarifying this issue. Now I know what isostrain actually means - among compositions.
I closed the issue because I saw I was confused between the calculate_isostrain_viscosity in diffusion_dislocation.cc and the one in the rheology/visco_plastic.cc. They both have the same name. And by reading the code, I think the first one is doing iteration for the nonlinearity but the second

[2021-11-30 18:44] bobmyhill commented on #4419
No worries :)
Yes, your reading of the code is correct - diffusion_dislocation creep decomposes the strain (which is computationally expensive), while the harmonic averaging in visco_plastic is a cheap first order approximation to that decomposition. The  approximation is very good except in the crossover region, and is used in many production codes other than ASPECT.

Next year I hope we will fin

[2021-12-02 20:39] MFraters commented on #4388
Thanks for sticking with this issue and providing me with the test case and all the information (here and on slack). I think I found the issue (see #4422), let me know if it doesn't fix it for you.

[2021-12-03 09:21] elodie-kendall commented on #4308
Sure, ping me when it's ready!

[2022-01-12 13:29] elodie-kendall opened #4452 "dislocation creep and compressibility do not work together?"
Hi all,

I have a 2D spherical shell model with compositing material model which converges well for diffusion creep only. I then switched on dislocation creep and the model is not converging (the nonlinear residual is jumping around/not decreasing and not reaching the tolerance at all after even 150 iterations). I obviously tried with higher refinement (up to level 10!, 2 more than is needed in a

[2022-01-12 23:36] jdannberg commented on #4452
I don't see why diffusion creep and compressibility should not work together in general (it's something that has worked for me in the past), but of course that doesn't really help here. I haven't looked into your specific problem, but just to make sure: In the input file you post, you use
`set Nonlinear solver tolerance             = 5e-4`
and
`set Linear solver tolerance             = 1e-1`
Is th

[2022-01-13 12:32] elodie-kendall commented on #4452
Hi Juliane,
Thanks for your quick reply! Yes, those are the tolerances I used and uploaded here. As you can see in the log file it is the nonlinear solver that is the problem. Ok thanks, I'll be there Tuesday:)

[2022-01-14 09:49] anne-glerum commented on #4452
Hi Elodie and Juliane,
* With the defect correction Stokes solver, the linear tolerance can be much looser than for the Picard Stokes solver. However, 1e-1 is quite loose, and trying a value of 1e-2 would be a good first step. I find Menno's explanation of the solvers very useful: https://github.com/geodynamics/aspect/pull/4204
* In the log file I didn't see the nonlinear solver behavior you descr

[2022-01-14 10:10] anne-glerum opened #4453 "Should current_cohesion and current_friction_angle visu output take viscosity averaging type into account?"
The Additional Output of the visco-plastic material model gives the cohesion and friction angle, possibly strain weakened. It therefore averages the compositional contributions arithmetically:

https://github.com/geodynamics/aspect/blob/ec6fba1d7addccaa757e816faf5fb3a6facfc853/source/material_model/rheology/visco_plastic.cc#L730

When using for example a `maximum composition` viscosity averaging s

[2022-01-14 10:28] elodie-kendall commented on #4452
Hi Anne,
Thanks for your reply.
-I will try 1e-2 but it was also case for the iterated stokes solver with lin tol 1e-5.
-you need to search for "iteration 150" and you will see there are many timesteps that don't converge and use all iterations. It then stabilises when velocities reduce but then do we trust those non converged time steps, and also that takes a huge amount of time to use all iterat

[2022-01-14 11:12] anne-glerum commented on #4452
Ah yes, I see the 150 iterations now.

[2022-01-20 15:00] jdannberg commented on #4453
I think that makes sense since the plastic viscosity directly scales with the yield stress.
And it's definitely better than averaging these values arithmetically.

[2022-01-21 10:52] elodie-kendall opened #4457 "Negative temperatures in 3D models"
Hi there,

I am running a low resolution 2D visco plastic spherical shell model and on getting this error "All parameter values must be greater than 0 for harmonic averaging!" I found negative temperatures (110K) at the surface when this should be limited to 273K. I remember @erinheilman discussing a similar issue last year at the Hackathon but did this not get fixed?

I attach the prm below.
Than

[2022-01-22 03:01] bangerth opened #4458 "Running cmake lets us forget about all tests currently set up"
When you make a commit, the next build invokes `cmake`, which in turns somehow makes us forget about all of the tests we had previously set up. As a consequence, command lines such as
[code]
fail because `ctest` reports that "there are no tests". One has to run
[code]
again, which is time consuming and, furthermore, breaks the nicety of the first command line above to which one can simply come bac

[2022-01-24 03:24] #4458 closed

[2022-01-24 14:25] mfmweerdesteijn commented on #4365
After a meeting at AGU with @gassmoeller, he found that there is a mistake in source/boundary_traction.function.cc:
(line 38-51): if one chooses to apply boundary traction in a spherical coordinate system, then the traction output it also in spherical coordinates. In source/boundary_velocity/function.cc, if a spherical coordinate system is chosen, the coordinates are converted to cartesian (line 5

[2022-01-24 15:32] erinheilman commented on #4457
I had seen this error a few times last summer. I added the adiabatic gradient parameter in the material model and that seemed to fix it for me, but your model has that included in the temperature field so it might be a separate issue.

[2022-01-24 21:20] elodie-kendall commented on #4457
hmm ok thanks. Shall I open a PR for an assert and to limit temperature to only positive values in source/material_model/utilities.cc before the averaging?

[2022-01-24 22:04] jdannberg commented on #4457
I think it is important to figure out why the temperatures become negative in your model and to fix the underlying issue. If you get negative temperatures, something goes wrong when solving the equations. So the error message is just the symptom of the problem.

For example,

- Are the temperatures really negative? 110 K makes no sense as a solution if the boundary conditions are 273 K, but it's n

[2022-01-25 15:19] anne-glerum commented on #4453
Alright, I'll make a PR.

[2022-01-26 11:33] anne-glerum commented on #4365
Hi @mfmweerdesteijn, thanks for the update! Too bad the cartesian way of specifying the boundary traction did not remove the oscillations.

About the full spherical shell models, nothing jumped out to me except maybe the resolution. In the nr_2 case, there is one level of global refinement and one level of adaptive refinement based on the strain rate that is updated every time step. I think it wou

[2022-01-27 15:45] #4388 closed, assigned to nobody

[2022-01-27 17:26] gassmoeller commented on #4412
Was this fixed by #4446?

[2022-01-27 17:44] elodie-kendall commented on #4412
Yes! :)

[2022-01-27 17:48] #4412 closed

[2022-01-27 22:44] jdannberg opened #4466 "GMG solver crashes in models with Material averaging = project to Q1 only viscosity and strong viscosity contrasts"
I have been trying to set up models with the GMG and the option `set Material averaging = project to Q1 only viscosity`. In many of my Earth-like application cases (with moderately strong viscosity contrasts), I get the following error message:

[code]

This is on the current main branch, and with deal.II 9.3.0. I’ve checked in the debugger, and the `local_element` value that triggers the error is

[2022-01-28 16:38] tjhei commented on #4466
Thank you, @jdannberg . This is compressible, right? Is there an easy way to make this incompressible to make sure that this doesn't cause the issue?

@zjiaqi2018 can you try to reproduce this, please? We are probably using this code to compute the diagonal:
https://github.com/geodynamics/aspect/blob/27e31dcd7ccd56a4d67e0cd622058f839a224f57/source/simulator/stokes_matrix_free.cc#L2720-L2722
Is tha

[2022-01-28 18:03] jdannberg commented on #4466
Yes, it's compressible. I am attaching an incompressible version here (leaving the viscosity the same, but taking the rest of the material properties from the simple model). I still see the same behavior.

If I change both boundaries to zero velocity, it works again (if I only change one, it's still crashing).

[GMG_project_Q1_incompressible.prm.txt](https://github.com/geodynamics/aspect/files/796

[2022-01-29 05:13] zjiaqi2018 commented on #4466
Sure, I will.

[2022-01-31 20:11] zjiaqi2018 commented on #4466
I found that the viscosity here is negative at some quadrature points, but `min_el` is positive! @tjhei
https://github.com/geodynamics/aspect/blob/27e31dcd7ccd56a4d67e0cd622058f839a224f57/source/simulator/stokes_matrix_free.cc#L1488

[2022-01-31 21:17] tjhei commented on #4466
What is min_el and max_el here? Having values undershoot in the line you linked is not necessarily a problem, I think.
The min/max assignment a few lines below should fix the negative entries (hopefully).

[2022-02-01 10:40] anne-glerum commented on #4453
There are certain combinations though where using the viscosity averaging would not work, for example when the friction angles are zero and the viscosity averaging is harmonic. This will trigger an Assert. Perhaps using maximum composition averaging would be better?

[2022-02-02 08:53] EstherHeck opened #4473 "White mesh-dependent triangular artifacts in paraview slices"
When I open my (large) 3D model in paraview 5.9.0 and make a cross section (slice or clip function), I don't get a clean view, but some triangular or arrow-like white shapes throughout the model. Their size and distribution are mesh dependent. Their spatial appearance and the exact shape dependent on the location where I take a slice or clip of my model. They are not everywhere, but appear in rect

[2022-02-02 11:07] anne-glerum commented on #1661
This has been implemented in #2361, so I'm closing the issue.

[2022-02-02 11:07] #1661 closed

[2022-02-02 13:50] tjhei commented on #4466
Just a quick update: we think we have a fix for this that@zjiaqi2018 should be able to finish in a few days.

Part one is #4472

[2022-02-02 18:20] mfmweerdesteijn commented on #4365
Hello @anne-glerum!

in the box it's 3.25 km near the ice load (12.5 km for spherical case e here). I think I can use a spherical geometry with smaller opening angle, but to have such a refined mesh throughout the whole domain, and then also in 3D (considering the GIA application), it becomes computationally very expensive, especially compared to other codes, so that's not very appealing.

Okay so

[2022-02-03 10:12] mfmweerdesteijn commented on #4365
Hi @naliboff, could these strain rates at the corners of the higher mesh resolution have something to do with elasticity in spherical geometries? I have never seen this in box geometries with different levels of refinement. Also, I assume these strain rate anomalies are not encountered when modeling mantle convection and plumes etc, what aspect is build for. What do you think?

[2022-02-08 09:49] mfmweerdesteijn commented on #4365
@anne-glerum @naliboff

I redid case c, but with only viscous material (elasticity not enabled).
case c viscoelastic (VE): [case_shell_c.txt](https://github.com/geodynamics/aspect/files/8022478/case_shell_c.txt) (repeated from above)
case c viscous (V): [case_shell_c_v.txt](https://github.com/geodynamics/aspect/files/8022479/case_shell_c_v.txt)

Strain rate animations (note, they have the same sca

[2022-02-09 17:37] rclam opened #4482 "Problems with shell_simple_2d/3d cookbook examples"
Version: ASPECT ver. 2.3.0, deal.II 9.2.0, Trilinos 12.18.1, p4est 2.2.0, in OPTIMIZED mode, with 1 MPI process

We have noticed two separate issue with ASPECT: one of the built-in cookbooks (shell_simple_3d.prm) is always terminating near immediately; there seems to be some numerical instability in the solver for the 2D spherical shell.

Firstly, running an unedited version of the shell_simple_3d

[2022-02-09 20:03] tjhei commented on #4482
Thank you for reporting this issue. This is indeed not how it should look like. We might have an underresolved mesh for the viscosity chosen here. You can try that first.

I am a bit surprised how this could have changed at some point in the past because the prm itself did not change.
Could this be from
[code]

@gassmoeller , what do you think?

[2022-02-09 21:05] jdannberg commented on #4482
I would be surprised if the change in the gravity profile would have such a big effect. Both profiles have values of approximately 10 m/s^2 (the new one -- the ascii data -- is from PREM).

This looks like an issue of resolution to me. We designed the simple 2d shell model to be a model that can be run quickly on a laptop, so it has a limited resolution. If you now pick an initial condition that d

[2022-02-10 22:12] bangerth opened #4485 "Further optimize the gravity postprocessor"
#4456 reshuffles much of the code in the gravity postprocessor. Another relatively low-hanging fruit pertains to the fact that process 0 currently computes a good bit of reference values (the `_theory` variables) that are then output along with the data computed on the mesh. It would not be very difficult to split this work across the various MPI processes instead, later to be collected on process

[2022-02-11 00:57] bangerth opened #4486 "Fix overflow of MPI_Bcast counter when reading large files"
#4484 does not actually fix the underlying issue of not being able to read and distribute large files. Rather, it just produces a better error message.

We should fix the underlying issue that `MPI_Bcast` can't be used if we are trying to distribute more than 2B bytes.

[2022-02-11 16:40] anne-glerum opened #4488 "Full A block preconditioner + compressible formulation + mesh deformation + Newton solver"
When mesh deformation is used, automatically the full A block preconditioner is used:

https://github.com/geodynamics/aspect/blob/21827284b6f9e5ce2a72fa2e48ff0e02400c9b5e/source/simulator/core.cc#L366

However, the Stokes compressible preconditioner checks that it _not_ used:

https://github.com/geodynamics/aspect/blob/21827284b6f9e5ce2a72fa2e48ff0e02400c9b5e/source/simulator/assemblers/stokes.cc#

[2022-02-11 16:47] anne-glerum commented on #4488
Ah that's probably it, my version is from a few days before that PR. Thanks for the quick reply!

[2022-02-11 22:58] bangerth opened #4489 "Better choice of CFL number definition"
We currently compute the time step based on a CFL number that defines `h` as the shortest edge length of a cell:
https://github.com/geodynamics/aspect/blob/main/source/time_stepping/convection_time_step.cc#L48-L75

That seemed natural to FEM people like Timo and me at the time, but it's not actually what the hyperbolic equations community commonly uses. Rather, they use a definition of `h` that is

[2022-02-13 08:31] anne-glerum commented on #4488
@elodie-kendall confirmed that #4465 fixes it, so I'm closing this issue.

[2022-02-13 08:31] #4488 closed

[2022-02-14 17:45] tjhei commented on #4466
I am closing this because I think #4479 should have fixed this.

[2022-02-14 17:45] #4466 closed

[2022-02-14 17:46] tjhei commented on #4383
We already did this. @gassmoeller can you leave he instructions for what to do locally here in case somebody needs to find it?

[2022-02-14 17:50] #4040 closed

[2022-02-14 17:50] tjhei commented on #4037
I am closing this, as there is not much else we can do.

[2022-02-14 17:50] #4037 closed

[2022-02-14 17:58] gassmoeller commented on #4383
Yes, full instructions and a summary can also be found here: https://community.geodynamics.org/t/renaming-aspects-default-branch-to-main/2190

The renaming requires 2 changes from every user of an ASPECT git repository:

1. Renaming the ‘master’ branch into ‘main’ on your Github fork of ASPECT: You will receive a popup notification on Github the next time you visit your repository with instruction

[2022-02-14 17:58] #4383 closed

[2022-02-15 01:25] jdannberg commented on #4466
Great, thank you! I will try this out with the new cookbook I made (which was the model where I originally noticed the problem).

[2022-02-15 10:18] mfmweerdesteijn commented on #4365
Update:

1. Do we get good deformation results (no jumps) when mesh is radially refined (such that we do not get the strain rate anomalies which occur for refined regions with lateral boundaries)?
case b: global mesh resolution of about 50 km [case_shell_b.txt](https://github.com/geodynamics/aspect/files/8067446/case_shell_b.txt)
case f: mesh resolution of 50 km up to 300 km depth, 100 km mesh res

[2022-02-18 10:31] Pedrogea08 commented on #2831
Hi Timo!

I have just finished my master's thesis in which I have studied the Gibraltar slab dynamics through thermo-mechanical numerical modelling using ASPECT.  The work has been supervised by Flor de Lis Mancilla (University of Granada) and Ana Negredo (Complutense University of Madrid). I would like to contribute to the list of publications of ASPECT by adding my work. The BibTeX source to cre

[2022-02-18 13:31] elodie-kendall commented on #4457
This issue was a restart fail for a large model and similarly to this issue: https://github.com/geodynamics/aspect/issues/4349 can be fixed by using the latest deal version. Thank you @jdannberg, @anne-glerum and those at the user meeting Tuesday who helped identify this issue.

[2022-02-18 15:41] bangerth opened #4496 "Limit the growth of the time step size"
@tjhei dug up a masters thesis at https://dc.uwm.edu/cgi/viewcontent.cgi?article=1405&context=etd that is about time step choices for BDF2. Among the conclusions there is that one should not let the time step size grow by too much from one time step to another. They call this grow the "amplification factor", and reference a number of papers that apparently show that it should not grow by more than

[2022-02-18 16:16] bangerth commented on #2831
Hi Pedro:
first, congratulations for finishing your Master's!

Would you like to write a patch to add the entry yourself? It needs to be added to the file `doc/manual/citing_aspect.bib`.

[2022-02-18 16:32] tjhei commented on #4496
We can basically just change the default of
https://github.com/geodynamics/aspect/blob/edad8df4dacd0d43afbd8d57e0914d683630cea4/source/simulator/parameters.cc#L170-L179

[2022-02-19 17:30] Pedrogea08 commented on #2831
Thank you! I will add the entry to the bibtex file once the work is uploaded to my university repository in the next few weeks weeks, so I can add the URL to the full work.

[2022-02-20 16:31] tjhei opened #4498 "CMake install is missing aspect/config.h"
If you try to compile a plugin by pointing to an installation directory (for example blankenbach), you will get:
[code]

[2022-02-20 16:46] tjhei opened #4499 "update installation FAQ"
https://github.com/geodynamics/aspect/wiki/Installation-FAQ looks to be out of date (C++11 notes, for example)

[2022-02-20 16:48] tjhei opened #4500 "document how to use spack"
I thought we have instructions on how to use spack to install ASPECT, but I couldn't find them. Either the wiki, readme, or the manual would be good.

Specifically, I am always forget how to use an existing MPI (manually edit ~/.spack/packages.yaml, sigh) and how to specify a minimal configuration of deal.II without every optional dependency.

[2022-02-20 17:03] tjhei commented on #4500
something like this might work if your system mpi is  ``mpich@3.3.2``:
[code]

@gassmoeller do you have any other hints?

[2022-02-20 17:09] tjhei opened #4501 "spack installation can not compile plugin"
Verify spack installation and how to compile plugins. User report
[code]
on the forum at https://community.geodynamics.org/t/beginner-question-error-running-blankenbach-benchmark-cant-find-global-h/2269

related to #4498 and #4500

[2022-02-20 22:44] tjhei commented on #4498
Turns out this was fixed in #4195 (after 2.3 release) and it works just fine now.

[2022-02-20 22:44] #4498 closed

[2022-02-21 00:46] tjhei commented on #4501
I can confirm that ``spack install aspect@develop`` works, while ``spack install aspect`` (v 2.3.0) generates the error in #4498. I am not sure why the reported error is for global.h, though. Regardless, we need to switch to the development version because of #4498.

I added a note to #4380

[2022-02-21 04:04] bangerth commented on #4501
What confuses me is how cmake reports that ASPECT was found, but then the header file can't be found. Does spack install the ASPECT.cmake file in a different location relative to global.h than happens otherwise? Separately, I don't think I've every "installed" aspect. I always just build it and let my `ASPECT_DIR` point to the build directory. Might that be the issue?

[2022-02-21 14:41] tjhei commented on #4501
It is also not clear to me why global.h is missing for them. No, I tried it out.

Our latest release (version 2.3) did not work when installed, we fixed that in #4195. So, yes, this is also definitely an issue.

[2022-02-21 18:51] rclam commented on #4482
Thanks for the advice! The cookbook now works well for me.

[2022-02-22 14:10] mfmweerdesteijn commented on #4365
@anne-glerum @gassmoeller @naliboff
Previously I showed that the surface deformation for the 2D chunk gets close to that of the 2D box with free-slip lateral boundaries, and a radially or vertically refined mesh (no lateral mesh region boundaries). Why is the surface deformation not equal? This could be dependent on the chunk radius.

Shown here: surface deformation for box model, and for chunk mo

[2022-02-25 17:19] tjhei opened #4505 "Where to put example .prm files?"
We currently have ``cookbooks/`` and ``benchmarks/`` and I am looking for a place to put several example files that are interesting variations of existing .prm files.

My interpretation of ``cookbooks/``: Teach something about ASPECT in a section in the manual.
My interpretation of ``benchmarks/``: Used to reproduce an existing benchmark most often published in the literature somewhere, often with

[2022-02-25 17:29] bobmyhill commented on #4505
Would `contrib/examples` work? Or do you want the folder to be more visible than that (in which case I'd favour a top-level `examples` directory)?

[2022-02-25 17:59] jdannberg commented on #4505
I just want to add here that in case you make a new `examples/` directory, it would be worth moving the files from `cookbooks/future/` there as well. These are "prm files that may at some point become a cookbook with a section in the manual" (as per the README). I am not sure for how many of these that has actually happened, but I think that's currently the place to put the kind of files you descr

[2022-02-25 18:47] tjhei commented on #4505
Yes, I was thinking of those files as well.

That makes sense, even though it is some extra effort. I am looking forward to the switch to markdown generated manual...

Would you still be in favor of making ``examples/`` or would you just put them into ``cookbooks/``?

[2022-02-25 19:10] jdannberg commented on #4505
I think I would prefer having them in a separate `examples/` folder.
I remember we have slides for tutorials where we explain what types of training materials we have, and we always sort them from largest to least amount of documentation, so

tutorial videos --> cookbooks --> tests

Examples would be a separate step in between the cookbooks and the tests.

[2022-02-28 12:50] elodie-kendall opened #4506 "Still an issue with writing out large files?"
Hi,

I am running some big global 3D shell models (which ran fine in 2D) which are running fine until a certain time step (966) and then the code resumes from Timestep 900 snapshot. This then happens continually and the model can't progress. All parameters look fine so maybe it is that the output files are becoming to large again. I am using the latest deal version (10.0-pre) with the latest ASPEC

[2022-02-28 13:24] anne-glerum opened #4507 "Why is the mesh refined for tagging strategies even if the initial adaptive refinement is set to 0?"
When ` Initial adaptive refinement = 0` and `Time steps between mesh refinement = 0`, the mesh will still be adaptively refined at t0 when the `Strategy` is one that tags cells, like `minimum refinement function`, given that the `Minimum refinement level` allows it. See examples below. This is not what I would expect, and I wonder whether it is intentional.

Found when looking into #4088.

For the

[2022-02-28 13:26] anne-glerum commented on #4507
I'll create a small test that reproduces the potential issue.

[2022-02-28 18:38] elodie-kendall commented on #4506
Hi Timo. I am just running the model once- it is running to time step 966/967 and then I see in the log file it resets to time step 900. It stays as the same job name, and doesn't cancel/fail, it just keeps doing this loop

[2022-02-28 19:37] tjhei commented on #4506
There is no place in the code that jumps from step 967 to step 900. Your output also shows that the code is resuming from a snapshot. That happens when you run aspect again. To me it looks like you are running several times and the code crashes/hangs/ runs out of wall time on between.

[2022-02-28 21:10] bangerth opened #4508 "Definition of lithostatic pressure"
@cedrict and I were having a discussion about the lithostatic pressure. Usually, this is defined as
[code]
and the interpretation is that it is the weight of the overlying rock in a column over a point at vertical position `z`.

But this definition is not actually correct. There are many cases where there is no actual *static* pressure because material is not stably layered, but apart from that, t

[2022-02-28 22:26] bobmyhill commented on #4508
I guess that depends on your definition of "definition" :D
I'd say that I usually *define* the lithostatic pressure as \int rho g dz, where rho could have contributions from rock, fluid or gas. That value may or may not accurately reflect the true total pressure, but it's a useful value for comparison.

For the second part of your post, are you suggesting that the classic hydrostatic equation (<im

[2022-03-01 09:31] elodie-kendall commented on #4506
Sorry my mistake, you're right Timo it was just incredibly slow and not checkpointing enough before a timeout. Thanks!

[2022-03-01 09:31] #4506 closed

[2022-03-01 13:23] anne-glerum commented on #4507
[code]

[2022-03-01 17:38] bangerth commented on #4508
Yes, `grad p = rho*g` is an equation that only has a solution if `rho * g` is the gradient of a potential. An example is a vertical gravity vector with a layered density field.

But the real point I wanted to make is that `grad p = rho*g` is not equivalent to `d/dr p = rho g_r` in a spherical coordinate system, I believe (but may also be wrong).

[2022-03-01 22:54] bangerth commented on #4507
If I understand right what you say (a small test case would indeed help!) the user is asking for (i) no adaptive refinement, but (ii) also sets minimum and maximum refinement levels that are not satisfied by the global refinement steps. That's inconsistent, and because you set the interval between mesh refinement to zero, can never be made consistent. The question is what we should do with these c

[2022-03-02 12:14] anne-glerum commented on #4507
I've attached test cases 1-3, and figures for the corresponding meshes.

What I would expect is:
1) No initial mesh refinement when `Initial adaptive refinement = 0`.
2) The min/max minimum refinement strategy to act the same as other, non-tagging, strategies. So when `Initial adaptive refinement = 0`, neither leads to refinement at t0.

At the moment, when `Initial adaptive refinement = 0` and `S

[2022-03-02 14:00] anne-glerum commented on #4088
Hi @gassmoeller , I've returned to this issue and confirm that it still exists. If I restart a model after 2 timesteps with my custom melt branch there is a difference in the nr of inner iterations in the first nonlinear iteration.
I've done the following:
* Rebased my custom branch (https://github.com/anne-glerum/aspect/tree/melt_visco_plastic_PM01) to main and installed it based on a recent deal

[2022-03-02 18:15] jdannberg commented on #4507
I think I found the part of the code where this happens: In core.cc in `Simulator<dim>::run` we do

[code]
So it's not like the mesh is coarsened, or like it does any adaptive refinements. It's just that it doesn't do all of the global refinements if one of the criteria that tags cells removes the refinement flag. The `MaximumRefinementFunction<dim>::tag_additional_cells` clears the refinement fla

[2022-03-02 18:29] bobmyhill commented on #4508
True. We discussed this via email, but to repeat here, the "lithostatic pressure" defined in textbooks implicitly assumes a vertical gravity vector with a layered density field. We ignore any deviation from this away from a line that passes through our point of interest.

Maybe I'm misunderstanding you, but the solution to a problem shouldn't be dependent on coordinate system. The mathematics may

[2022-03-03 08:35] anne-glerum commented on #4507
That makes sense, the refine flags for the global refinements are removed based on the tagging strategy maximum refinement.

I think it is counter-intuitive that it happens for global refinements though, especially as the mesh it produces is not as clean as the mesh produced by the same strategies but with adaptive refinement, see the first 2 figures of the first post.

The current description of

[2022-03-03 17:58] bangerth commented on #4508
When I wrote "spherical coordinate system", I implied a gravity vector that is also pointing radially inward.

Whether I'm right or wrong we can easily test. If you take sphere, a constant-magnitude inward gravity, and constant density, then p increases linearly from the outer boundary if you compute it via `d/dx p = rho g_r`. Is this the correct pressure in such a sphere, though?

[2022-03-03 20:41] cedrict commented on #4508
the gradient operator in spherical coordinates for spherically symmetrical systems is simply d/dr so then one must solve dp/dr = rho g_r.

[2022-03-03 21:30] jdannberg commented on #4507
Yes, I think that new description makes sense.

But you are right, your mesh still looks strange in the second figure (the one with only global refinements). I could reproduce that in the example you posted, and it looks like there are cells that have a lower refinement level than what the maximum refinement function would allow for. I noticed that I get different meshes depending on how many proc

[2022-03-03 22:38] bobmyhill commented on #4508
@bangerth if you can show us what you mean by force balance on a fluid element in a sphere, then I'd be willing to read the derivation. It would overthrow an awful lot of geo, planetary and stellar physics...

[2022-03-07 17:16] bangerth commented on #4508
Hm, I guess I stand corrected. I took a piece of paper and worked this out for myself: Take a sphere for constant density, solve the Poisson equation for the gravity potential (which yields `phi = -2*pi*rho(r^2-rR)`), compute its gradient to get the gravity vector (`\vec g = 2*pi*rho(R-2r) \hat r` where `\hat r` is the unit radial vector), then solve
[code]
and obtain
[code]
which is indeed the sa

[2022-03-07 17:16] #4508 closed

[2022-03-08 04:12] bangerth commented on #4507
@anne-glerum Yes, I think the description makes sense to me as well. I would suggest adding a half-sentence somewhere to say that it is possible to provide conflicting information (e.g., refine globally 4 times, but only allow refinement level 2 with the max refinement level), and then say that if that is the case, whatever you say in the updated description is how that is interpreted. Want to mak

[2022-03-08 22:08] bangerth opened #4521 "Evaluate min/max refinement level function at the center of a cell."
In #4507, we figured out that one awkward spot in the min/max refinement level scheme is that we look at the min/max function at the *vertices* of cells, but that that is of course not unique across a cell: the function might have different values for different vertices, in particular in view of round-off deciding whether a particular vertex is on one side of a line or another.

We should instead

[2022-03-08 22:09] bangerth commented on #4507
I opened #4521 for the min/max refinement level function. Looking forward to the patch updating the parameter description!

[2022-03-12 17:53] tjhei commented on #4501
I will close this issue as I did not hear about the problem again. If anyone can reproduce this issue, feel free to comment here...

[2022-03-12 17:53] #4501 closed

[2022-03-17 00:57] tjhei opened #4524 "use cell flag communication for initial refinement"
See discussion in #4513

This is what we should do, I think:
https://github.com/geodynamics/aspect/blob/048eeedbbdaed04b7a342f0faa47556c094b6e97/source/simulator/core.cc#L1616-L1644

@jdannberg do you think you can try that? If not, I can prepare it as well.

_Originally posted by @tjhei in https://github.com/geodynamics/aspect/issues/4513#issuecomment-1062027271_

[2022-03-18 15:41] elodie-kendall commented on #4349
Hi all, it seems there is still an issue with restarts and big problems even with the latest deal version. I attach my prm and log file. I would really appreciate if someone could look into this again

[log.txt](https://github.com/geodynamics/aspect/files/8305850/log.txt)

[code]

[2022-03-18 17:06] tjhei commented on #4349
Can you post ``ls -al`` in your output directory?

[2022-03-18 18:55] elodie-kendall commented on #4349
Yep, the restart mesh files are > 40GB

<img width="596" alt="Screenshot 2022-03-18 at 19 54" src="https://user-images.githubusercontent.com/75854106/159066679-dbe31b69-9b33-4e10-9749-a52d20bd8174.png">

[2022-03-19 00:26] tjhei commented on #4349
And you get an error when you try to resume? Can you post the error message?

[2022-03-19 10:47] elodie-kendall commented on #4349
No error message as of yet, but it will come from viscosity if I let it ran more because temperatures are fine until the restart then I get negative temperatures on restart (see log file)

[2022-03-20 01:55] tjhei commented on #4349
I am not sure that checkpointing is to blame here: It looks like you resume successfully several times with a similar problem size (did you check if the solutions look okay?). Negative temperatures can also appear during a normal simulation (underresolved, timesteps too large, nonlinear solver doesn't converge, ...).

[2022-03-22 08:17] anne-glerum commented on #4521
Fixed by #4523.

[2022-03-22 08:17] #4521 closed

[2022-03-24 14:18] tjhei commented on #4486
Fixed by #4497

[2022-03-24 14:18] #4486 closed

[2022-04-03 20:53] liumq12 opened #4535 "compile aspect on M1 ARM"
Hello, I already installed deal.II-v9.3.3 successfully using candi on M1 Mac. However, when I compile the aspect according to the instruction, I met a question. The detail is shown below. Can anyone help solve it? Thank you very much.
$ make
Consolidate compiler generated dependencies of target aspect
[  1%] Building CXX object CMakeFiles/aspect.dir/Unity/unity_40_cxx.cxx.o
g++-11: error: unrecogn

[2022-04-03 22:23] tjhei commented on #4535
It looks like your compilers might be mixed up. Please create a post at https://community.geodynamics.org/ with the following information:
1. detailed.log from deal.II (found in the installation directory)
2. detailed.log from the ASPECT build directory
3. output from ``mpicxx -v`` and ``env | grep MPI``
4. Any other information you can provide (how did you install deal.II, any environment variabl

[2022-04-03 22:23] #4535 closed

[2022-04-07 16:48] gassmoeller commented on #4507
Can this issue be closed now that #4521 and #4522 are merged?

[2022-04-08 10:25] anne-glerum commented on #4507
Yes, I'll close this issue.

Related #4513.

[2022-04-08 10:25] #4507 closed

[2022-04-19 15:55] bangerth opened #4548 "Make normalize_pressure() more efficient"
The mentioned function looks like this:
[code]

We are integrating over pressure shape functions here, but we are using a quadrature formula sufficient for velocity integrals. This could be made more efficient by reducing the number of quadrature points.

(In fact, because we are only computing integrals that are *linear* in the shape function, we could even reduce the number of quadrature points

[2022-04-25 05:45] lhy11009 opened #4555 "Description of peierls rheology in the user manual"
Hi all

This is an open quesiton. I am just wondering how you find the description of the Peierls rheology in the user manual?

Personally, I think everything is covered but the context might be confusing. For example, we have different implementation "exact" and "viscosity approximation", as well as things like "Peierls fitting parameters", "Peierls strain rate residual tolerance", "Cutoff stress

[2022-04-25 06:08] #4555 closed

[2022-04-25 17:08] bobmyhill commented on #4555
Did the manual answer your questions in the end? If you think improvements can be made to the docs, let us know what your questions are and we'll make some changes.

Peierls is a gnarly flow law, and we've made various tweaks to improve efficiency and stop unphysical behaviour.

[2022-04-25 17:28] lhy11009 commented on #4555
Hi Bob, thanks for your reply. I closed this issue since I found a more practical one to ask, but didn't have time to organize it yesterday evening. So I am testing the "exact" implementation of the Peierls with the set of parameters taken from Idrissi. I know Daniel Douglas has tested it in his model, so it's feasible. But I am stuck with adjusting the "Peierls strain rate residual tolerance" par

[2022-04-26 16:46] bangerth opened #4559 "Confusion about deviators"
In the documentation, we explain how when we deal with compressible strains, we always compute
[code]
even in for 2d models where one might think that we should be using a factor of 1/2 instead.

But we have plenty of places in the code where we do things such as the following (here in `stress_second_invariant.cc`):
[code]
The issue here is that `deviator()` is defined as
[code]
and for 2d models,

[2022-04-27 08:14] MFraters opened #4563 "GMG with DC Picard diverges"
I have run into an issue with the GMG and DC Picard (and by extension the Newton solver). In short, `single Advection, iterated Stokes` with gmg works, `single Advection, iterated defect correction Stokes` without gmg works, but `single Advection, iterated defect correction Stokes` doesn't work (see output below).

I have tried to simplify the problem as much as I could and I have tried to compare

[2022-04-27 11:58] anne-glerum commented on #4559
That does seem inconsistent. I also found places where we do:

`const SymmetricTensor<2,dim> strain_rate_deviator = deviator(in.strain_rate[i]);`

So not just for deviatoric stresses, but also for the strain rate we use 1/2 in 2D where it should be 1/3.

[2022-04-27 18:49] lhy11009 opened #4567 "tolerance for the "exact" implementation of the Peierls creep"
Hi Bob, @bobmyhill , thanks for your reply. I closed the previous issue since I found a more practical one to ask. So I am testing the "exact" implementation of the Peierls with the set of parameters taken from Idrissi. I know Daniel Douglas, @danieldouglas92  has tested it in his model, so it's feasible. But I am stuck with adjusting the "Peierls strain rate residual tolerance" parameter, where t

[2022-04-28 23:47] MFraters commented on #4563
Thanks for the reply. Ah, sorry. I accidentally posted `single Advection, iterated defect correction Stokes, with gmg` twice, luckely I still have the data from `single Advection, iterated defect correction Stokes, without gmg`. That case does converge.

**single Advection, iterated defect correction Stokes, without gmg:**

[code]

[2022-04-28 23:56] MFraters commented on #4563
hmm, the boundary conditions in this simplified model are all zero velocity, so I don't see how that would be an issue. In the full model I have velocity and traction boundary condition, but I don't think they change with nonlinear iterations, only with advection (which is done online once before the stokes iterations in these schemes).

[2022-04-29 00:51] MFraters commented on #4563
I also looked at the boundaries in paraview and the boundaries do indeed seem to be zero velocity, but the velocities inside are way too large (used the output after 5 nonlinear iterations). That shows I think that it also not just a residual computation problem, but a actual problem with the internal velocities.

Doing a bit more testing on that and just looking at the difference for a full stoke

[2022-04-29 14:48] tjhei commented on #4563
Can you share the prm for the last test that you ran?

[2022-04-29 15:14] anne-glerum commented on #4563
I'm not sure it's the same problem, but I just ran the gmg_mesh_def_ghost_nodes.prm test for #4248 and this also shows significant differences in RMS and max vel and iteration counts with and without block GMG.

[2022-04-29 15:32] MFraters commented on #4563
Like I said above I use the current world builder main branch and the .wb file is above as well. The only change I make comment and uncomment the line  with `set Stokes solver type = block GMG`

[code]

[2022-04-29 15:41] MFraters commented on #4563
Yes, that looks like the same, although the differences are not as large, but still look significant. What was your residual? In summary there seem to be two issues:

1. Full Picard and dc Picard without gmg give different velocities as compared to full Picard with gmg.
3. Dc Picard with gmg it doesn't converge for this model (some other models do converge, so it is not always an issue)

[2022-04-29 15:53] anne-glerum commented on #4563
The test just does a single Stokes solve, the residual is not reported.

[2022-04-30 15:39] tjhei commented on #4563
@zjiaqi2018 Can you take a look at this issue as well? Let us know if you have any suggestions on what to try or what could be the problem here.

[2022-05-03 11:12] bobmyhill commented on #4567
@lhy11009, the Idrissi flow law (https://www.science.org/doi/full/10.1126/sciadv.1501671) is unphysical. You can see this by plugging zero stress into the flow law, which results in a non-zero strain rate (i.e. the viscosity approaches zero at small strain rates).

To deal with this, @danieldouglas92 implemented a stress cutoff in the Peierls flow law (https://github.com/geodynamics/aspect/pull/40

[2022-05-03 20:01] gassmoeller commented on #4559
I agree that this looks suspicious, but I also vaguely remember that we had a discussion about it at some point already. I think we need to take some time and talk about the correct solution at the hackathon and then document that solution, or make sure we cannot accidentally use the wrong option again.

[2022-05-06 17:21] lhy11009 commented on #4567
Hi @bobmyhill. This solves the issue but also brings another question: what is a good choice for this "Cutoff stress"? I am using 1Ma in my prm. Let me know what you think.

[2022-05-06 19:28] anne-glerum opened #4587 "Chunk velocity anomalies along refinement level boundaries"
This issue prohibits using mesh refinement in lower-viscosity areas in (ellipsoidal) chunk models.

When in the sublithospheric mantle a transition in refinement level occurs (along a constant radius in the figures, but also for other shapes), this location becomes the locus for velocity anomalies. These anomalies are small when not much is going on at this location, but can be much larger than an

[2022-05-09 23:39] bangerth commented on #4482
For the record, I can reproduce the crash. It would be useful to bisect which change broke this cookbook.

[2022-05-09 23:40] bangerth commented on #4482
As for the question of how many cores I used -- I have no recollection at all.

[2022-05-10 16:56] naliboff commented on #4567
@danieldouglas92 - Can you comment on what values you used for the Cutoff stress in the Hawaii flexure models?

[2022-05-10 19:44] danieldouglas92 commented on #4567
Hey @lhy11009, in my models I used a value of 1000 Pa for the cutoff stress. I set it at this value without doing too much testing, but definitely the cutoff stress should be set lower rather than higher since the strain rate is approximated by a quadratic for stresses smaller than the cutoff stress.

My thought would be that as long as your cutoff stress is chosen to be sufficiently smaller than

[2022-05-10 21:16] tjhei commented on #2831
TODO:
- [ ] https://se.copernicus.org/articles/13/849/2022/

[2022-05-10 21:42] bobmyhill commented on #4567
Hi @lhy11009,
Thank you @naliboff and @danieldouglas92 for answering.
@lhy11009, one thing you may wish to do is plot viscosity vs strain-rate for different cut-off stresses. That will give you an idea of sensible choices to use - you want to find a cutoff stress that is small, but is large enough to ensure that (d viscosity / d strain rate) is always negative (and much much higher than the domina

[2022-05-11 18:44] lhy11009 commented on #4567
Thanks for your answers, @danieldouglas92 @bobmyhill @naliboff . I'll do more tests on that before using it. It makes sense to me that there is a trade-off between having a negative value of the derivative (if I get this right, that's because we are solving with a newton solver) and reproducing the flow law.

[2022-05-11 23:34] bobmyhill commented on #4567
The negative d viscosity / d strain rate at low strain rate is a property of any well-behaved power law flow law (nothing to do with Newton solvers). See the figure below. If a flow law (like the unmodified Idrissi law) has a positive d viscosity / d strain rate at low strain rates, then at very low strain rates that flow law would be "more active" than diffusion creep (which has d viscosity / d s

[2022-05-16 15:18] tjhei opened #4595 "sphinx online documentation"
Meta issue for anything related to the new documentation.

- [x] initial conversion #4593
- [x] parse version number from ~/VERSION
- [ ] move output into ASPECT build directory
- [x] setup readthedocs
- [x] update links on website, README, etc.
- [ ] make a helpful index page
- [x] run doc in CI?

[2022-05-16 17:00] jdannberg opened #4597 "deal.ii version required for using the GMG solver"
I've been trying to run a model with the GMG, and I get the error message that "Mesh deformation with the GMG solver requires deal.II 9.3.2 or newer." But my model does not have mesh deformation (only GMG).

The error comes from these lines of code: https://github.com/geodynamics/aspect/blob/325d09ae4d3ea0634feb767828b31d305c785686/source/simulator/stokes_matrix_free.cc#L1375-L1377

I am not sure

[2022-05-16 17:02] tjhei commented on #4597
@zjiaqi2018 can you try to take a look? The error should only trigger if we have mesh deformation.

[2022-05-16 17:03] jdannberg commented on #4597
I can reproduce this with the ascii data slice test: https://github.com/geodynamics/aspect/blob/main/tests/ascii_data_slice.prm

[2022-05-16 20:15] gassmoeller commented on #4595
We have a very early version of the documentation online here: https://aspect-doc.readthedocs.io/en/latest/user/index.html

[2022-05-16 21:39] cmills1095 commented on #4595
- [X] Introduction
  - [X] Referencing ASPECT
  - [X] Acknowledgements
- [ ] Geodynamic modeling assumptions and numerical methods in ASPECT
  - [X] Basic equations
    - [X] A comment on adiabatic heating
    - [X] Boundary conditions
    - [X] Two-dimensional models
    - [X] Comments on the final set of equations
  - [X] Coefficients
    - [X] Coefficient self-consistency
    - [X] Coefficient

[2022-05-17 03:23] #4597 closed

[2022-05-17 17:23] cmills1095 commented on #4595
https://aspect-documentation.readthedocs.io/en/latest/user/index.html

[2022-05-17 17:30] tjhei commented on #4595
awesome. Would it make sense to get rid of the index page and always show user/ ? I don't like that we don't have the navbar on the left on the front page.

[2022-05-17 18:09] danieldouglas92 commented on #4595
I'll take the prescribed_velocity cookbook!

[2022-05-18 15:40] tjhei commented on #4595
How are we going to refer to ASPECT: just as "ASPECT" or using ``<span class="smallcaps">ASPECT</span>``?

[2022-05-18 23:38] ljhwang opened #4653 "Documentation: Problems with section on Arbitrary Lagrangian-Eulerian implementation"
We noticed multiple issues with the page in the documentation for Arbitrary Lagrangian-Eulerian implementation:

https://aspect-documentation.readthedocs.io/en/latest/user/methods/freesurface/arbitrary-le-implementation.html

1. The header repeats. This has brought up the issue of what the proper header levels should be throughout the document as level 1 etc headers look like they are used inconsi

[2022-05-18 23:41] bangerth opened #4654 "Documentation: Use deal.II, not DEAL.II"
There are quite a lot of files right now that spell this wrong:
[code]
Should be easy to fix by script, just don't want to step on @ljhwang 's current work.

[2022-05-19 03:36] gassmoeller opened #4657 "xargs warnings during indent"
I get the following warnings when running `make indent`:

xargs: warning: options --max-args and --replace/-I/-i are mutually exclusive, ignoring previous --max-args value
git dixargs: warning: options --max-args and --replace/-I/-i are mutually exclusive, ignoring previous --max-args value

[2022-05-19 03:38] bangerth commented on #4657
Same issue as here: https://github.com/dealii/dealii/issues/13089 . I suspect the solution from https://github.com/dealii/dealii/pull/13093 will work here as well, but maybe wait till #4575 is merged.

[2022-05-19 03:54] cmills1095 commented on #4595
Do the tags actually change anything? It seemed like it didn’t so I deleted most of them, but it would be simple to use them if thats what y’all want

[2022-05-19 03:57] cmills1095 commented on #4595
This (and some other issues I’ve seen brought up) are a function of the pydata theme we’re using. I’m in no way married to that theme and it should be easy to change, here’s the available themes that I’m aware of: https://sphinx-themes.org/

[2022-05-19 08:36] bobmyhill commented on #4595
I don't think the index problem is due to the theme. At least, the sample at https://sphinx-themes.org/ behaves differently to the current aspect docs.

The index should normally reside at the left hand side, or in the drop down menu for smartphones.

(Personally, I like the standard readthedocs theme, but pydata is also good.)

[2022-05-19 14:27] bangerth commented on #4657
#4575 is now merged. This could be a nice small project for someone :-)

[2022-05-19 14:42] alarshi commented on #4595
I will work on the  Artificial viscosity smoothing cookbook.

[2022-05-19 14:42] tjhei commented on #4595
The one we are currently using is not great on mobile (or a narrow browser window) because the index should be in a dropdown instead of taking up the whole screen. I don't have a strong preference for a theme, but I think we might want to customize the colors a little bit (like a reddish header or sidebar or something)

[2022-05-19 14:51] gassmoeller commented on #4595
Regarding the theme: I like what Menno did with the WorldBuilder documentation, should we copy that?
https://gwb.readthedocs.io/en/latest/

[2022-05-19 16:10] bangerth opened #4666 "Remove .pdf versions of figures."
Following #4659, we now have both pdf and svg files for figures. We should get rid of the pdf files and instead use `\includegraphics` with the svg versions.

[2022-05-19 17:19] bobmyhill commented on #4595
@tjhei, I think it's the structure of index.md that controls how the index is displayed, not the theme.
See, for example, Menno's index.md: https://raw.githubusercontent.com/GeodynamicWorldBuilder/WorldBuilder/main/doc/sphinx/index.md

Vs. the current ASPECT one:
https://raw.githubusercontent.com/geodynamics/aspect/main/doc/sphinx/user/index.md

[2022-05-19 17:57] tjhei commented on #4595
This is not sphinx/index.md by the way but in a subdirectory /user/.

[2022-05-19 18:01] bangerth opened #4669 "Documentation: Appropriately render other languages"
Following #4665, we have places where we ask for mark-up of gnuplot, ksh, and prmfiles. sphinx likely doesn't understand these all yet, see the list at https://pygments.org/languages/, though gnuplot is supported and we could convert ksh to bash. See also https://stackoverflow.com/questions/11315504/sphinx-list-of-supported-languages-for-highlighting

Once merged, we should see what needs to be do

[2022-05-19 18:02] tjhei commented on #4669
We are also using "ksh" for output from ASPECT, which doesn't make much sense to me (it will probably try to highlight things like "if" "for" etc.. Is there some thing like "plain text"?

[2022-05-19 18:02] bangerth opened #4670 "Add a test for writing output in the background."
As requested in #4645.

[2022-05-19 18:03] bobmyhill commented on #4595
Ah yes, sorry. Comment updated. Nevertheless, the full TOC would be in the drop down if it were specified in https://raw.githubusercontent.com/geodynamics/aspect/main/doc/sphinx/index.md

[2022-05-19 18:13] bangerth commented on #4485
As pointed out in #4652, there are also plenty of places in the file where we take something to the second or third power using `std::pow`. We know that that's slow. We should fix that as well.

[2022-05-19 21:52] bangerth opened #4692 "Documentation: Notes not copied"
There are ~46 occurrences of `\note` in the latex sources, which in the conversion to sphinx were all converted as
[code]
That is, not only is the markup wrong, but the actual note text is missing. We will need to go through all of these by hand, copy the text from the latex sources, convert them to markdown, and make sure that the result renders correctly.

The complete list is here:
[code]

[2022-05-20 00:33] cmills1095 commented on #4595
It seems important to clarify what is meant by "clean up the formatting," a phrase I've been using quite liberally without explaining. Here's a list (which may be updated if I remember something else) of what I'm doing whenever I "clean up" an .md file representing a section/subsection/cookbook/benchmark:

 - Headers: Are headers properly formatted, with no duplicates? See quickref.md

 - Code blo

[2022-05-20 01:38] bangerth commented on #4595
On 5/19/22 18:33, cmills1095 wrote:

These two are conceptually the right thing to do, but they break the current
pdf manual. We should only do that if we decide that we're not going to build
the pdf manual any more every night.

[2022-05-20 01:42] cmills1095 commented on #4595
The references.bib file I'm editing is in doc/sphinx and separate from the one the pdf manual references. And when I said moving images, I really meant copying them, for now. Though we could just as easily leave the images in their current folder and reference them like ../../../../manual/image.pdf . This shouldn't affect the pdf manual, right?

[2022-05-20 15:34] tjhei opened #4712 "MaterialModelInputs::reinit vs Simulator::compute_material_model_input_values"
https://github.com/geodynamics/aspect/blob/e4c2d6204fdbcb3b1d47da81316a30150bcfb09b/source/simulator/assembly.cc#L55-L60

https://github.com/geodynamics/aspect/blob/e4c2d6204fdbcb3b1d47da81316a30150bcfb09b/source/material_model/interface.cc#L356-L360

On first glance they look identical to me.

[2022-05-20 15:35] tjhei commented on #4712
@jdannberg or @gassmoeller ?

[2022-05-20 15:43] bangerth commented on #4595
Editing a copy is fine. For both the bib file and the pictures, creating copies is conceptually problematic, but I think we intend to get rid of the originals at some point, so that's ok with me.

[2022-05-20 15:52] pmbremner commented on #944
Does the nature of this issue change now that everything is switching over to Sphinx?

[2022-05-20 15:55] pmbremner commented on #1632
@bangerth There are a couple merged pull-requests linked to this issue. Is this issue resolved or is more work needed?

[2022-05-20 15:57] pmbremner commented on #1810
What is the current status of this need? Does the general ascii file read function already meet this purpose?

[2022-05-20 15:58] bangerth commented on #944
No, this is still the case. We are only changing from latex to sphinx for the hand-written manual, but the automatically generated doxygen documentation remains on that system. So what @tjhei points out above remains true.

[2022-05-20 15:59] pmbremner commented on #2404
@bangerth What is the status of this issue? @jonpkay has this already been addressed?

[2022-05-20 16:00] pmbremner commented on #3774
@bangerth I see you have two merged pull requests related to this. Has this issue been addressed?

[2022-05-20 16:04] bangerth commented on #2404
I took a look at that file and there are still plenty of places where we have fewer than 3 lines between functions. @pmbremner  Feel free to just go through the whole file and add them.

[2022-05-20 16:08] pmbremner commented on #2404
Okay! I'll tackle this one either today or over the weekend

[2022-05-20 16:10] bangerth commented on #3774
It seems to me like the majority of places has been converted. But there are a few places one could still touch:
[code]
@pmbremner Feel free to convert these in whatever large or small increment you feel like.

[2022-05-20 16:12] bangerth commented on #1810
Let's close this. The issue seems too general to address. If we find that there is overlap between multiple readers, we can always refactor.

[2022-05-20 16:12] #1810 closed

[2022-05-20 16:14] bangerth commented on #1632
@pmbremner Take a look at the pull requests linked to in the original post and compare with what's currently in the code base. If the issues mentioned (code duplication) persist in the current code base, then this is still an open problem. If #1628 and #2343 fixed the problem, then this can be closed.

[2022-05-20 16:48] mfmweerdesteijn opened #4715 "initial lithostatic pressure in spherical geometries"
When applying initial lithostatic pressure profiles on far boundaries (to make them 'open') in spherical geometries (here 2D chunk), large strain rate anomalies occur at these boundaries, resulting in unwanted free surface deformation (if used in combination with free surface, as is the case here). Here are plots of the free surface through time (colors) for a linearly increasing load with time at

[2022-05-20 17:09] naliboff commented on #4715
Thanks @mfmweerdesteijn! So, it looks like a small amount of deformation is occurring at the boundaries even when no surface traction is applied (i.e., the model should be static). Is this interpretation correct?

If so, can you add an image of the strain rates for the "open boundaries, no surface tractions" case? If there are strain anomalies, can you add an image of the pressure field and adjust

[2022-05-20 18:14] cmills1095 commented on #4595
Issue: Sphinx doesn't support sub-figures, and forums seem to indicate they have no intention of changing that. There is an easy way to make subfigures work by putting them in a list-tables; it looks good, but its not a figure and so won't be numbered as a figure and can't be referenced by a figure number, so probably not acceptable for our purposes. The alternative is to consolidate figures in in

[2022-05-20 19:51] gassmoeller commented on #4712
Looks identical to me. We probably introduced MaterialModelInputs<dim>::reinit long after compute_material_model_input_values was created and forgot it existed. I would vote for removing `compute_material_model_input_values` and replacing it with a call to `MaterialModelInputs<dim>::reinit`. @jdannberg mentioned she can do that later today.

[2022-05-20 20:10] bangerth commented on #4595
If you ever want to re-use parts of the figure, it's super tedious to get them back out. Can a figure be only a single image file? It can't be anything else than a single file?

[2022-05-20 20:35] mfmweerdesteijn commented on #4715
Indeed, there are deformations even when no surface traction is applied, so coming from the initial lithostatic pressure at the lateral boundaries applied.

open boundaries, no surface tractions strain rate images:
START (t=0)
<img width="448" alt="nbt_ob_strainrate_start" src="https://user-images.githubusercontent.com/57097877/169606288-5e3e51d2-00c7-4b9b-8388-bde2862a7d74.png">

END (t=100 yr)
<

[2022-05-20 21:09] bangerth commented on #4712
On it.

[2022-05-20 21:10] bangerth commented on #4654
Fixed by #4673 .

[2022-05-20 21:10] #4654 closed

[2022-05-20 21:55] #4670 closed

[2022-05-20 22:11] bangerth commented on #4712
There is this completely bizarre place where we call *both functions* here: https://github.com/geodynamics/aspect/blob/main/source/simulator/stokes_matrix_free.cc#L1859-L1868
[code]
One can only wonder what the author might have thought here :-)

There is, however, a fairly good question what the goal here is. The first call uses `compute_strainrate=true`, the second one uses `false`. So strictly

[2022-05-20 23:51] #4657 closed

[2022-05-20 23:58] #4666 closed

[2022-05-21 14:39] cmills1095 commented on #4595
That seems to be the case, unfortunately

[2022-05-22 01:39] jdannberg opened #4748 "Fixes for Darcy flow advection method"
There are a number of features that should be added to make the new Darcy flow method work correctly with a number of different tptions:

- [ ]     Add a section in the manual that explains the equations, why this is useful, and what the limitations are.
- [ ]     Adapt the time step according to the Darcy velocity (source/time_stepping/convection_time_step.cc)
- [ ]     Make sure we take this vel

[2022-05-22 05:01] zjiaqi2018 commented on #4563
I cannot run the prm file:
[code]

[2022-05-22 10:20] tjhei commented on #4563
Menno has been using a newer world builder version. @MFraters can you check if this is still broken with the current master?

[2022-05-22 15:40] jdannberg commented on #4339
This was addressed by #4722 and #4733.

[2022-05-22 15:40] #4339 closed

[2022-05-22 16:45] bangerth commented on #4485
The issue with `std::pow` is still there, so let me reopen this PR.

[2022-05-22 22:39] Wang-yijun commented on #4595
I'm working on the  "Convection in a 3d box" and "Convection in a box with prescribed, variable velocity boundary conditions" cookbooks.

[2022-05-22 22:53] danieldouglas92 commented on #4748
Manual section added in PR #4769

[2022-05-23 12:12] mfmweerdesteijn commented on #4715
No boundary traction, only initial lithostatic pressure on both lateral boundaries, equal mesh resolution throughout domain: again strain rate anomaly, at bottom boundary, resulting in unwanted free surface deformation.
<img width="449" alt="nbt_ob_eqmesh" src="https://user-images.githubusercontent.com/57097877/169816657-ee650ff0-a918-482c-8377-2cf9ce9728f5.png">
![nbt_ob_eqmesh_sd](https://user-i

[2022-05-23 20:50] #4712 closed

[2022-05-24 03:43] gassmoeller opened #4827 "Error when building cmake latex manual"
When I use cmake to make the pdf manual like so:
[code]

I get the following error no matter if my build directory is in-source or out-of-source:
[code]

[2022-05-24 03:49] gassmoeller commented on #2404
solved by #4785

[2022-05-24 03:49] #2404 closed

[2022-05-24 20:19] anne-glerum commented on #4715
Hi @mfmweerdesteijn , I went through the initial_lithostatic_pressure plugin, and I didn't see anything obvious why the computed pressure wouldn't be correct in the spherical case. The chunk geometry does have its issues though. Do you see the same anomalies in a quarter spherical shell? Also, there are some checks in the initial_lithostatic_pressure plugin that are only checked when run in Debug

[2022-05-25 12:48] mfmweerdesteijn commented on #4715
When I use a spherical shell with 90 degrees opening angle and with initial lithostatic pressure on the lateral boundaries, I get the error: "After displacement of the mesh, this function can no longer be used to determine whether a point lies in the domain or not." This is from the point_is_in_domain function. But I don't see why it would work for other geometries (box and chunk) with mesh deform

[2022-05-26 17:22] #4177 closed

[2022-06-01 14:25] mfmweerdesteijn opened #4839 "free surface + density profile + irregular mesh: big free surface deformations"
We use a box geometry with a top free surface. No open boundaries, no boundary traction, no temperature variations, the only 'disturbance' to the model is a density profile (varying, increasing density with depth). I show the surface deformation (column 1, 10 yr intervals), velocity magnitude (column 2, t=100 yr), and strain rate (column 3, t=100 yr). Colorbar ranges for velocity magnitude and str

[2022-06-01 22:41] bangerth commented on #4827
Can you show the line before the error? I suspect that this is the result of this command:
[code]
On thinking about this, I do not know how cmake treats this -- that is, whether it creates the directories into which `OUTPUT` is placed. Does it work if you remove the `${CMAKE_CURRENT_BINARY_DIR}/` from before `${_image}`?

[2022-06-03 08:44] gassmoeller commented on #4827
This is the complete output:
[code]

And no, the error stays the same if I remove `${CMAKE_CURRENT_BINARY_DIR}/`.

[2022-06-03 15:54] tjhei opened #4841 "aspect 2.4.0 release"
- [ ] send out an email about problems or outstanding patches
- [ ] go through the list of TODOs in the source code and see what can be done
- [ ] make sure the description of the interfaces that need to be updated are up to date in the manual
- [x] update the used deal.II version for the Docker container in docker/Dockerfile and in the manual
- [x] check that README.md and https://aspect.geodynam

[2022-06-03 18:16] gassmoeller commented on #4841
Looks generally ok, did you take a look through the changelog to get to this list?
Can we add to the particle optimizations that they only work with deal.II 9.4? Otherwise people might be confused.
Also unless we include #4842 in the release branch, ASPECT 2.4.0 will not work with deal 9.4.0. Are we ok with that?

[2022-06-03 18:51] tjhei commented on #4841
I am happy to cherry-pick #4842. I haven't even picked the version to branch off from.

I did, but I only looked at it very quickly.

[2022-06-08 07:53] anne-glerum commented on #4715
Hi @mfmweerdesteijn thank you for the additional info.

These functions have ben improved on over time and have apparently not been updated everywhere. The last implementation (for the box) is the most correct. It would be great if you can put in a PR or make an issue to remind us to unify the functions.

The strain rate anomalies in the bottom corners: Couldn't they derive from the difference in

[2022-06-08 08:11] anne-glerum commented on #4839
Hi @mfmweerdesteijn , what I think could be happening is that there is a lateral difference in the density depth profile because of the lateral difference in resolution. The density profile you prescribe will be represented differently on the mesh in the higher resolution area and the lower resolution area. These lateral density differences can induce motion until a state of isostasy is reached.

[2022-06-10 13:48] anne-glerum commented on #4839
Mmm. not sure about that. Does the RMS velocity decrease over time? Is elasticity on?

[2022-06-10 14:30] mfmweerdesteijn commented on #4839
Elasticity is on yes. The rms velocity decreases with 0.0001 m/yr every 20-30 years, but the rms velocity is ~0.0190 m/yr

[2022-06-14 20:12] elodie-kendall commented on #4563
Any news here? Can I help at all? Thanks!

[2022-06-16 20:46] MFraters commented on #4563
@tjhei Sorry for the late reply. Due to traveling I didn't get around to it. I check it and the results are still the same.

[2022-06-17 12:29] anne-glerum commented on #4839
Without elasticity, does it get to an equilibrium?

[2022-06-19 14:48] tjhei commented on #4841
What do we do about the release? We are now accumulating important changes (deal 9.4 support) and bug fixes (for example for free surface + GMG). I think it would make sense to have these changes in the release, but backporting might become more effort than just releasing the current master.
Thoughts?

[2022-06-19 17:19] tjhei commented on #4841
A potential solution would be to take the current master and just ignore the fact that we also have a draft html documentation. I don't see many features merged recently, that worry me in terms of stability.

[2022-06-20 20:02] gassmoeller commented on #4841
I agree, since we now have a release candidate for deal.II 9.4 we may as well make sure the current master is working well with that (I need to get another particle fix in), and then base the release of the current master. This will make the release more useful in the future.

Are you around tomorrow for the virtual user meeting? If so let's discuss then.

[2022-06-20 20:11] tjhei commented on #4841
Should be. Sounds good.

[2022-06-23 23:43] tjhei opened #4859 "SIGFPE in cookbooks/continental_extension/"
[code]

[2022-06-24 05:49] bangerth commented on #4859
FWIW, I cannot reproduce this:
[code]
It's possible that FPE are not enabled on my system, although cmake says this:
[code]

[2022-06-24 08:06] tjhei commented on #4563
In particular: Is a free surface required to see the problem? Or is it related to boundary conditions?

[2022-06-24 16:31] tjhei commented on #4859
[code]

but ``in.strain_rate`` has size 0.

[2022-06-26 20:31] tjhei opened #4865 "fix invalid access to in.strain_rate"
We set the size of ``MaterialModelInputs::strain_rate`` to zero when it is not supplied, but it turns out that we ignore this fact and still access these entries. It seems that the compiler does not reliably detect this, #see 4862.

I see the following options:
1. Always set to the correct size but fill with NaN. Problem: we check ``in.strain_rate.size()`` in a few places.
2. Provide an access fun

[2022-06-26 20:46] tjhei commented on #4865
@naliboff Does the original idea "only supply strain_rate if we need the viscosity" make any sense still?

@anne-glerum I am also curious what your thoughts about this are.

[2022-06-27 08:58] anne-glerum commented on #4865
Hi @tjhei I think we could remove setting the size of the strain rate to 0 and make sure to request the minimum amount of material properties. I should have set the correct properties in #4248 already. Setting the strain rate to size 0 was a flag for the material models to not compute the viscosity, and that task can be/is taken over by the requested properties.

[2022-06-27 16:42] #4859 closed

[2022-06-27 18:38] tjhei commented on #4865
Ok, but how do we detect if we need to fill strain_rate with real information? We need to ask the material model if any of the requested properties requires the strain rate to compute...

[2022-06-27 19:15] tjhei opened #4866 "test cmake: check correct deal.II version"
We should verify that the test project found the same deal.II installation by comparing directories (or DEAL_II_PATH).

You might need ``"9.4.0-pre" EXACT`` to get this to work. A better option might be to compare DEAL_II_PATH with @DEAL_II_PATH@, though.

_Originally posted by @tjhei in https://github.com/geodynamics/aspect/issues/4855#issuecomment-1167773864_

[2022-06-27 23:38] #4524 closed

[2022-06-28 07:42] anne-glerum commented on #4865
Ah I was thinking we just always fill the strain rate, but then in the material model decide to use it or not depending on the requested properties. Would it save a lot of time not to fill the strain rate?

[2022-06-28 10:43] anne-glerum opened #4867 "Rename shear stress postprocessor"
The shear stress postprocessor outputs the tensor
`-2*eta*deviatoric_strain_rate`.
I think this is the deviatoric stress (`deviatoric_stress = stress - 1/3*trace(stress)*unity_tensor`), where the full stress is `-2*eta*deviatoric_strain_rate+pressure*unity_tensor`.

Shear stresses are the off-diagonal components of the stress tensor.

I would suggest to rename the postprocessor `deviatoric stress`

[2022-06-28 14:19] tjhei commented on #4865
I don't know how big the difference will be, but the motivation behind ``bool compute_strain_rate`` was the desire to save computational time.

My main problem is that we need a minimal change for the 2.4 release now, without changing too much in the material model.

[2022-06-30 07:46] anne-glerum commented on #4865
Ah I thought the time saving was avoiding computing the viscosity.

What if when we fill the MaterialModelInputs (line 271 and 356 of material_model/interface.cc), we don't just check
 if (compute_strain_rate == false)
        this->strain_rate.resize(0);
but also check for reaction_outputs?
 if (compute_strain_rate == false && in.requested_properties != reaction_outputs)
        this->strain_rate

[2022-07-02 19:56] tjhei opened #4874 "remove checks for invalid strain_rate"
I am confused by the following:
https://github.com/geodynamics/aspect/blob/0bb443da15a5eaf96baaa5a382100a5c0d959a75/source/material_model/rheology/visco_plastic.cc#L121-L122

I think only a SymmetricTensor filled with NaN would make this condition true. Why do we catch this situation here? Do we forget to fill it somewhere? If it is needed, we should use ``!std::isfinite()`` instead.

@naliboff Do

[2022-07-10 19:13] tjhei commented on #4563
Hi Menno, we ran a couple of defect correction with GMG tests in the last few days and all of them seem to work okay.
I might have fixed recently an issue with incorrect material properties being requested in the GMG solver.

Can you try the problem you have again? Otherwise, any suggestions on how to narrow in on the issue?

[2022-07-11 17:25] tjhei opened #4897 "[CI] Github runner artifacts are overwritten"
It looks like we no longer have the .diff files for updating test results since we switched to the new matrix testing in #4878. I assume this is because the files get overwritten.

Example: https://github.com/geodynamics/aspect/actions/runs/2647098191

@gassmoeller We should make the artifact upload conditional on test comparison. Do you have time to look into that?

[2022-07-11 17:55] tjhei opened #4898 "missing aspect tutorial link"
Our readme and the website links to
https://geodynamics.org/cig/events/calendar/2016-cig-all-hands-meeting/aspect-tutorial/tutorial/

which no longer exists.

[2022-07-11 18:13] tjhei opened #4901 "tests/ .cc files are missing ASPECT header"
see for example ./tests/prescribed_temperature.cc
Somebody want to run a script?

[2022-07-11 18:33] tjhei commented on #4841
Rene, do you have time to do "update the used deal.II version for the Docker container in docker/Dockerfile and in the manual" ?

[2022-07-11 22:14] tjhei opened #4905 "tests/gmg_mesh_deform fails with deal.II master"
with a floating point exception, see https://github.com/geodynamics/aspect/pull/4902#event-6973011711 for example

[2022-07-11 22:22] bangerth opened #4906 "Initialization order is error-prone."
In working on #4889, I realized something that had previously occurred to me: When we create the various plugin systems in the constructor of `Simulator`, we create some of the variables in the member variable initializer list and others in the body of the constructor. For the latter, we generally follow logic such as
[code]

This is awkward (and cost me ~2 hours of debugging in #4891) because dur

[2022-07-11 22:45] bangerth commented on #4905
This is outside my area of expertise, so I can not really help with what is going on. But this is what I find:
[code]

I don't know why `r0` has the infinity in it.

[2022-07-12 01:06] tjhei commented on #4905
Thanks. I will take a look. I could not reproduce on my system sorry this is helpful.

[2022-07-12 01:07] tjhei commented on #4905
Can you share the rest of the backtrace?

[2022-07-12 01:43] tjhei commented on #4906
Makes sense to me.

[2022-07-12 02:50] bangerth commented on #4905
Here is the whole backtrace:
[code]

[2022-07-12 03:59] naliboff opened #4908 "Structure for a new section on rheology and material models in ASPECT"
I'm currently outlining a new section for the ASPECT manual to describe various rheological approximations and the material structure. Before diving in to far, it would be helpful to get the collective's thoughts on what should be included and organization.

Here is a first stab at an outline, which would start right after the `Choosing a Formulation in ASPECT `section in the [manual](https://aspe

[2022-07-12 08:42] cedrict commented on #4908
may be a section about invariants ? the two different types (moment and principal), which ones we use, their various formulations, etc ... ?

[2022-07-12 09:42] tjhei commented on #4905
@zjiaqi2018 We are getting this error in compute_mesh_displacements_gmg() but only with a recent deal.II master. Any idea why? Does it crash on your system as well?

[2022-07-12 13:36] gassmoeller commented on #4841
It is not that easy unfortunately, because we do not have a deal.II docker image for 9.3.2 (only 9.3.0 is available on docker hub and that has the restart bug). We will need to build our own deal.II for the ASPECT docker container. I will see if I can get to it tomorrow.

[2022-07-12 15:34] tjhei commented on #4905
@peterrum Matrix free started causing this segfault in the last 3 days or so. Do you happen to have an idea what changed inside deal.II?

[2022-07-12 15:39] naliboff commented on #4908
@cedrict  - Definitely, good call!

[2022-07-12 16:08] bobmyhill commented on #4908
Yes, I think this is good. To summarise my point from our meeting, I think `In Progress Work` is a good section, but maybe we should keep `Future Work` for the GitHub Projects page (https://github.com/geodynamics/aspect/projects).

I'd favour a brief paragraph at the end of each`In Progress` subsection summarising what still needs to be done / how users can use the in progress work (or even whethe

[2022-07-12 16:17] peterrum commented on #4905
My guess is that one of the following PRs caused the problem:
- https://github.com/dealii/dealii/pull/14085
- https://github.com/dealii/dealii/pull/14090
- https://github.com/dealii/dealii/pull/14119

According to the date ("3 days"), the last one. My guess is that one of the PRs had the side effect that some of the lanes are not filled. Could anyone point out which one is the guilty one?

[2022-07-12 17:38] zjiaqi2018 commented on #4905
updated deal.ii master, but I could not reproduce the error.

[2022-07-12 17:54] tjhei commented on #4841
I can update the tjhei/candi one. Do we want 9.3.3?

[2022-07-13 03:03] tjhei commented on #4908
In progress/ future work will likely be outdated quickly, so I agree with putting that into the issue tracker / board instead.

[2022-07-13 07:20] peterrum commented on #4905
Please ping me once you have a commit as suspect. The aspect messages might get lost between other emails from github.

[2022-07-13 14:26] #4901 closed

[2022-07-13 15:04] gassmoeller commented on #4841
I do not know what changed between 9.3.2 and 9.3.3, but sure, let's go with 9.3.3 if possible. If you send me a link of a docker image for 9.3.2 or 9.3.3 I can update the ASPECT images and the Dockerfile.

[2022-07-13 19:13] gassmoeller commented on #4897
See #4911.

[2022-07-13 19:27] gassmoeller commented on #4898
These files are now available at https://geodynamics.org/projects/aspect/notes/Tutorials, but unfortunately this link is only available when you are logged in to the new CIG site and a member of the ASPECT project so a global link is less useful. What should be we do about this? For the moment a legacy version is available, but this will go away eventually: https://wiki.archive.geodynamics.org/sof

[2022-07-13 20:26] tjhei commented on #4898
I would suggest we link to a wiki page here for learning resources and then we can adjust links as needed.

[2022-07-13 20:27] tjhei commented on #4898
@ljhwang suggested to use https://geodynamics.org/courses/ASPECT/CIG16 ?

[2022-07-13 20:46] gassmoeller commented on #4898
Oh, that is better yes. Maybe link directly to https://geodynamics.org/courses/ASPECT/CIG16/outline, which already has links to all the individual videos (your link above looks empty, because the course has no description for me).

[2022-07-14 02:37] gdmate commented on #4908
Following on a conversation with a few others in the geodynamics community, there was a request to add a section regarding when/how the prefactor for viscous flow laws should be scaled and include a table of these values.

[2022-07-14 13:48] bobmyhill commented on #4908
@gdmate We can certainly do that. Do you just mean the scalings from various types of experiments? Would the paragraph from supplementary info S1.3 in Dannberg et al (2017; https://doi.org/10.1002/2017GC006944) be enough or would you like something extra?

[2022-07-14 15:39] naliboff commented on #4908
@bobmyhill - Sorry, accidentally posted that from my other GitHub account.

Yes, exactly that, +/- a table with the correct values (converted or not) to use from various flow law experiments commonly used in the geodynamics literature.

[2022-07-14 21:18] tjhei commented on #4898
See https://github.com/geodynamics/aspect/wiki/Tutorial-Materials (placeholder for now)

[2022-07-15 20:06] #4897 closed

[2022-07-16 20:01] tjhei commented on #4905
It is not from the last few days (sorry, that was a wrong assumption, we just started testing all tests in the last couple of days/weeks). Here is what git bisect gave me:
[code]

[2022-07-16 20:28] tjhei commented on #4905
And this doesn't make much sense to me, sadly. With this diff
[code]

I get
[code]

[2022-07-17 13:13] tjhei commented on #4905
valgrind finds something:
[code]

[2022-07-18 21:03] kronbichler commented on #4905
We have `dim=3, n_q_points_1d=2, n_components=3`. That should give us 72 entries in `fe_eval.begin_gradients()` with good data. The fact that the 25th entry is wrong must mean that the function that writes to this data, which is either https://github.com/dealii/dealii/blob/9a5cb94940efef067756d420e356c23335872008/include/deal.II/matrix_free/fe_evaluation.h#L4989-L4990 or https://github.com/dealii/

[2022-07-20 19:47] tjhei commented on #4905
This is the mesh:
![image](https://user-images.githubusercontent.com/1531285/180068701-804d9125-f7c8-4ea8-8d2b-17d1410978fc.png)

The FPE happens when we solve the initial vector Laplace with a MappingQ1Eulerian with a displacement vector that is all 0.

[2022-07-21 16:02] tjhei commented on #4905
Just to be sure, @bangerth can you try with an updated deal.II as well?

[2022-07-21 19:53] fadhli-atarita opened #4919 "Convergence issue: 3D convection with an Earth-like initial condition (S40RTS)"
Hello,

I've been trying to run this cookbook for a while but I've always encountered convergence issues. I've been using the exact same parameters as in the S40RTS.prm and have tried to increase the refinements and maximum stokes solver steps and decrease the linear solver tolerance. However, these changes also produced convergence issues.

Here are the output, error, and solver history files for

[2022-07-21 20:06] bangerth commented on #4905
Yes, it works now! Yay!

[2022-07-21 21:57] tjhei commented on #4919
Your ASPECT version seems to be quite old. Can you retry with the current development version, please? Is this the output without any changes to the .prm file?

[2022-07-21 22:39] tjhei commented on #4841
The releases grew quite a bit:
[code]

I assume this is because we don't include manual/doc/ but most large files now moved into cookbooks/doc/, benchmarks/doc/ etc. Do we care?

[2022-07-21 22:51] fadhli-atarita commented on #4919
There was a segmentation fault issue on the clusters with v2.3.0 so the admin suggested that I use v2.2.0 for now. This output was produced with changes on the 3 parameters that I mentioned earlier. Without any changes it would still have similar issues but at a different timestep.

[2022-07-22 12:23] gassmoeller commented on #4841
I do not think it is a problem. In fact I think it is an advantage to have the documentation source of the cookbooks in the cookbooks folder and as part of the release. It is easy for users to find that way (when they run the cookbooks).

[2022-07-22 21:50] tjhei commented on #4841
Alright. We are ready to tag the release from my end, then.

[2022-07-24 20:51] tjhei commented on #4919
@zjiaqi2018 Can you try cookbooks/initial-condition-S20RTS/S20RTS.prm with the current ASPECT master and run it for a while to check if it crashes for you as well?

[2022-07-24 21:15] zjiaqi2018 commented on #4919
Seems to be fine:
[code]

[2022-07-24 22:02] tjhei opened #4925 "pdf manual is incomplete"
- [ ] some .out files are not generated, possibly because of https://github.com/geodynamics/aspect/commit/042a06f70c8def5dda32478a04dda1824fc9c00b#diff-f48ddfd1eec38c4d39f84e195259371f8397cd30146f46b113bdcb4590ed262c (I don't understand this change). It looks like we only make cookbooks/*/doc/*prm but no longer cookbooks/*prm:
[code]
- [ ] None of the cookbooks/benchmarks works because of https://

[2022-07-25 04:00] zjiaqi2018 commented on #4919
update: It does fail if it's long enough.

[code]

[2022-07-25 06:27] sac-bsa commented on #4925
As you note 042a06f70c8def5dda32478a04dda1824fc9c00b limits what *.prm.out files are generated. A part of that PR (and the many other cookbook documentation moving PRs) was ensuring that there were no `cookbooks/*.prm` or `cookbooks/*/*.prm` files that are meant to be included in the documentation. Hence `convection-box.prm.out` is generated from `cookbooks/convection-box/doc/convection-box.prm` i

[2022-07-25 15:50] tjhei commented on #4919
Can you share log from the last time step? We might need to look at the last graphical output as well.

[2022-07-25 15:59] zjiaqi2018 commented on #4919
[code]

![step-01216-P](https://user-images.githubusercontent.com/36655731/180822567-626a8b30-16c2-4156-ac42-da9373afdccd.png)
![step-01216-T](https://user-images.githubusercontent.com/36655731/180822572-bf72444a-0e24-4ee0-8b69-a77e060758dd.png)
![step-01216-V](https://user-images.githubusercontent.com/36655731/180822573-2db73c30-c26c-4db0-be2e-04421a132c76.png)

[2022-07-25 16:09] zjiaqi2018 commented on #4919
a few more steps before crashing, see the change of iteration numbers for both temperature and Stokes
[code]

[2022-07-25 16:39] tjhei commented on #4925
Thanks, Mack. I got things to work using the "import" package: https://github.com/geodynamics/aspect/pull/4926
It allows relative paths.

[2022-07-25 16:51] tjhei commented on #4919
Thank you. Yes, it looks like the solution it blowing up.

[2022-07-26 16:02] #4925 closed

[2022-07-28 00:18] tjhei commented on #4500
Using system MPI (here with using mpich). Create ``~/.spack/packages.yaml`` with:
[code]

Also remember ``spack compiler find`` and ``spack compilers``.

[2022-08-02 15:58] tjhei commented on #4919
@zjiaqi2018 Can you try to add "Time steps between mesh refinement = 0" in the mesh refinement section? It seems that the mesh gets adapted/coarsened over time (is that true?).
If that helps, please open a PR to add it to the prm.

[2022-08-02 16:37] zjiaqi2018 commented on #4919
True, a few steps before diverging, the dofs is only
`Number of degrees of freedom: 80,741 (58,485+2,761+19,495)`
compared to the initial dofs:
`Number of degrees of freedom: 215,962 (156,774+6,930+52,258)`

[2022-08-02 19:34] zjiaqi2018 commented on #4919
still diverges, but  a later time:

[code]

[2022-08-02 20:01] tjhei commented on #4919
@jdannberg Should we try one more refinement next?

[2022-08-03 03:26] zjiaqi2018 commented on #4919
one more refinement level seems to resolve the issue. Now dt is much larger, which means the solution is not blowing up, and the numbers of iterations are good.
Is  t=2e+08 years long enough?
[code]
![image](https://user-images.githubusercontent.com/36655731/182516989-90c9b8c8-ce1f-4452-99ab-105d2e459940.png)
![image](https://user-images.githubusercontent.com/36655731/182517547-44472716-1096-4261-

[2022-08-03 03:59] jdannberg commented on #4919
I think increasing the resolution seems like a good solution for @fadhli-atarita's original issue. And it's great to see that it works! Since the cookbook itself is not intended to be time-dependent, I would only change the resolution there if it can still be run on a laptop in a reasonable time with the higher resolution.

[2022-08-03 04:50] tjhei commented on #4919
We would be at 1.6 million DoFs, right? That might be too much for this cookbook.

I would suggest we only make the former change.

[2022-08-03 04:52] zjiaqi2018 commented on #4919
Right. I will open a PR.

[2022-08-03 10:32] anne-glerum opened #4935 "Simplify fill_plastic_outputs that fills PlasticAdditionalOutputs"
`fill_plastic_outputs` in MM/R/visco_plastic.cc outputs the current friction angle and cohesion and whether yielding occurs or not. The function is called in MM/visco_plastic.cc after `calculate_isostrain_viscosities` has been called. `calculate_isostrain_viscosities` returns whether the material is yielding and the current friction angle per volume_fraction. Whether or not yielding occurs is aver

[2022-08-03 12:22] fadhli-atarita commented on #4919
Thank you all. I'll try this and let you know if I still encounter similar problems.

Also just to be sure, there is no version issue for this particular problem, right?
v2.4.0 is currently being installed on the clusters that I use and we don't know how that will go. This means I still have to use v.2.20 for now.

[2022-08-05 03:36] tjhei commented on #4905
It looks like we are back to failing with deal.II master:
[code]
:-(

[2022-08-05 03:37] tjhei commented on #4905
Backtrace seems to be the same:
[code]

[2022-08-05 03:38] tjhei commented on #4905
@zjiaqi2018 Can you reproduce this on your machine as well? If yes, can you try to make a minimal deal.II test that (hopefully) shows the same issue?

[2022-08-05 04:34] zjiaqi2018 commented on #4905
Yes, I can reproduce. Sure, I will try to make a deal.ii test.

[code]

[2022-08-05 06:24] zjiaqi2018 commented on #4905
This line produces nan, `data` of `values_dofs` is initial {1, 1}, but becomes {nan, nan} after adding  `c * n_dofs`

https://github.com/dealii/dealii/blob/f8d87ffe952726ec8e78249e307441238abda94f/include/deal.II/matrix_free/evaluation_kernels.h#L2160

[2022-08-05 17:32] bangerth commented on #4905
Do we know which deal.II commit caused this?

[2022-08-05 21:16] naliboff commented on #4935
@anne-glerum - Yes, this seems like a good idea!

[2022-08-06 03:30] tjhei commented on #4905
Scroll up in this issue: I did a git bisect last time. The problem is that we did not fill invalid values with NaN until recently. This means some random stuff influences if we crash or not (allocating a large vector<bool> containing only false hid the bug before and was found with git bisect).

[2022-08-09 09:31] anne-glerum opened #4942 "Unify unit formatting in online documentation"
@bangerth
A randomly selected page in the online manual: some units show the command \si{bla}, some units are italic, some are not.

<img width="789" alt="Screenshot 2022-08-02 at 18 10 32" src="https://user-images.githubusercontent.com/7631624/183615533-a26cb0ec-8af2-4518-8c06-962f51efef0c.png">

[2022-08-12 14:50] anne-glerum opened #4945 "Output phase function values"
Apart from looking at the compositional fields in ParaView, I think it can also be helpful to visualize the different phases each field can have. I image for each field an output parameter `field_name_phase_function`, where `name` is the name of the field.

[2022-08-26 18:35] tjhei commented on #4380
added issues with ld.gold linker above, @naliboff

[2022-08-26 20:48] tjhei commented on #4905
At least on my machine it is fixed with https://github.com/dealii/dealii/pull/14224

[2022-08-28 14:42] tjhei commented on #4905
... and github actions are also happy! :fireworks:

[2022-08-28 14:42] #4905 closed

[2022-08-29 18:48] lhy11009 opened #4949 "Solve for temperature diffusion only."
Hi all.
I'd like to start a model by only solving the temperature diffusion for 1Ma, without advection. Which is the solver scheme to use? I want to use the "Nonlinear solver scheme" with "no advection", but the description in the manual doesn't tell me if temperature diffusion is solved. Moreover, I see this PR by https://github.com/geodynamics/aspect/pull/4530 by @jdannberg. Does this work with

[2022-08-31 12:07] sibiaoliu opened #4951 "Include the hydrothermal circulation process in visco_plastic section"
I added a new calculation of thermal conductivity caused by lithospheric hydrothermal circulation. This process is commonly used to assess the thermal evolution of the crust and upper mantle at spreading or rifted margins (e.g., mid-ocean ridges). We use the same equation as Gregg et al. (2009). Currently, this function is only implemented in visco_plastic material model.

@naliboff and @anne-gler

[2022-09-02 20:45] tjhei opened #4952 "json to markdown for parameters demangling in 9.4"
It turns out that deal.II behavior for outputting the parameters.json, that we use for converting parameters to markdown, changed between 9.3 and 9.4:
With 9.4 all names are demangled, see https://github.com/dealii/dealii/pull/13815

This breaks our jsontomarkdown.py script in hilarious ways.

It would be somewhat difficult to detect the deal.II version and support both, so I prefer only having to

[2022-09-07 13:09] anne-glerum commented on #4949
Hi @lhy11009 , would the scheme `single Advection, no Stokes` work for you? Here you have to provide a velocity field (which you can set to zero) and then only the temperature and composition equations are solved. If the velocity field is zero, this would mean (if no other heating terms are included) that only temperature diffusion is solved for.

[2022-09-09 18:06] lhy11009 commented on #4949
Hi Anne. That's a solution, I'll bear that in mind for similar situations in the future. On the other hand, I have worked out the issue I have by adding diffusion in my temperature profile. Thanks anyway.

[2022-09-09 18:06] #4949 closed

[2022-09-10 18:33] lhy11009 commented on #3894
This issue is addressed in jiaqi's PR, thus I'll close it.

[2022-09-10 18:33] #3894 closed

[2022-09-10 19:18] lhy11009 commented on #4308
Hi, I want to comment on this issue, that I have a case running with block GMG in 3D cartesian geometry that failed to converge.
The same case with the Block AMG preconditioner doesn't have this issue. It seems to me that @tjhei's PR would address this issue. The only concern I have is that PR is not merged yet and is behind the current aspect. In this case, I am going to cherry-pick that PR onto

[2022-09-10 21:42] tjhei commented on #3894
We would normally wait until the PR is merged, but it is pretty close now. :-)

[2022-09-10 21:50] tjhei commented on #4308
Did you see #4413? It is current with the current main branch and is pretty close to being finished...

[2022-09-10 21:51] tjhei commented on #4308
This is consistent with our finding at https://onlinelibrary.wiley.com/doi/10.1002/nla.2375

[2022-09-10 22:11] lhy11009 commented on #4308
Yes, I actually just tested out cherry-picking #4413 onto my branch and run the case again. However, the issue is not resolved. It could be:
1. There is a parameter I need to set for removing the nullspace. Is there one? I noticed the parameter.cc is changed but in the conversation below, it's mentioned that nothing needs to be changed.
2. I am having a different kind of issue. Here is the error m

[2022-09-12 01:44] tjhei opened #4955 "nsinker_spherical_shell convergence issues"
But nsinker_spherical_shell cannot converge using gmg,
and amg doesn't converge either.

[code]

[code]

_Originally posted by @zjiaqi2018 in https://github.com/geodynamics/aspect/pull/4852#issuecomment-1243046122_

[2022-09-12 17:51] tjhei commented on #4308
Do you have a simple .prm that you can share that shows the problem? If not, can you try to simplify?

[2022-09-14 13:35] elodie-kendall opened #4958 "limit minimum temperature in main branch?"
Hi developers,

For a while now I've been seeing temperatures going below surface T in my models, and so has Eric van der Wiel. For example I attach a prm (which is a modification to the steinberger cookbook in that I change viscosity from steinberger to visco plastic), the output file and min T which shows temperature going below 273K and even in some other models negative. After a lot of experim

[2022-09-19 22:46] lhy11009 commented on #4308
Hi @tjhei. I haven't got a simplified version, but I have done some more tests. Here is what I found out.

[2022-09-19 22:49] lhy11009 commented on #4308
First, the previous error message is from a branch with your PR #4413 cherry-picked. While I thought this doesn't solve the issue, I do notice the "The final residual" in the "BlockSchurGMGPreconditioner::vmult" changes from nan to 1.066801e-03. So that the PR  might help in some ways, possibly removing the issue caused by a null space.

[2022-09-19 22:55] lhy11009 commented on #4308
Secondly, I was thinking of the viscosity contrast in the model. Previously, I have already limited the viscosity in [1e21, 1e24] by setting the " Minimum viscosity", and the "Maximum viscosity". I went further by  setting
" Minimum viscosity" = "Maximum viscosity" = 1e21, by which the viscosity contrast is eliminated. This new case doesn't have any issues to converge. So the issue is indeed tied

[2022-09-19 22:59] lhy11009 commented on #4308
Thirdly, A suggestion from John is to test
 "Use full A block as preconditioner"   = true
Which doesn't change the results, or the reported "final residual" in the "BlockSchurGMGPreconditioner::vmult".

[2022-09-19 23:00] lhy11009 commented on #4308
Anyway, I'll try to get a simplified version of this. Here is the prm I have for now:

[2022-09-19 23:04] lhy11009 commented on #4308
[test_ThD_gmg_mv1e21_peloton_case.prm.txt](https://github.com/geodynamics/aspect/files/9602831/test_ThD_gmg_mv1e21_peloton_case.prm.txt)

[2022-09-19 23:05] lhy11009 commented on #4308
In short, it's a 3D subduction model in a box geometry, with newtonian rheology in the model.

[2022-09-20 19:32] lhy11009 opened #4959 "Slow down of solver after recent updates."
Recently, I have observed a slowdown in computation speed in our models (@mibillen ). I looked into this and found the " Solve Stokes system" causing the slowdown, where the difference is about 1/3.  I would post it here and see if others have consistent results. This includes a test on 1 CPU and 512 CPUs.

For a case run on 1 CPU (output_1_2_1), the comparison between the current and a previous r

[2022-09-20 23:50] tjhei commented on #4959
What are the exact ASPECT and deal.II versions?

[2022-09-21 00:14] lhy11009 commented on #4959
Sorry, I forget to mention. These are the versions.
-- This is ASPECT, the Advanced Solver for Problems in Earth's ConvecTion.
--     . version 2.5.0-pre (master_TwoD, 5a5f21131)
--     . using deal.II 9.4.0
--     .       with 32 bit indices and vectorization level 2 (256 bits)
--     . using Trilinos 12.18.1
--     . using p4est 2.3.2
--     . running in OPTIMIZED mode
--     . running with 1 MP

[2022-09-21 18:13] tjhei commented on #4959
I only see a single ASPECT version. Are you saying things got slower with the same ASPECT version?

[2022-09-21 18:22] tjhei opened #4960 "deal.II master floating point exception"
This currently happens:
[code]

see here for example: https://github.com/geodynamics/aspect/actions/runs/3090660726/jobs/4999751630#step:6:1627

[2022-09-21 18:25] tjhei opened #4961 "github action for deal.II master fails randomly without output"
See for example https://github.com/geodynamics/aspect/actions/runs/3049583814/jobs/4915800221

(note that it spends some time compiling but then crashes without any output)

I assume that this is because we are running out of memory. @gassmoeller what should we do: reduce parallelism? move to jenkins?

[2022-09-21 18:49] lhy11009 commented on #4959
Oh, right, let me check the previous cases

[2022-09-21 18:51] lhy11009 commented on #4959
-----------------------------------------------------------------------------
-- This is ASPECT, the Advanced Solver for Problems in Earth's ConvecTion.
--     . version 2.4.0-pre (main, 875a17cf8)
--     . using deal.II 9.3.1
--     .       with 32 bit indices and vectorization level 1 (128 bits)
--     . using Trilinos 13.0.0
--     . using p4est 2.8.0
--     . running in OPTIMIZED mode
--     .

[2022-09-21 18:52] lhy11009 commented on #4959
Sorry, sometimes I forget to include the full information.

[2022-09-21 18:53] lhy11009 commented on #4959
Also, I suspect it's just our server. I have some clues here, from the affinity test

[2022-09-21 19:10] lhy11009 commented on #4959
Here is the test with  Stampede2 "skx-normal" partition. This partition has 48 CPUs per core.
![Stampede](https://user-images.githubusercontent.com/28665365/191588831-b916d14c-1724-4ff8-b7f9-a052878a978a.png)
This is some differences in the header of the log file now that I double checked - the "vectorization" is shown to have different levels:
-----------------------------------------------------

[2022-09-21 19:27] gassmoeller commented on #4959
@lhy11009 the difference in vectorization level can be very important, in particular if you use the GMG solver. It determines how good the vector units of the CPUs are used when solving the equations. The option is set when deal.II is compiled, and if you use candi it is controlled by the NATIVE_OPTIMIZATIONS option in candi.cfg (you should always set that to true, not sure if we have documented t

[2022-09-21 20:48] tjhei commented on #4959
Yes, vectorization is required for good GMG performance. We document this here:
https://aspect-documentation.readthedocs.io/en/latest/user/methods/geometric-multigrid.html

I wonder if we should issue a warning if it is not enabled in release mode.

[2022-09-21 21:28] lhy11009 commented on #4959
Okay, so that would be helpful indeed. However, I am sure that I am using the "block AMG" here all through.Here are the files.
New ones:
[log.txt](https://github.com/geodynamics/aspect/files/9620478/log.txt)
[original.prm.txt](https://github.com/geodynamics/aspect/files/9620509/original.prm.txt)
[statistics.txt](https://github.com/geodynamics/aspect/files/9620510/statistics.txt)
Here are the old o

[2022-09-22 20:15] tjhei commented on #4959
I have no idea how much of a difference native optimizations give for AMG, but I would be surprised if the difference is that big. More likely (in that order):
- machine issues
- Trilinos version
- Some regression in deal.II 4.0

[2022-09-25 14:25] tjhei commented on #4960
git bisect blames the following PR [#14270](https://github.com/dealii/dealii/pull/14270/), which is somewhat confusing.

[2022-09-25 20:32] lhy11009 commented on #4308
Hi @tjhei , while turning this into a smaller test, I came up with the possibility that this could be a problem with the "Newton solver". It was hinted that the case I ran always crushed after "switching" from "defect correction" to "Newton". I assured this with a test I modified from the "Slab detachment model", where the viscosity has a strain-rate dependence. Here is a summary:
In the first cas

[2022-09-28 13:52] tjhei commented on #4308
Hi @lhy11009 : The last three prm files you posted are in a box geometry, so there is no nullspace in the system.

I saw that you used
[code]
this might be problematic, I would at most use something like 1e-3.

[2022-09-28 15:39] tjhei commented on #4952
@gassmoeller

[2022-09-28 20:40] gassmoeller opened #4969 "Github action to build docker container occasionally cancelled"
This was mentioned by @tjhei. Our github action that  builds the docker container for the official ASPECT dev version is occasionally cancelled (like here: https://github.com/geodynamics/aspect/actions/runs/3129691411/jobs/5079085394).
I investigated and noticed that this is on purpose. The github action will be automatically cancelled if another pull request is merged while the older is built. In

[2022-09-29 00:26] lhy11009 commented on #4308
I have modified the tests with "set Maximum linear Stokes solver tolerance = 1e-3". First, here are the results with the gmg and the Newton solver. This case still crashes at the end. The difference is the number of iterations in the Stokes system with each non-linear iteration, which increases from 1 to 4.
[case_gmg_newton_1e-3.prm.txt](https://github.com/geodynamics/aspect/files/9669664/case_gmg

[2022-09-29 00:40] lhy11009 commented on #4308
I went further to set this to "1e-6". This would increase the number of interactions in the Stokes system to about 13 with each non-linear iteration. But the case still crushes upon switching to the Newton solver.
[case_gmg_newton_1e-6.prm.txt](https://github.com/geodynamics/aspect/files/9669772/case_gmg_newton_1e-6.prm.txt)
[task-498361.stdout.txt](https://github.com/geodynamics/aspect/files/9669

[2022-09-29 00:43] lhy11009 commented on #4308
For comparison, I also tested the "block AMG". This case ran successfully.
[case_amg_newton_1e-3.prm.txt](https://github.com/geodynamics/aspect/files/9669793/case_amg_newton_1e-3.prm.txt)
[task-498251.stdout.txt](https://github.com/geodynamics/aspect/files/9669794/task-498251.stdout.txt)

[2022-09-29 00:47] lhy11009 commented on #4308
The Fourth test is "block GMG" with the defect correction Picard solver. This also ran successfully.
[case_gmg_picard_1e-3.prm.txt](https://github.com/geodynamics/aspect/files/9669809/case_gmg_picard_1e-3.prm.txt)
[task-498254.stdout.txt](https://github.com/geodynamics/aspect/files/9669814/task-498254.stdout.txt)

[2022-09-29 00:50] lhy11009 commented on #4308
The takeaway is still that the issue is with the combination of the "block GMG" with "iterated Newton Stokes"

[2022-09-29 02:16] tjhei commented on #4969
This makes sense and is the correct behavior, I agree. I was referring to a different issue though:
docker build github action currently fails occasionally with "egress is over the account limit". Seems to be a github bug: https://github.com/community/community/discussions/8535

[2022-09-29 14:02] tjhei commented on #4960
backtrace:
[code]

[2022-09-30 21:01] zjiaqi2018 opened #4971 "spiegelman_et_al_2016 convergence issue"
benchmarks/newton_solver_benchmark_set/spiegelman_et_al_2016 diverges
[code]

[2022-09-30 21:38] zjiaqi2018 commented on #4971
It converges if we set
`set CFL number                             = 0.5`

[2022-10-03 14:27] #4960 closed

[2022-10-03 14:27] #4952 closed

[2022-10-06 13:23] gassmoeller commented on #4961
This should be closed by #4922.

[2022-10-06 13:23] #4961 closed

[2022-10-07 10:45] anne-glerum opened #4976 "Incompatible ASPECT dev with deal.II dev from before #14167"
At the moment, trying to compile the current ASPECT main against deal.ii dev from 24 June fails in two places:
[code]

[code]

This last place is related to https://github.com/dealii/dealii/pull/14167/ and https://github.com/geodynamics/aspect/pull/4962.

I can fix it by setting `#if DEAL_II_VERSION_GT(9,5,0)` to `#if DEAL_II_VERSION_GT(9,5,1)` in both files.

Version details:
[code]

[2022-10-07 13:41] tjhei commented on #4976
ASPECT dev is only guaranteed to work with a newer deal.II master. I know this is annoying sometimes but there is no good way to detect exactly when the necessary change inside deal II happened.
Of course you can comment out stuff to often make things compile.
Does that make sense?

[2022-10-07 14:25] anne-glerum commented on #4976
Yes that makes sense.

I'm confused though about this:
* the function compute_no_normal_flux_constraints_on_level in compat.h is now in deal.II
* for an older deal.II dev that doesn't include that function, the function in compat.h is not found (e.g. for deal.II 9.4.0 or deal.II 9.5.0-pre)
* even though compat.h has `#if DEAL_II_VERSION_GT(9,5,0)` for the compute_no_normal_flux_constraints_on_leve

[2022-10-07 16:04] tjhei commented on #4976
This is how it looks like in compat.h:
https://github.com/geodynamics/aspect/blob/3eef1314235db317da36e76bff00921a404d93d1/include/aspect/compat.h#L84

This mean the implementation is in there if you are **not** using 9.5 (so, 9.3 or 9.4). Starting with deal.II master that is newer than the ASPECT development version, the function is inside deal.II, so ASPECT does not define it.

[2022-10-11 08:16] liumq12 commented on #4535
Thanks for your reply. I try to post it at the website. However, I cannot open the website. I answer questions here. Could you give me some advice?

1-2. detailed.log files from deal.II and aspect are attached.
3. Output information are attached.
4. I install deal.II following the instructions at https://github.com/dealii/dealii/wiki/Apple-ARM-M1-OSX Environment variables setup through the below c

[2022-10-13 18:27] gassmoeller opened #4984 "Possible MPI Deadlock in GMG preconditioner"
As discussed yesterday with @tjhei we (@jdannberg, @RanpengLi and myself) are investigating a problem that looks like a MPI dead lock inside the GMG preconditioner.  We are still working to break it down to a simple model (we currently need 64-128 processes and more than 10 hours of runtime to reproduce). I attach a log.txt and two stack traces of two different processes below.

Observations so fa

[2022-10-14 10:22] anne-glerum opened #4985 "Material models do not check whether `Enable elasticity` is true even if they don't support it"
At the moment, when one sets `Enable elasticity` to true in `Formulation`, while using a Material model that does not support elasticity, ASPECT will crash with an unhelpful error while solving the Stokes solver (see below), instead of throwing a clear error before even starting the timestep. Would it be better to have each Material model check whether `Enable elasticity` is true and then throw, o

[2022-10-14 11:31] anne-glerum commented on #4976
Ah sorry, I see I forgot the `!` in my messages above for compat.h.

But from what you're saying, it should work with 9.4 (which according to my colleague it didn't, but I didn't try that myself).
I also expected it to work with 9.5.0-pre, as that seems smaller than 9.5.0, but that's probably not the case then. (It doesn't seem to be taken into account https://www.dealii.org/developer/doxygen/deal

[2022-10-14 14:26] gassmoeller commented on #4985
I would like to avoid having material models check for all possible new features we introduce in the main code (it may be a growing list). It is equally unsustainable to keep a list of all models that support elasticity in the main code (it removes the idea of plugins that are independent of the main code). I think the right approach is to ask: What does a material model need to do to be able to s

[2022-10-14 15:45] tjhei commented on #4976
9.5.0-pre counts as 9.5.0 and it has to in this case.

9.4 should work because we compile ASPECT with the 9.4 image on each pull request. Let me know if it doesn't.

[2022-10-15 13:56] gassmoeller commented on #4984
Reopening. We do not know yet if #4986 fixes this issue. Github automation was a bit overzealous.

[2022-10-17 02:43] tjhei commented on #4984
I have no suggestion at this point (agree will all of your points). Maybe we are having a problem with an exception.

Maybe @peterrum has an idea...

[2022-10-17 19:40] peterrum commented on #4984
Any idea where the exception is thrown? I guess it the if the collective mutex cause the a deadlock, this means that the content guarded by the mutex causes a problem!?

[2022-10-17 20:45] gassmoeller commented on #4984
My current best  guess is somewhere between [here](https://github.com/dealii/dealii/blob/6fc14594a1a2c0949478bdf53a7325cdf4eb5e3e/include/deal.II/base/mpi_consensus_algorithms.h#L1606) and [here](https://github.com/dealii/dealii/blob/6fc14594a1a2c0949478bdf53a7325cdf4eb5e3e/include/deal.II/base/mpi_consensus_algorithms.h#L1628) (lines 1606-1628). Some processes clearly reach the MPI_IBarrier insid

[2022-10-22 14:34] tjhei opened #4989 "switch to Tpetra"
Also see https://github.com/dealii/dealii/issues/14368

We should try how easy is it to (conditionally, if enabled in deal.II) switch to Tpetra instead of Epetra. This should be easy to do as we have the vector/matrix/etc. types in a central location:
https://github.com/geodynamics/aspect/blob/029548bd742d75a4de27e124f2983adfe54fb58a/include/aspect/global.h#L223

If this works without difficulties

[2022-10-23 03:47] zjiaqi2018 commented on #4989
I added Tpetra, but some functions are not implemented in `LinearAlgebra::TpetraWrappers::Vector< Number > Class`, for example  `
void  reinit (const IndexSet &locally_owned_entries,
                  const IndexSet &ghost_entries,
                  const MPI_Comm &communicator=MPI_COMM_WORLD,
                  const bool vector_writable=false)`

[code]

[2022-10-24 17:12] tjhei commented on #4989
I would suggest we make it work with deal.II master first (before worrying about backwards compatibility). We can always keep using Epetra with 9.3 and 9.4. This way we can just add missing functions to deal.II itself.
@zjiaqi2018 Can you look into this function first? We will probably need some ifdefs around PreconditionML, but everything else should work.

[2022-10-26 12:19] HanyMKhalil opened #4991 "Install Trilions on Macbook pro with ARM m1"
Hi all I followed the instructions to install deal.II and every thing went well I was able to install using the packages:
./candi.sh -j 8 --packages="hdf5 p4est dealii" successfuly
however when I try to install trilions using the line:
./candi.sh -j 8 --packages="trilinos"

I got this error:
ld: symbol(s) not found for architecture arm64
collect2: error: ld returned 1 exit status
make[2]: *** [pac

[2022-10-26 14:24] tjhei commented on #4991
Can you try ``git checkout v9.4.0-r2`` and then run ``candi.sh`` with the same options again? I wonder if I broke the MacOS build with the Trilinos update.

[2022-10-26 14:27] tjhei commented on #4991
I am keeping track of the issue here: https://github.com/geodynamics/aspect/issues/4991

[2022-10-27 08:40] HanyMKhalil commented on #4991
Hi Timo, it works
,
Thanks so much, now after I installed all the libraries how can I proceed to install ASPECT?

To export environment variables for all installed libraries execute:

    source /Users/hanykhalil/dealii-candi/configuration/enable.sh

Build finished in 33 seconds.

Summary of timings:

trilinos: 31 s
Hanys-MacBook-Pro:candi hanykhalil$

[2022-10-27 16:45] tjhei commented on #4991
Now you can follow the normal installation instructions, see https://aspect-documentation.readthedocs.io/en/latest/user/install/local-installation/obtaining.html

[2022-11-01 18:14] tjhei opened #4995 "CPO doxygen warnings"
[code]
@MFraters Can you please take a look?

[2022-11-01 19:45] MFraters commented on #4995
ah, I see the issue. I will make a pull request to fix it.

[2022-11-01 20:07] gassmoeller commented on #4984
Using dealii/dealii#14364 we made some progress in tracking down the problem. Still working on digging deeper, but here is what we know now:

The one exception we have tracked down (there seems to be another one that still happens) is a boost exception that is raised from inside `Utilities::unpack` [in this line](https://github.com/dealii/dealii/blob/d89583ef4d48771ff13caae26c21157ccd8dd96a/includ

[2022-11-02 16:26] mfmweerdesteijn opened #4999 "Time dependent ascii data issue for boundary traction"
I want to use ascii data for the boundary traction on the top surface.
It works well for when I specify 'Data file name' completely, such as 'box_3d_top.0.txt'.
But as soon as I introduce time dependency and use 'set Data file name = box_3d_top.%d.txt' I get the following errors:

`Exception 'ExcMessage (std::string("Ascii data file <") + filename + "> not found!")' on rank 191 on processing:

---

[2022-11-03 09:55] mfmweerdesteijn commented on #4999
I found what went wrong: If you want to have time-dependency, you need to use both %s for the boundary and %d for the file number. So even if there is only one boundary specified at 'Prescribed traction boundary indicators', you cannot use 'box_3d_top.%d.txt', you have to use 'box_3d_%s.%d.txt' for the 'Data file name'. Otherwise 'replace_placeholders' in 'source/structured_data.cc' doesn't do its

[2022-11-03 13:42] tjhei commented on #4984
Yes, de-referencing an empty range is undefined behavior. I will play with this a little bit and report back.

[2022-11-03 14:37] tjhei commented on #4984
I tried compressing an empty ``std::vector<std::pair>`` but it will compress to 53 bytes not to 0 bytes. So, to me it sounds like receiving an empty buffer should be a bug.

[2022-11-06 07:42] HanyMKhalil commented on #4991
Hi Timo,
I followed the instructions and installed ASPECT but I cannot access it, I went inside to create CMAke as follow:

Hanys-MacBook-Pro:debug hanykhalil$ ls
CMakeCache.txt	CMakeFiles
Hanys-MacBook-Pro:debug hanykhalil$ cmake .... -DDEAL_II_DIR=/Users/hanykhalil/dealii-candi/deal.II-v9.4.0
CMake Error: The source directory "/Users/hanykhalil/candi/aspect/debug/...." does not exist.
Specify --

[2022-11-07 13:31] tjhei commented on #4991
This doesn't look right. Try following the instructions from the ASPECT documentation. You also don't need to set the DEAL_II_DIR if you ``source /Users/hanykhalil/dealii-candi/configuration.enable.sh``.

[2022-11-10 17:25] tjhei opened #5002 "do not reinitialize everything after mesh refinement when mesh did not change"
We can easily detect if the mesh did not change during refinement and can skip all of the DoF/matrix/etc setup. This is relevant in at least one example problem, where the only plugin is "minimum refinement function" that very quickly settles on a fixed mesh.

@mfmweerdesteijn : This would save 20-30% of the total runtime for your constant, adaptively refined mesh.
@zjiaqi2018 Feel free to take a

[2022-11-12 13:57] gassmoeller commented on #4999
Hi Maaike, thanks for the report. I looked into the algorithm in `replace_placeholders` and you are right with your interpretation. Because of the way the function is written, we correctly handle three cases for the name of the file: 1. Do not specify any placeholder ('box_3d_top.0.txt' as you mentioned above). 2. Specify both placeholders in the order `boundary name` - `time step` (as in 'box_3d_

[2022-11-20 11:59] gassmoeller commented on #4995
fixed by #4997

[2022-11-20 11:59] #4995 closed