[2017-05-18 03:40] Shangxin-Liu commented on #1742
I need to put the comment in the simulator_access.h header file, yes? @bangerth

[2017-05-18 13:00] bangerth commented on #1742
Put the declaration of the function (with the documentation comment) into the header file, and the implementation of the function into the source file.

[2017-05-18 14:49] Shangxin-Liu commented on #1742
OK. A pull request was already created.

[2017-05-19 15:18] gassmoeller commented on #1742
Closed by #1747

[2017-05-19 15:18] #1742 closed

[2017-05-20 01:29] Shangxin-Liu opened #1758 "Physical variables stored in "topo_vector" returned by calling dynamic topography postprocessor in geoid code"
Hi Ian, @ian-r-rose

I noticed that in the new geoid code's dynamic topography function that directly calls dynamic topography postprocessor, "topo_vector" is the vector returned by dynamic topography postprocessor, and then "topo_values" is evaluated at each quadrature points at the cell's boundary face from that. The "topo_values" is further stored into the surface and CMB dynamic topography dat

[2017-05-20 01:36] gassmoeller commented on #1549
Closed by #1695

[2017-05-20 01:36] #1549 closed

[2017-05-20 01:37] gassmoeller commented on #1658
Closed by #1752. @joeschools this could be helpful for testing the melt tracers.

[2017-05-20 01:37] #1658 closed

[2017-05-20 01:41] gassmoeller commented on #1638
Closed by #1646 and #1633.

[2017-05-20 01:41] #1638 closed

[2017-05-20 01:51] gassmoeller commented on #1623
Closed by #1639

[2017-05-20 01:51] #1623 closed

[2017-05-20 02:27] gassmoeller commented on #1178
Closed by #1522.

[2017-05-20 02:27] #1178 closed

[2017-05-20 02:52] ian-r-rose commented on #1758
The dynamic topography is stored in the temperature component. The suface
stress vector is stored in the vector component. Both are in the units that
the rest of the model uses. Most of the time that will mean that dynamic
topography is in meters.
On Fri, May 19, 2017 at 6:29 PM Shangxin Liu <notifications@github.com>
wrote:

[2017-05-20 03:39] Shangxin-Liu commented on #1758
In the dynamic topography part of geoid code, I see that you evaluate the "topo_values" from "topo_vector" by the line 239:
fe_face_values[this->introspection().extractors.temperature].get_function_values(topo_vector, topo_values);

and the "topo_vector" is obtained by calling dynamic topography postprocessor in the line 170:
const LinearAlgebra::BlockVector topo_vector = dynamic_topography->topog

[2017-05-20 03:47] Shangxin-Liu commented on #1758
Ok. Maybe I got this. In your dynamic topography code,

At the line 328, "distributed_topo_vector" is reassigned by true dynamic topography in meter of each face_dof_indices.

distributed_topo_vector[ face_dof_indices[i] ] = dynamic_topography * (backward_advection ? -1. : 1.);

And later in line 380 and 381, "topo_vector" is further reassigned by the true dynamic topography in meter from "distrib

[2017-05-20 18:25] ian-r-rose commented on #1758
Yes, that is right. The `distributed_topo_vector` is a fully distributed vector, which is used in the solve for hte CBF system. After the solve is done, we copy it into `topo_vector`, which is the same thing but includes locally relevant DoFs.

[2017-05-20 19:31] Shangxin-Liu commented on #1758
And what does the line 380 mean?
**distributed_topo_vector.compress(VectorOperation::insert);**
including the locally relevant DoFs?

In the dynamic topography part in geoid code, does the line 239
**fe_face_values[this->introspection().extractors.temperature].get_function_values(topo_vector, topo_values);**
means the interpolation from "topo_vector" to "topo_values" of each quadrature point on th

[2017-05-22 14:17] bangerth commented on #1530
Fixed now.

[2017-05-22 14:17] #1530 closed

[2017-05-23 17:12] gassmoeller opened #1767 "Refactor some material model functions"
A number of material models (at least `DiffusionDislocation`, `ViscoPlastic`, and `DynamicFriction` implement the functions `compute_volume_fractions`, and `average_value`. These can be moved into the `Utilities` namespace, or into the `Interface` class to avoid code duplication.

[2017-05-25 13:10] bangerth opened #1773 "Dynamic friction model has off-by-one-bug"

[2017-05-25 13:15] bangerth commented on #1773
The dynamic_friction model has a bug (I believe) with this piece of code around line 92 (with my minor change in #1772):
[code]
Note how we run the loop index `i` all the way up to `mu_s.size()` (by comparing with `<=` instead of `<`), setting the size of the various arrays to `mu_s.size()`, and then indexing with `[i]`. This means that we are accessing the element past the end.

I believe that th

[2017-05-25 13:19] bangerth opened #1774 "Dynamic friction model has funny code"
More about the dynamic friction model. In `compute_viscosities()`, it has this piece of code around line 123:
[code]
Here, in the `if`-`else` branches, we set `viscosities[i]`. But then, we immediate overwrite the just-computed values with something else. Is this really what we want?

Related to #1728. @alarshi / @naliboff ?

[2017-05-25 13:19] bangerth commented on #1773
Related to #1728.

[2017-05-25 15:48] bangerth opened #1775 "Introduce a plugin Manager base class."
As discussed in #1771, we have accumulated a good number of `Manager` classes. They all have a number of functions that are really just boilerplate and could be merged into a base class.

[2017-05-25 16:11] bangerth opened #1776 "Accelerate compilation by dropping header files"
`simulator_access.h` has all of this at the top:
[code]
But we don't actually need this -- we'd be much better off if we just did a forward declaration of the various interface and manager classes.

[2017-05-25 16:15] bangerth commented on #1674
Fixed by #1693 and follow-ups listed there.

[2017-05-25 16:15] #1674 closed

[2017-05-25 17:12] bangerth opened #1778 "Remove SimulatorAccess base class from plugins that don't need it"
As the pictures in #1777 show, by now essentially all plugins are derived from `SimulatorAccess`. But this seems unnecessary -- I suspect that most plugins actually do not really this derivation. We should remove it if we can.

One way to figure out whether this is so is to test whether a plugin's `.cc` file has the text `this->` in it. If it doesn't, it isn't accessing any of the member functions

[2017-05-25 18:57] naliboff commented on #1774
The original intent was to have an option where the user can select to rescale the viscosity at all points onto the yield surface ( `viscosities[i] = strength[i] / ( 2.0 * std::sqrt(strain_rate_dev_inv2) )` ) or only rescale points that that are above the yield strength. Thank you for the reminder ;). For now I've removed the option for modifying viscosities only above the yield strength, but this

[2017-05-25 18:58] naliboff commented on #1773
Indeed, this is now addressed in #1779. Cheers.

[2017-05-25 21:08] #1773 closed

[2017-05-25 21:08] #1774 closed

[2017-05-26 03:48] bangerth commented on #1778
On actually looking, I can't find any plugins whose implementation does not use `this->` and that are derived from `SimulatorAccess`. We may actually have been careful with this in the past -- who knew!

[2017-05-26 03:48] #1778 closed

[2017-05-30 15:59] bangerth commented on #1667
This can now be closed.

[2017-05-30 15:59] #1667 closed

[2017-05-30 16:00] bangerth opened #1787 "Create, update and use the graph of all plugins"
As a follow up to #1667 and #1777, the graph so generated should be:
* Automatically generated at the same time as we update `parameters.tex`
* Hooked into the manual at some point or other.

Will work on that on occasion.

[2017-05-30 16:27] gassmoeller opened #1788 "Unify readme files"
A part of #1478 that is not yet addressed is the multiplication of information in:
- README.md (the file that forms the homepage of the github repository, but also acts as readme)
- readme.html (a copy of the readme on ASPECT's webpage)
- http://aspect.dealii.org/ReadMe.html (the readme on the webpage)

I would argue for either removing the readme.html in the repository (moving all of the informat

[2017-05-30 16:28] gassmoeller opened #1789 "Self-gravity"
It would be nice to have a gravity model that computes the gravity based on the current distribution of mass in the model. I am not working on this personally, but would be interested in using it :smile:. This issue is mostly a reminder for the open project listed in the todo.html file (that will be removed).

[2017-05-30 16:37] ian-r-rose commented on #1789
I did some work on that a couple of years back. The main difficulty is the boundary conditions. Poisson's problem has a boundary condition of zero potential at infinity, whereas we need to apply boundary conditions to the boundary of the domain. There are three main approaches to this:

1. Brute force integration of the Green's function solution. I wrote one of these that I gave to @cedrict at the

[2017-05-30 16:50] bangerth commented on #1789
@ian-r-rose, do you count the expansion in spherical harmonics as a `O(n log n)` approach?

[2017-05-30 16:55] ian-r-rose commented on #1789
I count that as technically quadratic, but in practice it is more of a `O( m n )` approach, where `n` is the number of quadrature points, and `m` is the expansion degree. In theory you could have `m \approx n`, but in practice `m << n`.

[2017-05-30 17:04] bangerth commented on #1789
OK.

There are also absorbing boundary conditions to the Poisson equation that allow just integrating the usual Laplace matrix (`O(n)`) plus a dense block on the boundary that couples all dofs on the boundary (`O([n^((d-1)/d)]^2)`, i.e., `O(n^(4/3))` in 3d).

[2017-05-30 17:06] ian-r-rose commented on #1789
Interesting. Is that similar to the boundary element method?

[2017-05-30 17:15] bangerth commented on #1789
The idea is basically the following: if you know the values of the gravity potential on a sphere, you can write down analytically what the potential is everywhere outside because the outside has no sources (=matter). You can then evaluate the normal derivative on the sphere of that potential. In other words, it is not very complicated to map the Dirichlet values of the gravity potential to the Neu

[2017-05-30 17:21] gassmoeller opened #1791 "Download page is outdated"
http://aspect.dealii.org/download.html still links to https://github.com/geodynamics/aspect/releases/download/v1.4.0/aspect-1.4.0.tar.gz as the latest ASPECT release. It should probably link to https://github.com/geodynamics/aspect/releases/latest instead, that way we do not need to update it every release.

[2017-05-30 17:21] bangerth commented on #1789
...of course, we don't know `u`, so we can't put `(v, \Lambda u)_\Gamma` on the right hand side as we usually do with the Neumann term if we prescribe Neumann boundary conditions. But we can leave it on the left hand side instead, and it then becomes part of the system matrix with terms of the form `(\phi_i, \Lambda \phi_j)_\Gamma`.

[2017-05-30 17:23] gassmoeller commented on #1459
Closed by #1478.

[2017-05-30 17:23] #1459 closed

[2017-05-30 17:24] bangerth commented on #1791
Fixed version should be up in a few minutes.

[2017-05-30 17:28] #1788 closed

[2017-05-30 17:35] #1791 closed

[2017-05-30 17:46] gassmoeller commented on #1791
Thanks!

[2017-05-31 21:18] #1776 closed

[2017-05-31 22:00] gassmoeller commented on #1538
Resolved in a whole bunch of pull requests by @alarshi. Thanks!

[2017-05-31 22:00] #1538 closed

[2017-05-31 22:05] gassmoeller commented on #1558
Addressed by #1596, #1689, and #1722. Thanks @pmbremner and @ian-r-rose.

[2017-05-31 22:05] #1558 closed

[2017-05-31 22:18] bangerth commented on #1538
Yay!

[2017-06-01 14:21] #1787 closed

[2017-06-01 15:05] tjhei opened #1801 "sort items in plugin-graph"
When running ``update_parameters`` a large diff shows up, because the entries inside the dot file are not sorted and depend on the order of static initialization. This makes it hard to see if there were any changes that need to be committed. Maybe we can sort the plugin list by name?

[2017-06-01 15:06] tjhei commented on #1801
Also see #1795 for a comment about this issue.

[2017-06-01 15:27] tjhei commented on #1801
While we are working on this: I am not happy with having a 4mb .png binary inside the repository that we need to update regularly (monthly?) and that will generate a large diff each time. This will blow up the size of the repo significantly. Options around this:
1. regenerate when compiling the manual from the .dot (all users would need graphviz installed)
2. choose a graphics format that is text

[2017-06-01 16:47] bangerth commented on #1801
`graphviz` can generate both pdf and svg, but I haven't found a way to include the svg into the manual. But that doesn't matter much because the svg is also larger:
[code]
(It is plain text, but mostly numbers that will change everytime we re-create the svg; so the diff will still be large.) Patch coming up soon.

[2017-06-01 16:53] bangerth commented on #1801
I'll add that there appear to be ways to include svg into latex, but they seem to require calling pdflatex with additional options, require packages outside latex to be installed, etc. Not a good solution apparently.

[2017-06-01 19:45] tjhei commented on #1801
Yes, the only other option is converting svg using inkscape (https://tex.stackexchange.com/a/2107) but this still generates a pdf with the shapes (that turns out to be larger than the directly written .pdf). Not great.

[2017-06-01 19:46] #1801 closed

[2017-06-01 19:51] bangerth commented on #1801
Yes, that's what I meant. But it implies that you have to have inkscape on your system, and that you have to call pdflatex with a special flag.

[2017-06-06 19:04] jdannberg opened #1810 "More general initial condition plugin from seimic tomography"
Create an initial condition plugin that reads in common format(s) of seismic tomographic models.

[2017-06-07 07:31] jaustermann commented on #1810
I think @pmbremner is thinking about this as well. I guess the question is: what is the common format of seismic tomographic models?

[2017-06-07 14:31] pmbremner commented on #1810
I'm actually back from all my travels now, and starting work on this again. What I'm doing so far is making a new plugin based on Ritsema's S40RTS that is more general. The most common formats for seismic velocity models that I've run into (my stuff and from other people) are spherical harmonics, some sort of splines, or ascii grid points in lat/lon or Cartesian. These are just the velocities, tho

[2017-06-07 19:24] gassmoeller commented on #1810
I am not sure a function in the input file is a good way to include the velocity - temperature conversion. Often there will be no analytic function, but rather only a list of values for different depths. What about allowing a separate file of the same format we use for the burnman cookbook (essentially with two columns, depth and conversion factor). Then you can reuse the `Utilities::AsciiDataLook

[2017-06-07 19:59] pmbremner commented on #1810
Having a separate file is an interesting approach. That allows the user to input the seismic model as is and the flexibility to test different conversion factors. I don't know how expensive that would be, but doesn't it only happen once at the beginning?
Also, the S40RTS plugin is not very flexible as is, which is the part I'm trying to change about it. But I'd actually be in favor of just a singl

[2017-06-07 20:02] bangerth commented on #1810
Would it make sense to separate (i) reading the seismic velocities from files using different conventions, and (ii) specifying how to convert seismic velocities into material properties using different conversion strategies? It seems to me that these two things are separate conceptually, and probably ought to be represented through separate parts of code.

[2017-06-07 20:18] pmbremner commented on #1810
I was about to write this: "But they aren't fully independent of each other. The need for a conversion strategy comes from using seismic velocities. To the user they go together."
But as I was writing I realized that separating them could open the door to inputting other observables like EM methods (magnetotellurics for example) without much more code. Although I'm not sure that inputting these ot

[2017-06-09 05:08] Shangxin-Liu opened #1812 "Possible inconsistency between polynomial degree of topo in geoid code and dynamic_topography code?"
This has been discussed with Rene during GRC. In dynamic topography code, the stress_support_values which is used to calculated topography uses temperature polynomial degree (cf line 223 in dynamic topography code). However, in geoid code topo_values is set up from veolocity polynomial degree (cf line 181 in geoid code).  Will this cause a certain inaccuracy in the later interpolation from dynamic

[2017-06-09 05:14] ian-r-rose commented on #1812
I think I discussed this with Rene during the Hackathon. My feeling was that as long as they are both interpolating elements, it should be fine. The accuracy is probably limited by the pressure solution, so I as long as the velocity and temperature elements are at least the same order as that, then accuracy should not suffer too much.

I placed the dynamic topography solution in the temperature co

[2017-06-09 05:15] ian-r-rose commented on #1812
That being said, I have not performed much testing on the accuracy of that choice, and would be curious to see some if you feel compelled to do so.

[2017-06-09 05:30] bangerth commented on #1812
That should be easy to try out -- by default both the velocity and temperature use quadratic elements, but it is easy to reduce the temperature element to linear polynomials. Give that a shot and see whether it makes any kind of difference.

Conceptually, the stress is a derivative of the velocity, so it should be of one polynomial degree less than the velocity. In other words, my intuition would

[2017-06-11 05:18] Shangxin-Liu commented on #1812
It seems that if we really want to make a change, the most convenient way is to set the topo_values in geoid code also from temperature polynomial degree to be consistent with Ian's topography code. I'll firstly give a trial to see how different if the velocity and temperature use different polynomial degree in the current code.

[2017-06-12 14:15] jaustermann commented on #1810
I think having the option to read in a list [depth, conversion factor] would be a worthwhile addition, I've done something like that for some of my runs (e.g. by following the internal::S40RTS::SphericalHarmonicsLookup format). I agree with Wolfgang that I think about these two things (read in s wave velocity and converting it to density perturbations) as two separate steps.

I think having the op

[2017-06-15 08:57] jaustermann opened #1814 "Issues with linear solver convergence due to choice of Reference viscosity"
I've had some issues with choosing the "right" reference viscosity (in models with varying viscosity) in order to get convergence of the linear system and was wondering if there might be some way of improving this. I've found that the choice of the reference viscosity strongly determines the convergence behavior of the linear solver. I assume that is because the reference viscosity is used to prec

[2017-06-20 21:02] gassmoeller opened #1818 "Advertise candi as default installer?"
Our local installation section in the manual is out of date (e.g. it recommends deal.II 8.4, which is not longer supported), and while I am willing to rewrite that section I thought it is also time to discuss if we should advertise candi (https://github.com/dealii/candi) as the new default installer.

As far as I know @tjhei , @egpuckett and @hlokavarapu use candi already for different purposes, a

[2017-06-21 10:21] bangerth commented on #1818
Yes!

[2017-06-22 12:51] tjhei commented on #1818
In general: yes. The more people use candi, the more robust it will become. Manual installation of packages is just too tedious.

If you specify the packages manually (as you do above), do you still get the packages that the platform requires?

Regarding an ``aspect`` package inside candi: I am not sure if this is the easiest way to go, because most of us want to develop with aspect, so the direct

[2017-06-22 22:48] class4kayaker opened #1822 "Major error with AMR mesh for DG problems"
When a mesh boundary is refined using AMR, the ties to periodic neighbors appear to be lost. Note that the problem does not appear to occur if the refinement is done during the pre-refinement step, but does occur when refined later.

I would need to look closer at the problem/look deeper into the implementation to identify the source of the issue, but the nature of the issue results in significant

[2017-06-22 23:39] yinghe616 commented on #1822
@class4kayaker  During hackathon, I only checked the DG periodic case with a uniform mesh but not on ARM, and also only checked AMR algorithm with composition approximate gradient criterion when using discontinuous composition (doesn't have to be used for DG method) for non-periodic cases. Yes, it seems the AMR mesh doesn't work well for DG method based on the parameter file you provided. I think

[2017-06-23 01:17] yinghe616 commented on #1822
@class4kayaker I looked at the code, it  seems to me that the periodic boundary setting is fine for the DG method; then I tried to use finer mesh and a larger value refinement fraction number, I can see some nonzero values appear at the periodic boundary in the top of the box at a later time. I think it verified that the codes at least can recognize the periodic boundary and assign some values. Ho

[2017-06-23 01:50] bangerth commented on #1822
@class4kayaker -- I don't have the time right now to look at it myself, but as a starting point for anyone who wants to look into this: can you attach pictures to this issue that show what is happening? Oftentimes, looking at pictures already gives a hint of what may be happening, and we may be able to suggest a place to go look next.

[2017-06-23 02:50] class4kayaker commented on #1822
Sure, the issue is that for whatever reason a periodic boundary is not being used. The attached parameter file does not produce the relevant error using a continuous composition field, but if changed to use a discontinuous composition field the error occurs.

Ying, I do not believe the issue is with your code specifically, but rather with the AMR mesh update somehow not preserving the periodicity

[2017-06-23 03:08] bangerth commented on #1822
Thanks for the picture. It's clear something is wrong.

The periodicity in deal.II is handled at the level of the triangulation. If there was a bug there, it would also show up if you had a continuous finite element. Did you try that? Otherwise, it must have something to do with the construction of DG fluxes.

[2017-06-23 03:36] class4kayaker commented on #1822
As I noted, I tested with a continuous finite element, and the problem did not occur. I have attached second test problem using standard Aspect which will show the same behavior from parts of the VoF test run that suggested the issue is not with the flux construction code (assembly) but likely to be an issue with the triangulation data. In particular, when the boundary is initially refined and unc

[2017-06-23 03:53] yinghe616 commented on #1822
For continuous element, the periodicity is enforced strongly by the
constrained matrix (so the inconsistent of refinement levels between top
and bottom boundaries may not cause any trouble). For discontinuous
element, the periodicity is enforced weakly by flux calculations, upwind
for this case (so the inconsistent refinement levels may cause such
behavior. Note, the cells near the top boundary sh

[2017-06-23 08:21] yinghe616 commented on #1822
@class4kayaker @bangerth  there is indeed a bug in the DG flux construction on the AMR grid. See detail in the PR #1823 I'll continue to work on fixing it.  Thanks @class4kayaker to bring this question.

[2017-06-23 15:44] tjhei opened #1824 "install data/ and adapt ASPECT_SOURCE_DIR"
An installed ASPECT binary still resolves ``ASPECT_SOURCE_DIR`` in .prm files as the source directory that was used to build from.

Fix this as discussed in #1816, probably by installing an aspect.cfg file next to the binary.

[2017-06-23 20:14] class4kayaker commented on #1822
Looking into the VoF implementation, and it looks like Ying has correctly diagnosed the issue. I believe I was somewhat confused due to the initial refinement sidestepping the issue by maintaining consistent refinement levels.

[2017-06-27 03:30] bangerth opened #1828 "We need a subduction cookbook"
I must have been asked by half a dozen students today how to set up a subduction example. I don't think we have a cookbook on this, but I think it would be useful to show how to
* set up the initial temperature model
* set up the material models of the slabs and mantle
* etc

I don't think the example needs to be as complicated as some that have been done, for example by @anne-glerum , but it woul

[2017-06-27 03:53] naliboff commented on #1828
Absolutely, this would definitely be useful for a lot of people. A student and I are currently working subduction models, so it is fresh on the mind and happy to help on this front.

Perhaps a combination of a simplified cookbook (linear rheology) and a benchmark example (non-linear)? There are certainly tons of examples to choose from in the literature.

@anne-glerum @MFraters - Does this sound l

[2017-06-27 07:11] bangerth commented on #1828
Yes, something simple is totally enough. The point is mostly to illustrate the WORKFLOW: how do you set up initial temperature fields, how do you set up material models, both of which should be faithful to some slab geometry.

Having never done this, all I could think of is to describe the geometry of plared via a sequence of if-else statements, or via geomIO.

[2017-06-27 08:16] anne-glerum commented on #1828
Agreed!
At the moment I'm finishing up the repository with the input files and plugins that go with the paper on plasticity and subduction. These include:
- two 2D linear subduction benchmarks (Schmeling et al. 2008)
- two 2D and 3D viscoplastic subduction models with and without temperature- and strainrate dependence of viscosity
Perhaps we can build on these for a cookbook?

[2017-06-27 20:13] naliboff commented on #1828
Agreed as well, the workflow for setting up the initial conditions really is the most important part for users new to modeling subduction (or modeling in general).

@anne-glerum - I completely forgot about the models associated with your paper. I imagine this will be enough for most users to get started and then a cookbook can be used to fill in any gaps or missing steps for a specific type of set

[2017-06-27 22:49] ljhwang opened #1829 "ASPECT Jupyter Notebook for review"
I have beta for my hack project and would appreciate reviewers for content as well as typos.
Suggestions for a repo are welcome as well.

[ASPECT_Jupyter_v0.pdf](https://github.com/geodynamics/aspect/files/1107053/ASPECT_Jupyter_v0.pdf)

[2017-06-28 20:00] ljhwang commented on #1829
Testers welcome:

ljhwang/ASPECT-Jupyter

[2017-06-28 23:46] Shangxin-Liu opened #1831 "Random "Assertion `curr_LID!=-1' failed" error"
When we run some time-dependent simulations on our cluster, sometimes ASPECT randomly fails with this error:

_aspect: /home/shangxin/newriver/sources/trilinos-11.4.3-Source/packages/epetra/src/Epetra_BasicDirectory.cpp:633: int Epetra_BasicDirectory::GetDirectoryEntries(const Epetra_BlockMap&, int, const int_type*, int*, int*, int*, bool) const [with int_type = int]: Assertion `curr_LID!=-1' fail

[2017-06-29 13:15] bangerth commented on #1828
Great, let's wait for @anne-glerum then. I'm happy to help with the writing of that section if that helps. As I mentioned before, it is not necessary to have something super realistic (though there is also nothing wrong with that). The main point should be to lay out what steps one has to take, and how one would go about that.

@anne-glerum -- let us know once you have something you'd like to shar

[2017-06-29 13:20] bangerth commented on #1831
Good question. I haven't seen anything like this before, but then I don't often run large simulations. I don't really know what to suggest -- we know that your cluster has had problems before, but I've also been long enough in the software business to know that it may nevertheless be a problem on our side. It is awkward for sure that the problems you see only happen occasionally. How many processo

[2017-06-29 14:18] bangerth commented on #1822
This relates to #1522.

[2017-06-29 15:11] bangerth commented on #1822
@class4kayaker -- just as a follow-up to explain why I knew that the problem must be in how we compute the flux terms: If the problem does not exist with continuous elements, then apparently the triangulation got it right in marking which cells are periodic neighbors of which other cells. Because if the triangulation had gotten that part wrong, then the continuous element case could not possibly h

[2017-06-29 19:07] Shangxin-Liu commented on #1831
Hi Wolfgang,

Before I answer your question, I have a bunch of other observations regarding this issue.

Last night, I had several other cases failing with the similar issue but not exactly the same error message. I think we can firstly exclude the possibility of "out-of-memory" overflow because my test that has the total RAM 6-7 times larger than the DoFs limits also randomly runs into this error

[2017-06-30 07:27] wkillers opened #1832 "Problems when install trilinos with BLAS!!!"
Hi,

**I download the trilinos-11.4.3 which is required according to the ASPECT manual. When I configured it with cmake there is a problem arise:**
`[wangym@ln01 build]$ cmake -DTrilinos_ENABLE_Amesos=ON -DTrilinos_ENABLE_Epetra=ON -DTrilinos_ENABLE_Ifpack=ON -DTrilinos_ENABLE_Aztec00=ON -DTrilinos_ENABLE_Sacado=ON -DTrilinos_ENABLE_Teuchos=ON -DTrilinos_ENABLE_MueLu=ON -DTrilinos_ENABLE_ML=ON -DT

[2017-06-30 08:42] #1832 closed

[2017-07-03 09:10] Lydia823 opened #1834 "adding one parameter in the S20RTS.prm makes mistake"
After just adding one parameter that 'set Output data in geographical coordinates = true' followed after the parameter 'set List of postprocessors =...', there appeared errors, like this
`dell.19851hfi_wait_for_device: The /dev/hfi1_0 device failed to appear after 15.0 seconds: Connection timed out
dell.19848hfi_wait_for_device: The /dev/hfi1_0 device failed to appear after 15.0 seconds: Connectio

[2017-07-03 13:41] tjhei commented on #1834
This is the problem:
``
Line <118> of file <input string>: No entry with name <Output data in geographical coordinates> was declared in the current subsection.
``
You are setting a parameter that doesn't exist. It needs to be in the correct subsection (``Geoid`` I believe).

[2017-07-03 13:42] tjhei commented on #1834
I am closing the issue. Feel free to open it or ask on the mailing list if you have further problems.

[2017-07-03 13:42] #1834 closed

[2017-07-03 21:55] bangerth commented on #1832
@wkillers -- did you figure it out yourself?

[2017-07-04 00:33] wkillers commented on #1832
yes, I just change "-DBLAS_LIBRARY_NAMES:STRING=/home/wangym/software/lapack-3.7.0/librefblas.a" to "-DTPL_BLAS_LIBRARIES:FILEPATH="/home/wangym/software/lapack-3.7.0/librefblas.a"", and also similar change for lapack library path, and then every goes well.

Thanks.

[2017-07-04 14:04] heronphi opened #1835 "Davies et al benchmark test"
The Davies et al benchmark test looks to be a good test to see whether the solvers are working correctly. There is a table in the manual (Table 7) with values that can be compared to your model run, to make sure the executable is behaving correctly (and indeed aspect have been compiled properly).

However, the case-*.prm examples in the benchmark folder are not set up to reproduce Table 7 (they re

[2017-07-05 17:36] gassmoeller commented on #1835
Hi Phil,
I never ran those benchmarks (maybe someone else can comment on what to change in the input files), but I can not reproduce your error message, using different setups (recent master of aspect, deal.II developer version and deal.II 8.5, case-1-1.prm, global refinement 7, 16 or 40 processes, debug or release mode). At least the model runs through the first 50 timesteps or so. Could you spec

[2017-07-05 21:54] gassmoeller commented on #1814
Hi Jacky,
sorry for the late reply. The topic is a bit involved, I also had to read myself into it again.

First a clarification: The reference viscosity is not really used to *precondition* (at least not in the sense of a preconditioner), it is used to *scale* the pressure solution and corresponding matrix block compared to the velocity block (more precisely the pressure scaling is reference visc

[2017-07-06 05:36] Lydia823 opened #1836 "how to synthesize spherical harmonic coefficients into geoid"
what formula to use to synthesize spherical harmonic coefficients of density anomaly contribution or surface dynamic topography contribution or CMB dynamic topography contribution computed from aspect , parameters set according to manual of page 368-369?

[2017-07-06 13:16] heronphi commented on #1835
Hi Rene,

Did you try case-2-1.prm? case-1-1.prm actually ran (with global refinement 7 on 32 proc), but did not obtain the same Nu values. Could you (or anyone) run case-2-1.prm with global refinement 7 to see if it fails on the first tilmestep? I suspect my aspect build is not correct:

module load module-git gcc/4.9.1 cmake/3.6.2 blas/gcc/64/1 lapack/gcc/3.1.1 zlib/gcc/1.2.7 sge/current openmpi

[2017-07-06 14:08] gassmoeller commented on #1836
@Shangxin-Liu you can probably answer this best. Is there a good paper that contains the equations?

Apart from that Lydia if you are looking for a spatial visualization of the geoid you can use the visualization/geoid postprocessor (as opposed to the normal geoid postprocessor) to output the geoid in the same dataset as the rest of the solution (and visualize with Paraview or however you currentl

[2017-07-06 15:10] gassmoeller commented on #1835
Hi Phil,
I was able to reproduce the issue in case-2.1.prm. The benchmark still uses our old method of scaling gravity vs thermal expansivity and it seems its scaling is too extreme (very large static pressures compared to dynamic pressures). I am not sure why it worked some time in the past, but reducing the gravity by 3 orders of magnitude and increasing the thermal expansivity by the same amoun

[2017-07-06 17:20] gassmoeller commented on #302
I did not observe this behavior in any model so far, and we do not have a way to reproduce it. I will close this issue. Feel free to reopen if anyone has an example case for this.

[2017-07-06 17:41] gassmoeller commented on #366
Related to #1818 and #1821. When we advertise candi as default installer, whatever version is used by candi will be the default version. I also added a paragraph to the new install section, therefore this issue can be closed when #1821 is merged.

[2017-07-06 17:46] gassmoeller commented on #581
Since this issue is stale I suppose we are fine with the current state of duplication (I do not mind)? I will therefore close this issue. Feel free to reopen more specific issues about individual points to improve.

[2017-07-06 17:46] #581 closed

[2017-07-06 18:10] gassmoeller commented on #703
I more or less convinced myself that the above reported behavior is expected (and I do not longer have the model to reproduce it). In our main loop we calculate the length of the next timestep before saving the checkpoint, and then use the saved timestep length after restarting for the next timestep. In the example I mentioned above we changed the velocity boundary conditions during the restart an

[2017-07-06 18:20] gassmoeller commented on #897
This is now possible using a signal mechanism (see #1187). While it is not implemented for the Crameri benchmark (that one uses a modified geometry model right now) it is possible for 'normal' box models. I will therefore close this issue.

[2017-07-06 18:20] #897 closed

[2017-07-06 18:23] gassmoeller commented on #831
I think our agreement is that it is possible to make the existing algorithm 4th order in space by increasing the velocity element degree, and making it 4th order in time would require a rewriting of the whole ASPECT time integration scheme, with limited knowledge what would happen to all other parts of the code, so I will close this issue for now.

[2017-07-06 18:23] #831 closed

[2017-07-06 18:37] gassmoeller commented on #1002
I agree with Wolfgang's comment. The nonlinear solver scheme should determine, which equations to assemble and solve. I think you were looking for a scheme that only assembles and solves composition and stokes, but not temperature. That currently does not exist, but could be created, and in particular when we finally tackle #972 and #1279 this should be easy. I am closing this issue for now.

[2017-07-06 18:37] #1002 closed

[2017-07-06 18:48] gassmoeller commented on #1271
@naliboff any news on the installation on stampede? Is this issue closed?

[2017-07-06 18:53] gassmoeller commented on #1532
Closed. We have a section about installing Qt4 in the manual now, and also the newest version of parameter-gui runs also runs with Qt5.

[2017-07-06 18:53] #1532 closed

[2017-07-06 19:46] gassmoeller commented on #1690
Hi Jacky,
if you are still interested in this, I think it should not be too hard to implement. I could imagine a parameter in the mesh refinement section called `Skip initial adaptive refinement solves`, which contains documentation that it is only save to set this to true if the refinement criteria are independent of the solution. Then one would only need to modify core.cc:2309-2314 to include a

[2017-07-06 19:54] gassmoeller commented on #1758
Hi Shangxin,

line 380 makes sure that all entries for values in ghost cells are communicated correctly between processor boundaries (also see http://dealii.org/developer/doxygen/deal.II/classLinearAlgebra_1_1distributed_1_1Vector.html#a80ce97e2d5d009dd79b2366f8d93ba28).

fe_face_values[this->introspection().extractors.temperature].get_function_values(topo_vector, topo_values);
means the interpola

[2017-07-06 19:59] gassmoeller commented on #1812
I agree with Shangxin. Because the degree of quadrature for the geoid postprocessor is somewhat arbitrary, we might as well choose the same degree as the dynamic topography postprocessor to make it consistent. So using the temperature_degree instead of the velocity_degree for the geoid postprocessor makes sense (and they are the same most of the time anyway). @Shangxin-Liu: do you want to open a p

[2017-07-06 20:01] gassmoeller commented on #1818
You are right the suggestion above overwrites config files. Lets postpone that idea then, and simply use candi to install deal.II. I have rewritten the install instructions in #1821, and will close this issue for now, as it seems we generally agree on using candi.

[2017-07-06 20:01] #1818 closed

[2017-07-06 20:08] Shangxin-Liu commented on #1812
Yes. Since the density also comes from temperature terms, I guess it would be better if we can also change the polynomial degree of density contribution part to use temperature instead of velocity, yes? @gassmoeller

[2017-07-06 20:18] Shangxin-Liu commented on #1836
Hi Lydia,

The geoid code output spherical harmonics of density, surface topography, and CMB topography contribution in dimensional form with 4*pi*G/(surface gravity) prefactor. One of documents clearly shows this equation is equation (7) in the paper
http://www.sciencedirect.com/science/article/pii/S0031920113002057

[2017-07-07 00:33] Lydia823 commented on #1836
Dear Shangxin,
Thanks for your advice of the paper, i have downloaded it and will read it carefully.

-----原始邮件-----
发件人: "Shangxin Liu" <notifications@github.com>
发送时间: 2017年7月7日 星期五
收件人: geodynamics/aspect <aspect@noreply.github.com>
抄送: Lydia823 <rhcui@asch.whigg.ac.cn>, Author <author@noreply.github.com>
主题: Re: [geodynamics/aspect] how to synthesize spherical harmonic coefficients into geoid

[2017-07-07 00:37] ian-r-rose commented on #1836
@gassmoeller You are right about the `execute()` function. I think that the synthesis step should still be clearly documented in the manual, since there are an unfortunate number of spherical harmonics normalizations in the literature.

[2017-07-07 00:46] Lydia823 commented on #1836
@gassmoeller Thanks for your good advice, i will look carefully of that in geoid.cc.

[2017-07-07 01:09] Shangxin-Liu commented on #1836
As we discussed in the hackathon, it would be better to put the spherical harmonic synthesis (back and forth) into utilities.cc because in the future we may need to enable ASPECT to transfer other variables like velocity etc to spherical harmonic domain in the post processing. But we need to choose a universal format for this. I think the current format of normalization is a pretty commonly used o

[2017-07-07 01:12] ian-r-rose commented on #1836
Unfortunately, at least three conventions are commonly used (geodetic, Schmidt, and fully normalized). The one we are using (fully normalized) is the best, I think.

I agree that it should probably be in `utilities.cc`, ultimately.

[2017-07-07 01:13] naliboff commented on #1271
@bangerth, @gassmoeller  - sorry, missed this message on April 25. Yes, ok to close this issue as stampede1 is no longer in service and Harsha has successfully compiled on Stampede2. If there are issues with the scaling tests and compiler options on Stampede2 we can start a new conversation.

[2017-07-07 01:15] Shangxin-Liu commented on #1836
Yeah, the fully normalized one we use is very common in seismology (except S40RTS:-))

I personally think this should be the future universal format in ASPECT. @gassmoeller @ian-r-rose

[2017-07-07 01:24] Shangxin-Liu commented on #1831
Some updates on this: We already confirmed that the only consistent pattern regarding this error is that when we lower the frequency to save snapshot (from every 100 to 500 timesteps), this error for now never happened on our cluster. However, when we changed back to every 100 timestep to save snapshots, some cases will start to fail randomly at the timestep exactly after the snapshot output. I no

[2017-07-07 01:28] Shangxin-Liu commented on #1758
Thanks, Rene! I think you already told me this during GRC:) @gassmoeller

[2017-07-07 01:30] #1758 closed

[2017-07-07 08:30] jaustermann commented on #1690
Hi Rene, thanks for the pointers! I will give this a try.

[2017-07-07 16:02] gassmoeller commented on #1271
No harm done. Closed.

[2017-07-07 16:02] #1271 closed

[2017-07-07 16:03] gassmoeller commented on #1836
I am fine with that, and would support the move. Anyone interested in going forward with a pull request?

[2017-07-07 16:10] gassmoeller commented on #1831
How long do these 100 timesteps take, and how large are the snapshot files? Based on your description I would guess that you clog the input/output system with write operations and then some part fails.

[2017-07-07 16:37] gassmoeller opened #1838 "Update installation instructions for Stampede2"
We have installation instructions for Stampede in our /doc/install/ directory, but as far as I got from the TACC website (see also #1271 and #562) Stampede was integrated into a new system (Stampede2). @hlokavarapu you installed aspect on Stampede2, did you use candi for that? Did you had to modify anything? And could you maybe take a look at the instructions in /doc/install and see if they need t

[2017-07-07 20:44] bangerth commented on #1829
I haven't read through the entire thing, but I like the general idea.

@tjhei -- I think this would be worth putting on the virtual machine so that one can play with it during tutorials we run. What do you think?

[2017-07-07 20:46] bangerth opened #1840 "Central location for a virtual machine"
Is there a central place where we keep the virtual machine updated? The website refers to http://www.math.clemson.edu/~heister/dealvm/ but that doesn't allow any of us to update the VM whenever we run a tutorial.

@tjhei: If there is no such place, can I just give you a link to the version I used for the latest tutorial in Beijing?

[2017-07-07 23:02] bangerth commented on #1814
@jaustermann -- in essence, the reference viscosity (divided by the length scale) is used to multiply the entire second equation. That's because the force balance and the mass conservation equations have different physical units, but we need to compare their residuals when running GMRES (namely, when we compute the norm of the current residual, which consists of the norms of the two equations adde

[2017-07-07 23:50] #438 closed

[2017-07-10 04:50] wkillers opened #1846 "Error when using an error function for temperature!!!"
hi,

I am trying to set an initial temperature field with an error function like this:

but when I run aspect, this is an error:

I am not sure how to solve this problem? Anyone can help?

Thanks.

[2017-07-10 12:45] tjhei commented on #1846
``erf`` is not available in the deal.II ``FunctionParser`` (see http://www.dealii.org/developer/doxygen/deal.II/classFunctionParser.html ). It is probably easiest to write an initial temperature plugin and use the c function.

[2017-07-10 12:45] tjhei commented on #1846
I am closing this issue because it is not really a bug. Feel free to comment or open another issue.

[2017-07-10 12:45] #1846 closed

[2017-07-10 12:48] tjhei commented on #1840
I have instructions on how it is built and all source code at https://github.com/tjhei/dealii-vm

1. download the VM
2. install whatever you want into it
3. export the VM
4. profit.

What do you want me to do with that link? Wouldn't it more sense to put the files of the tutorial somewhere (for example the CIG wiki)?

[2017-07-10 14:59] gassmoeller commented on #1812
Closed by #1842

[2017-07-10 14:59] #1812 closed

[2017-07-10 15:23] bangerth commented on #1840
I was thinking that everyone who runs a tutorial can/should update the VM somehow. For example, the current VM uses ASPECT 1.5, but I didn't want people to use input files that are not going to work any more with the next release, so I updated the VM I handed out to the current dev version. I also put the input files for the tutorial into it. But there is no way right now for me to push these chan

[2017-07-10 15:32] tjhei commented on #1840
We could include a specific repo of tutorial material inside the VM, but realistically, this will change every time a tutorial is given.

Sorry, I don't quite understand. I would assume that every single tutorial that is given would require slightly modified examples, additional slides, etc..

One suggestion:
Create a github repo (or include it in the repo I linked above) that contains files to be

[2017-07-10 17:30] bangerth commented on #1840
On 07/10/2017 09:32 AM, Timo Heister wrote:

I think that they rather build on each other, with small modifications.
At least we will reuse the input files, and I suspect that none of us is
interested in going back in ASPECT versions compared to the previous
tutorial.

That would work. But it requires user interaction at the beginning of
the tutorial, as well as bandwidth and, importantly, if it i

[2017-07-11 04:38] jperryhouts commented on #1846
erfc is though! I added it a while ago for exactly this reason. https://github.com/dealii/dealii/pull/1769

[2017-07-11 20:36] bangerth commented on #1670
This is a duplicate of #1767, but there is more information there.

[2017-07-11 20:36] #1670 closed

[2017-07-11 20:36] bangerth commented on #1767
#1707 adds at least one other occurrence of `compute_volume_fractions()`.

[2017-07-12 05:10] wkillers opened #1851 "A “SIGFPE received” error when running "crustal_model_2D""
Hi,

When I run the "crustal_model_2D" in cookbooks with mpi, the running terminated at timestep=1 and I got some returned message said "SIGFPE received", this also happened for "crustal_model_3D". Whereas, other examples like "convection-box" "platelike-boundary" "composition-active" run well, What's the problem is?

BTW: I also found a strange thing when using MPI, e.g., when I was trying to use

[2017-07-12 17:09] gassmoeller commented on #1851
Thanks for raising these issues. Could you provide us with the exact number of cores, version of ASPECT and a copy of the error message for the SIGFPE problem? This might be a problem with your installation or a problem with the cookbook, but we need this information to reproduce the issue.

For the second hint: This is our default behavior. ASPECT used to write one file per process, but when you

[2017-07-12 23:49] jdannberg commented on #1666
This was fixed by #1706.

[2017-07-12 23:49] #1666 closed

[2017-07-13 01:24] wkillers commented on #1851
Hi,
Thanks for the reply.

The number of cores that I used for "crustal_model_2D" is 24, the version of ASPECT is the master branch that I download from github(not use git clone because I run model on a cluster that can not connect to outside network). The error message for the SIGFPE problem is like this:
[code]
There is nothing else in the error report message. And the log file in output is atta

[2017-07-13 14:36] tjhei commented on #1851
It runs correctly for me with 24 cores (even though it needs a very high number of nonlinear iterations, @naliboff is that expected?).

@wkillers can you please post your detailed.log from your ASPECT build directory?

[2017-07-13 15:44] #366 closed

[2017-07-13 16:21] maxrudolph commented on #366
Great! I am really happy with candi as a solution to this problem.

[2017-07-13 17:36] gassmoeller commented on #1851
I can reproduce the issue, and it even happens on a single core for me. A run with `gdb --args aspect crustal_model_2d.prm` locates the problem in line 94 of `source/material_model/drucker_prager.cc`, namely in this line

[code]

Going back to where `strain_rate_effective` is computed it seems that in this model the individual components of the strain rate tensor at quadrature point 0 (i.e. `in.st

[2017-07-13 18:39] gassmoeller commented on #1730
What is the status of this? @anne-glerum are the warnings still there?

[2017-07-13 18:53] gassmoeller commented on #1017
We actually need to wait for deal.II 9.0 for this, because the tangential velocity boundary conditions of deal.II still require boundary objects in 8.5 (was fixed in dealii/dealii#4183). I updated the title accordingly.

[2017-07-13 18:54] gassmoeller commented on #995
This feels like a meta issue that is not well constrained (these things stay open for a long time, and nobody knows if they are already addressed). As discussed above, please open individual issues for the parts that are not yet addressed. I will close this for now.

[2017-07-13 18:54] #995 closed

[2017-07-13 20:03] gassmoeller commented on #959
Closed by #1685 and #1698.

[2017-07-13 20:03] #959 closed

[2017-07-13 20:05] naliboff commented on #1851
@tjhei - yes, I think that number of non-linear iterations is not surprising. The non-linear solver tolerance in the literature typically used for this type of problem ranges anywhere from 1e-3 to 1e-5 (noting that of course the actual values depend on the tolerance is defined). At some point with Picard iterations and Drucker Prager plasticity the problem usually reaches a tolerance around 1e-4 -

[2017-07-14 07:16] wkillers commented on #1851
@gassmoeller @naliboff
Thanks for the reply and advise. Since I am quite new to C++ or deal.II, and I hardly can spend too much time on this problem recently, I would be very appreciate if anyone else can make the change. Very sorry about that.

Thank you.

[2017-07-14 13:40] MFraters commented on #1851
@naliboff The Newton solver will usually allow you to tolerances way below what the Picard iterations allows you to do (I have even been able to sometimes reach 1e-19). The Drucker prager case (with an angle of internal friction of 30) is a notoriously difficult case though (see the Spiegelman 2016 paper, doi:10.1002/2015GC006228).

I just tested it and for the first timestep it is possible with t

[2017-07-15 00:12] naliboff commented on #1851
@MFraters  1e-19, wow!  Yes, the friction angles near 30 and above are an absolute nightmare. It would be interesting to see how the velocity field looks on each non-linear iteration after the first time step for the Spiegelman setup. Something to discuss after your paper comes out :+1:

[2017-07-15 00:32] gassmoeller opened #1857 "doc/update_prm_files_to_2.0.0.sed does not work on Macs"
See #1741, the update script for prm files uses GNU extension of `sed` that is Mac incompatible. Find a Mac compatible command.

[2017-07-15 20:28] tjhei commented on #1857
option 1: ask people to install gnu sed (``brew install gsed``)
option 2: understand why your command is illegal, because it looks like it should, see https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/sed.1.html
option 3: use something like perl instead of sed.

[2017-07-17 17:45] gassmoeller opened #1861 "Mailing list discussion"
In #1856 (after merge) @ljhwang, @bangerth, @tjhei, @naliboff and @tjesser-ucdavis-edu and myself had a little discussion about our mailing list and possible improvements.
I open this issue to have a place to discuss.

First two things I realized / played with:

1. Apparently it is possible to use google search in our mailing list, by using the following as search expression:
[code]
However, the l

[2017-07-17 19:34] tjhei commented on #1861
This is weird. I checked and there is no robots.txt that would block access. Note that all of lists.geodynamics.org is effected by it.

[2017-07-21 16:41] heronphi opened #1866 "Density issues with continental extension cookbook"
Hello, I'm just playing around with the continental extension cookbook.

The model has four compositional fields:

subsection Compositional fields
  set Number of fields = 4
  set Names of fields = upper, lower, mantle, seed
end

In the cookbook, the density is set within the visco plastic setup:

    set Thermal diffusivities = 1.333333e-6, 1.190476e-6, 1.149425e-6, 1.333333e-6, 1.333333e-6
    s

[2017-07-21 16:48] naliboff commented on #1866
@heronphi - I just checked the density and composition structure from the recent update of the cookbook and everything looks correct. The first field is indeed for the background material and the second is for the upper crust.

Did you run the cookbook without modification or was something altered?

[2017-07-21 17:03] heronphi commented on #1866
Hi John,

Yep - the density is fine in the cookbook. I do apologize - this was an oversight. I had changed something in the subsequent models which seems to have caused an issue. I added strain weakening and it changed the upper crustal density.

I'll close this now and look into what is going on with the strain weakening. Sorry for the issue!

Phil

[2017-07-21 17:03] #1866 closed

[2017-07-21 18:14] naliboff commented on #1866
@heronphi - no worries and glad to hear there was not a density inversion in the cookbook! If you have questions about strain weakening, just send an email to aspect-devel or contact me directly for very specific questions about setting up new extension models.

[2017-07-21 18:23] jdannberg opened #1867 "make operator splitting more effective"
In the compute_reactions() function that is used by the operator splitting solver option, the values for some degrees of freedom are set more than once in the loop where we assign the new values to distributed_vector (if they are located on the interface between cells), as we loop over all cells, and then over all degrees of freedom on each cell. The results are still correct, but we do some unnec

[2017-07-22 20:34] bangerth opened #1868 "Copy 'constraints' to 'current_constraints'"
ASPECT has this piece of code in the `compute_current_constraints()` function (see https://github.com/geodynamics/aspect/blob/master/source/simulator/core.cc#L846):
[code]
This is, in essence, a copy operation because `constraints` is initialized with the same index set. But the `merge` operation is surely much more expensive than a straight-up copy.

https://github.com/dealii/dealii/issues/4642 s

[2017-07-26 08:09] Lydia823 opened #1870 "Why were the two same parameters set different values in pages 368-369 of the manual?"
In page 368, the parameter 'Density below' was set to 9900 km/m^3. However, in next page, the parameter 'Density below' was set to 8000. Why is there a difference?

[2017-07-26 10:56] jaustermann commented on #1870
Hi Ronghua,

The density below is set separately for the calculation of the bottom dynamic topography and the geoid. In a consistent model these should be the same though, good catch! I submitted a pull request to make those two default values the same, it might take some time until this update reaches the manual (not sure how often that is recompiled).
While there will be a default value (which I

[2017-07-26 12:50] bangerth commented on #1870
I think the online manual is updated every night. So it should show the new values soon after the patch is merged.

[2017-07-26 13:33] Lydia823 commented on #1870
OK, i haven't downloaded the latest manual,thanks @jaustermann @bangerth

[2017-07-26 18:25] bangerth commented on #1870
Fixed by #1871.

[2017-07-26 18:25] #1870 closed

[2017-07-26 21:52] gassmoeller opened #1872 "How to allow incompatible velocity boundary conditions in incompressible models?"
This is a problem that came up in one of @johnjarmitage 's models. ASPECT currently applies a pressure right-hand side compatibility modification for compressible models, but not for incompressible models (source/simulator/core.cc:628). This is based on the reasoning that the right hand side should be compatible in incompressible models anyway, because there should be no velocity convergence.

Now

[2017-07-26 22:52] naliboff commented on #1872
My vote would be to add a parameter that enforces a tight right hand side compatibility rather than do it automatically. I think by default the user should be aware if the boundary mass fluxes do not balance in an incompressible model, which is currently the case through the model not converging.

A scenario to keep in mind: applying the pressure modification to an incompressible model with a high

[2017-07-28 20:15] tjhei commented on #1872
Physically, enabling it means that we add a constant sink (or source) of material over the whole domain. That is not something I would think is sensible to have on by default. In most cases it is probably more appropriate to leave one of the boundaries open.

That is okay with me.

You can compute the correction factor and then decide what to do based on the value (error / warning / apply correcti

[2017-07-28 21:20] bangerth commented on #1872
My preference is to do this:
* In the place where we currently interpolate the boundary values for the velocity, if all boundaries are Dirichlet, then also compute the net flux into/out of the domain.
* If this value is nonzero to some non-negligible degree (maybe tied to the solver tolerance somehow?) then error out and tell the user that that's not going to work.
* Possible, we could introduce a

[2017-07-29 15:42] gassmoeller commented on #1872
Sounds reasonable. Modifying the boundary condition is more accurate, and also relatively simple for incompressible models, because we only need to worry about the boundary-integrated velocity, and not `rho*u`. I will try to come up with something over the next weeks.

[2017-08-02 20:42] maxrudolph opened #1876 "Allow prescribed velocities with locally conservative discretization"
Currently, the `cookbooks/prescribed_velocity` plugin does not correctly enforce internal constraints when `set Use locally conservative discretization = true` is set in the parameter file.

Screen output:
[code]

prm file (note that this is a minimal change from `cookbooks/prescribed/velocity/corner_flow.prm`:
[code]

[2017-08-02 21:32] maxrudolph commented on #1876
@bangerth this is in response to #1864

[2017-08-02 21:52] maxrudolph commented on #1876
@tjhei I looked into the issue with the locally-conservative discretization a bit more.
After doing some more calculations, I plotted streamlines in paraview (and other software) and noticed that the behavior of the streamlines near the prescribed regions is non-physical - there is clearly a velocity component perpendicular to the prescribed region's boundary when in fact this should be a no-slip

[2017-08-02 21:53] maxrudolph commented on #1876
@tjhei Thanks for your help. That does indeed enable us to prescribe velocities when using the locally conservative discretization with set Stokes velocity polynomial degree = 1. Is there a way to also constrain the pressure DOF for the cell? In prescribe_velocity_pressure.cc, we iterate:

        for (cell = simulator_access.get_dof_handler().begin_active();
             cell != simulator_access.

[2017-08-04 10:46] bangerth commented on #1876
@maxrudolph : I don't think I will have time to fix this in the next couple of weeks given that we're running a deal.II workshop. But if you're willing to take a stab at it, I'll be happy to walk you through it.

The starting point is in `prescribed_velocities.cc`, around line 124:
[code]
Here, we need a different approach to getting the support points if the element is not interpolating (as is th

[2017-08-04 11:33] bangerth commented on #1872
I think the question is how exactly you want to modify the boundary velocity. The first step ought to be to integrate the net flux through the boundary. This needs to use the *interpolated* boundary velocity that we also use to compute constraints, i.e., `F = \int_{\partial \Omega} (I_h g) \cdot n` where `I_h` is the interpolation operator. Now that you know the total flux `F`, you somehow need to

[2017-08-04 12:07] tjhei commented on #1872
This reminds me of http://dx.doi.org/10.1016/j.jmaa.2016.01.075 where we correct boundary conditions (in our case) caused by the boundary interpolation (not incompatible boundary conditions though).

[2017-08-04 22:18] maxrudolph commented on #1876
@bangerth Thank you for your guidance about how to approach this issue. I have a patch that appears to be working here [dgp-fix](/maxrudolph/aspect/tree/dgp-fix). I have not tested it extensively yet but so far it seems promising in that indeed the internal velocities are prescribed for the simple `corner_flow.prm` cookbook.

[2017-08-04 22:37] bangerth commented on #1876
Yes, something like this -- that was quick work!

Here just a couple of comments:
* You're currently just appending the unit support points for each base, but you have to (i) account for the fact that each base may have a multiplicity (e.g., the velocity is typically one base element with multiplicity `dim`), and (ii) interleave the unit support points of the base element in such a way that they m

[2017-08-08 01:08] gassmoeller opened #1879 "Move special installation instructions to wiki"
In #1873 we decided that it would be easiest to collect special installation instruction in a central place, e.g. the wiki (https://github.com/geodynamics/aspect/wiki/Installation-FAQ). Move all the remaining content of doc/install and the manual to that place.

[2017-08-14 23:17] tjhei opened #1888 "doxygen particle warnings"
[code]

@gassmoeller can you take a look please?

[2017-08-15 17:47] #1888 closed

[2017-08-15 22:17] arijitlaik opened #1890 "Parameter GUI not found false warning if only PARAMETER_GUI_DIR is set"
the warning Parameter GUI not found: install and provide a hint using.... pops up if PARAMETER_GUI_DIR, utterly trivial issue, fixit may be
[code]

[2017-08-15 22:46] gassmoeller commented on #1890
Hi @arijitlaik, thanks for raising this issue.
Unfortunately, I was not able to reproduce your problem, could you clarify this a bit for me: Is `/home/arijit/bin/parameter_gui` a directory containing the parameter GUI, or is that the path of the executable (or a link to the executable)? cmake should look for an executable in the directory `$PARAMETER_GUI_DIR` so if `/home/arijit/bin/parameter_gui`

[2017-08-16 00:22] gassmoeller commented on #1851
@wkillers: Could you check if your problem was resolved in the newest development version? If so, please feel free to close this issue.

[2017-08-16 10:41] arijitlaik commented on #1890
/home/arijit/bin/parameter_gui is the directory containing the source for the parameter GUI and is the value for $PARAMETER_GUI_DIR, anyway i guess, i way reading the installation maual and thought that setting the PARAMETER_GUI_DIR environment variable to point to the source(and where its build) for parameter_gui was required. anyway  /home/arijit/bin/parameter_gui is the build directory and /hom

[2017-08-16 10:41] #1890 closed

[2017-08-16 16:46] gassmoeller commented on #1890
No harm done, glad to be of help. Still we should make cmake more forgiving with this kind of search. I opened #1893 that should prevent these misunderstandings.
Could you do me a favor and after #1893 is merged try your initial approach of setting `PARAMETER_GUI_DIR=/home/arijit/bin/parameter_gui` and report back if that works?

[2017-08-16 22:00] #1879 closed

[2017-08-17 17:38] naliboff opened #1896 "Assembly error when using compositional fields with the latent heat material model."
An ASPECT user notified me of an issue with the `latent heat` material model. When one includes compositional fields the model exits with an error (`Arithmetic exception`) during the assembly of the compositional field.

The exact error is at `advection.cc lines 160:168`:
[code]

Before diving into this and a rewriting a bit of the documentation in the `latent heat` material model, I wanted to che

[2017-08-17 17:47] bangerth opened #1897 "Particle rewrite"
@gassmoeller is currently rewriting the particle system so that it can move into deal.II (or at least the generic parts). This is the meta-issue that tracks all of the relevant PRs.

[2017-08-17 17:58] jdannberg commented on #1896
Now that I think about it, I have used this material model several times, but never with compositional fields. I looked into the file, and we never set the reaction terms anywhere. So if you can reproduce the issue, maybe it's just enough to add
`for (unsigned int c=0; c<in.composition[i].size(); ++c)`
`  out.reaction_terms[i][c] = 0.0;`
to the evaluate function.
Do we have an input file that repr

[2017-08-17 18:39] naliboff commented on #1896
@jdannberg - that fixed it :+1:  Thanks! I'll put in a pull request this afternoon or tomorrow with the fix and a new test case using a compositional field. I may also revise some of the wording in the material model documentation, but I've leave that discussion for the pull request.

[2017-08-17 19:32] jdannberg commented on #1896
Great! :smile:

[2017-08-17 19:41] bangerth commented on #1896
Yay signaling NaNs -- doing exactly what we wanted them to do!

[2017-08-17 21:46] naliboff commented on #1851
One data point: I am able to run `crustal_model_2D` without issue using the latest development version.

[2017-08-18 21:15] arijitlaik commented on #1890
well, i got a bit late replying back, the PR is merged into the master and things works. Thanks :)

[2017-08-19 04:18] gassmoeller commented on #1890
Ok, good to know. Let us know if you encounter other problems.

[2017-08-21 15:56] naliboff commented on #1896
This issue was resolved by #1902.

[2017-08-21 15:56] #1896 closed

[2017-08-22 17:45] jdannberg opened #1907 "make the cell object input argument in the constructor of material models inputs a reference instead of a pointer"
This would be a follow-up to #1904, where we change the material model inputs structure to have the cell object (instead of a pointer to the cell) as a variable, so that it can be used in more places in the code.

[2017-08-22 21:27] bangerth commented on #1907
For the place where this came up, see https://github.com/geodynamics/aspect/pull/1904/files#r134359434

[2017-08-25 21:24] naliboff opened #1912 "ASPECT can't access all of solver history data from solver_control.cc in dealII?"
I just started trying to track the origin of this issue, but I wanted to put it up quickly in case anyone is thinking updating deal.II.

After updating the master branch of deal.II yesterday all of the ASPECT tests I ran failed. The tests are failing due to an incorrect number of stokes solver steps. For example, the output from the test `quick_mpi` is

[code]

The issue appears to be related to `

[2017-08-25 23:59] bangerth commented on #1912
The differences in the output are almost certainly due to this patch: https://github.com/dealii/dealii/pull/4870
Therein, `SolverControl` initializes the number of iterations it has run as `numbers::invalid_unsigned_int` instead of zero, and only starts to count once it actually starts the iteration. We may want to work around this by printing a zero if the returned number of iterations is `number

[2017-08-27 17:55] arijitlaik commented on #1890
Totally Unrelated Question.
I would like to work on some  thin skinned tectonic models of fold thrust belts, i was wondering how can one include basal friction and or contact friction parameters in aspect, i have seen @anne-glerum paper but there basal friction is not taken into account, Can i put this up as an issue for a proposal and or new feature.

[2017-08-27 22:52] tjhei commented on #1890
Correct. Please direct questions like this to the mailing list.

[2017-08-29 12:57] gassmoeller commented on #1851
Since this issue seems resolved, I will close it for now. If the problem reappears, feel free to reopen.

[2017-08-29 12:57] #1851 closed

[2017-08-29 21:54] naliboff commented on #1912
Printing a zero for either` solver_control_cheap.last_step()` or `solver_control_expensive.last_step()` when the number of iterations is numbers::invalid_unsigned_int does the trick. I'll do a pull request for this fix and handle the other issue separately.

[2017-08-31 07:42] gassmoeller commented on #1912
Was this issue fixed by #1914?

[2017-08-31 07:45] gassmoeller commented on #1831
Are there any news regarding this issue? Otherwise I would propose we close it for now, until we have more data.

[2017-08-31 07:51] gassmoeller commented on #1542
As far as I know this has been addressed by #1825. We can improve that further by using better ODE solvers (like Sundials), but that would be a separate issue. Can this issue be closed?

[2017-08-31 07:54] gassmoeller commented on #1491
So to conclude our experiences: Enabling precompiling headers and using unity build both reduce the compile speed consistently and significantly, but there are a few cases where it fails. Thus, we should keep the current state and keep it optional. I will close this issue.

[2017-08-31 07:54] #1491 closed

[2017-08-31 08:01] gassmoeller commented on #1084
Contributing.md now contains a link to the astyle software package, and they have installation instructions. I would prefer to not duplicate those instructions. Feel free to reopen, if you feel strongly about it.

[2017-08-31 08:01] #1084 closed

[2017-08-31 08:09] gassmoeller commented on #1064
We updated the manual with the canonical reference, so this is partially resolved. Lets discuss #1014 separately in that PR.

[2017-08-31 08:09] #1064 closed

[2017-08-31 09:09] gassmoeller commented on #684
This was addressed by the new website, we now have more links to the github repo.

[2017-08-31 09:09] #684 closed

[2017-08-31 12:33] jdannberg commented on #1542
As far as I am concerned, this has been addressed (and we have #1867 for the technical improvements). But I don't know if @bangerth had something else in mind for the elasticity problems he mentions.

[2017-08-31 13:04] gassmoeller commented on #1542
I think we also thought of using the elastic strains of the last timestep, or using fields for them. Both approaches are now possible, so I will close this for now. Feel free to reopen if something is not addressed yet.

[2017-08-31 13:04] #1542 closed

[2017-08-31 13:53] tjhei commented on #1084
It is also available (but hidden) inside candi. Maybe that is worth mentioning.

[2017-08-31 15:44] naliboff commented on #1912
#1914 fixed one of the issues, but there is still another error(s) left to resolve. Shall we close this as soon as the remaining errors are fixed?

[2017-08-31 16:43] bangerth commented on #1542
No, this was it. Thanks for closing!

[2017-09-07 02:01] Lydia823 opened #1917 "how to set temperature pre-factor for the viscosity formula in 'simple' Material model"
In the part A.78 Parameters in section Material model of manual, there is a model 'simple' in page 314.
What is value 'x' mean in H(x) of the temperature pre-factor for the viscosity formula ? And how to set x in 'Simple model'?

[2017-09-07 08:37] jdannberg commented on #1917
Dear @Lydia823,
if you have a general question such as this one, please ask it on the ASPECT mailing list (see [this webpage](http://lists.geodynamics.org/cgi-bin/mailman/listinfo/aspect-devel)). We use the github issues to track bugs/problems in the code, so I will close this issue for now.

To answer your question, the x is just the argument that is used to explain what the function H does, so y

[2017-09-07 08:37] #1917 closed

[2017-09-07 08:48] Lydia823 commented on #1917
Thanks a lot.@jdannberg

[2017-09-09 19:44] jdannberg opened #1924 "update convection box cookbook"
The parameters in the input file of the convection box cookbook and its description in the manual are not the same. For example, for the gravity model
    `set Magnitude = 1e4`  in the .prm file and
    `set Magnitude = 1e14` in the manual description (same for the thermal expansion coefficient).
We may have updated the input file after implementing the Boussinesq formulation, but we should make i

[2017-09-21 20:06] gassmoeller commented on #1907
Was this closed by #1910?

[2017-09-21 20:07] #1831 closed

[2017-09-21 20:09] jdannberg commented on #1907
Yes.

[2017-09-21 20:09] #1907 closed

[2017-09-22 00:02] gassmoeller opened #1931 "prescribed velocity tests use copies of cookbook plugins instead of including them"
this should be changed so that the tests always test the current version of the cookbook plugins.

[2017-09-22 18:58] jdannberg commented on #1876
This was fixed by #1878, right?

[2017-09-22 18:59] jdannberg commented on #1924
Fixed by #1930.

[2017-09-22 18:59] #1924 closed

[2017-09-22 21:29] maxrudolph commented on #1876
I’m in the field through Sunday but will check when I get back.

[2017-09-26 12:02] MFraters opened #1936 "quick_mpi test not working for deal.ii9.0pre"
I noticed that the quick_mpi test is not properly functioning on my (unbutu 16) system when coupled to deal.ii 9.0pre. When I use deal.ii 8.5.1 it works fine. To be sure, I just reinstalled all the dependencies of deal.ii with the candi script and used the newest deal.ii and aspect master branches, but that doesn't help. The error message I get is the following:

[code]

Do other people have this

[2017-09-26 15:55] gassmoeller commented on #1936
I have the same issue. I am going to investigate the deal.II dev history to find out if something introduced the error in there.

[2017-09-26 16:41] gassmoeller commented on #1936
It seems to me like this issue was introduced in dealii/dealii#4857. It is not just `quick_mpi` though. A number of other tests fail as well, in particular the ones using MPI (I have not yet seen a serial test fail, but I did not check all of them). We will need to fix this in deal.II. For all running into trouble with this issue: For me a workaround is to use deal.II older than commit  `60bfd3170

[2017-09-26 16:47] gassmoeller commented on #1936
For reference: A different triggered assertion I see in some tests (in the same function) is:
[code]

[2017-09-26 17:09] MFraters commented on #1936
Thanks for looking into this! It somehow always feels better when you are not the only one having the problem ;)

[2017-09-29 19:09] jdannberg commented on #1931
This was fixed by #1932.

[2017-09-29 19:09] #1931 closed

[2017-10-05 22:05] MFraters opened #1950 "ellipsoidal chunk push and pull functions"
While working on #1941 I noticed that the push and pull function for the ellipsoidal chunk do not exactly undo each others tranformation. Although the cartesian x and y are as far as I have seen exactly recovered, the z dimension is not.

For the test use the ellipsoidal chunk defaults and I start with a cartesian point `(25000 25000 50000)`, which after a pull_back becomes `(0.785398163 1.2159859

[2017-10-16 16:45] gassmoeller commented on #1936
@bangerth: This issue in deal.II is still not resolved. Is there anything we can do to speed up the fix? If not we should probably send around an email on the mailing list warning people that deal.II-dev does currently not work with aspect.
I am asking, because it now affects my development in dealii/dealii#5125 as well. I have a branch of aspect that compiles with the deal.II particle code, but I

[2017-10-16 16:51] bangerth commented on #1936
@tamiko -- can you comment? The fact that a function that's used in ASPECT no longer works is a real problem!

[2017-10-16 16:56] gassmoeller commented on #1936
I should probably add that the error message has changed slightly since the original post, although it still originates in `VectorTools::interpolate`. If you need further debug information let me know, I have a lot of failing example tests :smile:

[code]

[2017-10-26 16:33] MFraters opened #1964 "Unify solver output"
See #1850 and #1433:

I think we should also unify these outputs, so that it is easier to grep them. Some for example start with 'Total relative ... 'and others with 'Relative ... '. This could then for example become something like 'Nonlinear residual (Stokes) for iteration ... ' or 'Nonlinear residual (Total) for iteration ...' etc. And then always for every timestep end with Final residual for

[2017-10-26 17:07] jdannberg commented on #1964
I think if we just want to change the output for the log file, that should not be too difficult. The main problem I had with unifying the output of the different solver schemes (after #1433) was the output for the statistics file. So I can have a look at this in the next few days.

But of course it would be great if we could agree on a scheme for the output before. I like @MFraters suggestion 'Non

[2017-10-27 15:23] bangerth opened #1967 "Add missing compressibility correction to the Stokes preconditioner"
As #1939 and #1965 show, small forgotten terms can lead to suboptimal preconditioners. #1965 adds a missing factor of 2 to the Stokes preconditioner, but the resulting preconditioner is still missing the compressibility correct `-1/3*div(u)I`. Fix this to see whether it makes a difference.

[2017-10-27 16:13] gassmoeller opened #1969 "Rename IMPES scheme to something more accurate"
As @bangerth pointed out in https://github.com/geodynamics/aspect/pull/1850#discussion_r147316231 IMPES is actually no longer an accurate name for our default solver scheme. Since we are reorganizing things for ASPECT 2.0 anyway, find a better name and replace the use of IMPES (we can allow legacy use of the term in parameter files, but remove it from the source code).

[2017-10-27 19:07] gassmoeller commented on #972
A part of this issue has been addressed by #1850, and the other part is described in more detail in #1279, therefore I will close this issue to avoid duplication.

[2017-10-27 19:07] #972 closed

[2017-10-27 19:08] gassmoeller commented on #445
related to #1279 and #1969

[2017-10-27 21:30] gassmoeller commented on #1912
This is still happening, I will take another look next week.

[2017-10-30 18:38] gassmoeller commented on #1967
#1976 implements this for the compressible case, and the melt case. Still need to fix this for the Newton assembly.

[2017-10-30 22:25] gassmoeller commented on #1967
Also the Schur complement might need to be adjusted as Wolfgang and Timo discussed in #1976.

[2017-10-30 22:44] gassmoeller opened #1979 "Update Gplates section in manual"
Apparently some descriptions in the GPlates section of the manual do not longer work, because websites have moved (in particular the global dataset we describe in "Acquiring a plate reconstruction"). Find a new example dataset, apparently Seton et al 2012 now comes with GPlates, that would be a fitting replacement.

[2017-10-31 00:36] lkaratun commented on #1270
Hi,
please have a look at #1980. Thank you!

[2017-11-01 21:00] jdannberg opened #1984 "Unify style of units in the declaration section of all plugins"
See #1982.
In particular, in the dynamic core boundary temperature model there are a number of parameters that have no units, or units that are not in the same style as throughout the rest of the code.
In addition, we may also want to think about a policy for if/when to put units in math mode in the parameter descriptions.

[2017-11-01 21:15] bangerth commented on #1984
What if we implemented something in deal.II so that when `ParameterHandler::write()` writes things into a .prm file, it strips out all `\textit`, `\textrm`, \text`, `\textsc` because they cannot be printed in clear text anyway?

[2017-11-02 13:44] tjhei commented on #1984
This is a neat solution. One difficulty is that you have to find the matching closing curly brace to delete it. We could also strip out ``\( ... \)`` so that formulas are neater.

[2017-11-02 18:19] bangerth commented on #1984
Finding the closing curly brace is not all that hard. Starting at the character after `\texttt{`, you just walk forward and increment a counter for each `{` you find. If you find a closing curly brace, then that's the one you care about if the counter is zero, otherwise you decrease the counter by one. The delete the curly brace, delete `\textt{`, and start over.

[2017-11-02 18:20] bangerth commented on #1984
Just don't try to do that with a regex-replace :-)

[2017-11-02 21:09] jdannberg opened #1986 "Add the final nonlinear residual to statistics file"
We should add an option that writes the final nonlinear residual of each time step as output into the statistics file. This is useful for checking if there were any time steps where the nonlinear solver did not converge, and allows for easy plotting, e.g. in gnuplot.
It was brought up in #1983.

[2017-11-02 23:50] bangerth commented on #1986
Why not do it unconditionally? Who cares whether the stat file gains another column? :-)

[2017-11-02 23:56] jdannberg commented on #1986
I do, because it means I would have to update all of the scripts for plotting/tutorial slides, unless we always make it the last column.

[2017-11-02 23:57] bangerth commented on #1986
Hm, but that would mean that we can never add any new columns ever again :-( What do you use to create these plots?

[2017-11-02 23:57] bangerth commented on #1986
(I'm asking because we may be able to come up with a way to parse which column you need based on the header of the file...)

[2017-11-03 00:06] jdannberg commented on #1986
gnuplot, usually.
And I am not saying we can not add new columns, I just thought that we don't have to if we could also make them optional (after all, I don't know how many users would want to use that output, and the statistics file is already quite long and difficult to read).

[2017-11-03 00:09] bangerth commented on #1986
I'd just like to avoid that we have a parameter for each column in the stat file. Why should there be a parameter for the nonlinear residual but not for the number of inner M solver iterations? That seems silly.

[2017-11-03 00:15] jdannberg commented on #1986
Okay, but then I would suggest adding parameters for the things that are not needed most of the time instead of unconditionally adding even more things. After all, many of the columns are just added by postprocessors, so it's designed in a way that they are optional.

I find it difficult already to find a given column in that file (if I don't want to plot it but rather check if a certain value fit

[2017-11-03 16:53] gassmoeller commented on #1936
This was resolved by the above linked pull requests in deal.II. If someone still encounters problems feel free to reopen.

[2017-11-03 16:53] #1936 closed

[2017-11-03 17:08] tjhei opened #1987 "[post deal.II 9.0.0] fix labels in manual.tex"
We need to fix annotate.pl, see https://github.com/dealii/dealii/pull/5385

[2017-11-03 17:11] bangerth commented on #1987
You mean we have to change annotate.pl because now the latex labels no longer match the parameter strings (which are escaped)? Could you give an example?

[2017-11-03 17:29] tjhei opened #1989 "[deal 9.0.0] tests/stokes_residual.prm"
on deal.II master stokes_residual.prm fails with
[code]

[2017-11-03 17:30] tjhei opened #1990 "[deal 9.0.0] tests/ellipsoidal_chunk_noncoordinate_parallel.prm"
and and octagonal_initial_temperature_ellipsoidal_chunk.prm fail with a Floating point exception. Check what is going on...

[2017-11-03 17:31] tjhei opened #1991 "[deal 9.0.0] tests/viz_plugin_dependency.prm fails"
fails with
[code]
(we need to replace the evaluate_vector_field() function, working on a fix)

[2017-11-03 17:43] tjhei commented on #1987
Yes. For example:
[code]
so annotate.pl needs to mangle the label names (we already do this for section labels but not for parameter labels). Of course this is not backwards compatible, so we need to wait until we switch to 9.0.0 unconditionally.

[2017-11-03 17:52] bangerth commented on #1987
I'll comment on this in the deal.II PR, but I think that in labels, we only need to/should escape what really needs to be escaped (i.e., exclude spaces for example). That would make the transition easier because I suspect that we don't have any labels that currently contain percent signs.

[2017-11-03 18:35] gassmoeller commented on #1989
This should be solved by #1988

[2017-11-03 18:36] gassmoeller commented on #1990
I am looking into this right now.

[2017-11-03 18:57] tjhei commented on #1987
Spaces are actually allowed inside labels but we have been escaping them for section names (but not for labels of parameter names!) in the past for some reason. Whatever you prefer, staying with the current idea doesn't make much sense. I will comment there...

[2017-11-03 19:02] #1991 closed

[2017-11-03 19:45] bangerth commented on #1987
Yes, see my review there.

[2017-11-03 21:53] gassmoeller commented on #1990
Both tests run fine with dealii/dealii#5393

[2017-11-03 22:11] gassmoeller commented on #1912
@naliboff could you check if this solves the problems for you?

[2017-11-03 22:57] gassmoeller commented on #1989
Reopening, because now stokes_residual_cheap fails.

[2017-11-04 01:49] bangerth commented on #1986
Would the following gnuplot command trickery help you?
[code]
The expressions are a bit complicated (and maybe I can make them easier to read), but at least the `plot` command becomes simpler to grasp.

If you think something like this would help with writing the plotting scripts in a more portable way, then I'd be happy to put an explanation of this sort of thing into the manual.

(Bonus points t

[2017-11-04 19:28] naliboff commented on #1912
@gassmoeller - I just tried compiling with the current deal.II master and I'm getting a compiler error related to the spherical manifold. Is there a specific aspect or deal.II commit I should revert back to for testing the issue? Sorry, I still need to go through all of the commits that have come through the last few days.

[2017-11-05 21:31] gassmoeller commented on #1912
No problem, but could you specify the error you get? I thought we had everything sorted out over the last week. In particular which error message do you get, which deal.II commit, which ASPECT commit?

[2017-11-06 22:08] tjhei commented on #1986
[code]
?

[2017-11-07 01:29] naliboff commented on #1912
The error is
[code]
I'm currently at commit at deal.II commit https://github.com/dealii/dealii/commit/43453baae2a2a26c07c3676a07ce234af2d513ab, but it looks there have been additional commits related to the Spherical manifold added since then (e.g., https://github.com/dealii/dealii/commit/7b3a3e7240f28bd4b0d49d415e406ec1f57ab588). I'll update deal.II and see if this resolves the issue. No issues c

[2017-11-07 02:12] bangerth commented on #1912
Are we just forgetting to `#include <deal.II/grid/manifold_lib.h>` in that file? Can you try whether that makes the error go away for you?

[2017-11-07 02:24] bangerth commented on #1986
Ha, I don't think I've ever heard of `cut`!

I think using `grep -n` works, but it's fragile because it assumed that column `n` is described in line `n`. Maybe this is better:
[code]

So, would something like this be useful in the manual?

[2017-11-07 06:17] naliboff commented on #1912
Yep, adding `#include <deal.II/grid/manifold_lib.h>` to sphere.h did the trick 👍 I'll submit a patch tomorrow for the compiler error and close this issue (tests look correct now) after adding links to the relevant pull requests.

[2017-11-07 13:44] bangerth commented on #1912
Excellent, thanks for checking!

[2017-11-07 17:49] naliboff commented on #1912
#1995 fixes the `sphere.h` compiler issue outlined above.

[2017-11-07 18:23] tjhei commented on #1986
Yes, I think so. Ideally we would use it in the various scripts.

We already use a different method in https://github.com/geodynamics/aspect/blob/master/benchmarks/blankenbach/get_statistics using gawk and sed.

[2017-11-07 19:35] naliboff commented on #1912
The second of the two original issues has now been fixed #1988. Thanks @gassmoeller!

[2017-11-07 19:35] #1912 closed

[2017-11-07 19:52] gassmoeller commented on #1989
Fixed by #1993.

[2017-11-07 19:52] #1989 closed

[2017-11-07 19:53] gassmoeller commented on #1990
Fixed by dealii/dealii#5393

[2017-11-07 19:53] #1990 closed

[2017-11-08 03:43] bangerth opened #1999 "Improve least-squares projector from particles to fields"
From a discussion we've had about a paper with @egpuckett , @hlokavarapu , and @gassmoeller , I believe that the way the current projector/interpolator from particle data to fields (or quadrature points) works by building a least-squares matrix, and then inverting it somehow.

This assumes that the matrix is invertible, which is typically not the case if you have too few points or if the points ha

[2017-11-08 15:30] njinju opened #2000 "compiling manual in LaTex issue (rerunfilecheck.sty?) *help wanted*"
Hello. I'm a new user to ASPECT and aim to submit a new cookbook, but I'm having trouble compiling the manual. Attached is a screenshot showing the place where compilation stops in TexShop on my Mac. I am using the most recent development version of ASPECT 2.0.0-pre.

Do you have any suggestions?

![screen shot 2017-11-08 at 10 22 01](https://user-images.githubusercontent.com/30853837/32557083-2cb

[2017-11-08 17:03] gassmoeller commented on #302
This appears again in #1996. Reopen the issue.

[2017-11-08 17:26] bangerth commented on #2000
How do you compile the file? The intent is to go into the `doc/` folder and then just type `make manual.pdf`. Does that work for you?

[2017-11-08 17:46] njinju commented on #2000
It works perfectly thanks.

[2017-11-08 17:50] bangerth commented on #2000
OK, great. If the issue is resolved for you, can we close the issue?

[2017-11-08 17:53] njinju commented on #2000
Yes we can close the issue

[2017-11-08 17:53] #2000 closed

[2017-11-15 22:06] gassmoeller commented on #1964
Was this resolved by #1983?

[2017-11-21 20:39] tjhei opened #2009 "assembler cleanup: Properties"
After merging #1785:
1. Implement a ``virtual Properties get_properties()=0`` function in the ``Assembler::Interface``
2. Implement ``Properties::operator|`` and computed an or-ed ``Properties`` for each category of active assemblers.
3. Remove the ``std::vector<Properties>`` objects and kill the logic inside ``set_assemblers``

[2017-11-21 20:41] tjhei opened #2010 "assembler cleanup: Scratch::reinit()"
Introduce ``Scratch::reinit(cell)`` and ``Scratch::reinit(cell,face)`` that calls ``fe_values.reinit(...)`` and (re)sets internal properties like ``cell``, ``face_no``, etc.
We can than also move other common operations into this like computing the stokes DoFs.

[2017-11-22 16:06] tjhei opened #2011 "add tests for create_additional_material_model_outputs in different assemblers"
With #1785 we now only call create_additional_material_model_outputs in the assembler objects in the specific situations when needed. We should cover those situations in tests/additional_outputs*

[2017-11-28 19:56] tjhei opened #2019 "particle serialization without output crashes"
The particle serialization will dereference the nullptr ``output`` in the following code:
[code]

[2017-12-01 13:20] bangerth commented on #2019
Fixed by #2021.

[2017-12-01 13:20] #2019 closed

[2017-12-01 15:10] MFraters opened #2023 "solver parameters"
During the last hackaton we created a parameter section for solvers parameters, so I could put my Newton parameters in there. I think the idea was that also the other solver parameters would move to there. I think it would a good idea to do this before the release of aspect 2.0, because it would again break parameters files.

[2017-12-01 15:29] tjhei commented on #2023
agreed.

I remember talking with @jdannberg about it last week. We have to balance breaking a lot of prm files with a neater layout, though. I think at least the less common things can go into that subsection.

[2017-12-01 18:54] tjhei opened #2024 "std::isnan() and pre C++11"
We currently don't require c++11 but we are using ``std::isnan`` in several places which got added in c++11: http://en.cppreference.com/w/cpp/numeric/math/isnan
We also have ``dealii::numbers::is_nan()`` but that is now deprecated in favor of ``std::isnan``.

Before I go change things, does anybody have a better idea than creating ``Utilities::is_nan()`` that uses ``std::is_nan`` or ``dealii::numb

[2017-12-01 19:42] bangerth commented on #2024
Do you have evidence of compilers that don't actually understand `std::is_nan()`? It may be that all compilers already supported this as part of including C99 functions, even though C++03 didn't require it.

Are these recently introduced places?

[2017-12-02 23:23] tjhei commented on #2024
No, pretty old.

What compilers do we support that do not support c++11?

I played with compiler explorer ( https://godbolt.org/g/XnfNNV ) and got the following result:
It seems we are okay with clang >=3.4 (we say deal.II supports clang 3.3), MSVC, gcc with c++11 (>=4.4), recent ICC, recent MSVC

[2017-12-03 17:20] bangerth commented on #2024
If we had this code for a long time, then I would say let's just not worry about it.

C99 added a bunch of math functions that were not part of C++98 or C++03 (though were finally formally added in C++11), but that all compilers still had in their `<cmath>` header file. I bet `isnan` is one of them. That would explain why we used a function successfully that we strictly speaking could not use, and

[2017-12-03 21:08] tjhei commented on #2024
agreed.

[2017-12-03 21:08] #2024 closed

[2018-01-05 14:16] gassmoeller opened #2045 "Selective material model output"
At some point we need a way to tell the material model which properties are required for the current call to `evaluate`. This would make calls to expensive material models like the one in #2042 much cheaper, if the expensive properties do not need to be computed. Maybe another (optional) parameter to evaluate, similar to `UpdateFlags` of deal.II?

[2018-01-05 14:20] gassmoeller opened #2046 "Make grain size evolution more efficient"
The numerical scheme used to evolve grain size in the damage material model of #2042 is very simple (forward euler with fixed timestepping). Use a better approach to make it cheaper and more stable (e.g. use the new Sundials interface of deal.II)

[2018-01-05 14:23] gassmoeller commented on #2046
There are also several todos in the material model that would make it slightly more accurate or efficient.

[2018-01-05 16:11] tjhei commented on #2045
Makes sense. We should be careful to be a) easy for the user (especially the "I don't care about performance and want to evaluate all properties" case) and b) backwards compatible. I think a flag makes sense.

If you add an additional parameter to evaluate (``evaluate(in,out,flags)``), every material model needs to be adapted or we need a new evaluate function with the additional argument with a d

[2018-01-08 20:53] anne-glerum opened #2050 "Point values postprocessor hits Assert asking for DoFs on artificial cells"
When using the `point_values` postprocessor, an Assert in dealii is hit:

[code]
The error is not always caught in release mode, when it is, the violated condition is:
[code]

Because of the artificial cells being mentioned, I tried the same model with 1 MPI process, this runs to completion. Also, when the free surface is switched off and I use a free slip top, the model also runs to completion. T

[2018-01-09 09:47] gassmoeller commented on #2050
Hi Anne,
it seems like deal.II at some point does not properly check if a cell is locally owned. This should not be a problem for ASPECT as long as a point is inside any of the MPI ranks domains (we want to ignore the error on all ranks that do not own the cell).

As a workaround you can try to add the following to the point_values postprocessor (after the existing line `catch (const VectorTools::

[2018-01-09 16:17] anne-glerum commented on #2050
Hi Rene,
Workaround works, thanks! For completeness, it's:
[code]

[2018-01-15 20:37] gassmoeller opened #2055 "Post a list of possible output formats"
Post the list of supported output formats in the description of the Visualization/Output format input parameter.

[2018-01-15 20:43] gassmoeller commented on #2055
For reference: This would need to be added to the description of the parameter in `source/postprocess/visualization.cc` in the function `Visualization<dim>::declare_parameters`

[2018-01-16 00:23] bangerth commented on #2055
I'm sure there is a function in namespace `DataOutBase` that provides this.

[2018-01-17 15:53] gassmoeller opened #2060 "Add rms velocity to the velocity boundary statistics postprocessor"
It would be nice if the velocity boundary statistics postprocessor would also output the rms velocity on all boundaries. This is especially helpful for computing the mobility of the surface (which is often computed as rms-velocity of surface divided by rms velocity of whole domain).

[2018-01-17 15:54] bangerth commented on #2060
Would this be the rms of the total velocity, or only for the tangential component? (On most boundary descriptions, they are of course the same.)

[2018-01-17 19:42] gassmoeller commented on #2060
I suppose the tangential component would be better, but you are right, for most models it should not matter.

[2018-01-17 19:45] gassmoeller opened #2061 "Allow to use different assemblers for different compositional fields"
This would allow advecting different compositional fields with different velocities (e.g. melt velocity).

By storing a vector of vectors of assemblers (one vector per field). Currently this would already be possible by letting the assemblers check, which field is assembled at the moment, but that would require every assembler to know for which field it is used. It would be simpler to let the Mana

[2018-01-18 11:14] gassmoeller opened #2063 "Make cookbook using thermodynamically consistent data"
Using the new latent heat formulation in the steinberger material model and pyrolite material data from a table.

[2018-01-23 02:50] gassmoeller opened #2067 "Allow more flexible surface movements"
We have several users that want to create models with more flexible surface deformation algorithms than just 'free surface'. Examples would be surface evolution models (erosion/deposition), or inner core models with a growing domain over time. For these models one would prescribe velocities for the mesh at the surface, but have some other type of boundary (tangential/traction) for the solution vel

[2018-01-23 03:34] ian-r-rose commented on #2067
I think this makes good sense @gassmoeller. I could envision a new plugin structure where people can enable various "rules" for how to move the free surface. Some questions that would need to be answered:
1. Should only one rule be enabled at a time, or can people activate different rules (for instance, combining dynamic topography with erosion)?
2. If more than one rule can be active at the same

[2018-01-23 19:39] bangerth commented on #2067
I don't have an opinion on the other issues but think that it would be useful to somehow allow different effects to act at the same time. The example of free surface + erosion is one case that's worth supporting. I don't know how to make this stable.

[2018-01-24 01:03] gassmoeller commented on #2067
Thanks for the input. I will create a preliminary PR and we can discuss details there.

1./2. I agree with Wolfgang, I would allow several to be active and simply add up contributions. This might lead to problems if they depend on each other, but I would worry about that when it actually occurs.
3. In the order the user supplies them. If somebody activates several of them, they need to be aware of

[2018-01-30 07:41] gassmoeller commented on #1964
I think we resolved this with all the changes to the nonlinear solver schemes of the last months. Feel free to reopen if the problem persists.

[2018-01-30 07:41] #1964 closed

[2018-01-30 07:50] gassmoeller commented on #1560
Partly addressed in #2044 and still waiting for #2051 and the boundary composition.

[2018-01-30 07:54] gassmoeller commented on #733
This was achieved in a lot of pull requests. While there is still one issue open (about the documentation), the core part is essentially resolved. Lets not keep to many issues open, just because small things could be improved (having hundreds of issues is not helping keeping them relevant).

[2018-01-30 07:54] #733 closed

[2018-01-31 13:42] #1857 closed

[2018-02-06 18:22] bangerth opened #2082 "Let solve_stokes() return a pair of values"
Discussing #2070 with @MFraters, we realized that the `solve_stokes()` function returns something (the starting nonlinear residual) in most situations and something else (the final linear residual) when using the Newton solver. That's awkward to document and more awkward to use.

The function should just always return a pair. Implement this when we're done with #2070.

[2018-02-07 22:11] bangerth opened #2083 "Move Newton parameters into a separate struct"
Reviewing #2006 and #2070 reminds me that the way the `NewtonHandler` deals with run-time parameters is different from the way we do things elsewhere. Elsewhere, we pack all parameters into a separate class whose member variables are all `public:`. But the `NewtonHandler` keeps these parameters in the main class, makes them `private:` and then provides accessor functions.

I think this is unnecess

[2018-02-08 17:19] bangerth opened #2085 "Make better use of TimerOutput::Scope"
#2084 shows that we should really make use of the `TimerOutput::Scope` class to ensure that we're leaving timer sections when leaving scopes.

[2018-02-09 20:39] #2085 closed

[2018-02-09 22:15] jdannberg commented on #948
I think this is mostly done now. Once we have rebased and cleaned up #1600, this can be closed.

[2018-02-12 20:07] bangerth opened #2090 "Verify checkpoint/restart agree on the fields a simulation has"
Based on a recent mailing list post:

When we do a restart, we can only do this successfully if a number of "critical" input parameters are the same as they were in the saved run. It's going to be hard to enumerate what parameters these are, but we could at least output the number and names of the fields into the restart file, and compare them with the values we have when we do the restart. This i

[2018-02-13 20:52] bangerth opened #2093 "Fix unclear comment in mesh refinement criteria"
Found while looking at #2091: several of the mesh refinement plugins contain the following test:
[code]
I don't actually know what that comment is supposed to mean. If someone can tell me, I'll fix it in all relevant places.

[2018-02-14 14:45] bangerth commented on #1969
We should really address this before the 2.0 release, though I don't know what better name we may want to choose.

We could just grandfather the name and carefully document what the name *actually* corresponds to today. What do you all think?

[2018-02-14 19:04] tjhei commented on #2093
We call     ```mesh_refinement_manager.tag_additional_cells ()``` in ``Simulator<dim>::run`` before we call ``setup_dofs``, right? Maybe that is the reason?

[2018-02-16 00:17] #2082 closed

[2018-02-16 20:01] #2083 closed

[2018-02-22 19:39] jdannberg opened #2109 "Add instructions/a template for new cookbooks"
This was a suggestion by @lkellogg: It would be easier to contribute cookbooks for people who start out with ASPECT, but have experience in a certain area of convection models, if we had a template and instructions for how to write a cookbook.

[2018-02-22 19:54] jdannberg opened #2110 "List of future cookbooks"
It would be good to have a list of things that need more documentation, so that people who have experience with that part of ASPECT could write a cookbook when they have the time (it could be similar to the starter projects). So let's compile a list of cookbooks we want to do in the future. Please add to this list whatever you think we need! I think @gassmoeller had a number of things in mind that

[2018-02-22 21:03] ljhwang commented on #2110
I recall starting a  “network” diagram at last year’s hack that I think was suppose to aid in this issue.

Best,
-Lorraine

*****************************
Lorraine Hwang, Ph.D.
Associate Director, CIG
530.752.3656

[2018-02-22 21:07] jdannberg commented on #2110
Yes, that would definitely be helpful for this, thanks for reminding us, @ljhwang!
I recall that @bangerth should have all the code/data/output of what you did. @bangerth, can we somehow get that into the manual?

[2018-02-23 21:09] MFraters opened #2111 "deal.ii deprection warnings in ASPECT"
I came across quite a few deprecation warnings while compiling ASPECT with deal.ii 9.0.0 pre on a linux system (10594 lines to be precise). I can post the whole file with all the warnings, but it might be a bit much. So I post here two examples, which as far I could see these represent all the warnings:

[code]

[code]

[code]

[2018-02-24 07:39] arijitlaik commented on #2110
A simple Accretionary wedge cookbook would definitely help me out, with boundary conditions like this(in 2d):
![ruh2013](https://user-images.githubusercontent.com/10157121/36627112-f08c7bbe-1963-11e8-9deb-79889873d304.png)

[2018-02-24 19:06] naliboff commented on #2110
@arijitlaik - That is from the Ruh et al. 2013 G3 paper, yes? We can certainly try setting up this problem in 2D and 3D.  Would you like to discuss this in a separate "issue" or offline initially? It may be easier to use a free surface verse sticky air, but other than that I don't see any reason this can't be done. Not having a moving wall makes the problem much easier.

[2018-02-24 19:08] naliboff commented on #2110
@jdannberg - Thanks for starting this list. Another cookbook that would a number of people have requested is a post-glacial rebound type problem. This should be straightforward after viscoelasticity is finished.

[2018-02-24 19:34] naliboff commented on #2109
As far as instructions go, it seems like the key steps are:

1.  Build off existing cookbooks or examples as much as possible.
2. The cookbook should use existing code or be submitted as a pull request that includes the new code. However, submitting the new code first in a separate pull request is preferable.
3. Heavily document (comments) the parameter file in `aspect/cookbooks`.
4. Describe the

[2018-02-24 19:49] arijitlaik commented on #2110
@naliboff its from the Ruh et al. 2013 G3, i should have mentoned it there, i have been trying to model these types of geometries and have been fairly successful in implementing them in Underworld(sticky air, without surface diffusion) and in SiStER(sticky air with linear surface difusion), I would definitely like to be in loop with constructing these types of models and share my already construct

[2018-02-24 22:06] naliboff commented on #2110
@arijitlaik - great, let's take the discussion off github until we have a few concrete results to report back with. There may be a few rounds of trying various things to get reasonable convergence behavior. If others would like the full discussion to take place via a new issue, happy to do so and please let us know.

[2018-02-27 22:38] MFraters opened #2117 "Improve documentation in newton.h"
This is a reminder to follow up on #2097.

[2018-02-27 22:42] bangerth opened #2118 "Add missing derivative term to the Newton preconditioner matrix"
#1967 points out that the Newton preconditioner term is still missing the compressibility term. While looking at #2116, I also noted that the Newton preconditioner would likely also be better if it had a contribution of the derivatives to the Schur complement: The factor 1/eta is likely sub-optimal, I think we need something of the sort of 1/(eta + deta/eps : eps(u)) or similar. What exactly remai

[2018-02-27 23:23] bangerth commented on #1950
The `ellipsoidal chunk` model uses the WGS84 geometry for which the equations (in `EllipsoidalChunkGeometry::push_forward_ellipsoid()` and `EllipsoidalChunkGeometry::pull_back_ellipsoid`) are implemented in `source/geometry_models/ellipsoidal_chunk.cc`. The formulas for this model originally came from @dsarahstamps and I don't know where she had them from.

@dsarahstamps -- do you recall a referen

[2018-03-01 19:33] bangerth opened #2121 "Unify compute_volume_fractions() implementation"
We have a number of places where we define a function `compute_volume_fractions()`:
[code]
I have not double-checked, but suspect that they are all copies of each other. We should unify all of these places by moving the function into namespace `Utilities`.

[2018-03-01 19:33] bangerth commented on #2121
See also #1767.

[2018-03-09 17:51] sibiaoliu opened #2123 "Diffusion Formulation Bug in Visco plastic material model"
Hi there,

I am running the intraplate compression model with visco-plastic material model.  Since I add both the diffusion and dislocation rheology, I found two questions.
1. The formulation of the diffusion creep viscosity is wrong:
In visco_plastic.cc, Line 198, `// viscosity = 0.5 * A^(-1/n) * edot_ii^((1-n)/n) * d^(m/n) * exp((E +...`,   it should be **d^(-m/n)** if the grain size `d` is 1 mm

[2018-03-09 19:02] naliboff commented on #2123
@sibiaoliu - Thanks for the questions!

First, a quick note. The equations you refer to in `visco_plastic` model have been updated slightly since the last release. Are you using version 1.5? For reference, the current version can be seen here: [visco_plastic](https://github.com/geodynamics/aspect/blob/master/source/material_model/visco_plastic.cc)

Question 1 - I am a bit confused as to why the eq

[2018-03-09 19:57] sibiaoliu commented on #2123
@naliboff - Thanks for the answering.

Yes, I am now using version 1.5.

Q1: I mean the term of grain size `d^(m/n)`, rather than `A^(-1/n)`.  m is the grain size exponent, n is the stress exponent. For the prefactor A, it is correct.
For the diffusion viscosity, it should be: `eta = 0.5 * A^(-1/n) * 1/d^(m/n) * exp((E+pV)/RT)` (Say Equation 1) since n = 1. However the current formulation is  `eta

[2018-03-09 20:19] naliboff commented on #2123
@sibiaoliu

Q1: Sorry, I meant to write `d^(m/n)` verse `d^(-m/n)`. First cup of coffee and all that. Aside, I have always seen the equation written as `eta = 0.5 * A^(-1/n) * d^(m/n) * exp((E+pV)/nRT)`. Can you point me to the reference using the `1/d^(m/n)` term in the viscosity equation?

Q2: Sure thing and let me know if you would like that option incorporated in the main branch or if you are

[2018-03-09 20:33] sibiaoliu commented on #2123
@naliboff

Q1: Sure, one good reference would be the book: Introduction to Numerical Geodynamic Modelling by T. Gerya, 2010. page 75-80. Specifically, the equation 6.5b, 6.10 (axial compression), and 6.15 (simple shear). What I used the grain size before is 1e3 meter instead of 1e-3 meter in the current formulation.

Q2: I prefer to use the local branch for testing since it is small changing. Addi

[2018-03-09 20:42] naliboff commented on #2123
Q1 - Interesting. All of the current material models in ASPECT use the form of the equation outlined in visco_plastic and most other papers I am familiar with do as well.

@jdannberg @gassmoeller - Have you come across this alternate viscosity formulation for the grain size term?

[2018-03-09 21:26] jdannberg commented on #2123
I think I know what's going on. Taras defines his m differently from what most other people do. If you read the whole paragraph, his m is negative, so m ~ -3 for diffusion creep, while most other people (including our implementation in ASPECT) define m as positive. So that's where the minus sign comes from.

If you look for example at equation (5) in Becker, T. W. (2006) On the effect of temperatu

[2018-03-09 21:38] jdannberg commented on #2123
Oh and about your second question:
Why don't you just set the diffusion creep prefactor to a very small value in the crust such that the diffusion viscosity in the crust becomes very large, and is essentially only used if the strain rate is almost 0? Is that not the behaviour you want? It might be useful to have that in any case, so that you viscosity doesn't just go to really high values in case

[2018-03-09 21:54] sibiaoliu commented on #2123
@jdannberg - Thanks Juliane!

Q1: So the formulation is correct and the key point is the value of the prefactor A with the unit: Pa^−1 * m^(1/m) *s−1 for the diffusion creep. The value from other reference paper should be very carefully and converted to the right value in ASPECT. (I will also check my A value for dislocation creep :)

Q2:  Gotcha.  That's exactly what I want!



[2018-03-09 21:59] jdannberg commented on #2123
@sibiaoliu

Q1: I guess the key point is the value of m. It is positive in ASPECT, but negative in Taras' book. I guess for every reference you use, you have to check if they use the same or a different formulation compared to what we do. But most papers I've seen use the on in ASPECT (the one from Thorsten Becker's paper).

Q2: Perfect!

[2018-03-09 22:25] sibiaoliu commented on #2123
@jdannberg

Q1: To the end, if the unit of A in ASPECT is the same as `Pa^−n * m^(m) *s−1` in T. Becker's paper , then the unit of `Prefactors for dislocation/diffusion creep` should be corrected in the manual (Pa^−n * m^(n/m) *s−1)?

[2018-03-09 22:37] jdannberg commented on #2123
The example I gave was for diffusion creep (n=1). In general, (Pa^−n * m^(n/m) *s−1) should be correct.

[2018-03-09 22:42] jdannberg commented on #2123
Oh, wait, I see. You mean it should be `m^(m)` instead of `m^(1/m)`?

[2018-03-09 22:48] sibiaoliu commented on #2123
Exactly :)

[2018-03-09 22:51] jdannberg commented on #2123
@naliboff, does that seem right to you? The unit should be `$Pa^{-1} m^{m_{diffusion}} s^{-1}$` for the Prefactors for diffusion creep, and `$Pa^{-n_\\text{dislocation}} s^{-1}$` for the Prefactors for dislocation creep, correct? So we should update that in the documentation of all the material models that use this law?

[2018-03-09 23:36] naliboff commented on #2123
@dannberg - Yep, the units above look right to me.  @sibiaoliu - Nice catch on the documentation of `A`! I'll submit a pull request with the change in a little bit.

[2018-03-10 00:07] jdannberg commented on #2123
Great, thank you!
:+1:

[2018-03-11 02:18] gassmoeller commented on #1560
Should be resolved when #2051 and #2099 are merged.

[2018-03-11 09:10] gassmoeller commented on #59
Is this still a relevant question? Since it is simple to activate I made a few runs on my laptop with a very small test model, and below are some results that show that replacing MPI processes with threads can indeed speed up things (on my laptop that is). I guess the two important question I would have about the topic are:
1. Which parts of ASPECT will benefit from threads, and more importantly w

[2018-03-11 17:53] tjhei commented on #59
Most of the time is typically spent in our linear solvers which use AMG. AMG does not use multiple threads so I don't think this is worth looking into as of right now. While assembly might be a bit faster using threads, I doubt this will make a difference.
The whole thing is worth looking at again, when we use matrix-free solvers.

[2018-03-11 20:50] bangerth commented on #59
I agree with @tjhei -- as long as we spend the majority of time in linear solvers, the only reasonable choice is to use more MPI processes with one thread each. That's because neither Trilinos nor PETSc use threads in their linear solvers and preconditioners.

Out of curiosity, though: I have little confidence in measurements of individual parts of a program that only runs 0.2 seconds overall. Wha

[2018-03-13 01:21] gassmoeller commented on #59
Hmm, I agree that the speedup is not huge, but looking at the numbers below I would say that choosing 4/2 (4 mpi processes with 2 threads each) is about 5 % faster in all assemblies than 4/-. The former is the setup that I used so far when using clusters, using as many MPI processes as hardware cores, and ignoring the hyperthreads. Of course 8 MPI processes would be even better, but I am usually r

[2018-03-13 01:21] #59 closed

[2018-03-13 01:54] bangerth commented on #59
So for the 4/2 and 2/4 cases, did you need to change anything at all, or is this just what ASPECT does? I mean it does improve things a bit over the 4/1 case, so we could just make that the default. If you have 4 physical cores each with hyperthreading, there is no reason not to use the hyperthreading if you only have 4 MPI processes.

I'm sure there will also be more things we parallelize over ti

[2018-03-13 02:40] gassmoeller commented on #59
Below is the only source change I did, and it correctly identified my total number of logical threads and depending on my number of MPI processes it selected the threads correctly. Should we make it an input parameter or compile-time switch first in case there are systems with problems?

[code]

[2018-03-13 03:12] bangerth commented on #59
Do we have good reasons not to merge your patch?

(I'll note that both for casual runs to just check something real quick, and probably for the testsuite, we don't typically run with mpirun. It wouldn't seem wrong to make things a bit faster for that.)

[2018-03-13 12:56] #2123 closed

[2018-03-13 22:51] gassmoeller commented on #59
I do not expect problems, but I could see instance where I want to test runtime for a given number of MPI processes, and I would be annoyed if ASPECT automatically fills up all threads (also what if I want to run 8 models with 1 process each in parallel, that would not work anymore). Maybe an input parameter would be best?

[2018-03-14 03:17] jdannberg opened #2129 "compute_current_constraints is called twice at the start of time step 0"
At the moment, we call `compute_current_constraints()` twice at the start of time step 0 (and for each adaptive refinement of time step 0), once in setting the initial conditions, and then another time in `start_timestep`. This is not wrong, it is just a bit confusing and probably unnecessary work. So it would make sense to not call `compute_current_constraints()` in `start_timestep` if the time s

[2018-03-15 16:24] #962 closed

[2018-03-15 21:23] gassmoeller commented on #2111
Hi Menno, I just tried to compile the newest deal.II dev with ASPECT master and did not get these warnings (gcc 4.8). Which compiler did you use for this?

[2018-03-15 23:16] naliboff commented on #2111
For reference, I'm also getting these warnings with gcc 5.4.

[2018-03-20 21:06] gassmoeller commented on #2111
I tried to reproduce the deprecation warnings with a current deal.II master and gcc 7.2, but was unsuccessful. The only thing I found was #2134. Could one of you try again with a current deal.II master? Maybe it is fixed there already. If not it is likely something in gcc 5.4 that no longer happens in gcc 7.2 (or some difference in our deal.II configurations).

[2018-03-22 14:53] MFraters commented on #2111
I tested with the newest master on three different machines, and the warnings have disappeared for me, except on one machine when I try to compile the Spiegelman benchmark. Not sure what is causing the difference. @naliboff, do you still see the warnings with the newest master?

[2018-03-22 18:26] gassmoeller commented on #1399
As far as I can see this has been fixed (maybe during the transition of the website).

[2018-03-22 18:26] #1399 closed

[2018-03-29 16:42] gassmoeller opened #2143 "New test setup"
As discussed with @tjhei a while ago in an email chain, CIG would like to help with setting up testers for software projects. Our current setup works well for normal development, but it is often overwhelmed during hackathons, it is not scalable, and it depends on one of the maintainer being able to run a machine with root access (for the docker containers). An earler try was Jenkins (http://blofel

[2018-03-29 17:08] tjhei commented on #2143
not true. I am using docker-machine and run the stuff inside virtualbox.

The important part is testing pull requests and posting commit status messages. This can be done using the github status plugin in jenkins, so we can use a jenkins setup. This can be the server run at Davis or mine at jenkins.tjhei.info (play ground for deal.II related testing for now).

The same can be done with jenkins. Wh

[2018-03-30 14:28] tjhei commented on #2143
Well, it is a playground to learn how it works for aspect, deal.II, etc. and we could also use it productively for all of them if we want. The deal.II and ASPECT integration testers are not using the jenkins machine yet.

[2018-04-10 20:27] gassmoeller commented on #1560
As discussed in #2051 and #2099 this needs more work, and the remaining parts need to be addressed after 2.0.

[2018-04-10 20:29] gassmoeller commented on #2118
Is this going to happen within the next 1-2 weeks? Otherwise lets postpone it until after the release. We need to make the ASPECT release before the deal.II release (due to incompatibility between ASPECT 1.5 and deal.II 9.0).

[2018-04-10 21:42] bangerth commented on #2118
Not likely. Let's bump it.

[2018-04-11 00:46] gassmoeller opened #2158 "Create a test for `Enable Stokes RHS = true`"
As far as I can see there is currently no test for this.

[2018-04-12 21:37] naliboff commented on #2023
I'm working on this right now.  Here are the following "solver related" parameters that are **not** in the `Solver parameters` subsection:

- `Max nonlinear iterations`
- `Nonlinear solver scheme`
- `Nonlinear solver tolerance`
- `Use direct solver for Stokes system`
- `Linear solver tolerance`
- `Linear solver A block tolerance`
- `Linear solver S block tolerance`
- `Number of cheap Stokes solver

[2018-04-18 00:29] jdannberg commented on #1950
Let's check how big the error is for points that are in the Earth's mantle, further away from the origin. If we find the error is sufficiently small, let's postpone this until after ASPECT 2.0.

[2018-04-20 00:30] gassmoeller opened #2167 "Spiegelman benchmark has no parameter file"
@MFraters Was this supposed to get a parameter file some time? Currently, it is a bit confusing to have a cc file but not a prm file.

[2018-04-20 03:48] gassmoeller commented on #1969
Closed by #2162

[2018-04-20 03:48] #1969 closed

[2018-04-20 13:35] MFraters commented on #2167
Yes, I will have to think of a way to structure it correctly since it consists of 27 different settings of which I reproduce 18 with all kinds of parameters. Will do this after we have submitted the paper.

[2018-04-20 16:26] gassmoeller commented on #2167
Would you be ok if we move this to the tests/ for the release, and until we have the complete benchmark description?  As far as I can see it is only used in tests/spiegelman_material.prm. Otherwise users might be confused.

[2018-04-20 16:29] jdannberg commented on #2167
We could also move it to the cookbooks/future folder, if there is not prm file to run it at the moment...

[2018-04-23 09:02] MFraters commented on #2167
I am fine with both options.

[2018-04-23 22:20] jdannberg opened #2171 "Move temperature and composition solver tolerance into the Solver settings subsection"
This would be a follow-up for #2163. I think it would be confusing for beginners, who may use the ASPECT gui, to find the composition and temperature solver tolerances in the global parameters, but not the linear (Stokes) solver tolerance. So I think they should be moved into the Solver settings subsection too (but they do not necessarily need their own subsection, they can just parameters in that

[2018-04-24 10:28] anne-glerum opened #2173 "Iterated solvers always do one nonlinear iteration, if if the max number is set to 0"
Because of the do ... while loop, the iterated solver schemes always perform at least one nonlinear iteration, even though the 2 parameters controlling the maximum number of nonlinear iterations can be set to 0. Besides this behavior being unexpected when setting the max number to 0, in the initial refinement phase it can be really useful not to do any iterations (when not refining based on a solu

[2018-04-24 17:59] #2171 closed

[2018-04-24 18:03] jdannberg commented on #2023
Fixed by #2163 and #2174.

[2018-04-24 18:03] #2023 closed

[2018-04-24 20:13] gassmoeller commented on #1090
Lets move the still open points to the next major release (sometimes in the far future). They did not seem important enough for anyone to implement them during the more than one year before 2.0, and they are not easy or quick to implement.

[2018-04-25 03:42] #2167 closed

[2018-04-25 21:25] jdannberg opened #2179 "p_c is still used in some of the cookbooks"
This causes problems because the files don't run any more after the changes introduced in #2169.

[2018-04-26 13:31] #1950 closed

[2018-04-27 02:10] gassmoeller commented on #1822
Closed by #2132

[2018-04-27 02:10] #1822 closed

[2018-04-27 02:14] gassmoeller commented on #1730
This seems not longer an issue but if it appears again feel free to reopen.

[2018-04-27 02:14] #1730 closed

[2018-04-27 02:25] naliboff commented on #1394
I'm closing this issues as updates to the compositional field handling significantly reduced memory requirements. As such, there is no significant to tracking lots of different 'rock types' with different compositional fields as opposed to handling all material properties on the tracers.

[2018-04-27 02:25] #1394 closed

[2018-04-27 02:27] gassmoeller commented on #1112
Was this addressed? Do we now correctly compute the sparsity pattern for DG in parallel?

[2018-04-27 02:29] gassmoeller commented on #1059
Adressed by #2157

[2018-04-27 02:29] #1059 closed

[2018-04-27 02:37] gassmoeller commented on #445
Closed by #2162

[2018-04-27 02:37] #445 closed

[2018-04-27 02:38] gassmoeller commented on #400
This was not put forward for a long time. I will close it for now. Feel free to fix it any time.

[2018-04-27 02:48] tjhei opened #2184 "make compile&run with PETSc"

[2018-04-27 02:48] tjhei opened #2185 "check new deal.II 9.0.pre"
especially the manifold change

[2018-04-27 03:02] #2179 closed

[2018-04-27 03:26] gassmoeller commented on #1090
Everything in this issue has been addressed or postponed into other points, and we track the progress of 2.0 in the milestone, so I will close this meta issue.

[2018-04-27 03:26] #1090 closed

[2018-04-28 00:04] jdannberg commented on #1027
I think in general, our cookbooks are quite different from the examples in Turcotte and Schubert. If we want to add specific cookbooks that correspond to examples from their "Geodynamics" book, I think it would be more useful to add them to our list of future cookbooks in issue #2110.

[2018-04-28 00:04] #1027 closed

[2018-04-28 00:09] jdannberg commented on #948
This was finished with the overhaul of the melt solver.

[2018-04-28 00:09] #948 closed

[2018-04-28 00:14] jdannberg commented on #941
@bangerth, I remember you wanted to make a pull request for this? It would be great if we could get this done before the [CGU tutorial](https://geodynamics.org/cig/events/calendar/2018-cgu-cig/aspect-tutorial/) so that people would know where to start from. Let us know if you need help with this.

[2018-04-28 00:26] jdannberg commented on #915
I made a checklist out of @cedrict's list, so it would be great if everyone who knows that one of these benchmarks has been successfully reproduced could check it off, just so that we have an overview over how much progress we've made with this.

[2018-04-28 19:24] gassmoeller commented on #2173
Hi Anne, I agree this is a bit inconsistent, but not solving anything when setting Number of nonlinear iterations to 0 also seems a bit surprising to me (what if somebody expected to 'just do a linear solver' when setting this number to 0). Are you only concerned about the initial refinement stage? Then this would be quite similar to #1690, maybe the solution that I described there would already w

[2018-04-28 19:25] gassmoeller commented on #2111
It seems this is fixed.

[2018-04-28 19:25] #2111 closed

[2018-04-30 20:26] #1562 closed

[2018-05-02 00:07] jdannberg commented on #2109
For 3, I would specifically include:
- what is the motivation of the model?
- what is the setup: initial conditions, boundary conditions, geometry, etc, anything that is special and that is the point of this cookbook
- what is the model evolution / show some type of result
- optional: how can the setup be modified or be played around with to make it more realistic or to do sensitivity tests?

For

[2018-05-02 00:32] gassmoeller commented on #1631
Was fixed by #1636.

[2018-05-02 00:32] #1631 closed

[2018-05-02 02:03] bangerth commented on #2173
I think the rationale that we've always had was this, in analogy to figuring out whether we need to keep iterating based on the tolerance: In order to *determine* whether we've reached the tolerance, we need to assemble the system (to compute the residual), and that gets us most of the way there to already doing one solve, so let's just do that as well. Here, the situation is different because you

[2018-05-02 13:36] MFraters commented on #2173
I have currently two use cases where I find it useful to be able to use 0 iterations.

1. When I am trying to construct initial conditions on large meshes to see whether I constructed them correctly. Solving the system in this case is unnecessary and expensive (and sometimes even impossible, when I have made a mistake, and then there won't be output to see what I did wrong).

2. When I am doing a

[2018-05-04 21:03] tjhei opened #2210 "failing quick test (clang 6)"
I get
[code]
and I don't understand how this can happen. We need to investigate before releasing. Happens with clang 6 on ubuntu 14.04

[2018-05-04 21:04] tjhei opened #2211 "floating point exception (clang6)"
I am getting
[code]
when running solcx in the second nonlinear solve. I am not sure what is going on here.

[2018-05-04 23:27] gassmoeller commented on #2185
I guess the current deal.II release candidate will be the best version to test. I will give that a try.

[2018-05-04 23:33] gassmoeller commented on #2210
How did you install clang 6? On http://apt.llvm.org/ they mention that they need some backported libstdc++ for 14.04. Could that be the issue?

[2018-05-05 03:37] gassmoeller commented on #2211
The fix for my problem is in #2214, does your error still occur after that fix?

[2018-05-05 14:49] drwells commented on #2185
I believe the new grid is better: perhaps not for aspect but in general, since the cells are closer to cubes.

I typically think of grid quality in terms of how close the cells are to forming a cube: i.e., the ratio of largest to smallest vertex distance should be about 1.7. The new version performs a lot better by that metric. Here is a sample program:
[code]

output:

[code]

The skewness is sti

[2018-05-05 15:45] tjhei commented on #2185
Thanks for checking. I want to check all geometries with manifold descriptions, as these changed in deal.II. See the first item in http://www.dealii.org/developer/doxygen/deal.II/changes_between_8_5_0_and_9_0_0.html

[2018-05-05 16:24] tjhei opened #2215 "2.0 Release"
I haven't found an issue to discuss the release planning for 2.0. Let's have the conversation in here.

Open issues: https://github.com/geodynamics/aspect/milestone/4

Things to consider to put in:
- [x] #2214
- [x] #2212 -> delay
- [x] #2213

[2018-05-05 16:25] tjhei commented on #2215
@gassmoeller can you think about the open PR's and let me know when I can branch off of master?

[2018-05-05 18:26] tamiko commented on #2185
@gassmoeller We have an important fix for the `ConstraintMatrix` on the current release branch. Can you please check again with v9.0.0-rc2 that I will tag in about 1-2h.

[2018-05-05 18:58] gassmoeller commented on #2215
I would say lets keep #2212 out of the release. It is nice to have, but it requires retesting too many things.
#2213 might be important though, since one of our tests creates divisions by zero with deal.II 9.0. I will maybe have to update the results once more, but after that it should be ready to go.

My vote: Include #2213 and then branch of 2.0.

[2018-05-05 22:00] gassmoeller commented on #2185
@tamiko: I checked again with v9.0.0-rc2 but the test results did not change compared to before.

[2018-05-06 13:30] cgw0814 opened #2216 "2D section view in 3D model"
Hi, all, how could I get 2D section profile of any directions in 3D extensional model, For example, as figures
![2018-05-06 9 30 01](https://user-images.githubusercontent.com/38973778/39673755-adb7d830-5174-11e8-89df-d8f1c15c57d2.png)
![2018-05-06 9 29 35](https://user-images.githubusercontent.com/38973778/39673756-adef1cbe-5174-11e8-8944-3732789d81d5.png)

[2018-05-06 13:49] MFraters commented on #2216
Hey,
Welcome to ASPECT! ASPECT can produce different output formats such as vtu/vtk and gnuplot. For more info see the manual (http://www.math.clemson.edu/~heister/manual.pdf#subsection.5.76), under the variable `Output format`. You can then visualize the data in several programs such as paraview or VisIt in which you can make these kind of cross sections of the 3d data.

[2018-05-06 14:55] tjhei opened #2217 "default ascii data gravity generates warning"
[code]
for example in cookbooks/shell_simple_2d.prm generates the warning
[code]
I think this is confusing and we should remove the warning or suppress it in this situation.

[2018-05-06 16:57] gassmoeller commented on #2210
I do not have clang 6 available to check. Is clang 6 the default for the new Ubuntu 18.04? Then we should probably check if it happens there as well (I can do that in a docker container later today). If it is only the combination of ubuntu 14.04 and clang 6 then I am not too worried (I do not know many users who manually update their compilers on older ubuntu versions).

[2018-05-06 22:56] gassmoeller commented on #2210
I could reproduce this and #2211 on my ubuntu 14.04. Will try next with 18.04 in a docker container. Still need to check if the libstdc++ backport will work.

[2018-05-07 01:07] gassmoeller commented on #2210
Ok, so I followed the instruction on http://apt.llvm.org/ and now I can not longer enable FP exceptions in cmake (apparently the test fails). Unfortunately now my linker fails (because it no longer finds fortran) and I can not check if I can run the test without exceptions. On ubuntu 18.04 with clang-6 this error does not happen (so maybe it is just the binary of clang-6 that does not work with ub

[2018-05-07 01:09] gassmoeller commented on #2211
I can reproduce exactly your error message on ubuntu 14.04 (clang 6 manually installed) and 18.04 (clang 6 installed from repository). I can not see what is happening though. Is there a tester for deal.II with clang 6 and this particular setup? Then we could at least narrow down if the problem is in aspect or deal.II.

[2018-05-07 01:37] bangerth commented on #2215
You all have thought this through much more than I have, but this choice seems reasonable. #2212 only adds a test. If the process we've been going through over on the deal.II side right now indicate anything, then it's that there ought to be a point where only absolutely critical things should go in. #2212 doesn't seem critical.

[2018-05-07 01:58] gassmoeller commented on #2211
This is the full callstack:
[code]

Does it tell us anything that the exception is raised from libpthread?

[2018-05-07 04:42] bangerth commented on #2211
Demangled, this looks as follows:
[code]
I don't think that the problem is inside libpthread, but only that the pthread library has installed a signal handler that cleans up the thread before it aborts the program.

[2018-05-07 04:43] bangerth commented on #2211
In other words, I assume that the problem happens inside the `execute()` function. Can you narrow things down by putting `printf` statements in there?

[2018-05-07 06:44] bangerth commented on #400
@Shangxin-Liu 's observation is not wrong -- we should document this better.

[2018-05-07 13:36] #400 closed

[2018-05-07 14:00] anne-glerum commented on #2173
@gassmoeller concerning #1690, Isn't the parameter `Max nonlinear iterations in pre-refinement` meant for this? This parameter I find very useful, like for the cases Menno describes. With the restructuring of the solvers, this parameter now also always leads to at least 1 nonlinear iteration.

[2018-05-07 15:56] gassmoeller commented on #400
Thanks for fixing this! I was not implying this issue would be wrong, merely that it was open for 3 years without being important enough to be fixed. We have a number of 'nice to have' issues that have not been addressed for a long time, and they distract from more important bugs. Some github projects have a policy about how to handle 'stale' issues (e.g. close them 6 months after the last comment

[2018-05-07 15:58] bangerth commented on #400
You did entirely the right thing when you close the issue -- nothing was forthcoming. I just thought I should spend a 5-minute hole on something like this.

[2018-05-07 16:56] gassmoeller commented on #2211
@bangerth: Timo posted the line that gdb shows, but that makes no sense, because there is no floating point operation there. So it must happen at some random point before. Would printf check for FPE's?

A few more informations:
- If I disable FP_Exceptions with clang6 the tests run fine.
- If I try to use gcc-7.3.0 on the same system I am testing at the moment (ubuntu 18.04) it does not allow me t

[2018-05-07 17:42] tjhei commented on #2211
I assume clang is more aggressive in optimizing the code in debug mode. Without FP exceptions, it is of course legal to optimize something like
[code]
and always do the divide. I don't think we have a bug in our code.

Hardcoding a check like this for a specific compiler version is not ideal. I would prefer to extend the check. Give me a plane ride to see if I can figure this out. ;-)

[2018-05-07 17:45] #2217 closed

[2018-05-07 17:56] tjhei commented on #2215
I will be offline for a bit (flight to Europe), but I will branch off for the release soon.

[2018-05-07 22:41] naliboff commented on #1838
The attached file is a collection of notes from my installing ASPECT on Stampede2:
[Stampede2_ASPECT_Installation_Instructions.txt](https://github.com/geodynamics/aspect/files/1981709/Stampede2_ASPECT_Installation_Instructions.txt)

 I'll convert these to more general instructions on the ASPECT wiki, but first I thought it would be helpful to review the steps and see if everything makes sense.

A

[2018-05-08 01:42] bangerth commented on #2211
Let's let @tjhei have his plane ride :-)

@gassmoeller  -- no, `printf` doesn't fix the issue of course. I just meant this as a way to figure out in which line the problem happens -- put some `printf`s throughout the function and see which ones get executed before the exception happens. `printf` is an expensive and non-inlined function, so the compile will generally not move instructions across th

[2018-05-08 01:54] bangerth commented on #1838
When I started to write down my own installation instructions (for my own use), I learned that it is helpful to replace things like "Make sure following modules are loaded" and "Put tarball and shell script in a folder called p4est" by actual commands because it reduces the potential for mistakes when going down the list. I also try to avoid listing concrete directory names because they need to be

[2018-05-08 16:10] gassmoeller commented on #2215
I think #2227 and #2225 are the last missing pieces for the release. It would be great if we had a tagged and uploaded release until Thursday (when we give the webinar about it). No need to do everything until then, but a tar version on github would be great.

[2018-05-08 16:26] tjhei commented on #2215
I will do the release tomorrow, at least the branch + RC.

[2018-05-08 18:01] gassmoeller commented on #2215
Great, thanks!

[2018-05-08 18:04] jdannberg commented on #2215
Yes, thank you both for all your work!

[2018-05-08 19:30] tjhei commented on #2211
while not "fixed", let's close this with #2225 as the solution.

[2018-05-08 19:30] #2211 closed

[2018-05-08 19:31] tjhei commented on #2210
yes, I used the binaries on 14.04. Let's ignore it!

[2018-05-08 19:31] #2210 closed

[2018-05-08 19:32] tjhei commented on #2185
I think this should be it. Thanks!

In the long run we should check where we set manifold ids manually and remove that code (but only after we require deal 9.0)

[2018-05-08 20:09] tjhei commented on #2215
I think we are good with #2228 and #2229 if one of you wants to merge...

[2018-05-09 00:28] bangerth commented on #2215
Looks good to me as well!

[2018-05-09 07:29] tjhei commented on #2215
I tagged rc1: https://github.com/geodynamics/aspect/releases/tag/v2.0.0-rc1

anyone want to give this a spin?

[2018-05-09 12:46] tjhei opened #2231 "html manual?"
We discussed generating an html version of the manual in the past. I have played with ``make4ht`` and have a preliminary version here: http://www.math.clemson.edu/~heister/aspect-manual/manual.html

While many things are broken, it is quite useful to link people to a specific section in the manual, which is difficult in a pdf. Does it make sense to continue working on this? Note that some of the i

[2018-05-09 13:49] bangerth commented on #2231
Neat. I think this is useful indeed, if you can get the currently broken parts going.

If you want to link to individual sections, you also need stable links to sections. Does make4ht give you that?

[2018-05-09 14:56] MFraters commented on #2215
Compiles on a linux machine without warnings (deal.ii 8.5). I also ran the test, only a few failed. I didn't look at why they failed yet.

[code]

[2018-05-09 15:04] tjhei commented on #2231
Section names are ``manualseX.html`` where X is the section number, which should be somewhat stable. Subsections of course change, so that is an issue. I will play with this a bit.

[2018-05-09 15:07] tjhei commented on #2215
great, thank you!

That is to be expected as it depends on the precise system and library versions you are running.

[2018-05-09 15:18] MFraters commented on #2215
I now looked at them, and they all seem to be very minor changes in some values (usually in the order of 1e-4) or a small change in the iteration count. The hdf5 failed because hdf5 was not installed on this particular setup apparently :)

[2018-05-09 15:42] MFraters commented on #2231
Looks cool Timo! Is this automatically loaded/linked from github every time you load a page, or do you have to compile it every now and then like the pdf?

[2018-05-09 19:10] tjhei commented on #2215
If I don't hear otherwise, I will make the final 2.0.0 in the next 24 hours (whenever I have good enough internet).

[2018-05-10 07:52] bangerth opened #2238 "Add reference to Nimmo et al. (2014) to the 'dynamic core' boundary temperature model"
The `source/boundary_temperature/dynamic_core.cc` file repeatedly refers to a paper by "Nimmo et al. (2004)", but this paper is not referenced in the manual and not in the bibtex file either.

[2018-05-10 07:52] bangerth commented on #2238
(Found in #2237.)

[2018-05-10 13:19] tjhei commented on #2231
right now it is generated manually.

the pdf is generated every night.

[2018-05-10 13:32] tjhei commented on #2215
okay, here is the release: https://github.com/geodynamics/aspect/releases/tag/v2.0.0
here is the zenodo DOI: https://doi.org/10.5281/zenodo.592692

[2018-05-10 13:40] tjhei commented on #2215
figshare: https://doi.org/10.6084/m9.figshare.4865333.v4

[2018-05-10 13:41] tjhei commented on #2215
website is also updated. Things that are left to do:
1. update http://geodynamics.org/cig/software/aspect/
2. announce the release vis email

[2018-05-10 15:56] gassmoeller commented on #2215
Thanks for all the work! I will talk to people here about geodynamics.org. Do you want  to send the release mail? Otherwise I can do that tomorrow.

[2018-05-11 01:26] gassmoeller commented on #2215
Release email is out. It might take a while to show up on the CIG mailing lists, because I used the ucdavis email for that (new address). I guess that means the deal.II users are first to be notified.
Anyway, I think we got everything. Time to celebrate :tada:

[2018-05-11 11:05] tjhei commented on #2215
Thanks!

[2018-05-11 11:05] tjhei commented on #2215
Let's plan to have the next release in a shorter time frame. 😉

[2018-05-11 17:29] gassmoeller commented on #2215
I agree. 2.1.0 before AGU?

[2018-05-14 00:30] #2215 closed

[2018-05-14 22:25] liaokp opened #2243 "track the location of the rising stokes sphere"
In my 2D simple model (a box), I have a buoyant rising stokes sphere, I want to track its location (Y-coordinate) at every time step and output it to a file. The way I tried is to put in a single passive particle at the center of the sphere (see model file line 176 - 187, complete model file and plugin is attached), but ASPECT failed to run my model.

168 subsection Postprocess
169   set List of p

[2018-05-14 23:50] bangerth opened #2244 "Post-2.0 cleanups"
I can think of the following things we ought to do:
- [ ] Require deal.II 9.0 in `CMakeLists.txt`
- [ ] Document this where appropriate
- [ ] Switch the testers to use deal.II 9.0
- [ ]  Remove `#if DEAL_II_VERSION_GTE(9,0)` statements.

This means we are now allowed to use C++11 -- yay!

[2018-05-14 23:51] bangerth commented on #2244
We can also remove `#if DEAL_II_VERSION_GTE(9,0)` statements.

[2018-05-15 19:05] tjhei commented on #2244
Does this make sense to do before the hackathon?
Pro:
- we can hand out starter projects to do c++11 related cleanups.
- we don't have to worry about 8.5 and 9.0 compatibility
Cons:
- Updating the test infrastructure (and test output) is a lot of work
- This forces everybody to install 9.0 on their machines.

[2018-05-15 23:47] class4kayaker opened #2246 "Add way to check if a mesh refinement strategy is active"
The mesh refinement handler currently is both not accessible and does not allow any way to check whether a particular strategy plugin is included.

This is an issue if a configuration requires that a refinement strategy be used.

[2018-05-16 00:41] jdannberg commented on #2216
@cgw0814, did this answer your question? Usually, the place to ask questions like this would be the [aspect mailing list](https://lists.geodynamics.org/cgi-bin/mailman/listinfo/aspect-devel), while the issues on github help the developers to keep track of bugs we have to fix or missing features. So I'll close this issue here.

[2018-05-16 00:41] #2216 closed

[2018-05-16 19:32] gassmoeller commented on #2243
Kunpeng,
I was trying to reproduce your problem, but I am having trouble finding the combination of deal.II and ASPECT that creates the problem. Please attach the output/log.txt file of your run. Also please post the commit hash of your ASPECT version (go to your ASPECT source directory and type `git log` and post the uppermost commit).

[2018-05-17 20:04] tjhei commented on #2243
This won't work because ``Assert(...)`` won't be thrown but causes an abort.

This looks to me like a bug inside deal.II: we are missing a check to only look at non-artificial cells before looking at the cells in ``adjacent_cells``. This bugs seems to be in 8.5 and 9.0. ;-(

While this can be fixed in deal.II, I am not sure how to fix ASPECT here. Rene, any idea?

Kunpeng, how many MPI procs are y

[2018-05-17 20:40] tjhei commented on #2231
how about this? http://www.math.clemson.edu/~heister/aspect-manual/nav.xhtml

One .html per chapter (otherwise the file is too big) and links are by name.

[2018-05-17 20:51] jdannberg commented on #2231
That's really nice!
How do you want to continue with this (fixing the figures, etc.)? Also let me know if you reach a point where you need someone to look through the document to see if the formatting looks good everywhere!

[2018-05-17 21:13] tjhei commented on #2231
It seems like embedded pdfs look terrible: http://www.math.clemson.edu/~heister/aspect-manual/ch006.xhtml#sec:finite-strain while other images looks mostly okay (except sizing issues).

Maybe it is a bit too early. I think we should decide if this is promissing enough, then merge it as is and put it online before we fix other stuff. Hackathon starter projects? ;-)

[2018-05-17 21:34] bangerth commented on #2231
Nice indeed!

Something also goes wrong with tables, see http://www.math.clemson.edu/~heister/aspect-manual/ch006.xhtml#sec:sinker-with-averaging and the latex formatting instructions that leak into the HTML. For the figures, one of the problems is that the PDF or PNG versions are in whatever size they come, and latex rescales them. I don't think this is happening here.

[2018-05-17 21:39] jperryhouts commented on #2231
This is great! The pdf version looks nice, but I doubt anyone prints it out, which is the only real benefit of a pdf.

Markdown with mathjax equations, served via github pages, might be a more natural format for the whole thing, and wouldn't require rebuilding every time the sources change.

[2018-05-17 22:47] naliboff opened #2250 "AsciiDataLookup error when using the 'Ascii reference profile' and 'Depth dependent' material models"
This is a follow-up to an email conversation on aspect-devel (subject: 'Error on depth dependent material model').

When using the `Ascii reference profile` material model in combination with the `Depth dependent` material model a segmentation fault as a result of a null pointer in the `AsciiDataLookup` function.

This can be produced by modifying the `Material model` section of  `tests\burnman_te

[2018-05-18 00:27] naliboff commented on #1838
@bangerth - Thanks for the tip! The instructions are certainly much cleaner now.

[2018-05-18 00:33] naliboff commented on #1838
I've added a page on the wiki for [ installing ASPECT on Stampede2](https://github.com/geodynamics/aspect/wiki/Compiling-and-Running-ASPECT-on-TACC-Stampede2).

This will need to be cleaned up and expanded to include instructions for a manual (w/out candi) installation and submitting jobs, but the bulk of the info is now there.

@gassmoeller - Feel free to add your name to the authors as you kindl

[2018-05-18 09:01] cgw0814 opened #2251 "can aspect execute under the mpiexec?"
as title

does aspect execute only in one node? or multi-node?

[2018-05-18 10:18] YiminJin opened #2252 "A bug in advection assemblers"
I believe that I have found a bug in assemblers of advection fields across all versions of ASPECT.

In struct internal::Assembly::Scratch::AdvectionSystem, there are pointers of FEFaceValues and FESubfaceValues, which will be newed by the constructor if discontinuous Galerkin method is chosen to solve the advection system. However, the copy constructor copies the pointer rather than FEFaceValues i

[2018-05-18 12:16] tjhei commented on #2251
please check section 4.1 in the manual: http://www.math.clemson.edu/~heister/manual.pdf

[2018-05-18 12:16] #2251 closed

[2018-05-18 16:35] liaokp commented on #2243
Hi Rene and Timo,

1. output/log.txt file is empty, only:
[code]

2. commit hash of my ASPECT version is:
[code]

3. I used multi processors on Lonestar5. I tried 96 and 528, both didn't work.

Kunpeng

[2018-05-18 16:44] tjhei commented on #2243
I don't think it make sense to ignore the mapping and return undeformed cells because they could be far away. I think ignoring artificial cells makes the most sense.

[2018-05-18 17:10] gassmoeller commented on #2243
I am just afraid that this might change results for other mappings (i.e. could users rely on the fact that `get_active_vertices` also returns vertices on artifical cells? Is that supported?)

[2018-05-18 17:21] gassmoeller commented on #2243
It also seems that this bug was actually reported in #2050 in a different context, but we never got around to fixing it. I will think about a workaround (probably a fix for deal.II, and a reimplementation of the function in aspect/compat.h).

[2018-05-18 17:32] gassmoeller commented on #2252
Hi YiminJin, welcome, and thanks for reporting this! This looks indeed like it could be a bug. We only introduced the multithreading support recently, and apparently this case was not tested. Could you post a minimal case that seems to cause the error? Is it enough to run aspect with -j on one of the discontinuous tests?
Thanks.

[2018-05-18 21:44] gassmoeller commented on #2243
A first proposal for a solution is in #6630, but it might take a while until that is figured out, and we have a working fix in aspect. @liaokp: I will email you a suggestion for how to work around this for the moment for your particular model.

[2018-05-19 06:49] YiminJin commented on #2252
You can add a line "set Use discontinuous composition discretization = true" in /tests/multicomponent_harmonic.prm, and try to run this test with -j. The output on my computer is:

-----------------------------------------------------------------------------
-- This is ASPECT, the Advanced Solver for Problems in Earth's ConvecTion.
--     . version 2.1.0-pre (master, 86d90e200)
--     . using deal

[2018-05-19 15:07] bangerth commented on #2252
@YiminJin -- thanks for submitting this!

I think your diagnosis is exactly correct. In `assemblers/interface.h`, we have this declaration:
[code]

But then in `assemblers/interface.cc`, we have this copy constructor:
[code]
In other words, we correctly copy the `finite_element_values` member variable, whereas the other member variables are simply shared pointers.

The bug would have been obvious

[2018-05-20 02:35] class4kayaker commented on #1112
I think this was fixed by #1133.

[2018-05-20 07:04] #1112 closed

[2018-05-20 08:39] bangerth opened #2256 "Fix grammar mistakes in simulator_access.h"
As found in #2255, `simulator_access.h` contains text of the kind "this can then i.e. be used to get the names of the..." in a number of places.

This is grammatically incorrect. It should be "this can then, for example, be used to get the names of the..."

[2018-05-21 09:50] YiminJin commented on #2252
@bangerth thanks for your detailed solution!

I'm a newer to github and it took me some time to learn to use it. I have submitted a pull-request and fixed the problem there.

However, another problem arises when those bugs are fixed. When running ./aspect -j $PATH_TO_TESTS/discontinuous_composition_1.prm on my computer, it prints:
-------------------------------------------------------------------

[2018-05-21 16:52] gassmoeller opened #2259 "Add a tester for multithreading"

[2018-05-21 17:12] gassmoeller commented on #2252
You did everything right, I think the problem is that PETSc reads parameters from your ASPECT command line and tries to interpret them (even if you do not use it). Could you check if the warning disappears if you apply the attached patch to main.cc? It essentially just filters out all of the ASPECT command line options before initializing PETSc.
[patch.txt](https://github.com/geodynamics/aspect/fi

[2018-05-21 18:42] #2250 closed

[2018-05-21 19:03] gassmoeller opened #2260 "Deprecate find_plugin functions in favor of has_plugin and get_plugin"
Since #2148 the postprocessor interface already deprecates the `find_postprocessor` function and replaces it by `has_matching_postprocessor` and `get_matching_postprocessor`. The same should be done for the other interfaces:
- [ ] boundary composition
- [ ] boundary temperature
- [ ] boundary velocity
- [ ] heating model
- [ ] initial composition
- [ ] initial temperature

Also replace any usage o

[2018-05-21 22:36] gassmoeller commented on #2246
Fixed in #2255.

[2018-05-21 22:36] #2246 closed

[2018-05-22 00:48] gassmoeller opened #2262 "2.0.1 Release"
During the last two weeks we found a few bugs in the 2.0.0 release that might make it necessary to do a 2.0.1, because they cause crashes of valid input files, or silently produce wrong results. Specifically, I am thinking of the following:

- #2258
- #2253
- the bug in heating_model/compositional_heating that is fixed in #2199 (we might need a different smaller fix for the old version, or just pu

[2018-05-22 00:49] jdannberg commented on #2262
Yes, I think that makes sense.

[2018-05-22 05:07] YiminJin commented on #2252
@gassmoeller thank you! The patch works and the warnings disappear now.

[2018-05-22 15:04] #2121 closed

[2018-05-22 15:19] bangerth commented on #2262
Is anyone likely to run into any of these bugs? Things that just fail with an error are annoying, but at least they lead to an error one can report and be told to use the dev sources instead. (Though they may scare people away from using ASPECT.) The ones that silently produce wrong results concern me more. #2199 is of that sort.

The alternative is to stabilize for a month after the hackathon and

[2018-05-22 17:09] class4kayaker commented on #2260
Note that tests should be added for these if only to avoid the type of error seen in #2261.

[2018-05-22 21:46] gassmoeller commented on #2252
Can this issue be closed?

[2018-05-22 23:37] gassmoeller commented on #676
@jdannberg @naliboff, @ludovicJnnt, and I just had a discussion about pressure scaling and reference viscosities in mantle convection vs lithosphere dynamics models and we would like to have a discussion about this at the hackathon to find out if there is a more consistent way to compute these values.

[2018-05-23 03:59] bangerth commented on #676
We could just use a cheap method to compute some reference viscosity, e.g., by evaluating the viscosity at some representative sample of cells and choosing the harmonic average.

[2018-05-23 04:07] jdannberg commented on #676
In principle, yes, but the other point that was unclear to us was if the scaling relation and the length scale we use for the pressure scaling that you determined for mantle convection in the Kronbichler 2012 paper is also relevant for lithosphere deformation (because of the very different rheology), or if the length scale should be different for those models (and how best to test this).

[2018-05-23 04:14] bangerth commented on #676
Good question too. Do you have an example of what these length scales would be in the two cases?

The length scale we use does not have to be exact. It is principally used to make sure the two equations have the same physical units and approximately the same magnitude of numbers. If you're off by a factor of 10 or 100, nothing terrible will likely happen. If you're off by a factor of 1e6, that's a

[2018-05-23 04:27] jdannberg commented on #676
In mantle convection, I would say typical length scales of features can be 100 km, whereas in lithosphere models, features can be on the scale of 1 km.

But we were also wondering if the dynamic pressures in lithosphere models could become much larger than for mantle convection, and if that's important for the computation of the initial residual we use to determine convergence of the linear solver

[2018-05-23 05:30] #2252 closed

[2018-05-23 06:54] bangerth commented on #676
On 05/23/2018 12:27 PM, Juliane Dannberg wrote:

Hm, that's an interesting observation. I don't have intuition to tell what
that could be cause by. I would have expected this to be the case not only for
the first iteration, but all. Do you have an idea why this may be only the
case for the first time step?

[2018-05-23 15:33] jdannberg commented on #676
Sorry, I didn't explain that right. It's probably the case for all time steps/iterations, it's just that some of the tests we did happened to have just one time step.

[2018-05-23 21:21] bangerth commented on #676
I see.

In the absence of any intuition, we may just have to try out whether the scaling is correct as is for lithospheric model, or whether it needs to be adjusted. I just don't know.

[2018-05-23 21:34] naliboff commented on #676
Throwing out an idea: Would it make sense to move this parameter into the `Solver parameters` subsection? The parameter is directed related to the linear solver and this would avoid duplicating code in the material models.

[2018-05-23 21:37] bangerth commented on #676
I think of it as more of a question of what equation we solve :-)

But let me come back to the idea of computing a reference viscosity automatically? Do you think that's realistic? For strain rate dependent viscosities, we may be off in the first time step because we don't have a strain rate yet. But I suspect that computing the reference viscosity based on a zero strain rate is actually not dissi

[2018-05-23 21:40] naliboff commented on #676
Sorry, should have more explicit -> by duplicating code I meant duplicating documentation.

[2018-05-23 21:48] naliboff commented on #676
In strain-rate dependent models, there is usually a parameter for a 'background' strain-rate (in invariant form) that is given to the material on the first non-linear iteration of the initial time step. In a model driven by velocity-conditions, one should be able to predict a fairly reasonable value.

However, this does not account for the fact that the viscosity distribution in the model often ev

[2018-05-23 22:26] bangerth commented on #676
Yes, correct. I meant it has to be a single value in every time step, but it can change over time of course.

[2018-05-24 04:32] naliboff opened #2266 "Future features and improvements for viscoelastic material model"
- [x] Use general function for computing volume fractions
- [x] Replace deprecated function 'double_contract'
- [ ] Change to averaging over compositions only after viscoelastic stresses have been calculated (e.g., stresses will be averaged rather than material properties used to calculate stresses.
- [x] Add option to track viscoelastic stresses through particles
- [x] Add a basic viscoelastic co

[2018-05-28 04:19] Shangxin-Liu opened #2268 ""Temperature" mesh refinement criteria in Stokes only solver?"
When I tested the pure Stokes flow problems with "Stokes only" nonlinear solver scheme, I noticed that "temperature refinement criteria" can also be used and takes effect (Two tests with and without temperature refinement criteria generate the different final mesh). Since the temperature strategy uses the "Kelly" refinement criteria based on the computed temperature field, the fact that this refin

[2018-05-28 08:18] bangerth commented on #2268
I am pretty sure that we still interpolate the initial temperature onto the mesh, even if we don't solve the temperature advection equation. This temperature field is then used to refine the mesh.

Now, this may not make very much sense in many situations, but I can come up with ideas for setups where this is still useful.

[2018-05-30 19:38] Shangxin-Liu commented on #2268
Thanks, Wolfgang, I'm now clear on this. feel free to close this issue.

[2018-05-30 19:44] #2268 closed

[2018-05-30 20:45] Shangxin-Liu opened #2269 "The definition of Stokes residual output?"
When I encounter convergence failure, there is an error message shown in my file saying (I took one of my convergence failure tests for example):

"Additional information:
Iterative method reported convergence failure in step 10000. The residual in the last step was 6.61287e+17."

I notice that the residual 6.61287e+17 shown here is also the residual shown at the last iteration step in the file so

[2018-06-01 22:29] gassmoeller commented on #2269
Hi Shangxing,
this residual is the norm of the residual of the full Stokes equations, it is not normalized or relative. In addition, it is not "only" the Stokes residual, it is the residual of the reformulated equation, for which we scale the pressure equation to make it of a comparable magnitude to the velocity equation (see Section 3.2.4 of Kronbichler(2012) for a description of why and how).
Th

[2018-06-03 01:45] Shangxin-Liu commented on #2269
Thanks for the explanation, Rene. I will also take a look at the paper.

[2018-06-06 05:30] bangerth opened #2272 "Wrong wording in nonlinear residual display"
@MFraters -- I think we need your help with this. Looking through the DC Picard log file you sent me earlier today, it shows this:
[code]
So the text "total Newton system" appears here, but the method does not actually solve a Newton system.

Do you know what the residual being shown here actually is, and how we can improve the text? I suspect it is simply the norm of the Newton right hand side (w

[2018-06-06 05:38] bangerth opened #2274 "Accelerate Newton assembly"
@MFraters sent me profiles for Newton-Stokes computations that look like this (in release mode):
[code]
Note how the Newton assembly requires 56% of the run time. We should look into why this is so.

For comparison, on the same test case when using the Picard iteration, he gets this:
[code]

[2018-06-06 06:06] bangerth commented on #2274
Also of interest: The time to assemble one Stokes system with Picard is 1.2 seconds. For one Newton step, it is almost 9 seconds.

[2018-06-06 06:50] bangerth commented on #2269
@Shangxin-Liu -- is the error message you show in your original post the only thing you get to see? I thought that the exception also shows the first residual, so that you can compute by how much the residual has already been reduced (as @gassmoeller already mentioned).

[2018-06-07 04:30] Shangxin-Liu commented on #2269
@bangerth    Yes. I only showed part of the solver history in the first email. The first row residual at 0 iteration step before the 200 cheap iterations is 1.24211e+20 and I set the linear solver tolerance to 1e-3.

0 1.24211e+20
1 1.2421e+20
2 1.2421e+20
3 1.24209e+20
4 1.24205e+20
5 1.24202e+20
.......

The final residual is 6.61287e+17 so the residual has been reduced by over 2 order of magnit

[2018-06-13 19:27] tjhei commented on #1029
[aspect-design-plugins.pdf](https://github.com/geodynamics/aspect/files/2099585/aspect-design-plugins.pdf)
?

[2018-06-13 20:00] tjhei opened #2279 "indent .prm files"
I think it would be useful to correctly indent .prm files. Of course c++ formatters like astyle won't work.

[2018-06-13 23:51] jdannberg opened #2282 "manual section that explains the flow of the program"
This is something that came up in a discussion at the CGU/CIG meeting.
Several participants mentioned that they would find it useful to get some more documentation on the core of ASPECT, namely, what happens when the program is started and what are the main functions that are called from there. This should probably include a flowchart that links the flow of the program to the files and functions w

[2018-06-14 06:27] bangerth commented on #2282
The problem is how to keep this kind of document up to date. We do change things in the code base, and it's easy to forget that a certain section in the manual needs to be updated as well. Maybe we can limit this to the big picture, rather than technical details?

[2018-06-14 06:58] bangerth commented on #2279
I would suspect that we habitually do this, don't we? Have examples where we don't?

[2018-06-14 13:00] gassmoeller commented on #2282
We should not put in a lot of details that require frequent updates, but many participants in our tutorial found it very valuable to hear about where the program starts, how it flows, and what is called from where. I think steps that should be included in the chart would be:
- position of `int main()` and that it creates a `Simulator`, and then calls `Simulator.run()`
- position of `Simulator` and

[2018-06-14 13:19] tjhei commented on #2279
One example: https://github.com/geodynamics/aspect/blob/e51a48f0875606300c22bcce3f8490a6401097a6/benchmarks/buiter_et_al_2008_jgr/figure_6_1e20.prm#L103

[2018-06-14 13:20] tjhei commented on #2279
but yes, most files look correctly indented.

[2018-06-14 13:21] tjhei commented on #2282
duplicate of #1029 ? The plugin graph there might be a good place to start...

[2018-06-14 13:38] tjhei commented on #1494
here is how to do it: https://tex.stackexchange.com/a/33842

[2018-06-14 13:58] gassmoeller commented on #2282
@tjhei: Maybe, but we were explicitly asked: Where is this code? Not: How does this conceptually work?

[2018-06-14 15:41] tjhei commented on #2282
I disagree. If you look at my figure, it is already a flow graph. If you annotate this with class/function names and .cc files, you would be quite close to what I would do. I think having the places where plugins are "active" in the graph is very useful.

this is a sketch for what I would do:
[code]

Does that make sense?

[2018-06-14 16:11] tjhei commented on #2262
I think we can pull the whole thing...

[2018-06-16 04:08] bangerth commented on #2282
I like @tjhei 's flow chart/pseudocode.

That said, it really only gives a very abbreviated view of things. Much more happens -- for example, reading parameters, creating all of the other plugin systems, etc. I wonder how much detail is necessary.

@gassmoeller -- what specifically did they want to know? Were they just asking where all of the ASPECT code is, or did they specifically ask about indi

[2018-06-16 04:20] bangerth commented on #2185
Can this be closed now?

[2018-06-16 04:24] bangerth opened #2297 "Compute the reference viscosity automatically"
The reference viscosity is sort of odd because it is not actually a material property -- just a crutch for our numerical methods. It would be nice if it could be computed automatically from the viscosity values we have.

This would allow us to also remove the blurbs that were accidentally merged when #2236 got in via #2270. It might also allow us to address the still open issues #676 and #1814.

[2018-06-16 22:43] tjhei opened #2300 "clarify "Use years in output""
Add a section to the manual (longer than the note in 2.3) about this setting. In particular that this influences the units for velocity boundary conditions and output of velocities but not much else.

Are we fully consistent?

Also, the part "in output" is not ideal...

(this came up at the tutorial)

[2018-06-16 22:52] tjhei opened #2301 "Manual: mention FunctionParser/muparser"
in section 4.7.3 mention/link to the deal.II documentation of FunctionParser (http://www.dealii.org/developer/doxygen/deal.II/classFunctionParser.html#details)  to see the additional functions we allow. Maybe also expand how if and rand works?

[2018-06-16 22:54] tjhei opened #2302 "Implement mesh grading"
Typical computation on a globally refined mesh would benefit from smaller cells for the top/bottom boundary layer. Can we implement a way to customize mapping the size of cells in depth direction using a FunctionParser?

Can we do this by applying a Manifold and a ProductManifold or should we move vertices around?

Would it be useful to also allow this in other directions?

[2018-06-16 22:57] tjhei opened #2303 "free surface displacement output"
It would be great to optionally output the solution in the reference frame instead of applying the MappingEulerian. Additionally, if we should output the displacement as a separate output variable.

With that you can use "warp by vector" in paraview and adjust the scaling to "enhance" the deformation or show reference and deformed solution. Finally, you can quantify/visualize the (mangitude of the

[2018-06-16 23:03] gassmoeller commented on #2303
This is only suitable as starter project if an advanced user guides the new user.

[2018-06-17 02:59] bangerth commented on #2269
What I had meant is that I had remembered that deal.II doesn't only print the last, but also the first residual of an iterative method so that one can easily see by how much it has been reduced. But I looked it up in `deal.II/include/deal.II/lac/solver_control.h`, and it does not in fact do that. But you found a way to output the solver history which also contains this.

The information in the sol

[2018-06-17 03:11] bangerth commented on #2109
I think the steps @jdannberg mentions in the previous comment for (3) should actually go into the manual, not into the .prm file as @naliboff suggests. So maybe her list should be a step (2a), with @naliboff's step (3) still in place.

[2018-06-17 06:13] jdannberg commented on #2109
I agree, and I actually totally forgot we had this issue and this discussion, I only remembered that we needed a guide for how to write cookbooks and did #2281.
Do you want me to add all of the things mentioned here and that I missed to the pull request #2281?

[2018-06-17 07:50] bangerth commented on #941
Attached here is a version of @ljhwang 's original file except that it has some syntax errors cleaned up and actually compiled (but these are only small modifications -- credit still goes to @ljhwang!):
[graph.dot.txt](https://github.com/geodynamics/aspect/files/2108740/graph.dot.txt)
The file obviously needs to be updated for the current set of cookbooks.

But before I go there, the question to m

[2018-06-17 07:59] bangerth commented on #941
Here is an example of the thing I have in mind:
[code]
The problem is that the layout is seriously terrible:
[x.pdf](https://github.com/geodynamics/aspect/files/2108752/x.pdf)
I think I can come up with a way to make individual boxes look nice in a way that shows both the section heading and the section number (linked to) with some minipage and macro tricks without too much hassle. I don't quite k

[2018-06-17 15:33] tjhei commented on #941
I think we should discuss at the hackathon. But a couple of comments:
1. Having to manually layout the boxes or having to write an algorithm that does it sounds like a bad idea.
2. We have been debating pdf manual vs html manual vs doxygen and I think we need to come up with a solution (and what goes where) first. If we decide to improve doxygen and promote it more, maybe having the plugin graph i

[2018-06-18 03:15] tjhei commented on #941
graphviz should be able to have links: https://graphviz.gitlab.io/_pages/doc/info/output.html#d:ps2

[2018-06-19 06:00] bangerth commented on #1897
@gassmoeller -- is there anything that's left here, or can we close this?

[2018-06-19 06:03] bangerth commented on #1476
Fixed by #2308.

[2018-06-19 06:03] #1476 closed

[2018-06-19 14:45] gassmoeller commented on #1897
I would like to keep this open until I finish #1957, currently we still use the ASPECT version of the code instead of the one in deal.II.

[2018-06-19 16:15] tjhei opened #2312 "parameters and descriptions in doxygen documentation"
If we want to improve/promote doxygen documentation, it would be helpful to have parameter description for example in material models: https://aspect.geodynamics.org/doc/doxygen/classaspect_1_1MaterialModel_1_1Simpler.html

[2018-06-19 16:16] tjhei commented on #2312
One idea would be to write a small script to parse parameters.xml and write out a latex table to be included into the doxygen documentation.

[2018-06-19 16:32] bobmyhill commented on #1690
@jaustermann do you want to assign this to yourself?

[2018-06-19 16:33] bobmyhill commented on #945
Back on it!!!

[2018-06-19 16:34] jaustermann commented on #1690
@bobmyhill I haven't worked on this yet so feel free to tackle it if you want

[2018-06-19 17:29] bobmyhill opened #2314 "cotire errors, warnings and slow compile with gcc 7.3.0"
With precompiled headers enabled (`ASPECT_PRECOMPILE_HEADERS:BOOL=ON` in CMakeCache.txt), cotire no longer appears to work correctly (tested on machines of @gassmoeller, @jdannberg and myself).

When CMakeFiles/ doesn't exist (i.e. on first compile), the following error appears
`CMake Error in CMakeLists.txt:`
`  Evaluation file to be written multiple times with different content.  This`
`  is gen

[2018-06-19 17:31] tjhei commented on #941
here is a working example using dot2tex and a tikz figure. Only tooltips don't work...

https://www.dropbox.com/s/dfjyzdhtfgcqptx/test.pdf?dl=0

[2018-06-19 17:32] bobmyhill commented on #1690
Ok, this is mine!

[2018-06-19 17:33] tjhei commented on #2314
what is your ``cmake --version`` ?

[2018-06-19 17:34] bobmyhill commented on #2314
cmake version 3.10.2

[2018-06-19 17:37] geodynamics01 commented on #2238
I am going to work on this!

[2018-06-19 17:43] anne-glerum opened #2315 "Velocity discontinuity along 0 longitude meridan for GPlates boundary conditions"
When running a 3D spherical model with GPlates boundary conditions, there is a discontinuity in the velocity magnitude when crossing the 0 longitude meridan.

![screen shot 2018-06-19 at 10 38 34](https://user-images.githubusercontent.com/7631624/41614472-6bbe6ba0-73ad-11e8-880e-cfb2b84e30a3.png)
Zoom in with mesh:
![screen shot 2018-06-19 at 10 38 01](https://user-images.githubusercontent.com/763

[2018-06-19 17:44] tjhei commented on #2314
cmake 3.11 with gcc 5.4 works for me. So is this related to your gcc version?

[2018-06-19 17:51] tjhei commented on #2314
@gassmoeller are you going to try a new cotire version?

[2018-06-19 17:54] bobmyhill commented on #2314
@tjhei I already tried the new cotire version; it didn't solve the problems. I assume this is an issue with gcc; it's difficult for me to check whether cmake 3.11 fixes the issue, as that would require I uninstall a lot of other software (including fenics) that I'd rather not reinstall.

[2018-06-19 18:08] bangerth commented on #2314
I don't think I understand how the `CMakeFiles` can or can not exist. It's a result of running cmake, so it should always be there.

[2018-06-19 18:11] tjhei commented on #2314
I get a different and funny error with gcc 7.3 and cmake 3.11:
[code]
only if cotire is on.

[2018-06-19 18:13] bangerth commented on #2314
For the latter, you're probably missing an `#include` file somewhere. Which file is this for?

[2018-06-19 18:15] tjhei commented on #2314
helper_functions.cc but I assume this is cotire's fault.

[2018-06-19 18:16] bangerth commented on #2314
Can you show the whole error message?

[2018-06-19 18:17] tjhei opened #2316 "new gcc and deal.II 8.5 warnings"
with gcc 7.3 I am getting warnings like:
[code]

should we just not care or can we use deal.II as a "system include"?

[2018-06-19 18:23] pmbremner commented on #2060
I'll take a look

[2018-06-19 18:28] SophieCoulson commented on #2256
I will finish fixing this!

[2018-06-19 18:30] bangerth commented on #2314
?? The error comes out of a system header? And I don't see `helper_functions.cc` making use of fp exceptions to begin with. I think you'll have to look into the file being compiled at the time (the combined one).

[2018-06-19 18:31] tjhei commented on #2244
As a compromise: we could require c++11 (enforce in cmakelists.txt) and start using c++11 stuff today! This would give some nice starter projects...

[2018-06-19 18:31] bangerth commented on #2256
@SophieCoulson -- great, thank you! You'll want to exclude the one place I've fixed in #2313, but you don't have to wait for that to be merged to get started!

[2018-06-19 18:33] bangerth commented on #2244
You mean continue to allow deal.II 8.5, but require C++11 anyway? That sounds fine with me.

[2018-06-19 18:35] bangerth commented on #2316
Is this fixed in 9.0?

[2018-06-19 19:04] bobmyhill commented on #2314
@bangerth to answer your question to me, if that directory already exists when make is called, the error doesn't result. I haven't pinned down why that happened, because I then found this issue on the cotire github page: https://github.com/sakra/cotire/issues/120. See the last comment regarding the COMPILE_LANGUAGE:CXX generator expression.

I don't know how to fix the problem, but I suspects that

[2018-06-19 20:50] wanyingw commented on #2301
I'll add the link and the if example.

[2018-06-19 22:32] bartniday commented on #1632
I'll take this one

[2018-06-19 23:16] bobmyhill commented on #2173
@anne-glerum @gassmoeller @bangerth @MFraters

It seems like there are two possible solutions to the problems outlined here and in #1690:
* Rename `Max nonlinear iterations in pre-refinement` to `Max initial adaptive refinement solves`. Allow the number to be >=0. Modify the code. Deprecate the original parameter name.
* Add Rene's suggested boolean parameter `Skip initial adaptive refinement solv

[2018-06-19 23:22] bangerth opened #2328 "ConstraintMatrix is deprecated in deal.II 9.1"
Consequently, we get a warning for every source file that uses it.

Working on a work-around.

[2018-06-19 23:29] bangerth opened #2330 "FunctionMap is deprecated in deal.II 9.1"
Working on a fix for this as well.

[2018-06-19 23:51] SophieCoulson opened #2331 "Chunk Geometry Model - Error message for very small boundaries"
When running a chunk model for a region extending to 90 (or -90) degrees latitude the north (or south) boundary is a point, therefore the model will not run. The current error message for this is:

An error occurred in line <6072> of file </n/home08/slcoulson/newlib/dealii-8.5.0/include/deal.II
/numerics/vector_tools.templates.h> in function
    void dealii::VectorTools::compute_nonzero_normal_flu

[2018-06-20 00:03] SophieCoulson commented on #2331
I'm working on this now

[2018-06-20 00:06] bangerth commented on #2301
Closed by #2327.

[2018-06-20 00:06] #2301 closed

[2018-06-20 00:41] jdannberg opened #2334 "number of Stokes iterations in statistics output does not work correctly with deal.II 8.5"
I noticed this when writing a test for #2325. The test worked on my machine with deal.II 9.0, and I got Stokes iterations count of 1 or 0. When I ran the same test file on the official tester with deal.II 8.5, I got Stokes iterations counts of 4294967295 or 4294967294 in the statistics file. There has to be a bug somewhere that a variable that is used for this output in the statistics file is init

[2018-06-20 00:58] joeschools commented on #2260
I'm working on this issue

[2018-06-20 01:02] bangerth commented on #2331
Yes, nice idea. This should be easy enough to catch and give a good error message!

[2018-06-20 01:03] bangerth commented on #2334
@gassmoeller might remember this -- I think he had fixed a bug in deal.II about this.

[2018-06-20 02:08] tjhei commented on #2316
yes, we added  DEAL_II_FALLTHROUGH;

[2018-06-20 03:04] #2330 closed

[2018-06-20 03:26] anne-glerum opened #2338 "ASPECT can't deal with GPlates file names having padded zeroes"
Even when using the %u format specifier for the GPlates velocity files as described in the manal, padded zeroes are added to the file names. ASPECT does not take these into account when reading.

[2018-06-20 03:38] #2328 closed

[2018-06-20 04:04] bangerth opened #2340 "deal.II 9.1: Use AffineConstraints class"
#2329 works around the issue that the `ConstraintMatrix` class is deprecated.

Once we require a version of deal.II that has the `AffineConstraints` class, i.e., once we require deal.II 9.1, we can undo many of these work-arounds and simply use `AffineConstraints` and the corresponding header file.

[2018-06-20 04:05] #2238 closed

[2018-06-20 04:34] tjhei commented on #2231
so, I have an alternative proposal that doesn't require compiling the manual as html: Use an online pdf viewer (pdfjs) that allows deeplinking of sections:
http://www.math.clemson.edu/~heister/aspect-pdf-manual/web/viewer.html#subsection.2.8

If we are happy with it we can start using it on the mailing list, website, etc..

Should we still merge this PR though? It doesn't do a lot of harm to allow

[2018-06-20 16:18] hfmarkp commented on #2300
I can work on this

[2018-06-20 17:13] bartniday commented on #1661
Also working on this one!

[2018-06-20 17:13] alarshi commented on #2055
It is added in the manual currently.

[2018-06-20 18:11] mnkajan opened #2344 "Creating an 'ascii data profile' plugin for composite initial temperature models"
I have been using my own initial temperature plugin that can read in different geotherms (depth and temperature values) and then add perturbations from a tomographic model (coordinates and temperature perturbation values). Since the "ascii data" initial temperature plugin already exists, and we can now create composite models, it seems unnecessary to have a totally separate model.

In fact, most o

[2018-06-20 18:22] njinju commented on #1097
I will work on fixing the bibtex entries for ASPECT

[2018-06-20 20:47] bangerth commented on #2300
Fixed by @hfmarkp in #2345.

[2018-06-20 20:47] #2300 closed

[2018-06-20 21:12] jdannberg commented on #2256
As #2313 and #2317 are merged now, this should be fixed.

[2018-06-20 21:12] #2256 closed

[2018-06-20 21:30] anne-glerum opened #2347 "update_prm_files.sh doesn't work correctly on Mac"
The update_prm_files_to_2.0.0_model_settings.sed file does not update input files correctly (see fig for result) on macOS High Sierra 10.13.4.

![screen shot 2018-06-20 at 14 27 37](https://user-images.githubusercontent.com/7631624/41685748-63f79c36-7496-11e8-92da-834c6bb81aba.png)

[2018-06-20 22:34] gassmoeller commented on #2344
Yes, and @mnkajan and I talked about this. I think this is a good idea. One alternative approach that is already possible is to prescribe a `ascii data` profile in the adiabatic conditions, and then use the `adiabatic` initial temperature plugin, but that has the disadvantage that it forces everyone to also prescribe a pressure and density profile. Having a initial temperature plugin `ascii data p

[2018-06-20 23:02] gassmoeller opened #2355 "Deprecation warning in RotationStatistics postprocessor"
This should be a simple fix. The `statistics` parameter in line 50 in the `RotationStatistics::execute` function in source/postprocess/rotation_statistics.cc file is never used, which creates a compile warning. The parameter should be removed or commented out, like in the DepthAverage postprocessor.

[2018-06-21 05:45] bangerth commented on #2355
I think this is fixed by #2354, right?

[2018-06-21 05:45] bangerth commented on #2355
I'm afraid @jonpkay is going to come too late with his commits :-(

[2018-06-21 17:51] mnkajan opened #2365 "ASCII data plugins have hard-coded subsection name"
This means that you cannot combine two plugins that call Utilities::AsciiDataBase::declare_parameters(). For example, you cannot create a composite initial temperature model that combines the 'ascii profile' and 'ascii data' plugins, because you can only define a single data file under the hard-coded subsection "Ascii data model" in the parameter file.

I've discussed this with @gassmoeller who su

[2018-06-21 18:20] gassmoeller commented on #2355
Yes this was fixed by #2354.

[2018-06-21 18:20] #2355 closed

[2018-06-21 18:21] gassmoeller commented on #2331
Was this fixed by #2339? If so: @SophieCoulson can you close this issue?

[2018-06-21 18:23] gassmoeller commented on #2316
I would say lets ignore it. We will soon require 9.0 for the development version, so the warning only shows if someone combines the 2.0 release with deal.II 8.5.0 and a gcc >= 7.3.

[2018-06-21 18:43] gassmoeller commented on #2055
Oh, so it is listed as possible values, but not in the description. That is why it appears in the manual, but not in parameters.prm. #2366 adds some description about where to find the available options.

[2018-06-21 18:44] gassmoeller commented on #2262
We should now have everything that is necessary for 2.0.1. Lets move forward with it.

[2018-06-21 18:50] LudovicJnnt opened #2367 "Improve error message with DOS line endings"
If a .prm file has DOS line endings, we get unintelligible error messages. They come out of the function that determines the space dimension, which is the first place we read anything from a .prm file. That's the place where we need to catch the C++ exception that comes out of `Utilities::string_to_int` and see whether we can print a better error message.

[2018-06-21 18:51] SophieCoulson commented on #2331
Yes this is fixed!

[2018-06-21 18:51] #2331 closed

[2018-06-21 20:21] anne-glerum opened #2368 "Mass flux through free surface computed by postprocessor is not zero"
When using a free surface and computing the mass flux through the boundaries, mass flux is not zero on the free surface boundary. Should we remove the mesh velocity from the velocity in the mass flux computation?

[2018-06-21 22:14] bangerth commented on #1097
Fixed by #2364.

[2018-06-21 22:14] #1097 closed

[2018-06-21 22:22] #2316 closed

[2018-06-21 22:23] bangerth commented on #2368
I think that is reasonable.

[2018-06-21 22:33] ian-r-rose commented on #2368
That sounds right to me. The mesh velocity is also subtracted from the heat and composition fluxes.

[2018-06-21 23:38] anne-glerum commented on #2368
@ian-r-rose Do you mean in the postprocessors for heat flux and composition flux? In the former, velocity is not used and the latter I can't find.

[2018-06-22 01:03] tjhei opened #2375 "c++11 changes and clang-tidy"
now that we require c++11 we should update the code base:
[ ] use range-based for
[ ] remove pre c++11 stuff from compat.h
[ ] use nullptr
[ ] use lambda instead of bind
[ ] look at move constructors

Many of these things can be fixed by running clang-tidy, which I am running right now. We should also create an official clang-tidy config.

[2018-06-22 03:11] tjhei commented on #2262
clang 6 with deal.II 9.1.0-pre fails with:
[code]
(and a couple other). @bangerth have you seen that?

[2018-06-22 03:13] tjhei commented on #2262
Furthermore, I am getting deprecation warnings with 9.1.0-pre of course (ConstraintMatrix, tria_boundary_lib). Should we try to suppress those for 2.0.1?

[2018-06-22 04:10] gassmoeller commented on #2262
the tria_boundary_lib would be easy to fix by cherry picking #2292 and #2329, I prepare another one to fixup #2329.

[2018-06-22 04:49] bangerth commented on #2262
The linker errors are news to me.

[2018-06-22 17:07] bartniday opened #2388 "Single timestep Stokes solver"
In my personal version of Aspect I'm solving particle advection in a steady-state flow field, via a hack. I just skip the call to `solve_timestep()` on timesteps after the first.

After talking to @gassmoeller yesterday, it sounds like a solver (something like "one_timestep_Stokes_no_advection"?) that does this properly would be useful for other things.

[2018-06-22 18:03] anne-glerum commented on #2067
Discussion at the hackathon led to the following TODOs:

- [ ] Add multiple stages functions to the existing pr #2071. Right now the interface provides plugin the free surface DOFHandler and allows plugins to modify the constraint matrix. To allow for more conforming plugins, add functions that ask only for the mesh deformation of a given position.
- [ ] Allow for traction boundary conditions set

[2018-06-22 20:28] bobmyhill commented on #2173
@jaustermann is this one fixed by your master plan?

[2018-06-22 20:40] jaustermann commented on #2173
@bobmyhill Not sure ... @gassmoeller does what we have discussed for #1690 fix this?

[2018-06-22 20:53] gassmoeller commented on #2060
@pmbremner was this fixed by #2336?

[2018-06-22 20:57] gassmoeller commented on #2260
And @diandianpeng will help

[2018-06-22 22:08] gassmoeller commented on #2173
Not quite. #1690 will allow to skip the nonlinear iterations in pre-refinement (so that part is solved), but it will not allow to use 0 nonlinear iterations (=no solve) in later timesteps. Is that something we want/need?

[2018-06-22 22:10] pmbremner commented on #2060
Yes, #2336 addressed this issue. I didn't notice that the commit got a new number. I should have referenced this number in my commit.

[2018-06-22 22:12] gassmoeller commented on #2060
Ok, then lets close this issue. Thanks for fixing!

[2018-06-22 22:12] #2060 closed

[2018-06-23 00:27] tjhei commented on #2262
Left to do:
- [ ] announce
- [ ] update cig website
- [ ] update bib entries for zenodo, etc.

[2018-06-23 01:10] gassmoeller commented on #2365
This was fixed by #2370 so @mnkajan you should be able to use the new functionality. Let us know when this can be closed or if you have questions.

[2018-06-23 02:35] tjhei opened #2402 "EllipsoidalChunk: move set/clear_manifold_ids into .cc"
by making them global functions in an internal namespace...

[2018-06-23 03:07] mnkajan commented on #2365
Yup, we can close this now!

[2018-06-23 03:07] #2365 closed

[2018-06-23 03:11] gassmoeller commented on #2173
Ok, after a long discussion a number of us agreed on the following:
- We need parameters `Skip solution during initial refinement` and `Skip initial conditions during initial refinement`, and a new solver scheme `do_not_solve`  (for various application cases in which the initial refinement does not depend on the solution / does not depend on the initial conditions / or users want to check the init

[2018-06-23 04:22] bangerth opened #2404 "Three empty lines between functions in utilities.cc"
We generally abide by this rule in ASPECT, but this file got away from us. That should be easy enough to fix.

[2018-06-23 04:22] bangerth commented on #2404
@pmbremner ?

[2018-06-23 21:21] ljhwang opened #2410 "Adding developers to zenodo.json"
If new developers are added as principal AND you want them attributed as such when citing software via its zenodo DOI, then you need to update the .zenodo.json file.

@tjhei @gassmoeller @bangerth @jdannberg - Is this what you intended?

[2018-06-24 00:48] naliboff opened #2413 "Future features and improvements for Viscoelastic Plastic material model"
- [x] Merge initial pull request (#2412) after review
- [x] Add viscoelastic-plastic shear band benchmark
- [x] Put the functionality of #2412 into the viscoplastic material model
- [x] Make sure that all tests still work
- [x] Deprecate and eventually remove the viscoelatic material model

[2018-06-24 02:43] #2367 closed

[2018-06-24 17:56] #2055 closed

[2018-06-24 18:10] bangerth opened #2416 "Add copyright headers to cookbook .cc files"
As mentioned in #2394, it turns out that we have never added the usual copyright headers to the .cc files of cookbooks. We should fix this.

[2018-06-24 18:39] jdannberg commented on #945
This was fixed by #2320.

[2018-06-24 18:39] #945 closed

[2018-06-24 20:26] bangerth opened #2422 "Fix normalize.pl for directories"
For some tests, we get an error message as follows:
[code]

@tjhei says that's because we apply the script to a directory. We should fix this.

[2018-06-24 22:34] ljhwang commented on #2416
I see 4 .cc files in cookbooks/ that require this addition which I will update.

[2018-06-24 23:14] ljhwang commented on #2279
I will review all files if someone gives me an example(s) to work from.

[2018-06-25 00:37] MFraters opened #2431 "The internal compositional fields do not match the output compositional fields in paraview"
When you say you want 3 compositions in the input file, they are named 0,1 and 2 and you access them through those numbers, but when you look in paraview they are name c_1, c_2 and c_3. Is this something we want to fix?

[2018-06-25 01:06] jaustermann commented on #1690
This is addressed by #2409.

[2018-06-25 01:06] #1690 closed

[2018-06-25 03:38] bangerth commented on #2279
@tjhei has an example in a previous comment above.

[2018-06-25 04:04] ljhwang commented on #2279
Well turns out what Timo had in mind was someone writing in perl an "astyle" for .prms which I would not necessary mark as a starter project. Perhaps I should just fix the line indicated and someone open a new issue?

[2018-06-25 17:00] bangerth commented on #2279
I think changing individual files is fine. We don't have many that don't conform to the common style. Whatever script we can come up with is not likely going to find too many things, and it may not be worth anyone's time to write such a script. So go ahead and fix whatever you can find, @ljhwang !

[2018-06-25 17:15] bartniday commented on #2388
fixed by #2441.

[2018-06-25 17:15] #2388 closed

[2018-06-25 17:23] jonpkay commented on #2404
I will try this!

[2018-06-25 17:49] mnkajan commented on #2344
Addressed by #2360.

[2018-06-25 17:49] #2344 closed

[2018-06-25 18:14] tjhei commented on #2410
I think the answer is yes, but the five of us can discuss in person.

[2018-06-25 22:22] #2402 closed

[2018-06-25 22:45] tjhei commented on #2375
related: #2378

[2018-06-25 22:55] bangerth opened #2453 "New warnings when compiling"
I get these warnings since very recently:
[code]

I'll take care of it after talking to Wanying.

[2018-06-25 23:33] bobmyhill commented on #2453
@bangerth Ooops, only just saw this. #2455 and #2456 are the same...

[2018-06-25 23:34] bobmyhill commented on #2453
I'll close #2455...

[2018-06-25 23:56] #2453 closed

[2018-06-26 00:01] bangerth opened #2458 "Simplify some logic in utilities.cc"
`utilities.cc` has a bunch of places where we do this:
[code]
This is difficult to read, and the error message also doesn't give away what the failing condition is because we just say that the condition is `false`.

This could be more obviously written in a way where it becomes clear that the `fexist` is a *precondition* to reading the file:
[code]

[2018-06-26 01:07] bartniday opened #2464 "Floating point exception with 'Uniform radial' particle generator"
The 'Uniform radial' particle generator is throwing a floating point exception when the minimum radius is set to 0. Setting the minimum radius to something very small prevents the exception, but 0 seems reasonable (and is the default).
This is using a 3d spherical shell geometry, with default settings on the particle generator except for the center location.

[2018-06-26 04:07] #2416 closed

[2018-06-26 04:42] bartniday commented on #2464
I think this is an issue with running in parallel.

[2018-06-26 04:56] bangerth commented on #2464
I suspect that you just happen to trigger this in a parallel run, but that parallel or sequential is not the cause of it all.

[2018-06-26 06:14] bangerth commented on #942
It's quite possible that this is already done in the manual. Someone will need to check.

[2018-06-26 16:24] jdannberg commented on #2109
We can add also add a note to the existing section in the manual that explains that one should use perceptually uniform colour scales, and recommend some color scales for certain outputs, like temperature, velocity etc.

[2018-06-26 18:53] gassmoeller commented on #2260
Closed by #2255 #2261 #2387 and #2439.

[2018-06-26 18:53] #2260 closed